[2017-06-23 00:30] #552 closed

[2017-06-23 15:11] Giovanni-Mattucci commented on #58
@Vivi-wu are you making sure that you require in your sass within a JS file somewhere?

[2017-06-23 15:13] evilebottnawi commented on #58
Somebody can create minimum reproducible test repo? This will speed up to found a solution.

[2017-06-23 16:47] pbreah commented on #528
The problem was that I was using react-router v3 code on a react-router v4 dependency.

Since the App component was not even loading, the CSS import was not loading. When I migrated my react-router v3 code to react-router v4 everything worked again. So this means you might have to rewrite or merge the App component with your routes (to keep a similar structure as v3, but you can also put routes an

[2017-06-23 20:39] GitSage commented on #200
I had the same issue as @wen96: load order isn't respected with mixed css and scss.

[2017-06-24 03:46] d3viant0ne commented on #548
Why is a bug set to `semver: Major`?

[2017-06-24 03:48] d3viant0ne commented on #548
Please stop assigning the entire org team to issues. This is exactly what @evilebottnawi was talking about in slack when he said it makes things confusing.

Everyone has a personal projects board, when someone picks up an issue for work they will add it to their personal projects board.

[2017-06-24 04:25] d3viant0ne commented on #548
@cyl19910101 - Can you put that test project back up so I can get this issue sorted? Thanks :)

[2017-06-24 04:29] d3viant0ne commented on #548
@filipesilva FYI this should probably be added to your `blocking scope hoisting list in` #6365

[2017-06-24 04:43] manigandham commented on #548
@d3viant0ne that test project is still up: https://github.com/cyl19910101/wp3_test

any import statements bringing in css files are not output in the order of the imports

[2017-06-24 04:50] d3viant0ne commented on #548
Thanks, the link in the migrated issue routes to a 404.

[2017-06-24 09:44] filipesilva commented on #548
Thanks for the heads up @d3viant0ne, much appreciated 👍

[2017-06-24 13:01] ReactPhoenix commented on #494
(node:1266) DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead.

Why this happening?

[2017-06-24 13:19] d3viant0ne commented on #494
@reactphoenix it's an internal deprecation warning from Webpack to extract text. Nothing to worry about.

There is already an open pull request updating the methods in question

[2017-06-25 04:34] bjunc commented on #58
There might be different reasons for each person's setup failing to create a `common.css`.  However, it at least seems in-part to do with `require` vs `@import`.  Albeit dated, this [webpack example](https://github.com/webpack/webpack/tree/master/examples/multiple-entry-points-commons-chunk-css-bundle) (multiple entries, common css) seems to illustrate this, and might serve as a good test repo.

[2017-06-25 15:32] irowbin commented on #529
Well i am having the same issue here.
[code]
The package.json file
[code]
ran this cmd `webpack-dev-server --hot --inline --progress --colors  --port 2000`

and i got this
![kdjtj](https://user-images.githubusercontent.com/13050078/27517384-5da1db88-59eb-11e7-97b2-2ac85e2f54f2.png) says compiled successfully with warning but when i run the app, the error appeared.
![rjekh](https://user-images.gith

[2017-06-25 15:50] chocobuckle commented on #265
I can't for the life of me work out why this config isn't working. I've read through all this thread (any many others!) but no joy. My config for ExtractTextPlugin is using the recommended syntax as far as I can see, but still not giving me any results. Any help would be much appreciated! :)

`const webpack = require('webpack');
const path = require('path');
const ExtractTextPlugin = require('extr

[2017-06-25 15:56] chocobuckle commented on #265
I can't for the life of me work out why this config isn't working. I've read through all this thread (any many others!) but no joy. My config for ExtractTextPlugin is using the recommended syntax as far as I can see, but still not giving me any results. Any help would be much appreciated! :)

[code]

[2017-06-25 16:39] K1pavic commented on #265
Hello, I don't have much time at the moment, tommorow will be better, but
what I saw at the first glance ist that you miss some stuff in the
ExtractTextPlugin format, like this:
plugins: [
new ExtractTextPlugin({ filename: "bundle.css" }),

]For more examples you can use my working tempalte at
https://github.com/K1pavic/Webpack-starter

Hope it helps.
Kristian

2017-06-25 17:57 GMT+02:00 Conor Doy

[2017-06-25 16:55] chocobuckle commented on #265
@K1pavic Greatly appreciate your help on a Sunday Kristian, but ExtractTextPlugin now takes either an object or the name of the result file. So...

[code]
is equivalent to...
[code]
...so that's not the problem. Guess I'll keep hacking about and hopefully figure it out eventually - story of my life! :)

[2017-06-25 17:14] K1pavic commented on #265
Glad to help :)

Like I said, you can try and use the project I put on Github, there
everything should work just fine. You can remove the angular and bootstrap
stuff if you don't need it.

If you don't make any progress to monday afternoon I can take a better look.

Good luck
Kristian

2017-06-25 18:55 GMT+02:00 Conor Doyle <notifications@github.com>:

--
*Kristian Pavić**, **MSc in Computer Scien

[2017-06-26 02:21] DanielTate commented on #485
This is still an issue on Webpack 2.6

[2017-06-26 03:29] ziyu-93 commented on #384
@iuliaL  Thank you solved the problem。love you

[2017-06-26 04:20] manuelro commented on #485
I just reopened this because there seem to be issues with recent Webpack versions as well. As I stated it before, I fixed this by using a previous version (`npm install webpack@2.2.0 --save-dev`). But clearly this was not an optimal solution.

[2017-06-26 04:40] d3viant0ne commented on #548
Update for those having this issue. We are adding a module sort function into webpack, the update on this end will be simple. I'll update the thread again when I have more information.

[2017-06-26 06:25] phun-ky commented on #548
@d3viant0ne keep up the good work!

[2017-06-26 16:47] pedroabreu opened #554 "[webpack 3.0.0] TypeError: chunk.isInitial is not a function"
I've just updated to webpack 3.0.0 and I'm started getting this issue when running my tests.

[code]

Any idea on how to fix this ?

[2017-06-27 07:44] hdfs010 commented on #529
(node:19215) DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead.

just to modify

node_modules/_extract-text-webpack-plugin@2.1.2@extract-text-webpack-plugin/index.js:
   34  	} else if(checkedChunks.indexOf(chunk) < 0) {
   35  		checkedChunks.push(chunk);
   36: 		**chunk.modules**.slice().forEach(function(module) {
   37

[2017-06-27 11:05] filipesilva commented on #548
@d3viant0ne I tested on Angular CLI and it doesn't affect our projects since they only use `extract-text-webpack-plugin` for global styles. Neither importing css from within css, nor adding an array of css files to an entry point seem to be affected.

[2017-06-27 12:42] Sobient commented on #173
Had this issue on Node 7.2.0. Downloaded the 6.11.0 version and suddenly it worked.

[2017-06-27 14:04] d3viant0ne commented on #548
@filipesilva - It isn't happening in Angular projects from what I can tell. It's not an issue in my CLI projects or my boilerplate based versions unless I start doing silly things with global styles that you shouldn't do in Angular anyway.

[2017-06-27 14:29] kud commented on #548
In my context, I mostly use CSS Modules so I don't mind. Except for global styles.

ant.design has a style for html, body, a. I wanted to override it so I do the same in a specific file. But if order isn't kept, ant.design takes the advantage on my own style. That's the problem.

[2017-06-27 14:31] kud commented on #548
My configuration:

[code]

[2017-06-27 18:53] p3x-robot opened #555 "Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead."
Ciao!
How are you?
Is it something that I have to do it with Webpack configuration or is an ```extract-text-webpack-plugin``` issue?

[2017-06-28 05:52] ghostd commented on #555
Hi,

See #529

[2017-06-28 06:19] cyl19910101 commented on #548
@kud Actually I used CSS Modules too, but in one situation the order does matter, as you mentioned, override.

Let's say we have one stylesheet file `common.css` which has some shared style like :
[code]
And a component with this style and also accept other `className` from `props` :
[code]
We have another stylesheet file `ad.css` for specific page :
[code]
Then we can reuse the `FullPage` like :

[2017-06-28 14:14] lightsaway commented on #554
Have same problem

[2017-06-28 16:19] joehannes commented on #449
same issue here. jony89 [comment](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/449#issuecomment-303015864) helped me in my case, even though i'm using gulp-webpack, not webpack-stream as he states.
I got my [setup](http://www.github.com/joehannes-jobs/webtrekk) on github, so you can clone and play around if you want to ...

Just to let you know:
gulp-webpack 1.5.0
webpack

[2017-06-28 18:30] reywright commented on #35
yeah. as stated, the idea isn't to silence the output of all plugins... because some of it is desired (eslint for instance). So the stats: { children: false } setting doesn't really work for me and probably others.

[2017-06-28 21:46] allencoded opened #556 "Class Names Changes Depending on .extract({ }) options"
So I have this code below in my webpack 2 config using ExtractTextPlugin. It seems to work other than its is altering my css class names.

modules:
[code]

plugins:

[code]

CSS Outputted in global.css:

[code]
What is going on that causes that?

Something to note is I figured out if I change the modules ExtractTextPlugin to look like so it doesn't do this with the css class names and looks fine:

[2017-06-28 21:51] michael-ciniawsky commented on #556
[code]

[2017-06-28 21:51] #556 closed

[2017-06-29 00:05] jjinux commented on #548
We're seeing this too. We have exactly that situation that @cyl19910101 mentioned.

[2017-06-29 03:12] Vivi-wu commented on #58
Just put my experiment project on Github, here is the link [https://github.com/Vivi-wu/multipage-webpack](link)

Since I‘m new to webpack, I borrow the webpack config/structure from [vue-cli](https://github.com/vuejs-templates/webpack)

The project does not work as I expect, but I don't have much time to dig into it at present.

FYI @Giovanni-Mattucci @evilebottnawi

[2017-06-29 09:34] phun-ky commented on #548
What is the status of this issue? This is beginning critical, and I would really like to avoid to downgrade webpack

[2017-06-29 12:21] mixalbl4-127 commented on #438
I have same problem and as I see it chrome problem. I've created question about this here: https://stackoverflow.com/questions/44824955/css-sourcemappingurl-doesnt-work-correct-in-chrome-59-0-3071-115

[2017-06-29 16:09] botond-veress opened #558 "[3.0.0-beta.3] CSS files exported in random order"
I've upgraded to webpack@3.0.0 and extract-text-webpack-plugin@3.0.0-beta.3 but I am experimenting some issues. The order of my css files aren't kept anymore. It doesn't matter if I import it from javascript or from another sass file, they get mixed up even between builds made with the webpack-dev-server.

Example: I have 3 modules and they should be loaded in this order: A, A1 and A2. After I sta

[2017-06-29 20:14] d3viant0ne commented on #558
@botond-veress - This is a duplicate of #548

The issue is known, has been repro'd and the fix is in progress. See the linked issue for more information.

[2017-06-29 20:14] #558 closed

[2017-06-29 20:15] d3viant0ne commented on #554
Need a minimal proj where this is reproducible.

[2017-06-29 20:17] d3viant0ne commented on #555
Duplicate of #529

[2017-06-29 20:17] #555 closed

[2017-06-29 20:22] d3viant0ne commented on #529
This is a known issue & already has a PR to resolve it. It's a Major so you will have to use the etwp `3.x` major release.

See #540 for the particulars

[2017-06-29 20:26] d3viant0ne commented on #548
@phun-ky - It's going to require landing a feature in Webpack.

Realistically, even if it landed right now, you would still be waiting on the next patch release. At the `absolute earliest`, it's going to be this weekend.

[2017-07-03 20:27] frankn11 commented on #149
I have a similar issue with susy.
[code]

I can't really use any Susy features, but if you're wondering what is my importation:

[code]

[2017-07-05 18:07] sh4d1t0 opened #559 "Problems with React-Redux-Toastr"
I have problems with [React-Redux-Toastr](https://github.com/diegoddox/react-redux-toastr), I have this issue:

I was imported like this:

`import "!style-loader!sass-loader!react-redux-toastr/src/styles/index";`

And know I have this new issue:

[2017-07-05 21:45] michael-ciniawsky commented on #559
`import "!style-loader!sass-loader!react-redux-toastr/src/styles/index";`

You are using `style-loader` and `css-loader` is missing. It won't work that way with ETWP, how did you set that up in `webpack.config.js` ?  What is `react-reduy-toastr` ? A webpack loader ?

[2017-07-06 07:48] raiprabh opened #561 "Re-build time issue with webpack v3.0.0"
I migrated to `v3.0.0` from version 1.x and followed the [official migration guide](https://webpack.js.org/guides/migrating/) to do so. But the re-build time of `webpack-dev-server` and `webpack watch` had increased significantly (from 3 seconds to 15 seconds). I downgraded to `v2.6.1`, and the re-build time got back to what it was on version 1, using the same config file. Here is the config file

[2017-07-06 08:29] d3viant0ne commented on #561
@raiprabh - This issue will be resolved with #553

That PR is waiting on a fix in Webpack ( it's listed in the PR ).

[2017-07-06 16:34] sh4d1t0 commented on #559
@michael-ciniawsky of course, I was missing css-loader, anyway here is my webpack config and the solution was in the import line:
[code]
I added css-loader too into sass-loader in my index.es6 (or index.js or .jsx), just like this:

Now works perfectly, thanks Michael

[2017-07-06 18:04] hulkish commented on #548
So, just poking around on this.. so i tried modifying this line https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/index.js#L272 to:
```chunk.modules.slice().reverse()```

It outputs the css in the correct order this way, but I suspect there's more to it than just that. @d3viant0ne thoughts?

[2017-07-06 19:21] michael-ciniawsky commented on #559
[code]

`query` is deprecated in favour of `options` since `webpack >= v2.0.0`, otherwise look 👍 to me

Reopen in case you still have any regressions in regard to `ETWP`

[2017-07-06 19:21] #559 closed

[2017-07-06 19:26] d3viant0ne commented on #548
`Chunk.modules : Array<Module>` was changed to `Chunk._modules : Set<Module>` in webpack/webpack#4764. `Chunk.modules` is a deprecated getter/setter.

ETWP calls `sort()` on `Chunk.modules` which doesn't work because it's a copy of the original Set.

What you are suggesting may work around the issue for those that are having it with a side effect of breaking the sort for everyone else.

The propos

[2017-07-06 19:30] hulkish commented on #548
@d3viant0ne aka blocked by https://github.com/webpack/webpack/issues/5204?

[2017-07-07 05:01] d3viant0ne commented on #548
Everyone say things to @hulkish for getting the fix into Webpack when nobody else had time.

I'm refactoring out the rest of the `chunk.modules` now, that PR will land in the next 30 minutes with a rc build to follow.

Please note that the minimum Webpack version for etwp is `3.1.0`

[2017-07-07 09:06] yordis commented on #548
@d3viant0ne @hulkish much appreciated guys! Thank you very much for your work!

PS: @d3viant0ne please man if it doesn't bother you, post here when it gets into the final release!

[2017-07-07 09:29] filipesilva commented on #548
Thanks for your hard work getting this fixed @hulkish!

[2017-07-07 09:34] d3viant0ne commented on #548
`extract-text-webpack-plugin@3.0.0-rc.0` is out on npm.

Reminder, it requires a minimum of `webpack@3.1.0`

[2017-07-07 09:34] d3viant0ne commented on #548
Anyone has issues with this build, DM me on Twitter ( same name ) which will reach my cell so we can get it sorted.

[2017-07-07 10:03] kud commented on #548
[code]

Without extract:

<img width="154" alt="image" src="https://user-images.githubusercontent.com/655838/27953481-3bb3f112-630c-11e7-996e-903fc7f8fa8b.png">

With extract:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/655838/27953475-33cbaee0-630c-11e7-89a4-8870c02068bb.png">

It seems not to work for the moment, for me.

[2017-07-07 10:43] hulkish commented on #548
@kud can you please provide more details? Maybe an example repo? Would help us replicate/confirm/fix the issue.

[2017-07-07 11:08] d3viant0ne commented on #548
@kud - Something as simple as a failing test cast would speed up the turn around time significantly.

i.e. https://github.com/webpack-contrib/extract-text-webpack-plugin/tree/feature/webpack3/test/cases/chunk-modules-nested-ordered-by-id

[2017-07-07 11:50] evilebottnawi commented on #561
@raiprabh can your update to `3.0.0-rc.0` and check?

[2017-07-07 12:00] d3viant0ne commented on #561
@evilebottnawi - I evidently missed a `chunk.module` in there somewhere. There will be another rc build today at some point.

[2017-07-07 12:07] evilebottnawi commented on #561
@d3viant0ne seems yep, now i migrate own repos to `webpack` 3 and get warning:
[code]

[2017-07-07 12:14] d3viant0ne commented on #561
I'm activly working on this & trying to figure out what it's still rendering css in the wrong order

[2017-07-07 12:29] kud commented on #548
Okay, cheers :)

[2017-07-07 15:43] d3viant0ne commented on #548
@kud - Pick up `extract-text-webpack-plugin@3.0.0-rc.1` should have your css issue sorted.

[2017-07-07 15:56] yordis commented on #548
OMG it's fixed like a champ ❤️ 💪 🎧 💃 🕺 👯 🥇 💯 it feels so good that I dont have to invent workarounds ❤️

[2017-07-07 16:01] kud commented on #548
Fixeeeeeeeeeed! Thank you very much. :)

[2017-07-07 16:03] hulkish commented on #548
great work @d3viant0ne

[2017-07-07 16:04] chrismllr commented on #548
Thank you @d3viant0ne !!

[2017-07-07 16:45] d3viant0ne commented on #561
@raiprabh - Please pick up `extract-text-webpack-plugin@3.0.0-rc.1` ( requires webpack@3.1.0 ) and let me know if you are still seeing a performance issue.

[2017-07-07 16:46] d3viant0ne commented on #529
This is resolved as of `extract-text-webpack-plugin@3.0.0-rc.1` ( requires Webpack 3.1.0 )

[2017-07-07 16:47] d3viant0ne commented on #367
This has been completed and will be landing in master Monday.

[2017-07-07 16:47] #367 closed

[2017-07-07 16:48] #45 closed

[2017-07-07 16:48] #40 closed

[2017-07-07 16:49] #35 closed

[2017-07-07 16:49] #21 closed

[2017-07-07 16:49] #97 closed

[2017-07-07 17:00] insin commented on #548
Haven't dug into this yet, but here's a test failure with 3.0.0-rc.1 in nwb:

https://travis-ci.org/insin/nwb/jobs/251228471#L2610

<details>
<summary>Stack trace</summary>
<pre>
     Uncaught TypeError: [object Object] is not a function!
      at TypeError (native)
      at module.exports (node_modules/core-js/modules/_a-function.js:2:36)
      at Array.sort (node_modules/core-js/modules/es6.arra

[2017-07-07 17:02] d3viant0ne commented on #548
@insin - I'll get into this after lunch

[2017-07-07 17:02] michael-ciniawsky commented on #494
Fixed in [v3.0.0-rc.1](https://github.com/webpack-contrib/extract-text-webpack-plugin/releases/tag/v3.0.0-rc.1)

[2017-07-07 17:02] #494 closed

[2017-07-07 17:08] d3viant0ne opened #565 "3.0.0-rc.1 - Uncaught TypeError: [object Object] is not a function"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest

[2017-07-07 17:15] insin commented on #565
Edit from the other issue - these work if I run them individually but fail the same way if I run the whole suite locally, might be an issue with async tests running into eachother somehow.

[2017-07-07 17:25] irowbin commented on #529
@d3viant0ne I've just checked with latest version but got no luck yet. No idea what breaks again. Here is my package.json
[code]
ran this cmd from npm `npm cache clean --force && npm cache clear --force && rimraf node_modules && npm i
`
then i got this

![capture](https://user-images.githubusercontent.com/13050078/27969048-182bf124-6369-11e7-8fbc-a71878883876.PNG)

and error on the browser console

[2017-07-07 17:27] michael-ciniawsky commented on #565
Maybe related to #554. Seems to be 'caused' by `karma (or 'karma-ish' enviroment)` somehow

[2017-07-07 17:34] michael-ciniawsky commented on #529
@irowbin Where is the deprectation warning ? 🙃  `reflect-metdata` shim seems to be unrelated to ETWP

[2017-07-07 17:42] irowbin commented on #529
@michael-ciniawsky  Well, the same config in `webpack v2.6.1`  with `extract-text-webpack-plugin v2.1.2` works just fine.  The latest version got something to do with this issue. Even i am not getting the chunk information on the console. Compiled successfully... that's all i got and app just stuck. 🙃

[2017-07-07 17:44] insin commented on #565
If I skip the one part of that group of tests which runs karma tests on a test fixture project, it works!

[2017-07-07 18:15] michael-ciniawsky commented on #529
@irowbin Then we misunderstood each another here :). Please try without `extract-text-weboack-plugin` to confirm it isn't another issue with your current setup migrating from `webpack v2.0.0...3.0.0` and if it isn't, please open a new issue. The issue here is tracking the `chunk.modules` deprecation warnings :stuck_out_tongue:

[2017-07-07 18:37] d3viant0ne commented on #529
The reflect shim has nothing to do with etwp.

[2017-07-07 18:41] jjinux commented on #548
Thanks!

On Fri, Jul 7, 2017 at 10:02 AM Joshua Wiens <notifications@github.com>
wrote:

[2017-07-07 18:44] d3viant0ne commented on #529
Closed by be7936df6b947788f6294864ebfa67c95a0cf06b

[2017-07-07 18:44] #529 closed

[2017-07-07 22:34] thomasgwatson commented on #524
I'm trying to upgrade from 2.0.0.beta.6 (I know) to 3.0.0-rc.1 and having issues.

` throw new _ValidationError2.default(ajv.errors, name);
    ^

false`

Does this mean I've got a stale version of ajv or that I need to change something in my webpack config as I upgrade to 3.1.0?

[2017-07-07 23:01] michael-ciniawsky commented on #524
did you clear the npm `cache` and `node-modules`?

[2017-07-08 04:09] irowbin commented on #529
Well, thanks @d3viant0ne & @michael-ciniawsky The warning is gone and app works just fine.

[2017-07-08 07:54] dsslimshaddy opened #567 "Peer Dependency Webpack 3"
Peer is outdated

[2017-07-08 13:56] rpoitras commented on #567
I've hit this at work with `npm@3.10.3` which throws the error:

At home with `yarn@027.5` no complaints.

[2017-07-08 14:23] dsslimshaddy commented on #567
happens with yarn too [yarn](http://i.imgur.com/PNeXUqU.png)

[2017-07-08 14:26] michael-ciniawsky commented on #567
For `webpack v3.0.0`  usage the plugin is currently in beta `npm i -D extract-text-webpack-plugin@beta`.  ⚠️  ETWP `<= v2.0.0`  doesn't work correctly with webpack `v3.0.0`

[2017-07-08 14:26] #567 closed

[2017-07-10 00:46] d3viant0ne commented on #565
@insin - Should be fixed in the above pull request. I'll get another rc out as soon as it lands.

[2017-07-10 01:53] d3viant0ne commented on #565
Pick up `extract-text-webpack-plugin@3.0.0-rc.2`

[2017-07-10 01:53] d3viant0ne commented on #554
Pick up `extract-text-webpack-plugin@3.0.0-rc.2`

[2017-07-10 03:04] insin commented on #565
Confirming as fixed, thanks!

[2017-07-10 03:06] d3viant0ne commented on #565
No problem :)

[2017-07-10 03:06] #565 closed

[2017-07-10 03:06] #554 closed

[2017-07-10 03:09] d3viant0ne commented on #548
Closing this as all issues reported have been resolved & regression tests added.

`extract-text-webpack-plugin@3.0.0` will be going to the latest tag tomorrow evening.

[2017-07-10 03:09] #548 closed

[2017-07-10 07:21] raiprabh commented on #561
@d3viant0ne - sure, i'll try it out and post my observations today.

[2017-07-11 03:29] deot opened #569 "An error with extract-text-webpack-plugin@3.0.0（throw new _ValidationError2.default(ajv.errors, name)）"
I am getting an error when it came time to generate the css file.
[code]
when I use extract-text-webpack-plugin@2.1.2,the program is running normally

There is my config

[code]

[2017-07-11 05:15] vdh commented on #97
@d3viant0ne Hey, this *is* still a bug. As already mentioned, the workaround is not adequate.

[2017-07-11 05:33] irowbin commented on #569
please run this  `rimraf node_modules && npm cache clean --force && npm cache clear --force && npm i` assuming you're running `nodejs`

[2017-07-11 11:03] deot commented on #569
@irowbin Thanks, but the problem still exists!

[2017-07-11 11:10] evilebottnawi commented on #569
@deot can your provide minimum reproducible test repo?

[2017-07-11 11:39] le0nik commented on #97
Here's a simple webpack plugin I use that does the job of cleaning up the log spam. But I agree that it should be configurable within `extract-text-webpack-plugin` itself.

[code]

[2017-07-11 13:03] matt-d-rat commented on #524
@thomasgwatson I was getting the error you report recently as I upgraded from an old beta of webpack 2 to webpack 3. The issue in my case was caused by an incorrect option passed to ```ExtractTextPlugin.extract``` - I was passing ```fallbackLoader``` (old config option) instead of ```fallback``.

Make sure you double check the options you are providing to both the ExtractTextPlugin and ExtractText

[2017-07-11 16:22] jeblister commented on #133
For me this error
[code]
I'm on Linux and using the last nodejs v8.1.3

[2017-07-11 16:31] evilebottnawi commented on #133
@jeblister `npm i extract-text-webpack-plugin` ?

[2017-07-11 17:05] ericnoguchi commented on #456
is there any update on this? Issues still remains with wepback 3.1.0 and ETP 3.0.0

[2017-07-11 17:07] jeblister commented on #133
@evilebottnawi i fix it but using `npm i -g extract-text-webpack-plugin` because the [preact-cli ](https://github.com/developit/preact-cli) need it.

[2017-07-11 17:09] d3viant0ne commented on #569
We can't debug based on a snippet from a config, a minimal projects that frames the issue will be necessary.

[2017-07-11 17:18] evilebottnawi commented on #133
@jeblister if your use `npm@5` maybe bug in npm (there are many bugs in npm@5)

[2017-07-11 17:22] evilebottnawi commented on #456
@ericnoguchi wip

[2017-07-11 17:29] evilebottnawi commented on #456
@ericnoguchi what about set `allChunks: true` ?
[code]

[2017-07-11 17:32] ericnoguchi commented on #456
@evilebottnawi

That is what we are doing for the time being but ideally we would like to be able to lazy load css modules that are included in async JavaScript chunks

[2017-07-11 17:44] evilebottnawi commented on #456
@ericnoguchi Looks like an error, looking for a solution, thanks!

[2017-07-11 18:12] mrsweaters commented on #569
I'm also experiencing this issue.

[2017-07-11 19:22] evilebottnawi commented on #456
@ericnoguchi what about this (`async: true`):
[code]

[2017-07-11 19:34] kostasmanionis commented on #456
If anyones interested I've got a temp fix working by excluding `css-loader` & `style-loader` from the common chunks. Looks like this

webpack.config.js
[code]

`excludeCommons.js`
[code]

[2017-07-12 13:18] nelisbijl commented on #569
Me too

[2017-07-12 13:24] evilebottnawi commented on #569
@nelisbijl can your provide minimum reproducible test repo?

[2017-07-12 13:32] nelisbijl commented on #569
I am fairly new to webpack. Following examples from the internet without really understanding what's happening

[2017-07-12 14:59] irowbin commented on #569
@deot I guess that `ajv` came from `webpack v3xx` Please clean from global too. `npm uninstall -g webpack && npm uninstall extract-text-webpack-plugin `. and then run `npm i webpack && npm i extract-text-webpack-plugin` Give it a try.

[2017-07-12 16:31] deot commented on #569
@d3viant0ne @evilebottnawi
I've created a sample repo illustrating the problem: [link](https://github.com/deot/extract-text-webpack-plugin-fail-example)

[2017-07-12 16:37] joemcloE commented on #569
[code]

[2017-07-12 17:42] javiercaste commented on #569
Following

[2017-07-12 20:04] d3viant0ne commented on #569
To @joemcloE's point, `fallBackLoader` was deprecated in a previous major release and removed in the following.

You are failing on a schema validation error, change the old `fallbackLoader` syntax to `fallback` and everything works just fine.

![screen shot 2017-07-12 at 3 02 43 pm](https://user-images.githubusercontent.com/8420490/28137542-47a3cd70-6713-11e7-91c4-049ef774c65e.png)

[2017-07-12 20:55] joemcloE commented on #569
@d3viant0ne Thanks,
Sorted it for me.

...Note to self, pay attention to depreciation warnings.

Thanks for the help

[2017-07-12 22:58] ova2 commented on #529
@d3viant0ne I still have the warning

"DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead."

My package.json: https://github.com/ova2/angular-development-with-primeng/blob/master/angular-primeng-seed-for-authors/package.json

Simple try to execute `npm run start:prod`

[2017-07-12 22:59] ova2 commented on #561
@d3viant0ne I still have the warning

"DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead."

My package.json: https://github.com/ova2/angular-development-with-primeng/blob/master/angular-primeng-seed-for-authors/package.json

Simple try to execute `npm run start:prod` What is wrong in my webpack config?

[2017-07-12 23:15] #569 closed

[2017-07-12 23:22] d3viant0ne commented on #561
We missed one - https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/src/lib/ExtractTextPluginCompilation.js#L38

I'll get it sorted shortly and out this evening

[2017-07-12 23:36] d3viant0ne commented on #561
@ova2 - I'm still seeing the deprecation warning as well, i'll get it sorted.

[2017-07-13 01:22] deot commented on #569
Sorry，it's my fault

[2017-07-13 02:56] irowbin commented on #529
@ova2  Please update to latest `webpack v3.2.0` & `extract-text-webpack-plugin v3.0` before updates, Clean old dependency from global and project.

[2017-07-13 06:38] osdevisnot commented on #455
@faceyspacey just wondering, is extract-css-chunks a go to plugin for this?

[2017-07-13 06:50] ova2 commented on #529
@irowbin I already have `webpack v3.2.0` & `extract-text-webpack-plugin v3.0` and no old deps. The warning is still here. See this comment as well: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/561#issuecomment-314927477 There is still one (or more?) place(s) in the plugin which are not fixed yet.

[2017-07-13 06:51] ova2 commented on #561
@d3viant0ne I hope you can fix it ;-) Many thanks for your effort!

[2017-07-13 06:57] aseem2625 commented on #455
@osdevisnot Not answering your ques. But check [this](https://medium.com/faceyspacey/webpacks-import-will-soon-fetch-js-css-here-s-how-you-do-it-today-4eb5b4929852) article by @faceyspacey

[2017-07-13 07:07] irowbin commented on #529
@ova2 Its wired that author himself having this deprecation warning 🤣 . Mine works fine after i did some cleanup and re-install. I was seeing this error till the `beta` stage but not after `rc`

**node**
`v6.11.0`

**npm**
`v5.2.0`

**webpack**
`v3.2.0`

**extract-text-webpack-plugin**
`v3.0`

[2017-07-13 09:19] faceyspacey commented on #455
It's been a while and I'm on my phone, but based on the Issue title, yes. "Emit CSS file per split point." Yes indeed.

[2017-07-13 10:14] elrumordelaluz commented on #548
@d3viant0ne great work on that update.
I have a weird issue updating from `2.1.2` to `3.0.0`.
Everything works well launching the _Application_ (`yarn start`) but since now the order matters I found a style to fix. So, when changing a single line in one of the `.css` files starts a series of webpack `Error`s (when hot module reloading) not necessarily direct related to the line of `css` edited.

T

[2017-07-13 10:21] aseem2625 commented on #455
@osdevisnot To answer your question, this plugin generates 3 files for that given js chunk..
**1)** `your_js.js` (without css)
**2)** `your_css.css`( to be used with above js file)
**3)** `your_js.js` (with css in js)
What @faceyspacey wanted to suggest with this plugin is that for SSR you should be ideally using `your_js.js and your_css.css bcoz in order to fasten up the retrieval of code. But on

[2017-07-13 14:28] iddqdidkfa commented on #449
Can't believe this issue still closed:

node: 8.1.4
webpack: 3.1.0
extract-text-webpack-plugin: 3.0

[2017-07-13 17:50] d3viant0ne commented on #548
@elrumordelaluz - Throw this in a new issue if you don't mind.

[2017-07-13 19:24] d3viant0ne commented on #561
So after seriously considering I was losing my mind & questioning if I am any good at JavaScript, this particular deprecation warning isn't coming from etwp.

I'll go run it down & kill it with fire this evening.

[2017-07-13 19:46] ova2 commented on #561
But if it's not coming from etwp, how do you want to kill it? -:)

Am 13.07.2017 21:24 schrieb "Joshua Wiens" <notifications@github.com>:

So after seriously considering I was losing my mind & questioning if I am
any good at JavaScript, this particular deprecation warning isn't coming
from etwp.

I'll go run it down & kill it with fire this evening.

—
You are receiving this because you were menti

[2017-07-13 22:47] Igor-Vuk commented on #529
I updated to webpack 3.2.0 and extract-text-webpack-plugin 3.0.0 deleted and installed node_modules again and I still get this warning.

[2017-07-14 08:20] cebor commented on #529
Cannot reproduce this, all works fine with `3.0.0`.

[2017-07-14 10:59] Igor-Vuk commented on #529
Tried it . Unfortunately I am sill getting the message.

[2017-07-14 14:47] chrisvasz commented on #119
More kudos to @elsigh -- that was our issue too!

[2017-07-15 19:25] weaverryan commented on #529
FYI - if you use webpack-chunk-hash (or webpack-md5-hash), the deprecation warning may be coming from it: https://github.com/alexindigo/webpack-chunk-hash/pull/9

[2017-07-15 19:55] michael-ciniawsky commented on #529
@Igor-Vuk @ova2 Could you both please share your `webpack.config.js` ? After some debugging I'm 99,9% sure the deprecation warning isn't coming from `extract-text-webpack-plugin`, in case you only get the useless `(node: 1234) DeprectationWarning: Chunk.modules is deprecated ...`  message use this to get a `stackTrace`

**WarningsPlugin.js**
[code]

### Before

[code]

### After

[code]

[2017-07-15 20:41] ova2 commented on #529
@weaverryan Thanks a lot! The warning came from webpack-md5-hash. I've removed this plugin and the warning is gone. No issues more.

[2017-07-15 20:43] ova2 commented on #561
@d3viant0ne FYI: The warning came from webpack-md5-hash. I've removed this plugin and the warning is gone. No issues with extract-text-webpack-plugin.

[2017-07-15 20:50] Igor-Vuk commented on #529
@weaverryan @michael-ciniawsky @ova2
Yes. My warning was also comming from webpack-md5-hash. After uninstall it is ok. Does anyone have solution how to continue use it? We should probaby open an issue on webpack-md5-hash site.

[2017-07-15 20:52] ova2 commented on #529
@Igor-Vuk I don't know why I was using it. I've realized I can live without this plugin - the Webpack generated hashes are fine.

[2017-07-15 20:57] Igor-Vuk commented on #529
@ova2
Mine our not, for example vendor chunkhash changes when I make a new build even though just a bundle hash should change. With md5 is ok.

[2017-07-15 21:19] ova2 commented on #529
@Igor-Vuk I use manifest and manifest.js file + Webpack records

// See https://medium.com/webpack/harnessing-the-power-of-webpack-2cd0e20ff1bf#.q9do1u54o
recordsPath: path.join(ROOT, 'config', 'webpack-records.json')

The hash of polyfill is fine after rebuild (I don't have a vendor file because it is merged together with main file due to better tree shaking).

[2017-07-15 22:31] michael-ciniawsky commented on #529
https://medium.com/webpack/predictable-long-term-caching-with-webpack-d3eee1d3fa31

[code]

Third-party Plugins are not needed most of the time imho :)

[2017-07-16 01:19] imaninyasia opened #571 "Error HtmlWebpackPlugin if(typeof content...)"
I'm getting this error when i npm run watch:
Module build failed: Unknown word (5:1)
 5 | if(typeof content === 'string') content = [[module.id, content, '']];

[code]
module and rules is closed.

What's wrong with my syntax? i'm using webpack 3.3.0 with React.js and here's my babel file,
{
  "presets" : ["es2015", "react", 'stage-0'],
  "compact" : true,
  "plugins": [
    ["transform-strict-mode

[2017-07-16 01:58] imaninyasia commented on #571
my webpack.config.js file:

'use strict'
const webpack           = require('webpack');
const path              = require('path');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const ExtractTextPlugin = require('extract-text-webpack-plugin');

const BUILD_DIR         = path.resolve(__dirname, 'dist');
const APP_DIR           = path.resolve(__dirname, 'src');

module.exports = {
  entry:

[2017-07-16 02:18] d3viant0ne commented on #561
@ova2 - Yeah, just keeping this open just until I have the PR open to md5

[2017-07-16 04:02] Pagnito commented on #569
Im using 'use:' and changed to 'fallback' but still seem to be havin this issue

[2017-07-16 04:04] Pagnito commented on #569
nvm i got it working with 'use:' inside the extract object

[2017-07-16 08:23] d3viant0ne commented on #529
I personally use md5-hash but I have a rather complex nginx setup related to what is & is not cached and for how long.

Outside of situations where your operational requirements warrant the added complexity, @michael-ciniawsky is right, you really don't need it.

[2017-07-16 20:43] zullusa commented on #449
Hi! Can You review this [article](https://habrahabr.ru/post/309958/)? You even don't need to know russian. Just execute commands and create files. I get topic error, when I execute `npm run build`.
TypeError: chunk.sortModules is not a function.

What has forgotten the article author to do?

[2017-07-16 20:50] carlitux commented on #569
worked for me in this way: change fallbackLoader to fallback

[code]

[2017-07-17 09:10] jk171505 opened #572 "extract to different directory than utput"
I'd like to output the css to different directory than the main output
I'm using webpack 1.
Here is my setup:
`output: {`
`    path: path.join(__dirname, './build', 'assets/js'),`
`      filename: '[name].bundle.js'`
`    },`
`    plugins: [`
`      new ExtractTextPlugin('../css/main.css', { disable: false, allChunks: true })`
`    ]`

The main.css isn't created at all. If I change the path for Ex

[2017-07-17 11:18] evilebottnawi commented on #572
@jk171505 whick version of `ExtractTextPlugin` your use? Current version `3.0.0` works only with `webpack@3`. But before search what is wrong, i strongly recommend upgrade to latest webpack version first.

[2017-07-17 11:19] evilebottnawi commented on #571
@imaninyasia change `use: ["css-loader","style-loader"]` to `use: ["css-loader"]` in `module.rules`

[2017-07-17 11:58] jk171505 commented on #572
I'm using the one that works with webpack v1:
extract-text-webpack-plugin: 1.0.1
webpack: 1.15.0

[2017-07-17 11:59] evilebottnawi commented on #572
@jk171505 can your provide minimum reproducible repo? Most likely the bug will not be easy to fix, the old versions.

[2017-07-17 13:07] jk171505 commented on #572
here is the repo:
https://github.com/jk171505/metalsmith-webpack

after install just run: node .

[2017-07-17 14:01] tauseef-inbetween commented on #554
Still not working

[2017-07-17 14:03] tsfahmad commented on #554
Facing same problem with extract-text-webpack-plugin@3.0.0-rc.2

[2017-07-17 14:07] pedroabreu commented on #554
Updating `karma-webpack` worked for me (plus using the latest `extract-text-webpack-plugin`)

[2017-07-17 15:28] ayepRahman commented on #529
guys how do you find and remove  webpack-md5-hash in my webpack

[2017-07-17 15:51] michael-ciniawsky commented on #571
[code]

[2017-07-17 15:51] #571 closed

[2017-07-17 17:39] d3viant0ne commented on #529
@ayepRahman - Should be listed in your project devDependencies. If you don't see it there, it's a dependency of a dependency.

That said, if you are using someone's boilerplate project, removing that lib is likely going to break your production build.

[2017-07-17 20:00] ndeen86 commented on #569
@carlitux did you defined the plugins. I defined as like you and defined the plugins like the below and webpack keep running without result.
[code]

[2017-07-18 00:54] carlitux commented on #569
@ndeen86 this is my setup

[code]

[2017-07-18 23:09] tals commented on #509
There's actually a bug with ordering.
Given two entry points that share `import`ed modules that extract-text processes, their actual load order (as they appear in the concatenated file) will be incorrect

For example:
[code]
[code]

Yields:
[code]
[code]

Repro: https://github.com/tals/extract-text-plugin-ordering-bug

[2017-07-18 23:12] tals opened #573 "[v3.0.0] Load order is broken when used with multiple entry points"
Given two entry points that share `import`-ed modules that extract-text processes, these modules actual load order (as they appear in the concatenated file) will be incorrect

For example:
[code]
[code]

Yields:
[code]
[code]

Repro: https://github.com/tals/extract-text-plugin-ordering-bug

[code]

[2017-07-19 00:49] michael-ciniawsky commented on #573
Without `allChunks: true` aswell, did it work before and if what was the latest version it worked correctly?

[2017-07-19 02:22] tals commented on #573
allChunks makes no difference.

I've only recently started using this plugin, so it never worked for me.
It fails on `2.1.0` and `3.0.0`.

[2017-07-19 09:49] elrumordelaluz commented on #573
Don't know if it's related to this issue but upgrading from `2.1.2` into `3.0.0`, noted lots of order changes in the output.
Using in both versions `allChunks: true` and `ignoreOrder: true`.
Also `modules`, `postcss-loader`, `postcss-nested` and SSR (in case this info could help).

Commenting in the meantime I am [trying to create a repo to reproduce the behaviour](https://github.com/webpack-contr

[2017-07-19 13:50] trsh opened #574 "TypeError: chunk.sortModules is not a function"
v3.0.0

TypeError: chunk.sortModules is not a function TypeError: chunk.sortModules is not a function
    at C:\Projects\flowww-web\node_modules\extract-text-webpack-plugin\dist\index.js:188:19
    at C:\Projects\flowww-web\node_modules\async\dist\async.js:3083:16
    at eachOfArrayLike (C:\Projects\flowww-web\node_modules\async\dist\async.js:1003:9)
    at eachOf (C:\Projects\flowww-web\node_modu

[2017-07-19 13:57] trsh commented on #574
Solved with updating webpack to 3.3.0.

[2017-07-19 13:57] #574 closed

[2017-07-19 18:02] kochis opened #575 "Using ExtractTextPlugin and also include output in bundle?"
I know that `ExtractTextPlugin` is used for removing code from the bundle into a separate file, but is there a way to extract the text _and_ also do some processing on the content to keep in the bundle?

Basically, I want to extract all my postCSS modules into one file (using ExtractTextPlugin) but also have the classnames available in the bundle to reference in JS. Is the what the `fallback` open

[2017-07-19 20:44] michael-ciniawsky commented on #575
[extract-loader](https://github.com/peerigon) or setting up different `module.rules` one with `extract-text-webpack-plugin` and one without it for modules

[code]

[2017-07-19 20:44] #575 closed

[2017-07-20 09:37] qasimraza1979 commented on #422
any reason why leaving scss file empty forces the build to get failed

[2017-07-20 14:17] marcopeg commented on #449
Hi guys, I ran into this problem myself. After reading it I tried to downgrade the plugin to 2.1.0 and it works for me. So far I can say that 3.x didn't work with webpack 2.2.0.

Hope this will help somebody here ;-)

[2017-07-20 18:54] nfriend commented on #449
Thanks @marcopeg, I had the same issue.  For me I was able to instead fix this issue by upgrading from webpack 2 to webpack 3.

[2017-07-20 21:00] moneydance opened #576 "textplugin"

[2017-07-20 22:30] #576 closed

[2017-07-21 11:01] wmertens opened #577 "How to detect when new text was extracted in watch mode?"
I'm trying to do hot reloading of extracted CSS (so that dev and prod have the exact same CSS), and that's working, but I'm having trouble figuring out when there was a change to the CSS.

I tried attaching to "after-emit", but I can't really see what I should filter on to detect if a css file was rebuilt in the current compilation run.

Any hints? Maybe a special event should be emitted?

[2017-07-21 13:07] wmertens opened #578 "Doesn't play nice with DllPlugin?"
When trying to extract text with libraries in dlls, this plugin fails. Here's the error:

[code]

I'm assuming the child compiler doesn't inherit the parent  dll definition?

(v3.0.0 w/ webpack v3.3.0)

[2017-07-21 19:47] d3viant0ne commented on #578
This is not, nor will it be a supported integration. Also, if you think about how Webpack + the DLLPlugin work, it doesn't make much sense.

[2017-07-21 19:47] #578 closed

[2017-07-23 20:07] Omlet opened #579 "App breaks on subsequent webpack compilations when using loader"
I just migrated from webpack v1 to webpack v3 with not much issue. However, I'm running into a really annoying problem that seems to stem from extract-text-webpack-plugin when webpack-dev-server re-compiles after the initial compile.

Here's what's happening:

1. I start webpack-dev-server
2. Webpack compiles bundle
3. Navigating to index works fine - application works just as it did when using we

[2017-07-24 07:03] ciaran-phillips commented on #573
I also have loading order issues which are only present when using multiple entry points. Have not yet tested `allChunks` but I can confirm I also see the issue on both `2.1.0` and `3.0.0`. I'm not sure yet on what version it worked correctly.

[2017-07-24 08:01] ariona opened #580 "Webpack 3: You may need an appropriate loader to handle this file type. (Sass)"
I can't import my sass in my js.
[code]
It keep producing
[code]
But i am pretty sure i've installed the loaders, Here is my rule for the loader
[code]

`webpack: 3.3.0` and `extract-text-webpack-plugin: 3.0.0`

[2017-07-24 17:55] awesomenaz commented on #580
@ariona how about swapping out loader with use? try it out as the docs.

[2017-07-25 02:14] tuananhzippy opened #581 "Error: chunk.sortModules is not a function webpack 3.3.0"
[code]

[2017-07-25 02:36] ariona commented on #580
Hi @awesomenaz, thanks for replying,  I have tried below configurations:
[code]
still producing `You may need an appropriate loader to handle this file type.`

Also tried:
[code]
Still no luck, got this instead 😄
[code]

[2017-07-25 02:50] awesomenaz commented on #580
Try it like this:

[code]

Let me know if this helps.

[2017-07-25 03:32] GZWZC opened #582 "chunk.sortModules is not a function"
[code]

webpack.config.js
[code]
when i webpack,cmd is console  `chunk.sortModules is not a function`，what should i do?

[2017-07-25 03:46] awesomenaz commented on #580
include requires you to resolve the path. Which based on you earlier submission, I can't seem to see the path being resolve.

[code]

[2017-07-25 03:48] ariona commented on #580
😄  it's defined in another file. It it's not defined then i'll get different error.

[2017-07-25 03:51] awesomenaz commented on #580
That's right. Hope that solved it. If it is just close this issue. 😄

[2017-07-25 03:55] ariona commented on #580
I mean, i already defined the path for include prop in another file. 😄 . the error still tho

[2017-07-25 03:57] awesomenaz commented on #580
If it is possible, add the file somewhere we I could probably inspect. As it is not complete. Would be easier.

[2017-07-25 04:03] ariona commented on #580
Sorry, My bad. here is the gist https://gist.github.com/ariona/ece9ba6711e61150ea2c41c7e6f8f4d6

The `webpack.config` is the main config and the `app.config` contain the paths and some app configs.

If i am trying to import the style (sass) from js file it keep producing `You may need an appropriate loader to handle this file type.`

[2017-07-25 04:42] michael-ciniawsky commented on #582
`extract-text-webpack-plugin >= v3.0.0` isn't compatible with `webpack =< v2.0.0`, use `v2.0.0` of the plugin `npm i -D extract-text-webpack-plugin@^2.0.0` if you intend to use webpack `v2.0.0` or update to `webpack v3.0.0`

[2017-07-25 04:42] #582 closed

[2017-07-25 04:44] michael-ciniawsky commented on #581
Your `webpack.config.js` && `package.json` aswell please

[2017-07-25 04:59] tuananhzippy commented on #581
My `webpack.config.js`

`var HtmlWebpackPlugin = require('html-webpack-plugin');
var ExtractTextWebpackPlugin = require('extract-text-webpack-plugin');

module.exports = {
  entry: './app.js',
  output: {
    path: __dirname + '/dist',
    filename: 'bundle.js'
  },
  module: {
    rules: [
      {
        test: '/\.css$/',
        use: ExtractTextWebpackPlugin.extract({
          fallback: "style

[2017-07-25 05:10] michael-ciniawsky commented on #581
[code]

If it doesn't wor, could you try without `watch` && with `{ filename: '[name].bundle.css' }`, the config looks ok so far, maybe a file where you `import css from './file.css'` could help

[2017-07-25 06:29] awesomenaz commented on #580
@ariona is the issue resolved?

[2017-07-25 06:32] ariona commented on #580
nope

[2017-07-25 06:41] tuananhzippy commented on #581
Thanks you, i tried but not yet.

[2017-07-25 06:41] awesomenaz commented on #580
I still think it's a validation issue, especially with the earlier validation error.

The configuration you had:

[code]

Instead, do this:
[code]

[2017-07-25 11:38] nealoke opened #583 "Generated css file not executed"
I've just updated all my dependencies to the latest version and I'm wondering what i'm doing wrong here. My css file get's emitted and included in the `.html` file. No errors are shown (also not in the browser) but for some reason my css file does not get applied.

What am I doing wrong or is this an issue with the `extract-text-webpack-plugin`?

**HTML output file**
[code]

[2017-07-26 01:30] jmahc commented on #581
Shoot, mane.

I am catching the same issue! (using webpack@3.4.0).

Here is the sample repo: https://github.com/jmahc/that-react-app-you-want

Just run `yarn` then `yarn run build` which will throw the error!

[code]

Headed to dinner, but hopefully this [package.json](https://raw.githubusercontent.com/jmahc/that-react-app-you-want/master/package.json/) link will suffice, as well as my [production

[2017-07-26 04:51] nchan0154 commented on #581
@jmahc Thanks so much for that fix, it saved me and my team a whole evening of headaches!

[2017-07-26 05:19] michael-ciniawsky commented on #583
[code]

[2017-07-26 05:19] #583 closed

[2017-07-26 05:48] jmahc commented on #581
@nchan0154 No problem!  WD-40 works on code, too.

[2017-07-26 07:01] nkbt commented on #581
We don't use manifest, and regexes are fine, but still have the same issue.

[2017-07-26 08:25] winnerhp opened #584 "css will emitted everytime when watch mode"
#### my package.json like this:
[code]
#### question?
everytime I save my entry js not the css, the css will emitted again however the css did not change, so what happens?

I notice that this plugin register 'compilation.plugin("additional-assets")' and everytime compilation.assets[somecssfile] =` new object`, so the compilation.assets[somecssfile].emitted = true

who can help me, thanks?

[2017-07-26 09:29] nealoke commented on #583
@michael-ciniawsky thanks, but in the end the issue was resolved my removing `modules: true` from the `css-loader`.

[2017-07-26 11:13] michael-harvey commented on #581
Updating webpack to 3.4.1 solved this for me.

[2017-07-26 12:53] evilebottnawi commented on #573
@tals thanks for issue! Can your do PR with failing tests? It help to solve the problem faster

[2017-07-26 12:54] evilebottnawi commented on #584
@winnerhp thanks for issue. Can your provide minimum reproducible test repo?

[2017-07-26 16:06] jmahc commented on #581
@nkbt - Care to elaborate with your issue?

[2017-07-26 22:57] jknight12882 commented on #110
I am still getting this issue as well

[2017-07-26 23:01] jknight12882 commented on #131
I am getting this issue and am not using the `SplitByPathPlugin`. This is with `Webpack@3.x.x`

[2017-07-26 23:17] jknight12882 opened #585 "Module build failed: TypeError: text.forEach is not a function"
I've seen references to this in other issues, but could not get any of the listed solutions to work. Using `webpack@3.4.1` and `extract-text-webpack-plugin@3.0.0`. Here is my config

[code]

[2017-07-27 02:39] d3viant0ne commented on #585
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support though you may also inquire in [Webpack Gitter](https://gitter.im/webpack/webpack). The issue tracker is for bug reports and feature discussions. See also our CONTRIBUTING guidelines.

[2017-07-27 02:39] #585 closed

[2017-07-27 02:43] d3viant0ne commented on #581
@nkbt - If you still have issues on `webpack@3.4.1` ping me so i can get this on the High Priority board.

[2017-07-27 05:06] winnerhp commented on #584
@evilebottnawi

* [repos](https://github.com/winnerhp/issues-test.git)
* npm install
* npm run dev

#### then

everytime you change src/page/entry_one.js or entry_two.js，the control will print like
[code]
both entry_one.css and  entry_two.css will emitted,however the content of css is not change.

[2017-07-27 12:50] evilebottnawi commented on #584
@winnerhp seems related to https://github.com/webpack/webpack/issues/5321 (just information)

[2017-07-27 14:22] Reinmar opened #586 "Wrong CSS rules order when the extract text plugin and multiple entry points are used"
I have an issue with a combination of the extract text plugin, SASS loader and multiple entry points.

The issue is that the order of rules in output CSS is incorrect when I use multiple entry points and the extract text plugin. It's fine when I either disable the extract text plugin or build just one entry point at a time.

## To reproduce

To reproduce the issue clone this branch: https://github

[2017-07-27 16:02] fuwaneko commented on #579
I have the same issue. In the resulting bundle after first recompile original module position in array of modules is replaced by some random stuff (in my case css-base.js from css-loader takes index 1 where isArray from lodash should be, but webpack require function for isArray keep trying to get it at index 1) which results in broken app. Disabling extract-text fixes it.

This renders webpack's w

[2017-07-27 22:05] nkbt commented on #581
I will check `webpack@3.4.1`, hopefully it is gone.

PS: my comment was mostly just a quick note so issue is not closed yet since we have some different case that failed.

[2017-07-28 22:00] mahcr commented on #529
I'm still getting the warning.
[code]

[2017-07-28 22:50] d3viant0ne commented on #529
This is not from `extract-text-webpack-plugin`

[2017-07-29 18:51] steve-todorov commented on #173
It doesn't seem to be related to the version of Node. I also had 7.2 and downgrading to 6.11 didn't solve the problem for me.

[2017-07-30 19:28] crdx commented on #579
I'm experiencing the exact the same problem as fuwaneko.

After the first build the module in position 1 is one from vue-loader that exports normalizeComponent. Once it rebuilds this module's been replaced with css-base, which wasn't even in the original bundle nor is needed.

[2017-07-30 20:16] fuwaneko commented on #579
@crdx I also experience same vue-loader problem sometimes. Broken isArray is one thing, some parts of app still work. But broken vue-loader prevents app from working at all.

[2017-07-31 05:07] nkbt commented on #581
Works fine for us with `webpack@3.4.1` now, thanks!

[2017-07-31 07:55] d3viant0ne commented on #581
So for anyone reading in the future, the Cliff notes version, `ChunkManifestPlugin` needs `webpack@3.4.1`.

Thanks to @michael-harvey / @jmahc & others for the testing :)

[2017-07-31 07:55] #581 closed

[2017-07-31 09:57] mcongy opened #587 "Explicitly disable sourcemaps for CSS files"
Hello,

webpack version: 3.4.1
extract-text-webpack-plugin: 3.0.0

In production, I'm using `devtool: 'source-map'` which implicitly enables sourcemaps (even for my extracted css files - and I don't want that).

Is there a way to explicitly disable them? And if so, can you provide a working solution?
I've been experimenting with webpack.SourceMapDevToolPlugin, but without any luck.

Thanks!

[2017-07-31 10:41] davidfurlong commented on #35
`stats: "errors-only"` does not work with `extract-text-webpack-plugin` in `webpack 3` https://webpack.js.org/configuration/stats/

[2017-07-31 10:47] davidfurlong commented on #35
Also see duplicate https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/97

[2017-08-01 18:48] sbadri2001 commented on #503
Can someone explain why removing style-loader from the list of loaders and having that in fallback alone does the trick?

[2017-08-02 07:29] webpack-bot opened #588 "Error: Didn't get a result from child compiler"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When I am developing, webpack compile success at the first run. But if I modify any of my style, it throw error. This behavior really drives me crazy.
I use many plugin, like extract-text-plugin, sass-loader, url-loader and so on.

**If the current behavior is a bug, please provide the steps to reprodu

[2017-08-02 16:34] kostasmanionis commented on #42
Is anyone still experiencing this with `3.0.0` ? @dalimian suggestion fixes the issue for me

[2017-08-03 01:26] maihaihua opened #589 "Extract css file to a path that different from the bundle path, the background-img url will be wrong"
Version:
`webpack: "3.4.1"`
`extract-text-webpack-plugin: "3.0.0"`

Description:

There is a css rule in my css file like this:

[code]
First, I config plugins like this in webpack.config.js:

[code]
This work well. In the css file , the background url is `'img/logo.png'`.

However, when i want to output the css file to other directory something goes to wrong.I config plugins like this in webpack.

[2017-08-03 08:21] djeeg commented on #588
Getting the same on webpack 3.4.1

If I by-pass my css loaders with ignore-loader, then I dont get the error, so that does suggest the cause is somewhere in extract-text-webpack-plugin.

Also if i disable multiStep on HotModuleReplacementPlugin, then i dont get the error either.

[2017-08-03 09:00] b4dnewz commented on #485
[code]

using __webpack version 3.4.1__ with the snippet from the readme.

[code]

[2017-08-03 10:03] evilebottnawi commented on #589
@maihaihua `extract-text-webpack-plugin` don't handle `url`, seems your have invalid configuration, please provide full config or minimum reproducible test repo.

[2017-08-03 14:07] elrumordelaluz commented on #588
Same situation only when migrating from `2.1.2`into `3.0.0`

[2017-08-03 14:33] lord0gnome commented on #569
I was using the deprecated
[code]
but changing it to
[code]
fixed it!!

[2017-08-04 05:11] maihaihua commented on #589
My repo config like this：
https://github.com/maihaihua/webpack-test.git

[2017-08-04 07:14] willin opened #590 "dumplicate css files"
[code]

build `app.css` and `style.css` and both are same.

https://github.com/AirDwing/webpack-lab/blob/antd/build/webpack.config.js#L71-L74

and the filename i specific is 'style.css'

[2017-08-04 07:17] #590 closed

[2017-08-04 18:13] nyngwang opened #591 "How does options.publicPath work?"
version: "extract-text-webpack-plugin": "^3.0.0",

I want to know how exactly publicPath option does. The following settings didn't override "foo/" with "bar/".

[code]

[2017-08-05 01:31] Plortinus opened #592 "Unable to HMR (Hot Module Replacement) css with version 3.0.0"
**Versions:**
webpack 3.4.1
webpack-dev-server: 2.6.1
extract-text-webpack-plugin: 3.0.0

There is a pull request about [Hot module replacement](https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/89). It was accepted in [version 2.2.0](https://github.com/webpack-contrib/extract-text-webpack-plugin/milestone/2). But there is no v2.2.0.
Now I updated the package to the version 3.0.0

[2017-08-05 08:59] dmitrybelyakov opened #593 "JS file change is emitted on CSS change since version 3"
Hi,

We are seeing a strange behaviour with extract text version 3: when a sass file is being changed several times in a row we get different file changes being emitted. Basically it alternates between just the css file and both js and css files although the js file was not changed at all. That happens every other time so that when you do several saves in a row:

  * css is reported
  * both css a

[2017-08-05 11:44] webpack-bot opened #594 "Plugins always emitted in watch mode"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When I'm on watch mode, plugins like `html-webpack-plugin` and `extract-text-webpack-plugin` always emitted, even when I'm changing something in my js file.
It started when I upgraded to webpack@3.3.0.
When I go back to webpack@2.3.3 it doesn't happen.

a minimal reproduceable example:

config:
[code]

[2017-08-05 14:52] oguzhanabali commented on #529
I'm still getting the warning.

[2017-08-05 23:26] d3viant0ne commented on #529
@oguzhanabali  Read the comment directly above yours. The warning will be emitted by any plugin using the now deprecated `Chunk.modules` when trying to upgrade to `webpack@3.x`

[2017-08-06 05:41] gbhipolitoglyph commented on #155
thank you cwallervand, because of all the answers I've googled, nobody, not one, told me that you have to import './sass/main.scss';
that very simple piece of code. Not one, noone

[2017-08-06 21:18] BkunS commented on #574
Still have the problem with Webpack^3.4.1 with extract-text-webpack-plugin^3.0.0.
webpack.config.js:
...
module: {
    rules: [
    {
        test: /\.css$/,
        include: path.join(__dirname, 'src', 'css'),
        use: ExtractTextPlugin.extract({ fallback: 'style-loader', use: 'css-loader' }),
      }
     ],
},
plugins: [
    new ExtractTextPlugin('bundle.css'),
]
...

[2017-08-07 03:10] vichajser commented on #322
I ran into the same problem, but when I was using `loader,` the problem still existed.
my `webpack: 2.2.1`
`node: v8.2.1`
`npm: 5.3.0`
and `extract-text-webpack-plugin: 2.0.0-beta.4`
@kvinogradov  I need you help

[2017-08-07 06:15] malinushj commented on #593
I'm having this issue as well

[2017-08-07 17:57] PezCoder commented on #503
@sbadri2001 Acc to documentation:
This is what [style-loader](https://webpack.js.org/loaders/style-loader/) do:

& this is what [ExtractTextWebpackPlugin](https://webpack.js.org/plugins/extract-text-webpack-plugin/) do:

You'll probably never need to do both at one place but put inlining as a fallback to when ExtractTextWebpackPlugin fails.

[2017-08-08 03:15] vinpac opened #595 "Wrong output when importing a css module"
Hi, I'm getting a strange behavior when I import a css module.
When I Include..
[code]
...in my Layout.js the output css is only these two and the rest of my `.scss` files are ignored. It looks like they replace all the style imported before and replace them. I tried import them later, importing only one, the behavior is the same. If I remove these two the output is all my `.scss` as it should be

[2017-08-08 03:18] tony commented on #54
This still feels like quantum physics to me, even with the benefit of https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/54#issuecomment-183778333

I need some situational awareness for this. How do you end up with just the .css file and no stray .js tag?

[2017-08-08 08:39] gianmarcotoso commented on #581
I am having this issue with `webpack@3.4.1` and `extract-text-webpack-plugin@3.0.0`, but only when running webpack from node (running from CLI works fine).

[code]

Results in

[code]

My `package.json`:

[code]

My `webpack.config.js`

[code]

[2017-08-08 09:11] JoeBBChen opened #596 "Webpack doesn't emit less import changes , use old code."
Environmental ：

I have an less file that looks like this:

[code]

[code]

When modifying the `common.less`, the changes are not emitted. However, if I change `index.less`, it works fine.

My webpack.config.js looks like this:
[code]
I search anywhere but can't find a workaround, Can help me ? please~

[2017-08-08 11:27] timkelty commented on #54
@tony You would import/require your .css file within _an existing_ .js entry point, so there shouldn't be any "stray" js.

[2017-08-09 21:45] tony commented on #54
Thanks @timkelty

I fixed this, when using [django-webpack-loader](https://github.com/ezhome/django-webpack-loader) by switching

[code]

to

[code]

[2017-08-10 01:55] JoeBBChen commented on #596
I am sorry about that. After I update the happypack version, it work normal。 Happypack remove cache system after verrsion 3.1.0， so it's better to upgrade to a higher version than version 3.1.0。close it。

[2017-08-10 01:55] #596 closed

[2017-08-10 07:59] stephennancekivell commented on #579
My team is also experiencing this problem and I can confirm that when I downgrade to `extract-text-webpack-plugin@2.1.2` It resolves the problem. I've tried with `webpack` 3.4.1 & 3.5.2.

[2017-08-10 19:50] IAMtheIAM commented on #30
Here's my updated loader config

This configuration allows for Hot Module replacement with SCSS files using webpack dev server, and extracttextplugin for production mode to emit actual .css files. Dev server mode simulated using extracted CSS because it loads the files in the <head> when `?sourcemap=true` on a previous loader

I also don't use the styleUrls property, I import the .scss file outsid

[2017-08-11 18:01] cletusw commented on #592
It wasn't ever merged. It was Closed with *unmerged changes* for 2.2.0, not accepted: https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/89#issuecomment-284304963

[2017-08-12 15:26] linkeer8802 opened #597 "It is occur error when use require.ensure function lazy load the module incudle css file."
**index.js:**
[code]
**dialog.js**
[code]
I config the index.js as a entry,but the  dialog.js are not,that is to say dialog.css will not to be extracted,
it will inline in js file, in this case will occur error.

[2017-08-13 02:43] baldlion commented on #579
+1

[2017-08-13 05:25] cletusw commented on #579
Can anyone provide a *minimum* but complete repro case for this issue? I'm working on whittling mine down but it may take a while.

[2017-08-13 07:28] lilian132 opened #598 "chunk.sortModules is not a function"
v 3.0.0

`rules:[
      {
        test: /\.css$/,
        use: ExtractTextPlugin.extract({
          fallback: "style-loader",
          use: "css-loader"
        })
      },
    ]`

` plugins: [
    new ExtractTextPlugin({
      filename: "[name].[contenthash].css"
    })
]`

Converting the version back to 2.0.0 does not appear to be the problem, but this problem occurs only in 3.0.0

[2017-08-13 09:13] alshimaa14 opened #599 "EasySass: could not generate CSS file. See Output panel for details."
I'm using Ionic2,,, when I write in .scss file and save changes I got thih error: EasySass: could not generate CSS file. See Output panel for details. and the system create file.css and file.min.css , and I can't apply css to buttons what should I do?

[2017-08-14 13:55] cemlacrosse opened #600 "Sass-loader, Webpack 3 and Extract Text not working"
Here is my web.config.js. It's not generating the 'commons.css' in the output folder.

/*eslint-disable */
const webpack = require('webpack');
const ExtractTextPlugin = require('extract-text-webpack-plugin');
const CleanPlugin = require('clean-webpack-plugin');
const CopyWebpackPlugin = require('copy-webpack-plugin');
const { AureliaPlugin } = require('aurelia-webpack-plugin');

const path = requi

[2017-08-14 14:03] evilebottnawi commented on #600
@cemlacrosse please provide minimum reproducible test repo, it is hard to read code in issue and difference to reproduce without repo, thanks!

[2017-08-14 14:49] cemlacrosse commented on #600
@evilebottnawi I created this repo that uses the same versions of webpack, extract and sass-loader.

https://github.com/cemlacrosse/super-minimal-aurelia

steps:
git clone repo
npm install
run webpack

[2017-08-14 15:03] evilebottnawi commented on #600
@cemlacrosse thanks!

[2017-08-14 16:11] cemlacrosse commented on #600
@evilebottnawi I got the sample repo project working with sass. Still haven't gotten it working with my real project which is not possible to put in a github repo.

[2017-08-14 16:58] a-eid opened #602 "I'm getting this error and don't know what is going on Child extract-text-webpack-plugin node_modules/extract-text-webpack-plugin... ?"
stylesheets are not included properly .

`Child extract-text-webpack-plugin node_modules/extract-text-webpack-plugin/dist node_modules/css-loader/index.js??ref--0-2!node_modules/postcss-loader/lib/index.js??ref--0-3!src/components/Helpers/Press/index.css:
`

[code]

[2017-08-14 17:06] evilebottnawi commented on #602
@a-eid thanks for issue, can your provide minimum test repo, this configuration is not enough to detect error, thanks!

[2017-08-14 17:09] a-eid commented on #602
the project is big I can't provide a minimum test repo . but the issue has to do with the above code

[code]

[2017-08-15 07:27] anlexN opened #603 "whether can i config such like this?"
![default](https://user-images.githubusercontent.com/8686739/29306033-26db0c72-81ce-11e7-8332-2586e20f7ab6.PNG)

[2017-08-15 08:45] evilebottnawi commented on #603
@anlexN Example of configuration contain in (https://github.com/webpack-contrib/extract-text-webpack-plugin#usage). Can your describe about your problem more?

[2017-08-15 17:19] evilebottnawi commented on #600
@cemlacrosse why your expect `commons.css`? Your don't have configuration for this. If your want to generate `common.css` your can use this example (https://github.com/webpack/webpack/tree/master/examples/multiple-entry-points-commons-chunk-css-bundle).

Based on first post in issue try to remove `allChunks: true`, use `filename: '[name].css',` instead `filename: 'commons.css'. `CommonsChunkPlugin

[2017-08-15 18:05] cemlacrosse commented on #600
@evilebottnawi I'm trying to upgrade an aurelia webpack 1.x project to the current versions of all the libraries. I'm finding this to be extremely difficult. This is what the original webpack.base.config looks like.

[code]

[2017-08-15 18:10] evilebottnawi commented on #600
@cemlacrosse for `ExtractCss` use:
[code]

[2017-08-15 19:02] cemlacrosse commented on #600
@evilebottnawi I tried that. It's still not writing the commons.css file in the output directory.
[code]

[2017-08-15 23:04] cletusw commented on #579
@d3viant0ne Here's my minimal repro case.

https://github.com/cletusw/extract-text-webpack-plugin-issue-579

It appears to be a complicated interaction between `extract-text-webpack-plugin`, `css-loader`, and `externals`. Although maybe someone else will be able to whittle it down further. I was unable to.

[2017-08-16 01:41] anlexN commented on #603
i see your example. i just hope you can help me justify if  my configuration is correct!

[2017-08-16 10:18] evilebottnawi commented on #600
@cemlacrosse it is not works? If yes which error your get?

[2017-08-16 10:20] evilebottnawi commented on #603
@anlexN what your got - error or don't extract css? Please describe your problem, thanks!

[2017-08-16 12:34] kostasmanionis opened #604 "Error: doesn't export content error every even rebuild"
I'm experiencing an issue where every even build throws this error in the console. By `every even build` I mean `Initial build -> Error thrown -> Rebuild Sucessful -> Error thrown -> Rebuild Sucessful`. The error is only visible in the browser console.

[code]

It basically tries to require a module with an `id` that doesn't exist.

Here's an older issue that also describes the problem https://git

[2017-08-16 12:57] cemlacrosse commented on #600
@evilebottnawi it's still not working. There are just fewer output files with no error messages after the updates.   It's not writing *.css, *.woff2 and *.eot files to the output folder like it did before the updates.

This is the old output before the updates.
[code]
This is the new output with the missing files after the updates.
[code]

[2017-08-16 13:03] evilebottnawi commented on #600
@cemlacrosse just update your test repo with new config, but it is not bug it is just question about how configure your configuration, more suitable place for this is `stackoverflow`, we have a lot of issue every day.

[2017-08-16 13:05] kostasmanionis commented on #598
`chunk.sortModules` has been introduced in `webpack@v3.1.0`, you must be using an older version of webpack 🤔

[2017-08-16 13:09] #598 closed

[2017-08-16 15:26] cemlacrosse commented on #600
@evilebottnawi Thanks. I think that I maybe solved my ExtractTextPlugin problem.

[2017-08-16 16:14] srsandy opened #606 "CSS file not creating with React"
I'm using all the lasted version of packages
node version : v6.11.0
OS : OSX

CSS file is not generating when I am using 'babel-preset-react'
Pls help me with it

[code]

[2017-08-16 16:17] srsandy commented on #606
I have .bablelrc file which contains
[code]

[2017-08-16 16:35] michael-ciniawsky commented on #606
[code]

Currently webpack will only look for `.scss` files in the `BUILD_DIR` which I suggest doesn't contain any files during build time :). `ExtractTextPlugin` will extract the CSS from each module imported via e.g `import style from 'file.scss'` **from** your React Components **to** `BUILD_DIR/main.css`

[2017-08-16 16:35] #606 closed

[2017-08-16 16:53] zfanning commented on #389
I saw that webpack 3 is out and was wondering about the current status of this issue?

[2017-08-16 17:06] michael-ciniawsky commented on #389
@zfanning #483 should have fixed it :)

[2017-08-16 17:06] #389 closed

[2017-08-16 17:10] michael-ciniawsky commented on #603
@anlexN

[code]

[2017-08-16 17:10] #603 closed

[2017-08-16 17:13] michael-ciniawsky commented on #602
You don't need to `require('./postcss.config.)` in `options`, just place `postcss.config.js` in the project root and `postcss-loader` loads it via `postcss-load-config`automatically

[2017-08-16 17:13] #602 closed

[2017-08-16 17:36] a-eid commented on #602
@michael-ciniawsky
- so there should be no option property ?
- how should I place `postcss.config.js` in the root as an object ? what should I name it

[2017-08-16 17:55] michael-ciniawsky commented on #602
[code]

**postcss.config.js**
[code]

[2017-08-16 17:59] michael-ciniawsky commented on #602
Only `sourceMap` or none

**webpack.config.js**
[code]

[2017-08-16 18:50] andywer commented on #567
I think this issue is still relevant.

Versions 2.x of extract-text-plugin have a webpack v2 peer dependency and version 3.0 requires webpack v3. But as far as I can see extract-text v2 is also compatible with webpack v3.

Would make perfect sense to add webpack v3 as a potential candidate in the extract-text-plugin@2.x peer dependencies.

That actually has an impact on us: andywer/webpack-blocks#

[2017-08-16 19:02] michael-ciniawsky commented on #567
To my knowledge `extract-text-webpack-plugin =< v2.0.0` isn't compatible with `webpack >= v3.0.0`, since there was a breaking change how modules get stored within a chunk `{Array} => {Set}` in `webpack v3.0.0` and therefore the API changed aswell `chunk.modules.forEach(cb) => chunk.forEachModule(cb)`.

[2017-08-17 06:54] althamash-chaipoint commented on #600
@cemlacrosse I am facing a similar issue. How were you able to fix this?

[2017-08-17 07:13] althamash-chaipoint opened #607 "css file not generated with webpack 3.5.4 and extract-text-webpack-plugin 3.0.0"
My project has a scss file that imports other scss modules. Production bundle should compile it into css and extract the code and generate a new .css file. Its quietly failing without errors. (.css file is not being generated).

sample repo:
[https://github.com/althamash-chaipoint/sample-webpack-extract](https://github.com/althamash-chaipoint/sample-webpack-extract)

steps:
npm install
webpack -p

[2017-08-17 08:41] mbhuvaneswaran commented on #607
you are loading asynchronously change the following files if you are not intending to do so
`const path = require("path");
const ExtractTextPlugin = require("extract-text-webpack-plugin");
const HtmlWebpackPlugin = require("html-webpack-plugin");

module.exports = {
     entry: {
        app: "./index.js"
    },
    output: {
        path: path.join(__dirname, "dist"),
        publicPath: "/",

[2017-08-17 08:45] althamash-chaipoint commented on #607
This fixed it. thanks for the help!

[2017-08-17 08:45] #607 closed

[2017-08-17 09:06] evilebottnawi commented on #600
@althamash-chaipoint seems it is just invalid configuration, without test repo it is difficult says something about problem

[2017-08-17 12:54] evilebottnawi commented on #572
@jk171505 your have very old version `extract-text-webpack-plugin`, please update to latest version, old version can contain bugs and unexpected behavior, seems it is impossible change directory using this old version. After update your can use `filename` as `function` and set directory. Thanks!

[2017-08-17 13:20] cemlacrosse commented on #600
@althamash-chaipoint It was the configuration. They seem to be changing how you have to configure it. It's a moving target. What works now may not work in the next release. And Aurelia is still working with my current configuration. I'm stilling working out the bugs with the aurelia-webpack-plugin.

This is part of the configuration for the Extract Text Plugin. Your entry point also matters a lot

[2017-08-17 18:47] IvanKalinin commented on #600
I have the same issue using
`"extract-text-webpack-plugin": "^3.0.0",`
`"webpack": "^3.5.5",`

[webpack.config.js](https://gist.github.com/IvanKalinin/789abe68feb6bfde066574463d43deef)

There is no any errors/warnings in console. The styles just don't loads in the document.

[2017-08-18 02:22] althamash-chaipoint commented on #600
If it helps anyone, I made a mistake when importing the scss file. I changed the import statement from
`import ('./test.scss')`
to
`import './test.scss'`
Refer [https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/607](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/607)

[2017-08-18 06:28] chenjun1127 commented on #384
Thanks

[2017-08-18 09:06] evilebottnawi commented on #600
@IvanKalinin @althamash-chaipoint please create new issue, don't write own problems in this issue, because it is likely not to be answered, thanks!
@cemlacrosse can we close this issue?

[2017-08-18 09:11] evilebottnawi commented on #599
@alshimaa14 without minimum reproducible test repo is difficult to say what is wrong, thanks!

[2017-08-18 09:17] evilebottnawi commented on #597
@linkeer8802 please show your error(s), without this information we can not help (maybe invalid configuration or old version(s), or maybe your are right it is bug), better if your create minimum reproducible test repo, thanks!

[2017-08-18 09:28] evilebottnawi commented on #595
@vinpac Most likely you just have the wrong configuration. Why your use `test` before `rules`? Why your add `include` and `exclude` options for rules? Can your provide minimum reproducible test repo?

[2017-08-18 09:33] evilebottnawi commented on #121
Closing due to inactivity. It was not solved already for two years and no one requested this feature. Feel free to reopen if you think otherwise and describe your feature request more informatively. Thanks!

[2017-08-18 09:33] #121 closed

[2017-08-18 09:42] evilebottnawi commented on #51
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 09:42] #51 closed

[2017-08-18 09:56] evilebottnawi commented on #128
Already fixed [changelog](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/CHANGELOG.md)

[2017-08-18 09:56] #128 closed

[2017-08-18 09:58] evilebottnawi commented on #113
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 09:58] #113 closed

[2017-08-18 09:59] evilebottnawi commented on #161
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 09:59] #161 closed

[2017-08-18 10:00] evilebottnawi commented on #190
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 10:00] #190 closed

[2017-08-18 10:01] evilebottnawi commented on #491
@phaistonian prbolem still exists? If yes, please create minimum reproducible test repo, thanks!

[2017-08-18 10:08] evilebottnawi commented on #485
@manuelro @DanielTate @radix seems problem with installation `webpack` or maybe `webpack` have problems in `2.*` version with location `webpack/lib/Chunk`, but we can't fix this in `extract-text-webpack-plugin` :disappointed: I close the problem here, feel free to reopen if your have solution for this (or minimum reproducible test repo which demonstrate problem), thanks!

[2017-08-18 10:08] #485 closed

[2017-08-18 10:12] evilebottnawi commented on #233
@arasmussen problems still exists? Can we close issue?

[2017-08-18 10:12] evilebottnawi commented on #259
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 10:12] #259 closed

[2017-08-18 10:14] arasmussen commented on #233
Not sure, feel free to close though

[2017-08-18 10:14] evilebottnawi commented on #459
Closing due to inactivity. Seems fixed https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/508, please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 10:14] #459 closed

[2017-08-18 10:15] #233 closed

[2017-08-18 10:29] evilebottnawi commented on #137
@quadrupleslap @Maxlufs problem still exists?

[2017-08-18 10:31] evilebottnawi commented on #492
Closed because was solved https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/492#issuecomment-299095332

[2017-08-18 10:31] #492 closed

[2017-08-18 10:32] evilebottnawi commented on #509
Closed because was solved https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/509#issuecomment-304230051

[2017-08-18 10:32] #509 closed

[2017-08-18 10:41] evilebottnawi commented on #577
@wmertens seems add event is good solution. Can your write PR this for this?

[2017-08-18 10:45] wmertens commented on #577
@evilebottnawi I'd gladly create a PR but I don't know how to know when a text file was changed.

[2017-08-18 10:48] evilebottnawi commented on #577
@wmertens in theory we can store hash of extracted files and when compare them with new extracted files, what do your think about this?

[2017-08-18 10:50] evilebottnawi commented on #307
@ajbrun problem still exists?

[2017-08-18 10:52] evilebottnawi commented on #236
@track0x1 can your describe use case for interpolate `[name]` in loader query param?

[2017-08-18 10:53] evilebottnawi commented on #406
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 10:53] #406 closed

[2017-08-18 11:03] evilebottnawi commented on #92
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 11:03] #92 closed

[2017-08-18 11:04] evilebottnawi commented on #93
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-08-18 11:04] #93 closed

[2017-08-18 11:06] wmertens commented on #577
If you are already creating a hash, that would be great; if not, it seems
that there could be a more direct way somehow? Like keeping a list of files
that were output in this compile?

On Fri, Aug 18, 2017 at 12:48 PM Evilebot Tnawi <notifications@github.com>
wrote:

[2017-08-18 11:07] evilebottnawi commented on #513
@rebelrebel82 Can your provide use case for this? Better with minimum reproducible test repo, thanks!

[2017-08-18 11:09] evilebottnawi commented on #577
@wmertens we already have content have https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/src/index.js#L209

[2017-08-18 11:12] evilebottnawi commented on #592
@Plortinus @cletusw because PR was abandoned, feel free to recreate PR, thanks!

[2017-08-18 11:14] evilebottnawi commented on #470
@kisenka why don't use `file-loader` (`url-loader` or other) fro this?

[2017-08-18 11:14] evilebottnawi commented on #577
@wmertens btw can your describe more informatively why it is needs?

[2017-08-18 11:16] evilebottnawi commented on #591
@nyngwang should be works https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/7ae32d9c560ef0a7dd584e3bf5991bacd5753093/src/loader.js#L39. Can your create minimum reproducible test repo? Thanks!

[2017-08-18 11:18] evilebottnawi commented on #587
@mcongy just disable `sourceMap` for `css-loader` (https://github.com/webpack-contrib/css-loader#options) in `production` env, thanks!

[2017-08-18 11:18] #587 closed

[2017-08-18 11:22] evilebottnawi commented on #580
@ariona problem still exists?

[2017-08-18 11:23] wmertens commented on #577
It seems that hash only gets created on-demand, so it would be a shame to
create it every time…

I tried to describe my use case above. I need to know when a CSS file was
emitted, so that I can tell the browser to hot-reload it. Right now I'm hot
reloading every time, which is annoying…

On Fri, Aug 18, 2017 at 1:14 PM Evilebot Tnawi <notifications@github.com>
wrote:

[2017-08-18 11:24] evilebottnawi commented on #577
@wmertens why don't store hash of files directly in `webpack-hot-middleware`?

[2017-08-18 11:29] wmertens commented on #577
If I can get the hashes of all files after a compile was done, and know which ones were generated by extract-text-plugin, that would be great. Then I can indeed track hashes and emit on change.

But I don't know how to do that, which events to listen to…

[2017-08-18 11:40] kisenka commented on #470
@evilebottnawi because I want to ExtractPlugin to do it - merge all modules in one chunk. But I solve this via custom plugin, so the issue can be closed.

[2017-08-18 12:02] evilebottnawi commented on #470
@kisenka `extract-text-webpack-plugin` don't know how to merge `svg` and other types, it is just remove content from `js` to other chunk. But can your provide link to custom plugin, maybe we can found solution, thanks!

[2017-08-18 12:06] evilebottnawi commented on #120
@faceyspacey can your provide information what exactly does not work as expected or wrong? Maybe we can fix it into `extract-text-webpack-plugin`, thanks!

[2017-08-18 12:07] evilebottnawi commented on #177
@ccorcos problem still exists?

[2017-08-18 12:13] kisenka commented on #470
@evilebottnawi you're right, that's why I wrote a plugin which extends ExtractPlugin and do just one thing - wraps extracted result with `<svg></svg>` :) But it was made with 1.x version of ExtractPlugin, [here is a source](https://github.com/kisenka/svg-sprite-loader/blob/e0cfbbb380232b03d450bc634bde0583ea07bcf9/lib/extract-svg-plugin.js).

[2017-08-18 12:14] kisenka commented on #470
@evilebottnawi if you mind I can make a PR to improve ExtractPlugin processing of SVGs.

[2017-08-18 12:16] kisenka commented on #470
But still you can't get it works with double extraction - extract SVGs from extracting CSS. That's why I handle this by separate plugin which emit another chunk with extracted SVGs and replace path to it in CSS - https://github.com/kisenka/svg-sprite-loader/blob/master/lib/plugin.js#L73

[2017-08-18 12:25] evilebottnawi commented on #470
@kisenka maybe best solution is add event to `extract-text-webpack-plugin` and separate this logic to other plugin (loader), it is allow to handle other types not only svg. Handle svg is out of scope `extract-text-webpack-plugin`, but with PR

[2017-08-18 12:29] kisenka commented on #470
@evilebottnawi sounds more elegant. Related issues #85 and #167.

[2017-08-18 19:51] Omazon opened #608 "chunk.sortModules is not a function"
I'm using Vue with simple webpack, and it is problem that chunk.sortModules is not a function, have researched and supposedly is the webpack and plugin version problem, but both are in the latest version and not know that most make it to make it work.

[2017-08-18 20:00] PTC-JoshuaMatthews commented on #389
I am still seeing this error using webpack 3.4.1.

[2017-08-19 10:34] kostasmanionis commented on #608
Looking at the simple webpack template it seems that it's using `"webpack": "^2.6.1"`. You either need to upgrade webpack to `v3.1.0` at a minimum, or downgrade extract-text-webpack-plugin to  `v2.1.2`.

[2017-08-19 13:47] adred opened #609 "Error: composition is only allowed when selector is single :local class name"
I can't make ExtractTextPlugin work with css-loader. I get the following error if I run `webpack -p`

[code]

The structure of my project is like this:

[code]
The content of my global styles.css is:
[code]
The content of styles.css in ErrorMessage component is:
[code]
Here's my webpack config:
[code]
What am I doing wrong? If I don't use `composes` everything is extracted just fine. Please note t

[2017-08-19 15:46] Omazon commented on #608
That is indeed what is happening, I was assumed that the command vue-webpack-simple cli installed the latest version of webpack and it is not, manually updated it and works perfect. Thank you for your answer.

[2017-08-19 18:02] kkomaz opened #610 "301 Moved Permanently - Webpack 2 production build"
On my local build I am able to separate my js and sass/css files without any issues on the front-end application.  However, on the production build I am getting a  **301 Moved Permanently** status code and none of my styles are implemented.  I am unsure why this is occurring and haven't seen anything related.  Any help would be appreciated.

Version:
Webpack 2.2.1
extract-Text-webpack-plugin 2.1.2

[2017-08-21 08:05] phaistonian commented on #491
I am not sure even sure how to reproduce it anymore but I will give it a try :)

[2017-08-21 09:28] evilebottnawi commented on #610
@kkomaz seems your have invalid server configuration. `extract-text-webpack-plugin` do not create any redirects. Just check your server configuration. If you do not know how to configure the server your can ask about this on  `stackoverflow` or other related resources. Thanks!

[2017-08-21 09:28] #610 closed

[2017-08-21 09:29] evilebottnawi commented on #608
@kostasmanionis thanks for helping :+1:

[2017-08-21 09:29] #608 closed

[2017-08-21 09:29] evilebottnawi commented on #491
@phaistonian it will be great, thanks!

[2017-08-21 14:10] kostasmanionis commented on #609
I doubt it's related to this plugin, though I could help you out if you would provide a repo which reproduces this issue 👍

[2017-08-22 02:47] GJordan904 commented on #580
I too have encountered this error and I've been banging my head against it for awhile now. Was hoping to find answers here but oh well, so here is a little more info.

Minimal [repo](https://github.com/GJordan904/polymp) with error.

In addition to the method I'm using in the repo, I have tried a number of other configs based off of the docs and other threads I've read. With other configs, I get o

[2017-08-22 12:14] evilebottnawi commented on #436
@kostasmanionis do your have solution for this? PR welcome!

[2017-08-22 12:17] kostasmanionis commented on #436
Didn't have a solution at the time that I filed this issue, I somehow ended up solving this problem for myself lol. Might as well get back to this, maybe I'll figure something out

[2017-08-22 15:57] nlemsieh opened #611 "Webpack 2: Multiple outputs"
How can I extract multiple entries into DIFFERENT folders according to the entry's path:
The code below extract all entries into the SAME folder.
[code]

I'm thinking about something like that:

[code]

Is there any way to get that working?

[2017-08-22 16:15] #611 closed

[2017-08-22 16:17] nlemsieh commented on #611
I come with this solution: so I added the output path as an entry name:

[code]

[2017-08-23 15:03] avaly opened #612 "Module ID conflict on first dev server compilation"
The latest version of `extract-text-webpack-plugin` triggers a weird bug in a webpack bundle where multiple modules share the same module ID.

For more context, see: https://github.com/webpack/webpack/issues/5560#issuecomment-324339585

[2017-08-23 15:41] evilebottnawi commented on #612
@avaly thanks for issue, can your provide minimum reproducible test repo?

[2017-08-24 10:06] adred commented on #609
@kostasmanionis  great! I will provide one as soon as possible.

[2017-08-24 15:26] shadowray commented on #133
This issue may occur due to webpack components unavailability.
In case you've installed webpack globally, try to link it up with your root directory.
`npm link webpack --save`
Or uninstall globally:
 `npm uninstall -g webpack`
and then install it locally, like that:
`npm install --save html-webpack-plugin webpack webpack-dev-server`

Hope this helps.

[2017-08-25 07:19] drizzlezxy opened #613 "css file not generated when code splitting with bundle-loader, webpack 3 and extract-text-webpack-plugin 3"
My project has modules, async loading with bundle-loader. But scss file which is imported in this modules is not being generated.

sample repo here:
[https://github.com/drizzlezxy/ReactRouter4-webpack3](!https://github.com/drizzlezxy/ReactRouter4-webpack3)

[2017-08-25 08:28] adred commented on #609
Got it working with the following config:
[code]
However it's using old version of webpack(1.15.0) and extract-text-webpack-plugin(1.0.1). Upgrading to the latest for both plugins creates too many issues. Nice welcome treat to the JS world.

[2017-08-25 08:29] #609 closed

[2017-08-25 14:45] avaly commented on #612
Unfortunately, no I don't have a minimal test case. Any attempts to remove any number of modules from our giant bundle (1000+ modules) makes the bug not present itself.

[2017-08-25 15:54] evilebottnawi commented on #612
@avaly maybe problem in webpack, if you disable `extract-text-webpack-plugin` all work fine?

[2017-08-26 18:34] sebhewelt commented on #569
I get the same error:

[code]

It happens only when i run my dist script.

[code]
These are the parts concerning ExtractTextPlugin. I believe it's some sort of incompatibility between cross-env and ExtractTextPlugin, because the same project without handling CSS using ExtractTextPlugin works. But hey, i need my styles :( .
[code]

Dependencies related to the issue:

[code]

[2017-08-26 21:29] mochawich commented on #513
Any solution for this?

The use case would be building a client app without targeting a particular environment, and then at runtime populating `__webpack_public_path__` with a server side printed value to a window variable like `window.publicPath`.

Webpack entry point

[code]

[2017-08-27 17:17] ottoo opened #614 "Updating to version 3 produces src: url([object Object]) output for fonts urls."
I updated extract-text-plugin to 3.0.0, file-loader to 1.0.0 and webpack to 3.5.5. Fonts are correctly loaded into the build folder, but looking at the extracted `app.css` file, fonts source urls are of format `src: url([object Object])`.

Font scss:

[code]

Relevant webpack config:

[code]

Extract-plugin config:

[code]

[2017-08-27 17:40] ottoo commented on #614
I also updated `file-loader` to 1.0.0. I rolled back to 0.11.2 and now the urls seem to resolve fine 🤔

[2017-08-27 22:02] DanielJDufour commented on #355
I apologize if this isn't helpful, but I ran into the same error and fixed it by running `npm install -S extract-text-webpack-plugin`.  In my case, there was a node module that was requiring an old version.

[2017-08-28 05:22] jasonwr commented on #355
@DanielJDufour I'm going to try extracting my html in the morning and will use the ExtractTextPlugin. Should work as is. Please note the version of Node you're running with.

[2017-08-28 06:58] jk171505 commented on #554
Facing the same problem with webpack 3.5.5

[2017-08-28 07:29] mygaochunming opened #615 "The same css file performance different in html with <link> tag from using the extract-text-webpack-plugin"
webpack version:  1.15.0
extract-text-webpack-plugin version: 1.0.1
node version:  6.9.1
OS: win10

English is not my mother language, so I try my best to explain what happened

The same css file, when I use it in the index.html with <link> tag , I performance well. When I use it with "import" in a vue file and use the extract-text-webpack-plugin, It performance different from using it in the html

[2017-08-28 08:00] bissmp commented on #569
@sebhewelt I have the same issue.

What I did:
commented Line 39-41 in validateOptions.js:
[code]

after that you will get the error messages.
I had to replace
[code]

with:

[code]

But now I need to refactor CSS where i include background images, as path gets not resolved.

[2017-08-28 08:45] AnimaMundi commented on #567
Nobody is talking about versions =< 2.0.0, they are referring to the current version 2.1.2 which as far as my own usage goes, does work with Webpack 3. So the peerDependency for version *2.1.2* should be updated to include Webpack 3.

Install extract-text-webpack-plugin@beta fixes the issue for me, but the documentation says this:

[code]
# for webpack 3
npm install --save-dev extract-text-webpack

[2017-08-28 09:24] evilebottnawi commented on #614
@ottoo known issue, `file-loader` now is `beta`, please use `0.11.2` version before we release stable version, thanks!

[2017-08-28 09:24] #614 closed

[2017-08-28 09:26] evilebottnawi commented on #615
@mygaochunming please upgrade your plugin to latest stable version, we don't have time to resolve problems in old versions, also old version is buggy, thanks!

[2017-08-28 10:30] tauseef-inbetween commented on #554
Passing latest webpack into the gulpWebpack function worked for me

[2017-08-28 12:02] jk171505 commented on #554
updating memory-fs to the latest break exposes this bug again. From that moment on nothing helps.
I tried to reinstall node, npm, nothing helped.
My current setup:
    "ajv": "^5.2.2",
    "css-loader": "^0.28.5",
    "extract-text-webpack-plugin": "^3.0.0",
    "handlebars": "^4.0.10",
    "metalsmith": "^2.3.0",
    "metalsmith-express": "^0.1.0",
    "metalsmith-in-place": "^1.4.4",
    "metals

[2017-08-28 12:21] jk171505 opened #616 "chunk.isInitial is not a function"
My setup:
"devDependencies": {
    "ajv": "^5.2.2",
    "css-loader": "^0.28.5",
    "extract-text-webpack-plugin": "^3.0.0",
    "handlebars": "^4.0.10",
    "metalsmith": "^2.3.0",
    "metalsmith-express": "^0.1.0",
    "metalsmith-in-place": "^1.4.4",
    "metalsmith-layouts": "^1.8.1",
    "metalsmith-permalinks": "^0.5.0",
    "metalsmith-swig": "^1.2.1",
    "metalsmith-watch": "^1.0.3",

[2017-08-28 12:56] evilebottnawi commented on #616
@jk171505 can you create minimum reproducible test repo, thanks!

[2017-08-28 13:44] ctavan commented on #585
@jknight12882 have you tried it again with `webpack@3.5.5`? I was experiencing similar problems with `webpack@3.4.1` but they are gone after upgrading webpack.

[2017-08-28 13:47] jk171505 commented on #616
@evilebottnawi here it is: https://github.com/jk171505/metalsmith-webpack

[2017-08-28 14:32] jk171505 commented on #449
node: 8.4.0
webpack: 3.0.0, 3.1.0, 3.5.5
extract-text-webpack-plugin: 3.0

the same problem...

[2017-08-29 07:02] jk171505 commented on #616
@evilebottnawi anything?

[2017-08-29 16:10] bemineni opened #617 "ExtractTextPlugin is not generating a CSS file"
"extract-text-webpack-plugin": "^3.0.0"
"webpack": "^3.5.5",
"sass-loader": "^6.0.6",
"css-loader": "^0.28.5",

Below is my config file

[code]

index.js

    ...
    require('css-loader!sass-loader!./scss/payload.scss');

I never see the below plugin in action

[code]

**webpack -d  or webpack doesn't generate the payload.css file under /build**

index.html

    <link rel="stylesheet" type="text/

[2017-08-29 16:50] #613 closed

[2017-08-29 16:53] drizzlezxy commented on #613
I made a stupid mistake, ignore this issue.

[2017-08-29 19:11] bemineni commented on #617
Some one on Stackoverflow suggested to just include
`require('./scss/payload.scss')`
so that the module from the webpack.config picks up the scss and convertsit. If I change this, then I end up with the below error

[code]

[2017-08-29 19:19] bemineni commented on #617
Even tried import './scss/payload.scss' still end up with the same above error.

[2017-08-30 01:25] michael-ciniawsky commented on #617
Could you try without `react-hot-loader` please?

[2017-08-30 03:29] bemineni commented on #617
After trying lot of combinations this is working.
[code]
Removing include in the loader and  removing disable: true, in the ExtractTextPlugin.
Why its complaining about the include I have no idea. ?

[2017-08-30 08:20] mygaochunming commented on #615
@evilebottnawi ok,thanks!

[2017-08-30 08:47] #615 closed

[2017-08-30 13:36] vinpac commented on #595
Include and exclude make the rule only applied on different files, so I can control differently css libs and internal scss files.

" Why your use test before rules?" I don't get where it can change something, sorry.

The repo and file where I change the imports:
https://github.com/vinpac/react-base/blob/master/src/components/Layout/Layout.js

It happens when building. Use 'yarn build-release or np

[2017-08-30 14:14] michael-ciniawsky commented on #595
[code]

Please include `{Error}` logs/stacktraces aswell

Maybe use two different instances of ETWP instead

**webpack.config.js**
[code]

[2017-08-30 14:37] vinpac commented on #595
[code]
➜  react-base git:(master) ✗ yarn build-release
yarn build-release v0.21.3
$ babel-node tools/run build-release
[11:35:23] Starting 'buildRelease'...
[11:35:24] Starting 'build'...
[11:35:24] Starting 'clean'...
[11:35:24] Finished 'clean' after 27 ms
[11:35:24] Starting 'copy'...
[11:35:24] Finished 'copy' after 9 ms
[11:35:24] Starting 'bundle'...
Child client:
    Time: 10794ms

[2017-08-30 16:15] michael-ciniawsky commented on #595
Like mentioned in my last comment you need **multiple**  Instances of ETWP (per rule) to make it work

[code]

Or just add `normalize.css` and other vendor libs via `<link href="cdn/path/to/lib.css" rel="stylesheet">` since you doing plain {String} copying for those anyways and only deal with App specific CSS in webpack

[2017-08-30 16:15] #595 closed

[2017-08-30 16:18] vinpac commented on #595
There's no way of putting this all in the same file?

[2017-08-30 16:32] michael-ciniawsky commented on #595
`sass-loader` should be able to handle `.css` aswell so you may join the rule and let `css-loader`@import "xyz.css";` then. I never used that before myself but you can try... Still long-term caching will be better if you split `lib|vendor.css` from `app.css` if via  CDN or separate rule is entirely your choice, albeit you don't really gain anything from doing it via webpack (`extract-text-plugin`)

[2017-08-31 01:19] khalsah commented on #612
I'm running into a similar issue when attempting an upgrade of `extract-text-webpack-plugin`.

In our case webpack-dev-server successfully completes the initial build of the project.
If you edit a stylesheet the rebuild will have the inconsistent module ID issue mentioned here.
If you then edit a javascript file the rebuild will complete successfully.

Downgrading `extract-text-webpack-plugin` to

[2017-08-31 08:17] kostasmanionis commented on #617
You sure it's not just the disable option? If you have `disable: true` welll... it's disabled then, so I guess the plugin won't be doing anything

[2017-08-31 08:20] kostasmanionis commented on #616
@jk171505 it's `metalsmith-webpack`, it uses an old webpack verision. see https://github.com/christophercliff/metalsmith-webpack/blob/master/package.json#L23

If you can't update that package you probably gonna have to use `1.0.1` of `extract-text-webpack-plugin`

[2017-08-31 09:43] jk171505 commented on #616
@kostasmanionis good point, updated webpack of metalsmith, then after installing missing sass-loader in the root I see the same bug...

[2017-08-31 09:49] jk171505 commented on #616
Maybe this puts some light on the problem:
everything worked fine, but I wasn't able to change the output path of the generated css. I decided to update memory-fs globally. From that moment on 'chunk.isInitial is not a function' bug came up...

[2017-08-31 10:18] evilebottnawi commented on #612
@khalsah maybe you can create minimum reproducible test repo or at least make the screenshot?

[2017-08-31 11:39] kostasmanionis commented on #616
Are you sure that `metalsmith-webpack` is using `3.*.*` when you get that error? Take a look at the `node_modules` and check the `package.json`.

Doesn't seem likely that a global `memory-fs` update would cause issues.

[2017-08-31 12:12] jk171505 commented on #616
@kostasmanionis you're right... I'm not sure what I did before, but the webpack of metalsmith wasn't updated. Now everything works fine, except I can't change the output of the css file.

[2017-08-31 14:11] evilebottnawi commented on #616
@jk171505 can we close issue?

[2017-08-31 14:15] jk171505 commented on #616
yes, thanks

[2017-08-31 14:34] #616 closed

[2017-08-31 17:23] WiseBird opened #619 "Webpack emits unchanged files"
[Repo](https://github.com/WiseBird/webpack_emit) with code in question.

I have [a single js file](https://github.com/WiseBird/webpack_emit/blob/master/src/index.js), that requires some js/css and prints message:
[code]

Webpack [configured](https://github.com/WiseBird/webpack_emit/blob/master/webpack.config.js) to extract manifest chunk and also to extract all external packages to vendor chunk:
[

[2017-08-31 22:23] Newbie012 commented on #485
There's no need to downgrade the Webpack version. You just need to save it locally (not globally). Not the best solution, but I believe that's temporary.

Fo more details: https://stackoverflow.com/a/34673117/1860540

[2017-08-31 23:56] tim545 commented on #524
Thanks @matt-d-rat! that helped me a lot, for me I had to rename the `fallbackLoader` option to `fallback` and `loader` to `use`

[2017-09-01 08:58] lqzerogg commented on #588
oh god, when can this bug be fixed?

[2017-09-01 10:26] evilebottnawi commented on #588
@lqzerogg When someone can find time for this, so PR welcome :+1:

[2017-09-03 13:50] aristov opened #620 "Plugin doesn't work in conjunction with Babel and UglifyJS"
Config:
[code]
Error:
[code]
When I add the `module.rules` property to the config object, Babel processing is broken and UglifyJS can not process ES2015 syntax.
Without the `rules` property build runs normally, but CSS code is not extracted.

[2017-09-03 22:56] michael-ciniawsky commented on #620
[code]

[2017-09-03 22:56] #620 closed

[2017-09-04 00:51] aristov commented on #620
[code]

[2017-09-04 01:17] michael-ciniawsky commented on #620
[code]

Just add the `babel-loader` rule to `module.rules` to avoid such  errors

[2017-09-04 03:33] sentience commented on #612
We're blocked from upgrading to 3.0 by this issue too, and I've managed to reduce our app down to a near-minimal test case: https://github.com/cultureamp/multi-loader-extract-text-bug

This Webpack configuration uses both `multi-loader` and `extract-text-webpack-plugin`, and removing either one seems to make the problem disappear, although I strongly suspect the use of `multi-loader` is merely a c

[2017-09-04 12:31] aristov commented on #620
It works. Thanks a lot for the quick answer and help!
My final config is:
[code]

[2017-09-04 23:57] sentience commented on #612
@avaly, @khalsah: Are either of you using multi-loader in your configs?

[2017-09-05 00:22] khalsah commented on #612
No multi-loader in our config.

[2017-09-05 16:16] sresant commented on #131
I am in the same boat as @jknight12882. Seems to be under watch mode specifically. I added some logging to see what the text object is and it is a function.

[2017-09-05 17:14] cletusw commented on #579
@d3viant0ne Can we remove the `Needs repro` tag for this one since I've provided a minimal repro case?

Also, any idea how long this will take before it can be addressed? Thanks.

[2017-09-05 17:26] evilebottnawi commented on #579
@cletusw sorry, no idea :disappointed: but you can investigate this and send PR :+1:

[2017-09-06 20:22] darklilium commented on #617
I have the same problem. My config is:
// shared config (dev and prod)
[code]

And my app is:
[code]
For some reason also im not able to maintain the folder structure like:
dist
  --css
       --images
          -- myimg.png
       myfile.css
   js
     bundle.min.js

[2017-09-06 21:23] michael-ciniawsky commented on #617
[code]

[2017-09-06 21:23] #617 closed

[2017-09-06 21:40] bemineni commented on #617
Was out of town due to the hurricane. Making disable to false and having the include will end up with the below error.
[code]

[2017-09-07 10:52] mschipperheyn opened #621 "loader is used without the corresponding plugin"
I'm using `import styles from './style.css'` style imports.

I've been beating myself over the head trying to solve this error the last couple of days.

`Error: Child compilation failed:
  Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin`

In the end, it turns out that the error in my case was very misleading. I had one of the css files that

[2017-09-07 10:59] pakonawala opened #622 "webpack 2: Error when compiling having sass-loader errors"
Having issues with webpack 2 and extract-text-webpack-plugin it appears that the sass loader cant load the sass files any help will be greatly appriciated.

Config
var webpack = require('webpack');
const path = require('path');
var ExtractTextPlugin = require("extract-text-webpack-plugin");

// CSS files output
// They are outputed directly on the dist root folder because of the webpack resolve ur

[2017-09-07 21:07] michael-ciniawsky commented on #621
Is this issue now resolved or not ? :) Please post your `webpack.config.js`  and the `file.css` in question and feel free to reopen in case it's not. `Syntax Errors` are out of scope for this plugin as it never parses the contents itself. The misleading Error origins from a failing loader somewhere in your loaders chain, which breaks the loader side of the plugin.

[2017-09-07 21:07] #621 closed

[2017-09-08 02:00] kuanyen commented on #66
.........
Is this problem still has no solution...? Alas...

[2017-09-08 10:29] evilebottnawi commented on #66
@here Please create new issue, don't write about own problems here, thanks!

[2017-09-08 21:09] MaxKramnik commented on #569
@sebhewelt, most likely something else is not valid in your webpack config file (at least that was my case).
Open this file
```E:\Front-End Projects\fishky for bold guy\node_modules\schema-utils\dist\validateOptions.js```
and right before this line
```throw new _ValidationError2.default(ajv.errors, name);```
add
```console.log(ajv.errors)```
and rerun your build commands. It should give you a pret

[2017-09-08 22:59] jjinux commented on #579
In order to work around this issue, I:

 * Forked.
 * Created a branch starting from 2.1.2.
 * I applied the following patch in order to work around https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/548.

[code]

I'm not sure if it'll hold up, but until this issue is resolved, this may unblock me from moving to Webpack 3. Thanks to @kevinzang for the idea.

[2017-09-08 23:17] JayCanuck commented on #579
Awesome idea @jjinux That sorting issue was the one big issue I had with downgrading (plus the npm `package.json` wanting webpack 2.x). Would you be able to share your fork url?

[2017-09-08 23:26] jjinux commented on #579
Sorry, @JayCanuck, I created a private fork in my company's GitHub team. Hopefully, my description above will allow you to do the same.

[2017-09-09 11:31] peterpeterparker commented on #503
Just gonna let that here, faced the same problem, finally after trying different solutions, what worked for me was just removing the fallback

    {
        test: /\.css$/,
        use: ['to-string-loader'].concat(ExtractTextPlugin.extract({
          //fallback: 'style-loader', <====== There, commented that line and it solved my problem
          use: [
            {
              loader: 'css-lo

[2017-09-09 13:09] peterpeterparker opened #623 "angular universal build:prod "extract-text-webpack-plugin" loader is used without the corresponding plugin"
Hi,

I've got a universal project. I have integrated `extract-text-webpack-plugin`.

When I debug doing `npm start` everything is fine.
When I try do build for production `npm run build:prod` I face the following error:

My `webpack.common.js` is the following:

    const {root} = require('./helpers');

    const webpack = require('webpack');

    const copyWebpackPlugin = require('copy-webpack-pl

[2017-09-10 06:23] qingyulove opened #624 "webpack3.3.0 extract-text-webpack-plugin3.0.0, Error executing webpack command"
### `Config`
---

**webpack.config.js**
[code]

### `Logs`
---

[code]

[code]

[2017-09-10 07:43] michael-ciniawsky commented on #624
Could you try

**webpack.config.js**
[code]

[2017-09-10 10:54] chhuang opened #625 "CSS emitted but it's not included in the HTML"
I can see the file is there but I don't know why it's not included in the HTML.

[code]

[code]

`manifest.json`
[code]

[2017-09-10 14:51] evilebottnawi commented on #625
@chhuang can you provide minimum reproducible test repo? But seems it is not related to `ETWP`, likely
is is problem in you configuration html plugin.

[2017-09-10 22:14] michael-ciniawsky commented on #625
Either use `html-webpack-plugin` or reference the file manually via `<link href="..">` in your `index.html`. `extract-text-webpack-plugin`  is only responsible for extracting the CSS

[2017-09-10 22:14] #625 closed

[2017-09-11 08:58] silaike opened #626 "get wrong css order after split code"
**Do you want to request a *feature* or report a *bug*?**
Bug.I split code in my project (dynamic routing),ExtractTextPlugin generated code get wrong css order.This is big problem in css.

**What is the current behavior?**
main.css internal order is as follows:
A.css + B.css (common) + C.css + D.css + Layout.css (reset)

![2](https://user-images.githubusercontent.com/28135713/30266704-d191c71a-971

[2017-09-11 09:12] editedredx commented on #579
Created a fork containing the workaround from jjinux if anyone needs it for now until it's fixed:
https://github.com/editedredx/extract-text-webpack-plugin/tree/bug-579-workaround

[2017-09-11 22:21] julmot commented on #200
@bebraw You can reproduce it in my repository [here](https://github.com/julmot/form-components/blob/v0.1.0/src/components/_common/index.js#L1-L2). The normalize.css is generated after the other required components.

Relative issues I've found:
- https://github.com/webpack/webpack/issues/1343
- https://github.com/babel/babel/issues/2061
- https://github.com/webpack/webpack/issues/215

[2017-09-12 12:53] evilebottnawi commented on #579
@editedredx can you describe you fix or do PR (better)?

[2017-09-12 14:09] editedredx commented on #579
Sorry @evilebottnawi, this is hardly a fix for this problem, just a workaround to make plugin version 2.1.2 work with webpack 3. I only applied the diff from jjinux.
I can make a pull request from my current branch if you want but I don't think it'll help fix this issue.

[2017-09-12 14:24] evilebottnawi commented on #579
@editedredx can we fix this using your solution for `3` version?

[2017-09-12 15:15] qingyulove commented on #624
Thank you for your advice, I convert webpack to 3.5.6 version of the run is good, then I went back to the version of webpack3.3.0 running good, before the problem is now unable to reproduce, I am sorry that I can't try your suggestion. I'll try again when the problem is repeated. Thank you very much for your advice

[2017-09-12 16:19] michael-ciniawsky commented on #624
Feel free to reopen if still regressions

[2017-09-12 16:19] #624 closed

[2017-09-12 17:43] joaovieira commented on #612
same issue, no multi-loader. also tested:
- `extract-text-webpack-plugin@2.1.2` + `webpack@3.5.6`: ok
- `extract-text-webpack-plugin@3.0.0-beta.0` + `webpack@3.5.6`: not ok

first build is fine, but on rebuild module IDs get moved around

[2017-09-12 17:50] evilebottnawi commented on #612
@joaovieira can you provide minimum reproducible test repo, it is allow more faster find solution, thanks!

[2017-09-12 20:18] sresant commented on #586
I had a similar issue using ETP 3.0.0 and Webpack ^3.4.1 and by setting the cache option to false I was able to side step this issue. Not the best fix but fixes watch mode for us.

[2017-09-12 21:14] joaovieira commented on #612
Yes, will try and see what I can find. Just had to run off of work earlier. Will post with details.

[2017-09-12 22:39] zallek commented on #550
would be great

[2017-09-13 00:17] NigelGreenway commented on #617
@bemineni After about 2 hours of trying to get this working myself, this helped me solve the issue! \o/

My config can be found [here](https://gist.github.com/NigelGreenway/66d356ad7920375efabfe4c392df0f7f) _(Please note that the prefix of `tools--` is a folder named `tools` in which the `dev` & `prod` confs live)_

I was getting the error that you were saying, but after tinkering around I found t

[2017-09-13 01:16] joaovieira commented on #612
Ok, spent hours trimming it down to this: https://github.com/joaovieira/webpack-extract-bug. Maybe its too small as there are no CSS modules and the Sass file and class that go through `extract-text` are not even used. But the symptoms are always the same - a module is replaced and called with unexpected args.

I hope it helps. Removing any of the loaders causes it to work 😕

[2017-09-13 03:44] JulianJorgensen commented on #42
@kostasmanionis yes still experiencing it. Only when I run rimraf (yarn clean) though. Still looking into it.

[2017-09-13 08:02] editedredx commented on #579
@evilebottnawi No because this solution is not a fix for the problem only a downgrade to when the problem did not exist.

[2017-09-13 10:07] evilebottnawi commented on #550
@zallek you can disable output in `webpack`, we use `createChildCompiler` https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/7ae32d9c560ef0a7dd584e3bf5991bacd5753093/src/loader.js#L44 and `webpack` output this information

[2017-09-13 10:07] evilebottnawi commented on #612
@joaovieira thanks!

[2017-09-13 11:57] evilebottnawi commented on #612
@joaovieira seems something wrong with cache, try to add `cache: false` to `webpack.config.js` and all works as expected :confused:

[2017-09-13 12:17] evilebottnawi commented on #612
@joaovieira just add code for invalidate cache to https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/src/loader.js#L51
[code]

[2017-09-13 12:19] evilebottnawi commented on #612
@sentience @joaovieira and you are right, it is regression after upgrade from `2.1.2` to `3`

[2017-09-13 12:32] evilebottnawi commented on #612
PR https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/627

[2017-09-13 12:38] evilebottnawi commented on #626
@silaike can you create minimum reproducible test repo (with description in readme about what you get and what you expected), it is difficult to test using source code from `github`, thanks!

[2017-09-13 12:40] evilebottnawi commented on #623
@peterpeterparker why you use `to-string-loader` before `ExtractTextPlugin`. Can you move `to-string-loader` to `fallback` option?

[2017-09-13 12:42] evilebottnawi commented on #622
@pakonawala Seems you have invalide configuration `sass-loader`. Can you create minimum reproducible test repo?

[2017-09-13 12:45] evilebottnawi commented on #619
@WiseBird you can have `cache` option with `false` value in production mode, it is invalidate all `webpack` caches. Can you show your webpack config file, or create minimum reproducible test repo (better)?

[2017-09-13 12:56] silaike commented on #626
@evilebottnawi thank you for your reply, I solved this issue [here](https://github.com/webpack/webpack/issues/5666).

[2017-09-13 12:56] #626 closed

[2017-09-13 12:58] evilebottnawi commented on #109
Seems duplicate https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/58, close here. If you think it is not duplicate feel free to reopen issue, thanks!

[2017-09-13 12:58] #109 closed

[2017-09-13 13:02] evilebottnawi commented on #118
@dmitriid @mrsum @TrejGun @preschian @olegggI @redhead @codisms @fezhengjin @scythargon @ryanbagwell problem still exists?

[2017-09-13 13:07] dmitriid commented on #118
I personally haven't used the plugin since :)

[2017-09-13 13:12] evilebottnawi commented on #471
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2017-09-13 13:12] #471 closed

[2017-09-13 13:16] sokra commented on #612
This is a webpack bug. The cache is not correctly created. webpack should handle caches for child compilers.

[2017-09-13 13:16] evilebottnawi commented on #307
Closing due to inactivity. Please test with **latest version** and feel free to reopen if still regressions. Thanks!

[2017-09-13 13:16] #307 closed

[2017-09-13 13:17] evilebottnawi commented on #612
@sokra should we https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/627 as workaround before `webpack` fir this bug?

[2017-09-13 13:18] sokra commented on #612
Give me a few hours and I fix it in webpack...

[2017-09-13 13:19] evilebottnawi commented on #185
@wenbing @theandrewchan problem still exists?

[2017-09-13 13:21] evilebottnawi commented on #592
@Plortinus @cletusw also can you create minimum reproducible test repo? It is allow to find solutoin more faster, thanks!

[2017-09-13 13:21] evilebottnawi commented on #522
@marcopeg friendly ping

[2017-09-13 13:24] evilebottnawi commented on #491
@phaistonian Closing due to inactivity. Please test with **latest version** and feel free to reopen if still regressions. Also be great if you create minimum reproducible test repo (if problem still exists). Thanks!

[2017-09-13 13:24] #491 closed

[2017-09-13 13:55] evilebottnawi commented on #588
@djeeg @elrumordelaluz @lqzerogg Thanks for issue. Right now `ETWP` doesn't support `hmr`. Seems duplicate https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/592. Feel free if you think it is not duplicate. Close this issue here, because https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/592 is more cleaner name and description around issue. Thanks!

[2017-09-13 13:55] #588 closed

[2017-09-13 14:01] peterpeterparker commented on #623
@evilebottnawi do you mean like following?

    {
        test: /\.css$/,
        use: ExtractTextPlugin.extract({
          fallback: 'to-string-loader',
          use: [
            {
              loader: 'css-loader', options: {
                minimize: true,
                sourceMap: true
              }
            }
          ]
        })
      },
      {
        test: /\.scss$/,

[2017-09-13 14:07] evilebottnawi commented on #623
@peterpeterparker `fallback: ['to-string-loader', `style-loader`]`

[2017-09-13 14:08] evilebottnawi commented on #217
@wbobeirne @francoisromain @stipsan can you provide minimum reproducible test repo?

[2017-09-13 14:11] peterpeterparker commented on #623
thx, same error respectively

    TypeError: cssText.replace is not a function
    at extractStyleUrls (/Users/me/myproject/dist/server.js:52802:52)

[2017-09-13 14:44] evilebottnawi commented on #623
@peterpeterparker please provide minimum reproducible test repo, thanks!

[2017-09-13 15:07] Plortinus commented on #592
@evilebottnawi [issue592 repro](https://github.com/Plortinus/issue592)

[2017-09-13 15:22] peterpeterparker commented on #623
@evilebottnawi sure, here you go:

    git clone https://github.com/peterpeterparker/universal-extract
    cd universal-extract
    npm install
    npm run build:prod

[2017-09-13 17:03] evilebottnawi commented on #623
@peterpeterparker Workaround https://github.com/webpack-contrib/style-loader/issues/123#issuecomment-230079894, also i recommend read this thread, thanks!

[2017-09-13 17:05] evilebottnawi commented on #561
@raiprabh problem still exists?

[2017-09-13 17:49] redhead commented on #118
I moved away from JavaScript :D

[2017-09-13 18:29] peterpeterparker commented on #623
@evilebottnawi thx for pointing that out but I'm probably dumb and a webpack noob. When I do like described in the comment

    {
        test: /.css$/,
        exclude: root('src', 'app'),
        loaders:[ExtractTextPlugin.extract('style', 'css-loader'), 'to-string', 'css']
    }

I get the error

Invalid configuration object. Webpack has been initialised using a configuration object that does n

[2017-09-13 19:18] joaovieira commented on #612
Awesome. Great work guys! @sokra @evilebottnawi glad I could help.

[2017-09-13 20:33] #612 closed

[2017-09-13 20:50] vadimshvetsov commented on #330
It's really working with `use` instead `loader` I want to expand @bebraw closing comment with an example with some:

Packages: webpack - 3.5.6, extract-text-webpack-plugin - 3.0.0.

[code]
Also I've tested this with code splitting and webpack pushes all the css imports to the style tag as expected.

[2017-09-13 22:53] #604 closed

[2017-09-13 22:59] sresant commented on #619
This sounds like https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/594

[2017-09-14 08:20] evilebottnawi commented on #623
@peterpeterparker adapt this solution for `webpack@3`, chagen `loader` to `use`

[2017-09-14 08:22] evilebottnawi commented on #619
@sresant maybe, need investigate and close if it is duplicate

[2017-09-14 09:16] nantao605 commented on #580
I got the same problem!but when i change the file from scss to less,it is all ok.

[2017-09-14 09:28] evilebottnawi commented on #580
@nantao605 please provide you `webpack` config, thanks!

[2017-09-14 09:42] nantao605 commented on #580
when i use scss file, my config is blow:

        `rules:[
            {
                test: /.\js$/,
                use: ['babel-loader'],
                exclude:[/node_modules/],
            },{
                test:/.\scss$/,
                use:ExtractTextPlugin.extract({
                    fallback:'style-loader',
                    use: ['css-loader','sass-loader']
                }),

[2017-09-14 10:12] evilebottnawi commented on #580
@nantao605 why you use `include`?
`include` - `An array of paths or files where the imported files will be transformed by the loader`.
In other path, example `node_modules` this loader doesn't works.

[2017-09-14 11:00] peterpeterparker commented on #623
@evilebottnawi sorry I'm pretty dumb but do you mean then something like for `webpack3`?

    {
                test: /.css$/,
               exclude: root('src', 'app'),
                use: ExtractTextPlugin.extract({
                    use: ['style-loader', 'css-loader', 'to-string-loader']
                })
            },
            {
                test: /.scss$/,
                use: Ext

[2017-09-14 11:10] evilebottnawi commented on #623
@peterpeterparker
1. Use `\.css$` and `\.scss$` (escape `\`), because `foo-bar.non-css` match with `.css$` regex, it can to strike strange errors and unpredictable behavior.
2. Double check configuration, seems you don't have `ETWP` plugin in `plugin` field, maybe you override this in merge.

But it is not bug and not feature and don't related to `ETWP` plugin. For consultation questions use `stac

[2017-09-14 11:35] peterpeterparker commented on #623
@evilebottnawi thx for the feedback. ok I gonna let the task open till I find the solution to document it (if I find one one day, already spent way to much time on this...). Again thx for the help, appreciated

[2017-09-14 13:46] schmuli commented on #504
@evilebottnawi

While it is true that these are different, however:

1. The difference didn't stick out so well, since they are so similarly named, and it took reading the README and comparing it with the Webpack docs, in order to notice the difference and how it affects the build

2. The difference is unexpected, since the meaning of both `chunkhash` and `contenthash` are basically the same, it i

[2017-09-15 00:29] wayofthefuture commented on #550
@evilebottnawi My webpack is already full of so much scaffolding I'd rather not implement more. There should be a simple fix to this. Thanks.

[2017-09-15 00:30] wayofthefuture commented on #550
@d3viant0ne I think a higher priority may be better... It is possible for us to miss very important build errors due to the output of this plugin. I'm always having to scroll endlessly up the terminal screen.

[2017-09-15 15:43] peterpeterparker commented on #623
just printed out to the console the loaded webpack config, look like the `plugin` field is merged correctly respectively that `ExtractTextPlugin` is loaded. I think there is an incompatibility with `AotPlugin` which is not use when I debug which could explain why it works when I debug and not when I build prod

    { devtool: 'source-map',
      resolve: { extensions: [ '.ts', '.js' ] },
      out

[2017-09-16 00:53] Amos47 commented on #397
What's the status on this? Still seeing the error. Is there a proper solution?

[2017-09-17 19:18] julmot commented on #428
This is the issue on StackOverflow created by @Tiendq:

https://stackoverflow.com/questions/42478964/cant-extract-multiple-css-files-from-a-single-js-entry-imported-multiple-sc

I'm having the same situation: One entry that imports two SCSS files and I want to export these two SCSS files as separate CSS files. So not bundling CSS files. The `filename` callback function would be a great place for t

[2017-09-17 20:30] sundagy commented on #449
I am install local version webpack-dev-server and it solved the problem.

[2017-09-18 06:44] tom10271 commented on #598
I am using webpack v2.2.x but still getting this error. So I am installing a wrong version of extract-text-webpack-plugin?

[2017-09-18 07:52] renatoruk commented on #594
Are there currently any workarounds on this issue? In my setup I use browser-sync's CSS injection and since `style.scss` is imported inside `index.js` file, every save on .js files triggers re-emitting and injection of the CSS file, which is not always changed.

[2017-09-18 09:14] evilebottnawi commented on #550
@wayofthefuture can you example detail what you get and what you want?

[2017-09-18 09:16] evilebottnawi commented on #594
@renatoruk maybe related to `webpack`, in `webpack@3.6.0` version we fix cache in `child compulation`, can your try again, if problem still example can you provide minumum reproducible test repo?

[2017-09-18 09:57] hectorsabina commented on #441
For the record, I was having a similar issue and @Orgil comment pointed me in the right direction. If you split your webpack config, make sure you compose well your loader stack and plugins.

In my case I was able to use webpack-merge [smart merge](https://github.com/survivejs/webpack-merge#smart-merging) feature to avoid duplicating loader definitions so the extract text plugin was working nicely

[2017-09-18 15:40] thedamon commented on #406
I'm getting this error thrown when trying to use the Vue-loader in my dev environment and I'm trying to track down why it's happening. Wondering what this might involve/be caused by.

[2017-09-18 15:53] evilebottnawi commented on #406
@thedamon feel free to create new issue with minimum reproducible test repo, thanks!

[2017-09-18 15:55] thedamon commented on #406
We'll see if I can manage to figure it out.. our build process is a bit complex.. I'm working on isolating what's necessary. So far it seems to build fine using webpack, but fails in our server process that uses webpack-dev-middleware.

[2017-09-18 16:01] wayofthefuture commented on #550
Please see above comment for possible output...

[2017-09-19 07:32] vytch opened #628 "We cannot find that module webpack/lib/chunk"
https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/8de6558e33487e7606e7cd7cb2adc2cccafef272/src/index.js#L3

Which version of webpack would have that module?

[2017-09-19 07:43] evilebottnawi commented on #628
@vytch
`master`: https://github.com/webpack/webpack/blob/master/lib/Chunk.js
`3.6.0`: https://github.com/webpack/webpack/blob/v3.6.0/lib/Chunk.js
`2.7.0`: `https://github.com/webpack/webpack/blob/v2.7.0/lib/Chunk.js`
Please remove `package.lock` (if exists), remove `node_modules` and try to run `npm cache clean` and again `npm i`, thank you!

[2017-09-19 07:43] #628 closed

[2017-09-19 09:21] WiseBird commented on #619
@evilebottnawi , Um, there is a link to the repo in the original post. Do you see it?

[2017-09-19 09:27] evilebottnawi commented on #619
@WiseBird yep, don't have time right now to investigate, feel free to start this. thank you!

[2017-09-19 09:38] WiseBird commented on #594
@evilebottnawi , I have a similar issue (#619) where css files are emitted when js file is changes. I tried to update webpack to 3.6.0 on the [branch](https://github.com/WiseBird/webpack_emit/tree/update) and it didn't help.

[2017-09-19 10:55] alexeycrystal commented on #422
The have the same issue.
Thank's to stephenbaidu, problem is now solved. But I also don't think that this is a correct solution... must be another way to fix this.

[2017-09-19 12:36] qasimraza1979 commented on #493
codeofsumit: did the solution provide by michael-ciniawsky worked for you ?? Can you share the code.
I am also trapped into the same problem that I also want to bundle some how or the other  'cssBundle' with the package. its 2 days now :(

[2017-09-20 06:16] ayush-srtv opened #629 "chunk.sortModules is not a function while upgrading application from webpack 2 to webpack 3.0.0"
Hi,
I am upgrading my application from webpack 2.0 to webpack 3.0, i am getting error chunks.sortModules is not a function from extract-text-webpack-plugin. Here is the stackTrace
![image](https://user-images.githubusercontent.com/9304620/30629328-e52a6042-9df8-11e7-8b1c-61f3e7c6bfa1.png)
I have upgraded my webpack version to 3.6.0
![image](https://user-images.githubusercontent.com/9304620/3062936

[2017-09-20 10:42] evilebottnawi commented on #629
@ayush-srtv tru to remove `package.lock`, `node-modules` and `npm cache clean` and install again, if problem still exists after this action, please create minimum reproducible test repo, thanks you!

[2017-09-21 09:48] kostasmanionis commented on #629
Seems like you have `webpack` installed globally, but your package has another version in `node_modules`, best to inspect that.

[2017-09-21 16:29] ayush-srtv commented on #629
I was able to fix the issue somehow. Thanks for the help.

[2017-09-21 16:29] #629 closed

[2017-09-21 18:00] brpsmith commented on #449
I solved this issue by upgrading webpack-stream.

webpack 3.5.6
webpack-stream 4.0.0
extract-text-webpack-plugin 3.0.0

[2017-09-22 07:52] PengJiyuan commented on #550
+1

[2017-09-22 17:03] chungchiehlun commented on #27
@woohling
https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/27

Maybe this will help.

[2017-09-22 18:33] nishanthnareddy commented on #600
I was trying to create a separate bundle for css based on the chunks name using extract-text-webpack-plugin with webpack@3.6.0.

having the same issue.

I have added a web pack config in bitbucket server. please find it from below URL https://bitbucket.org/nishanth7475/webpackconfigalone/src/dca35d8c0eb31debfcefa2f7f282f987604b6d97?at=master

[2017-09-24 17:13] renatoruk commented on #594
@evilebottnawi I just tried the example that @WiseBird posted and my case is almost identical to his setup, the only difference is that I'm using sass-loader and postcss-loader before css-loader, but I think that shouldn't make any difference. [Here](https://github.com/renatoruk/issue-594-repro) is the repo where I reproduced the issue for my configuration.

[2017-09-24 18:57] sullenor commented on #579
I guess I faced the similar issue. I have configured hot reload with a plain css-loader configuration and looks like that subsequent update corrupts the modules graph, which results in loading wrong chunks by old ids.

[2017-09-25 07:31] ivgrin opened #630 "How to remove extracted css from js bundle?"
Webpack creates bundle.js + bundle.css files. I found that bundle.js contains css from bundle.css.

Here is the details:
[Stack Overflow](https://stackoverflow.com/questions/46373461/how-to-remove-css-from-js-bundle/46376694)

[2017-09-25 14:33] sapegin commented on #567
@michael-ciniawsky Should we reopen this? Would you accept a PR? If yes to which branch?

[2017-09-25 15:20] nishanthnareddy opened #631 "css files are not generated separately with extract-text-webpack-plugin using webpack 3"
I was trying to create a separate bundle for css based on the chunks name using extract-text-webpack-plugin with webpack@3.6.0.

I have spent more time and googled on identifying on the issue, but i could not find it. i have tried more options for this.

i will share my webpack.config.js file here,

I have added a web pack config in bitbucket server. please find it from below URL https://bitbucket

[2017-09-25 15:36] d3viant0ne commented on #567
@AnimaMundi - We have to think of more than just your usage. There are breaking changes in Webpack > 3 that prevent extract-text 2.x to be used.

The documentation is correct as is @michael-ciniawsky. The `current version of etwp is 3.0.0` & is required for Webpack > 3.0, the peerDependencies are correct & will not be updated in the etwp 2.x major series.

[2017-09-25 18:00] AnimaMundi commented on #567
@d3viant0ne Of course, I can understand that. All I was saying is that I wasn't aware of any incompatibilities as did a few others. The main point of confusion here for me is that @michael-ciniawsky kept referring to versions <= 2.0.0 while everyone else was discussing 2.x. If somebody explicitly mentioned an incompatibility for 2.x with Webpack 3 (as you just did) then that would have cleared thi

[2017-09-25 19:29] idibidiart commented on #631
Webpack is a beast, with exponetial complexity by design.

I've been looking at Splittable by the guy behind the Google AMP project. It looks infinitely simpler and does all the basic things as webpack. I repeat: infinitely simpler.

Webpack is a beast.

[2017-09-26 06:16] Nikhil-04 commented on #420
@jorawarsingh - "After upgrading to latest the error is gone" , what latest are you talking about here. Is it webpack latest version or extract-text-webpack-plugin version. Please clarify since I am confused. I am also getting the same issue in my project when i am trying to implement AOT which was JIT before to improve appllication loading time. Help will be deeply appreciated. TIA

[2017-09-26 12:38] x-yuri opened #632 "Why does extract-text-webpack-plugin adds extra dependency?"
I'm talking about [this][1] line. Not a major issue probably, but as a result, `fileDependencies` contains duplicates. `webpack` adds it [itself][2] before running normal loaders.

[1]: https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/v3.0.0/src/loader.js#L16
[2]: https://github.com/webpack/loader-runner/blob/v2.3.0/lib/LoaderRunner.js#L198

How to reproduce:

`package.json`:

[

[2017-09-26 13:32] evilebottnawi commented on #632
@x-yuri thank for issue, PR welcome

[2017-09-26 14:19] ivgrin commented on #630
Fixed when I switched from `laravel-elixir-webpack-official` to native `webpack` (webpack-stream)

[2017-09-26 14:20] #630 closed

[2017-09-26 20:02] prannayb commented on #456
This really making extract text plugin unusable when using Code Splitting. This issue along with #120 prevent the use of allChunks:false and make css splitting completely broken.

[2017-09-27 22:12] this-miguel commented on #629
@ayush-srtv  can you share what you did for solving the problem?

[2017-09-28 03:52] denvaar opened #633 "Unwanted Sass file generated to output path"
I'm not sure if this is an issue, or somehow by design.

Link to project: https://github.com/denvaar/tiger-lilly/blob/master/assets/webpack.config.js
Node v8.5.0
OSX

I was trying to combine a a couple sass files into one css file called `app.css`. This worked as expected except for I was getting an unwanted `a.scss` file inside my output directory whenever I would edit `a.scss`.

Here is my webpa

[2017-09-28 09:18] evilebottnawi commented on #456
@prannayb can you provide minimum reproducible test repo?

[2017-09-28 10:09] ayush-srtv commented on #629
@this-miguel  i did rollback of all the changes in package.json from git and reinstalled webpack v3.6.0  globally then i deleted my node_modules folders and did a `npm i` and somehow it worked, but currently my application is using latest of the 2nd major version of extract-text-webpack-plugin "^2.0.0-beta.5" and if i upgrade extract-text-webpack-plugin to 3.0.0 i still get the same error.

[2017-09-28 12:19] rkovalyov commented on #573
same with `2.1.2`

[2017-09-29 00:14] kayneb commented on #456
+1 this is affecting our team too.

`allChunks:false` does somewhat fix this issue, but we do not want to load unnecessary CSS on our initial Single Page App page load.

@kostasmanionis I tried your solution, but I'm hitting a problem. I'm excluding `css-loader` and `style-loader` from the common chunk that is based on the async chunks, as your suggestion describes. However, in excluding those mod

[2017-09-29 00:42] kayneb commented on #456
I got around the above mentioned issue by also excluding all CSS/LESS/SCSS from the common chunking too.

[2017-09-29 01:38] danikaze opened #634 "Generate one (or more) resulting files merging the original results"
Proposal for a feature to solve the frequently asked question about _how to generate only one file with extract-text-webpack-plugin_.
Usually solved by external plugins (i.e. `merge-files-webpack-plugin`) in a completely different step, this doesn't look to be working with v3. Also, it would be nice to have a _native_ solution.

My proposal is to have an extra `merge` option to work like this, gen

[2017-09-30 21:27] dalimian commented on #332
thanks all for suggestions

I ended up using https://www.npmjs.com/package/extract-css-chunks-webpack-plugin - which is a fork of extract-text-webpack-plugin to support the above use cases.

[2017-10-01 07:16] this-miguel commented on #629
@ayush-srtv I did manage to solve the problem, for me it was a problem in the packages I used for react, I had updated react to version 16, and I was mixing some packages that were incompatible. The error had nothing to do with webpack actually. For example you should use the version packages in the image, but you should not mix the red ones with the green ones, because some are incompatible, for

[2017-10-02 16:36] kevinwhoffman commented on #107
It still doesn't appear possible to generate source maps using anything other than `devtool: 'source-map'`. Any update on this?

[2017-10-02 23:23] JayCanuck commented on #579
Webpack 3.6.0 appears to have fixed the issue for me. I think anyway (fingers crossed).

[2017-10-03 10:18] joejuzl commented on #550
+ 1

[2017-10-03 14:54] d3viant0ne commented on #634
See comment in https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/636#issuecomment-333866537

[2017-10-03 14:54] #634 closed

[2017-10-04 02:03] kennycrosby commented on #631
Having the same issue

[2017-10-04 12:57] lucasjsoliveira commented on #550
For me, setting `stats.children` to `false` removed all the info extract-text was giving and I didn't need. Hope it helps while we don't get a verbosity level setting.

[2017-10-04 20:22] Always-Sunny commented on #30
chain css-hot-loader with ExtractTextPlugin:
https://www.npmjs.com/package/css-hot-loader

I now have no Flash of Unstyled Content because of the extracted text, and my css hot reloads on save because of css-hot-loader

[2017-10-04 21:32] cletusw commented on #550
@lucasjsoliveira Will this hide errors, though? If errors still show, then that should be perfect.

[2017-10-05 06:55] #561 closed

[2017-10-05 11:09] milewski commented on #259
Im developing a postcss plugin and i confirm that this is still happening...

[code]

and adding `allChunks: true` to the options seems to make it run only once....

[2017-10-05 11:37] evilebottnawi commented on #259
@milewski can you create minimum reproducible test repo?

[2017-10-05 12:52] milewski commented on #259
@evilebottnawi here you are `https://github.com/milewski/extract-text-webpack-plugin-bug` i made some copy and paste from my actual plugin.. and tried to simplified as much as i could....

run `npm run try` to see it in action...

[2017-10-05 13:38] MsaadAl commented on #569
I had the same issue and finally I solve it. First of all go to https://webpack.js.org/plugins/extract-text-webpack-plugin/#extracting-sass-or-less there is the answer.  you have just to change a little thing and install the latest version. The change you have to make are, change the syntax fallbackloader to fallback, change loader to user. and instead to of writing an option such as  //if you wan

[2017-10-05 15:31] stepet80 opened #637 "generate both a normal css and a .min.css file"
Is it possible to use ExtractTextPlugin to create both a normal unminified file and a minified file?
The reason I ask is that I am using a plugin called 'unminified-webpack-plugin' which creates both normal js files and min.js files without having to call webpack twice.

This plugin doesn't work for extract-text-plugin.

[2017-10-05 16:13] 01Kuzma opened #638 "StyleExtHtmlWebpackPlugin: could not find ExtractTextWebpackPlugin's generated .css file"
Hi there!
Having difficulties compiling the final build of my app.
I receive these errors:
**ERROR in StyleExtHtmlWebpackPluginError: StyleExtHtmlWebpackPlugin: could not find ExtractTextWebpackPlugin's generated .css file**
I presume that problem is in css and path. I just did started working with webpack and spent hours trying to figure it out, but having no results...
Here is my **webpack.confi

[2017-10-05 23:25] genintho commented on #631
Same issue.

[2017-10-05 23:57] michael-ciniawsky commented on #637
Minification is not the responsibility of `extract-text-webpack-plugin` itself as it 'only' extracts the CSS chunks and pushed the them to `stats.compilation.assets['[name].css']`, Additional Plugins like e.g [CSSO Plugin](https://www.npmjs.com/package/csso-webpack-plugin) pick up these assets and minify them. Maybe keeping the originals is supported or an opt-in, otherwise open an issue/fork and

[2017-10-05 23:57] #637 closed

[2017-10-06 00:03] michael-ciniawsky commented on #638
When you comment out

[code]

and build your project, do you get the CSS Files in the `output` directory ?

[2017-10-06 00:07] michael-ciniawsky commented on #631
@genintho Does it work without the `cache-loader` ?

[code]

[2017-10-06 05:18] 01Kuzma commented on #638
Well, it's the same error `ERROR in   StyleExtHtmlWebpackPluginError: StyleExtHtmlWebpackPlugin: could not find ExtractTextWebpackPlugin's generated .css fi  le; available files: 'app.4e7cf4c59e263b6831b6.js,vendor.fb2de6a258fdb44c05ed.js'`
And in *dist* fodler there aren't any css files.
Also, as I understand, something should be done with `const staticSourcePath`. I'm commenting it now...

[2017-10-06 18:18] genintho commented on #631
@michael-ciniawsky  everything works with your suggestion.

I think I got confused by the documentation. Having only one way to define the filename would might help avoiding errors.

[2017-10-07 09:49] manulitopetito opened #639 "Building separate Stylesheets for different themes with webpack"
Right now we are using a scss mixin ( https://github.com/zellwk/themify ) to provide different themes for our react components in our app.

It works great, but produces rather long selector chains in the compiled css file.

While we do have to provide the ability to change themes during runtime ( which is no hassle with the current solution, we only have to switch one classname on the body element

[2017-10-07 10:09] michael-ciniawsky commented on #639
CSS Custom Properties (CSS Variables) && postcss-custom-properties

[2017-10-07 10:09] #639 closed

[2017-10-07 17:23] ManuSevenval opened #640 "Extracting styles with different configurations leads to error"
I am trying to extract my styles multiple times, each time with a different color configuration.
If I load the styles only once (one item in `themes` array) everything is fine.
If I add my other theme names, I get the following error:

ERROR in ./~/css-loader?{"localIdentName":"[hash:base64:5]","modules":true,"importLoaders":1}!./~/postcss-loader?{}!./~/sass-loader/lib/loader.js?{"data":"@import /

[2017-10-08 00:40] michael-ciniawsky commented on #640
This is not really supported and error prone consider using something like e.g CSS Custom Props instead

[2017-10-08 17:10] maple3142 opened #641 "Cannot generate css sourceMap"
I enable `css-loader` sourceMap option, but I still can't get sourceMap output.
webpack config:
[code]

[2017-10-09 00:22] michael-ciniawsky commented on #641
https://vue-loader.vuejs.org/en/configurations/extract-css.html

[2017-10-09 00:22] #641 closed

[2017-10-09 09:35] lukasgeiter commented on #579
Webpack 3.6.0 also fixes the problem for me 🎉

[2017-10-09 09:39] michael-ciniawsky commented on #579
https://github.com/webpack/webpack/commit/0975d13da711904429c6dd581422c755dd04869c

[2017-10-09 09:39] #579 closed

[2017-10-09 14:39] katiasmet commented on #384
@Oscar-ren Is it possible to make this solution refresh the browser?

I tried browsersync and that works. But I'm wondering if this works wit webpack-dev-server as well. This would be a cleaner solution.

[2017-10-09 17:53] nishanthnareddy commented on #631
@michael-ciniawsky hey if you look at my webpack.config.js i don't have cache-loader but still having the same issue.

[2017-10-10 02:50] Oscar-ren commented on #384
@katiasmet  I run the `webpack-dev-server` and `webpack -w`, css-hot-loader could upload the extract css file , but webpack-dev-server doesn't  receive this change, I think there will be have some methods to notice webpack-dev-server, reopen a webpack progress is a temp scheme.

[2017-10-10 07:15] katiasmet commented on #384
@Oscar-ren Ok so you have the same problem as me, but couldn't find a solution yet?

Does anybody know how you can hot load sass changes? With or without the extract text webpack plugin?

[2017-10-10 11:57] beckend commented on #586
@sresant what cache option are we talking about?

[2017-10-10 20:00] AustinMatherne commented on #631
Same. I am also not using the cache-loader.

[2017-10-10 22:05] ArgonAlex commented on #456
I worked around the problem by adding `css-loader/lib/css-base` and `style-loader/lib/addStyles` to my vendor bundle. So if you have already a vendor bundle, this is a much simpler workaround.

[2017-10-12 09:14] silaike opened #642 "get wrong css order after using HashedModuleIdsPlugin"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
get wrong css order after using HashedModuleIdsPlugin

**If the current behavior is a bug, please provide the steps to reproduce.**
webpack plugin configs.
[code]

**What is the expected behavior?**
remove HashedModuleIdsPlugin then css order will be right.

**Please mention other relevant information

[2017-10-12 11:08] silaike commented on #642
when i set `allChunks: false` and set `fallback: "style-loader"` , it works fine too, so I think its extract-text-webpack-plugin's issue.

[2017-10-12 11:14] evilebottnawi commented on #642
@silaike can you create minimum reproducible test repo?

[2017-10-12 16:48] jonwingfield commented on #118
Looks like this is caused by having a JS file with the same entry name as your CSS/LESS file. I just suffix the less items with "-less" to work around it. Not a very well-written module. But this is JavaScript after all.

[2017-10-12 18:00] sresant commented on #586
When starting webpack you can pass a cache option which is true by default. I ended up applying a patch similar to https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/452 to fix the issue i had. Turning of the cache slowed down rebuilds so I opted for this solution instead.

[2017-10-13 17:47] michael-ciniawsky commented on #632
Could you try with additional `require()` please (e.g `require('./style2.css'), require('style3.css') ...`)

Does this only happen for the *first*  style import or foreach ?

[2017-10-14 09:29] zidzid1234 opened #644 "[Solved] loader option has been deprecated - replace with use webpack"
Solved. See solution below:
        {
          use: ExtractTextPlugin.extract({
            use: 'css-loader'
            //loader: 'css-loader'
            // Replace this "loader" with "use"
            // loader option has been deprecated - replace with "use"
          }),
          //use: ['style-loader', 'css-loader'],
          test: /\.css$/
        },

[2017-10-14 10:24] #644 closed

[2017-10-15 18:01] etroynov opened #645 "Module build failed: Unknown word"
OS: Ubuntu 16.04
Node: 8.7.0
yarn: 1.2.1

package.json
[code]

webpack.config.js
[code]

start with command:
[code]

[2017-10-15 18:15] michael-ciniawsky commented on #645
[code]

Still the`{Error}` looks unrelated to ETWP tbh as it doesn't seem to even run with your current config. No idea why webpack chokes on a simple `import` in your `.tsx` files sry

[2017-10-15 18:15] #645 closed

[2017-10-15 19:49] #638 closed

[2017-10-16 06:32] etroynov commented on #645
Thanks a lot. But how i can use cssnano minification options with ExtractTextPlugin?

[2017-10-16 13:06] stereokai commented on #259
Please reopen. This bug still happens.

[2017-10-16 13:13] d3viant0ne commented on #259
@milewski - If you don't mind, can you stick your comment along with your repo to reproduce into a new issue so this isn't buried back behind a years worth of issues & I'll get it properly labeled.

[2017-10-16 13:18] stereokai commented on #259
@d3viant0ne Thanks. I am new to Webpack and using the latest version of all loaders. I am not doing anything out of the ordinary and still getting double output in my console when I am using ExtractTextPlugin. I hope this will be resolved soon. If I can do anything to help find out where the issue lies, please let me know

[2017-10-16 13:19] d3viant0ne commented on #259
@stereokai - Let's save the comments until we have a fresh issue so we don't lose any current issue context.

[2017-10-16 13:25] shurvirmori opened #646 "Angular4 : ERROR in Error: Child compilation failed: Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin | in Angular 4"
:heavy_exclamation_mark: When I am trying to build my Angular 4 App, with command `ng build --prod` , this error throws. :bowtie: :heavy_exclamation_mark:

`ERROR in Error: Child compilation failed: Module build failed:
Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin,
refer to https://github.com/webpack/extract-text-webpack-plugin for the usage example
at Objec

[2017-10-16 13:28] d3viant0ne commented on #592
As stated in the referenced pull request....

![screen shot 2017-10-16 at 8 22 54 am](https://user-images.githubusercontent.com/8420490/31614230-41c36b6c-b24b-11e7-9d1c-59f8ec5910ac.png)

It is not a but, it's not supported in etwp & is not going to be. I use HMR every day via style-loader, this is the recommended path unless you want to give @faceyspacey's plugin a go. He actively develops / supp

[2017-10-16 13:29] #592 closed

[2017-10-16 13:34] d3viant0ne commented on #646
You will have to take this up with the angular/cli group.

[2017-10-16 13:34] #646 closed

[2017-10-16 14:27] milewski opened #647 "Loader run twice when using extract-text-webpack-plugin"
Im developing a postcss plugin and i found out that the loader runs twice when used in conjunction with `extract-text-webpack-plugin`

[code]

and adding `allChunks: true` to the options seems to make it run only once....

Reproducible test repository: https://github.com/milewski/extract-text-webpack-plugin-bug

@d3viant0ne

[2017-10-16 14:27] milewski commented on #259
okay #647

[2017-10-16 20:25] cletusw opened #648 "Breaks with NamedModulesPlugin"
`extract-text-webpack-plugin` breaks when combined with `webpack.NamedModulesPlugin`. It incorrectly outputs the result of extracting the CSS from the first bundle in all assets.

**main.css**
[code]

**other.css**
[code]

becomes

**main.built.css**
[code]

**other.built.css**
[code]

`node --version`: v8.5.0
`npm --version`: 5.5.1
`npm ls --depth=0`:
[code]

EDIT: Minimal repro case: https://git

[2017-10-16 20:34] cletusw commented on #648
I've verified that it is not [this](https://github.com/webpack/webpack/issues/4613#issuecomment-325178346) issue. `module.libIdent` is unique for each module.

[2017-10-16 20:41] cletusw commented on #648
Problem could be [this line](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/4cfde50a137ef83a79935467962702a0121e6d88/src/loader.js#L102), which is comparing two IDs, one of which is a number and the other is the NamedModulesPlugin-generated ID (ie, `./node_modules/raw-loader/index.js!./main.css`). Without the plugin they're both numbers so the `if` block exectues.

[2017-10-16 21:23] cletusw commented on #648
[This line](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/4cfde50a137ef83a79935467962702a0121e6d88/src/loader.js#L98), added in 7fc7957394e2c1744737b537c2ac1bd3ba1a8046, assumes the first module will have ID `0` instead of a string. Not sure how to fix that.

[2017-10-17 08:15] shurvirmori commented on #646
if it is angular/cli group , then why error shows
`Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin` ?

[2017-10-17 08:29] sgal commented on #648
Seems like it's a common issue to any ID-generating plugins. https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/642 could be related.

[2017-10-17 10:29] d3viant0ne commented on #646
The angular/cli does not expose it's webpack configuration & this is a configuration problem which means one of two things.

1.) There is an issue in the version of the CLI you are using & you should upgrade.

 - If the issue still exists, you are doing something outside the norm in your application.

2.) You ejected & have a configuration problem.

In either case, the tooling / configuration behi

[2017-10-18 16:11] osdevisnot commented on #455
@faceyspacey @aseem2625 @jeffrey-l-turner At this point, I am successfully able to extract dynamic CSS chunks using `babel-plugin-dual-import + import()`. However, I am having hard time figuring out how to load these chunks in browser on app bootstrap. Did you guys end up resolving this using a method/approach?

The latest demo of my work is here: https://github.com/osdevisnot/extract-text-demo

[2017-10-18 17:24] aseem2625 commented on #455
@osdevisnot
You're saying that your `babel-plugin-dual-import` converts your `import 'some.scss' into separate 'some.css' at build time for every dynamic chunk?

I'm not sure how to do for SPA. But for SSR, you can created a `*.js` file where mapping and file name is there. And depending upon requested chunk, you can append that `some.css` in `head`. I can give more details if you want.

[2017-10-18 17:44] osdevisnot commented on #455
@aseem2625, sorry I meant $.ExtractCssChunksPlugin() gets a separate file for dynamically imported chunk.

And unfortunately, I need to solve this for SPA.

Just to add more context, only issue we have now is downloading the css chunk and injecting it into head for SPA.

[2017-10-18 17:45] leebenson commented on #246
I'm having a similar problem to the one that originally started this thread. Here's my folder structure:

[code]

What I'd like to happen is that all calls inside of `assets/css/style.css` will load paths _relative_ to `assets/css`. So for example, to load the hashed Barbershop font file, I'd expect to see:

[code]

Instead, by default, I'm seeing:

[code]

... which then means the browser is look

[2017-10-18 19:12] faceyspacey commented on #455
@osdevisnot you are right, these tools were developed with SSR in mind. However good news: several of our users have developed SPA webpack plugins for your use case. Essentially you need embed the cssHash info the page, containing what stylesheets are available. Search the repos and you will find it. I'll paste it when I'm back on my computer.

[2017-10-18 19:40] faceyspacey commented on #455
@osdevisnot here's one such solution:

https://github.com/mario-jerkovic/flush-css-chunks-webpack-plugin

there are 2 others i believe, but i cant find them right now.

[2017-10-19 02:08] devmarco opened #649 "Extract array of assets preserving the order"
I have a use case where we are bundling a set of modules for each theme, so each theme is independent and has it's own javascript and CSS files.

[code]

The issue I am having is regarding the order of the css files, because one of them is the one that has the variables and definitions variables.

Do you guys know how I can solve that?

[2017-10-19 02:46] michael-ciniawsky commented on #649
Theming in the 'traditional' way is a snake pit with EWTP for the reason, that the order is determined by JS Import/export semantics rather then logical CSS  file structure. Unfortunately you won't really be able to solve theming in a clean way. I answered similar questions/feature requests a few times now and the only solution is to use either `postcss-custom-properties` (fallback) or CSS Variabl

[2017-10-19 02:46] #649 closed

[2017-10-19 02:55] devmarco commented on #649
@michael-ciniawsky Thank you for the quick answer.

A solution I was thinking is to create a custom loader. But I couldn't find a way to access the current entry name in the loader function. Do you know if it is possible? With that, I would be able to fix my issue.

[2017-10-19 03:09] michael-ciniawsky commented on #649
**style.(s)css**
[code]

**entry\*.js**
[code]

**webpack.config.js**
[code]

[code]

This should basically work to some point, but be aware of async chunks (`import()/require.ensure()`) and split points (`CommonChunksPlugin`) ;)

The main reason to use ETWP is mainly CSS Modules (needs CSS at build time), otherwise at a certain complexity getting ETWP to work correctly will be a real hassle.

The

[2017-10-19 12:06] enmanuelduran commented on #449
Im having this situation with webpack 1.13.2 and extract-text-webpack-plugin 3.0.1 :/

[2017-10-19 12:20] sgal commented on #648
Looks like https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/601 fixes this issue. But for some reason it was abandoned due to lack of review from @sokra

[2017-10-19 16:09] sokra commented on #648
Sorry

[2017-10-19 16:32] RohitRox commented on #58
Still seeing issues with extracting `@import` in `scss` files to common css bundle. Is there a workaround?

[2017-10-19 17:19] navasiloy commented on #449
# for webpack 3
npm install --save-dev extract-text-webpack-plugin
# for webpack 2
npm install --save-dev extract-text-webpack-plugin@2.1.2
# for webpack 1
npm install --save-dev extract-text-webpack-plugin@1.0.1

[2017-10-19 18:22] webpack-bot opened #650 "Not the all css file combined to styles.css"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
I am importing more than 10 css files and not the all files will combined to finished styles.css

**If the current behavior is a bug, please provide the steps to reproduce.**
Import more than 10 css files in common js file
[code]

[code]

and if I remove one of files, it will make normal file.

**What

[2017-10-19 18:51] michael-ciniawsky commented on #650
If I understood your issue correctly, you want the two ETWP instances merged into one CSS file ?

[code]

Should hopefully work

[2017-10-19 18:51] #650 closed

[2017-10-19 21:24] devmarco commented on #649
@michael-ciniawsky Thank you

Let me ask you one more question.

Is it possible to create a plugin or something else to add entry modules dynamically?

In the project I am working, each react component has its own CSS file. But those files are not being imported in the JS file and I don't want to do this.

My idea is, as the plugins can access the current entry path being compiling. I was thinking

[2017-10-19 22:03] JerryCBH commented on #58
Having the same issue here - no common css extracted. I have 3 entries:

[code]

[2017-10-19 22:27] JerryCBH opened #651 "CSS not extracted for common chunk"
Hi guys,

Not sure if this is a bug or just my setup, I am using the CommonsChunkPlugin to get a separate common.js for three entry points in my project, and using the extract-text-webpack-plugin to get the css files. My entry points are app, login and register. I am able to get:

[code]

For css:
[code]

I can't seem to get common.css generated. All the css gets crammed into a single app.css file

[2017-10-20 12:12] michael-ciniawsky commented on #649
[Plugins](https://webpack.js.org/contribute/writing-a-plugin/)
[Plugin Patterns](https://webpack.js.org/contribute/plugin-patterns/)

[Compiler Hooks](https://webpack.js.org/api/compiler/#event-hooks)
[Compilation Hooks](https://webpack.js.org/api/compilation/)

[Resolver](https://webpack.js.org/api/resolver/)

[2017-10-20 23:32] devmarco commented on #649
@michael-ciniawsky

Sorry about being asking you many questions here, but I'm stuck just with the information in the docs. Let me try to explain you my real problem, and when you have time I would appreciate the help.

I am working with Themes

My webpack entry point is something like

[code]

The css for each js file is not being imported on the JS itself, so I want to create a plugin to check th

[2017-10-21 01:05] d3viant0ne commented on #649
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support though you may also inquire in [Webpack Gitter](https://gitter.im/webpack/webpack). The issue tracker is for bug reports and feature discussions. See also our CONTRIBUTING guidelines.

[2017-10-21 02:11] enmanuelduran commented on #449
@navasiloy your suggestion made the trick for my case. thanks.

[2017-10-21 15:24] cletusw commented on #648
Fixed by d5a1de21a65532f66b05a1f6c2146574ce385567

[2017-10-21 15:25] #648 closed

[2017-10-21 21:34] Robula commented on #58
Same issue here. I get a common.css if I import CSS via JS but not if using CSS3 imports. This is an issue because I must use CSS3 imports in order for postcss-next to work correctly.

[2017-10-21 22:12] Robula commented on #58
Is this just a case of `CommonsChunkPlugin` only supporting JS files and therefore calling `import './styles.css'` in a JS file works and imported CSS `@import`s don't?

[2017-10-22 06:38] JerryCBH commented on #58
@Robula
What happen if you import third party libraries and packages and you won't have control over how CSS are imported by those packages?

[2017-10-22 19:22] doomsbuster commented on #30
HMR needs `css-loader` and `style-loader` that support hot module css replacement. If you are using less or sass, use the `less-loader` or `sass-loader` and then simply use the loader configuration like below:

[code]

[2017-10-22 22:24] iwarner commented on #494
Im still seeing this on verision 3.6.0
"webpack": "^3.6.0"

[2017-10-23 10:09] symbios-zi commented on #642
the same problem at my styles.
When I import in my app.scss dependesies, bootstrap is loading as last. It is wrong. The file called "AdminLTE.css" must loads as last
[code]

[2017-10-24 05:09] #39 closed

[2017-10-24 05:10] #46 closed

[2017-10-24 06:40] gauravksoni commented on #580
Were you able to resolve this issue?
Coming only in my machine

[2017-10-24 12:37] joaovieira commented on #106
https://www.npmjs.com/package/extract-css-chunks-webpack-plugin is working well for me using `import()` split points, creating CSS files per chunk and automatically/dynamically loading them via the required babel loaders (babel-dual-import or babel-universal-import) and flush-chunks. It's a combination of plugins but so far is doing what @defaude wants.

Though I'm having troubles now with automat

[2017-10-25 06:58] halionn commented on #589
i also have this problem

[2017-10-25 07:22] halionn commented on #589
solve this problem by other way, change the file-loader param like this
loader: 'file-loader?name=../../images/[name].[ext]'

my webpack.config.js:

var path = require('path')
var webpack = require('webpack')
var HtmlWebpackPlugin = require('html-webpack-plugin')
var ExtractTextPlugin = require('extract-text-webpack-plugin')
var CopyWebpackPlugin = require('copy-webpack-plugin')

module.exports =

[2017-10-25 07:26] halionn commented on #589
solve this problem by other way, modify the file-loader param to change the image url , like this:
[code]

[2017-10-25 08:44] wilsonpage commented on #187
@bebraw I've opened up [a related question on StackOverflow](https://stackoverflow.com/questions/46914106/how-to-extract-critical-above-the-fold-css-from-each-entry). Would you be able to take a look?

[2017-10-25 09:21] stereokai commented on #647
@d3viant0ne I am new to Webpack. In our build, I'm using Webpack 3.6 and the latest version of all loaders in use. I am not doing anything out of the ordinary - only standard stuff, loading JS, CSS, images and fonts, and still getting duplicate outputs in my console when I am using ExtractTextPlugin. Without ExtractTextPlugin, there is no duplicate output. If I can do anything to help find out whe

[2017-10-25 12:50] rdshoep opened #653 "ManifestPlugin export missing config with two ExtractTextPlugin instance."
Hi,

When I use multiple ExtractTextPlugin instances, the ManifestPlugin export content missing some files. I have create a simple project to test, please help me to check. [webpack-ExtractTextPlugin-test-demo](https://github.com/rdshoep/webpack-ExtractTextPlugin-test-demo)

webpack.config.js
[code]

then I excute `webpack`
build files:
[code]

manifest.json
[code]

But I expected
[code]

Any idea

[2017-10-25 13:46] glortho commented on #548
We still have an issue with this in v3.0.0, which may or may not be solvable. With multiple `composes` style-loader outputs rules in the expected (or just different?) order, while extract does not. Here is our setup:

my_component.css
[code]
../css/button_colors.css
[code]
../css/buttons.css
[code]
With style-loader, the above gets output in this order:
[code]
With extract, this is the output:
[co

[2017-10-25 15:15] d3viant0ne commented on #548
@glortho - The specific case for this issue was fixed. If you don't mind, please put the above in a new issue & including something like https://github.com/cyl19910101/wp3_test is immensely helpful with triaging **or** add a failing test case if you want to skip the boilerplate.

In either case, new issue if you would please.

[2017-10-25 15:17] glortho commented on #548
Sure, sorry about that @d3viant0ne . Stay tuned for new issue.

[2017-10-25 16:26] d3viant0ne commented on #647
@stereokai - @milewski has already done most of the work with the minimal reproduction that clearly highlights the issue.

There isn't much else to do at this point besides `node  --inspect --inspect-brk --stack-size=8024 node_modules/webpack/bin/webpack.js` and going hunting.

Given `allChunks: true` resolves the issue & what that setting actually does, I am pretty sure what's going on but you ne

[2017-10-26 20:01] mschnee commented on #120
Having looked into this for a while, I feel @faceyspacey's solution is super overkill (it requires multiple loaders and plugins, it requires magic strings added to the window object, it makes a number of assumptions about server-side-rendering).  It's a great solution for a specific few cases (and I use it and love it), but it doesn't work if you just want to dynamically load a css file on-demand.

[2017-10-27 11:03] akihikodaki opened #654 "The output is not deterministic"
The output is not deterministic because the module is built asynchronously. The behavior is undesired for some use, and should be fixed or documented.

We have acutally encountered a situation the behavior is problematic when setting up distributed servers for an application. Each server serves CSSes extracted by extract-text-webpack-plugin. The servers are load-balanced with a reverse proxy, and

[2017-10-28 10:04] chad-ding opened #655 "less is not extracted"
Hi all
  As the third party library has a large mount of less, so i want to extract all the third party less and css into vendor.css meanwhile my own less into app.css, however ExtractTextPlugin does't work  as expected, the fallback configuration style-loader works and all of these inject into every single js,the built package is over size.any suggestion?here is my configuration

[code]

[2017-10-29 16:44] hesampour commented on #623
I have the same problem

[2017-10-29 17:02] hesampour commented on #278
I have the same problem.

[2017-10-29 19:31] ericnoguchi commented on #456
@ArgonAlex

Good find! I tested your solution with the repo above and so far the error is gone and the css dynamically loads

[2017-10-30 17:33] jhartman86 commented on #594
@evilebottnawi seeing this issue as well using a similar setup; webpack version is 3.8.1

[2017-10-31 19:23] flyingL123 opened #657 "Can't set includePaths when using ExtractTextPlugin and sass-loader"
I'm using the newest version of webpack and extract-text-webpack-plugin. I am trying to following the instructions to [Export Sass or LESS](https://webpack.js.org/plugins/extract-text-webpack-plugin/#extracting-sass-or-less). I've been reading questions and answers around this all day and still have not found anything that works. I don't understand what I'm missing. Is it not possible to pass in o

[2017-10-31 20:00] michael-ciniawsky commented on #657
[code]

[2017-10-31 20:00] #657 closed

[2017-10-31 20:05] flyingL123 commented on #657
@michael-ciniawsky Thank you! I literally spent the entire day trying to get this to work. Can you point me to some documentation or some sort of explanation as to how I could have figured that out on my own? I couldn't get there on my own from any of the documentation or other questions/issues that I read.

[2017-10-31 20:31] michael-ciniawsky commented on #657
[code]

That is a nasty typo tbh and I just saw the docs on webpack.js.org often use the highly discouraged shorthand for defining loaders 🙄

**webpack.config.js**
[code]

which only works if one is using exactly 1 loader with **no options**.

Simply always use `{Array<{Object}, {Object}, ...>}`

**webpack.config.js**
[code]

to be on the safe side and never think about that stuff again 😛 .

Feel

[2017-11-01 10:21] m31271n opened #658 "where to add `extract-text-webpack-plugin?sourceMap`"
First, sorry for this stupid question.

<img width="954" alt="screen shot 2017-11-01 at 6 19 24 pm" src="https://user-images.githubusercontent.com/12194646/32270545-4636c3f4-bf31-11e7-850c-6c405b2fe02a.png">

`extract-text-webpack-plugin?sourceMap` is mentioned in `README.md`, but where should I add it?

If an example is provided, I'd sure be grateful.

[2017-11-01 15:28] michael-ciniawsky commented on #658
[code]

and don't forget to set `sourceMap` on all following loaders aswell e.g `postcss-loader, sass-loader`, they need to be updated for loader to loader to be correct

[2017-11-01 15:28] #658 closed

[2017-11-02 01:44] matheushf commented on #569
As @snoo-mpl said,

comment Line 39-41 in validateOptions.js:

[code]

and then you will get the exact error.

[2017-11-02 07:02] vojtamares opened #659 "TypeError while running the webpack build 'Cannot call a class as a function' cause by extract-text-webpack-plugin"
Hello,

as the title says, I am having a trouble with calling the plugin's index.js, in webpack.config.js I tried all the syntax I know from different languages (I am not JS dev so...), like `new extractCSS(), new extractSASS()`. But I couldn't figure it out. Idk if it is a bug or my missunderstanding of something...

Here is error message from terminal:
[code]

Here is my webpack.config.js:
[code

[2017-11-02 17:11] michael-ciniawsky commented on #659
[code]

[2017-11-02 17:11] #659 closed

[2017-11-02 22:46] hackingbeauty commented on #518
This issue is unfortunate.

[2017-11-03 05:22] zhiyingzzhou commented on #623
please remove eslint comment in you source file!

[2017-11-03 08:44] huangweb commented on #250
I have a same problem and I changed my code according to the above person said, but it still not work.
Finally, I changed
`new ExtractTextPlugin('bundle.css')`
to
`new ExtractTextPlugin({
           filename: 'bundle.css',
           disable: false,
           allChunks: true
       }),
`
and it works.

[2017-11-03 17:15] Brian-Kaplan commented on #494
Seeing this webpack 3.8.1

[2017-11-03 19:03] michael-ciniawsky commented on #623
@hesampour show your config (`webpack.config.js`) please

[2017-11-03 19:48] d3viant0ne commented on #494
@Brian-Kaplan  It's not from extract-text

I know `webpack-md5-hash` still has this deprecation warning & I know there are others as well.
Everything that `webpack-contrib` owns, has been updated. If you post your dev-deps, I can probably pick out the offending lib.

[2017-11-03 20:39] rwalus commented on #239
@MichalZalecki You are awesome!  I'm glad I got here!
ps. Dzięki Michał! Po 2h walki cieszę się, że tutaj dotarłem!

[2017-11-04 05:53] hesampour commented on #623
thank michael-ciniawsky  the problem solved. but I dont know how I solved it!!!

[2017-11-05 06:00] Didericis opened #661 "Style objects imported with css modules are empty"
I'm trying to use this plugin with css modules. It seems to be creating my main css file correctly (I'm able to open it and it contains all my styles with the correctly generated css class names), but I'm not able to import any styles in my components. For example, when I put the following in one of my components, it logs an empty object.

[code]

~Pretty much everything I've run across has been a

[2017-11-05 15:28] Didericis commented on #661
Figured it out: the loader configuration I had earlier in the config for style loader was messing things up. Changing this:

[code]

to this:

[code]

fixed the issue.

[2017-11-05 15:31] #661 closed

[2017-11-07 11:51] f3l1x commented on #655
Same by me.

[code]

[2017-11-08 08:10] mittalyashu commented on #569
Getting the same error.
![image](https://user-images.githubusercontent.com/29014463/32537973-6b35d7c2-c48a-11e7-8ba1-25513b3201ab.png)

[2017-11-08 11:30] edouard-lopez opened #662 "Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin"
**related:** kisenka/svg-sprite-loader#211

I'm following the example describe in [`svg-sprite-loader`](https://github.com/kisenka/svg-sprite-loader/blob/master/examples/extract-mode/webpack.config.js)
### Error

[code]

### webpack.config.js
[code]

### package.json

[code]

[2017-11-08 11:42] burn1ng commented on #662
Hi! try to move rule for svg processing - to the beginning of module.rules array in webpack config.
It must be before processing of styles, because you try to use extracted mode of svg-sprite-loader, which produce some styles.

[2017-11-08 12:30] edouard-lopez commented on #662
@burn1ng Thanks, but still got the error after moving the rule to the top.

[2017-11-08 12:50] burn1ng commented on #662
@edouard-lopez From your error stack I can't see any errors of svg-sprite-loader, I think you have little mistakes in your wepback config with extract-text-webpack-plugin. Check [the documentation of extract-text-webpack-plugin (see usage section)](https://github.com/webpack-contrib/extract-text-webpack-plugin). In your webpack config you should provide some rules for styles processing with this p

[2017-11-08 21:57] michael-ciniawsky commented on #662
You can't use `extract-text-webpack-plugin` for HTML, it should have more correctly be named `extract-css-webpack-plugin`. Try the [`extract-loader`](https://github.com/peerigon/extract-loader) instead

[2017-11-08 21:57] #662 closed

[2017-11-09 09:17] jheander commented on #653
I have the same problem when running
webpack: 3.6.0
extract-text-webpack-plugin: 3.0.2
webpack-manifest-plugin: 1.3.2

[2017-11-09 09:24] evilebottnawi commented on #653
@jheander @rdshoep maybe related https://github.com/danethurber/webpack-manifest-plugin/issues/30

[2017-11-09 11:06] christianztamayo commented on #631
+1

[2017-11-12 09:57] iShawnWang commented on #569
It works, see : `For webpack-dev-server, this property needs to be in the devServer object.`
in https://webpack.js.org/configuration/stats/

[2017-11-12 10:36] jessejessee commented on #655
@f3l1x

I was experiencing, what I believe to be, this same issue, with a similar config file. It turned out that my config file was setup just fine, and that the missing piece was that I was not requiring my main scss/less file into my entry point.

I found a [SO post](https://stackoverflow.com/questions/41990324/extract-text-webpack-plugin-not-creating-a-stylesheet) explaining that it isn't **ex

[2017-11-13 05:33] jasononeil opened #663 "Source maps are incorrect when using extract-text, sass-loader, and eval-source-map"
When you use these 3 things together the generated source maps point to the incorrect positions (both filenames and line numbers are wrong):

* 'eval-source-map' (or any of the devtool options that use an 'eval')
* extractTextPlugin enabled (if you disable it, source maps are correct)
* sass-loader (if you remove this loader, source maps are correct)

## Expected vs Actual
Screenshot of correct so

[2017-11-13 12:04] chenwenxian commented on #574
Very good method!

[2017-11-14 08:19] HardikModha commented on #569
@mittalyashu Did you try the approach suggested by @MaxKramnik? It will help you to track down the issue.

[2017-11-14 14:06] bkumar-webfares commented on #494
DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead.

Version: webpack 3.0.0-rc.1

Is there any solution?

[2017-11-15 01:20] bitstrider commented on #580
using `webpack@3.81`

because my css has `@import`, i get the build error `Module build failed: ModuleParseError: Module parse failed: Unexpected character '@'` with this rule:

[code]

but works with `use` instead of `loader`:

[code]

Its too bad the error message isn't more helpful here.

[2017-11-15 10:55] Diokuz opened #664 "Add vendor.css as is to output"
My project uses css-loader with `modules` option. That means all imported css will be transformed to css-modules (classnames will be changed).

I need to add to my _output css_ some _vendor css_ without any transformation. Just as is.

Is that possible?

My current solution is:
[code]
But I dont like it (too much unnecessary code).

Is it possible to add something like:
[code]
?

[2017-11-15 14:01] michael-ciniawsky commented on #664
Use two instances of ETWP (one for each `module.rules.rule`)

**webpack.config.js**
[code]

It's not possible to handle this within EWTP

[2017-11-15 14:01] #664 closed

[2017-11-15 18:02] sunel opened #665 "Css output for entry may not exist if it has only common chuck when using extract-text & commons-chunk together"
``` webpack.config.js```

[code]

``` page1.js```

[code]

``` page2.js```

[code]

Output

[code]

If you see there is no ```page1.css``` as it doesnt have its own css, everything is moved into vendor.

Can we or Do we have option to create a enrty point css || js if its empty  or is there a event or callback before a file is created.

[2017-11-15 18:27] michael-ciniawsky commented on #665
If there is no separate CSS  for `page1` what should `page1.css` contain then ? Maybe requiring an empty `page1.css` file works

[2017-11-15 18:29] michael-ciniawsky commented on #665
**page1.js**
[code]

[2017-11-16 02:24] sunel commented on #665
@michael-ciniawsky

The issue is when including the out file in the html. We cannot check and include the file if exist, as it will increase the load in the server (consider we have 200 entry points)

Is there a way we can force create the css file

[2017-11-16 06:48] michael-ciniawsky commented on #665
@sunel I still don't understand why you want to create this file, what is the use case ? Doesn't my suggestion work ?

[2017-11-16 07:47] sunel commented on #665
@michael-ciniawsky

I will explain the use case.

Consider a **dynamic website** which has multiple entry point.
Each entry point will have multiple js and css and scss file which will added based on the component added to the page.
Webpack with extract and common plugin works perfect and  its easy to optimize the page.

``` webpack.config.js```

[code]

``` page1.js```

[code]

``` page2.js```

[

[2017-11-16 07:59] sunel commented on #665
@michael-ciniawsky

We will not know until webpack run that ```page1.css``` is not generated, So we cannot add a empty file as you suggested.

If we can have the listed of files that are generated for entry point through a plugin event or even a callback function.

Or before bail out trigger a event, so that the developer can act according to it.

I know that this not the scope of the plugin but t

[2017-11-16 08:46] michael-ciniawsky commented on #665
`html-webpack-plugin` ?

[2017-11-16 15:12] breneser commented on #214
I started getting this exact error again today with a React app I created using https://github.com/facebookincubator/create-react-app

Has something just got updated ?

[2017-11-16 17:08] sunel commented on #665
@michael-ciniawsky

Thanks,
Got few ideas from the ```html-webpack-plugin``` plugin

[2017-11-16 17:08] #665 closed

[2017-11-17 21:23] rafaell-lycan commented on #631
Same.

[2017-11-19 08:33] rohitjindal18 commented on #598
Either upgrade your webpack to 3.1.0 or if your webpack is below version 3 use 2.1.0 version of extract-text-webpack-plugin

[2017-11-20 12:51] brijesh-1111 opened #666 "extract-text-webpack-plugin with Typescript file and having styleUrls not working"
Hi Team,

I have the latest package installed (angular + webpack + typescript + extract-text-webpack-plugin).
when I compile the ts file using webpack it all come as expected in app.js and I am able to use the final output.

The issue i am facing is with CSS. in Home.component.ts I have provided the  styleUrls: ['./home.component.css'],
and no where else I have added Require or import statement as

[2017-11-21 13:40] totymedli commented on #569
Seriously! Why they haven't added that in the original code in first place? Hiding useful and well detailed error messages so they can throw a vague unhandled exception?

[2017-11-21 18:10] dinkzilla opened #667 "schema-utils validation errors not thrown properly"
When validation in schema-util fails, schema-utils throws an error with fairly verbose messaging, but it is not being properly caught and rethrown within extract-text-webpack-plugin. As a result, you get unhelpful error messages in the console that look like this:

[code]

[2017-11-21 18:21] dinkzilla commented on #667
I created a pull request fixing the issue...

https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/668

[2017-11-21 18:39] michael-ciniawsky commented on #667
Could you install the latest `schema-utils` manually and see if it works ? I fixed it in `schema-utils` directly with a nearly similar approach a few days ago

[2017-11-21 19:19] dinkzilla commented on #569
@totymedli I made issue #667 and pull request #668 for exactly that. Throwing on those errors and outputting them breaks a lot of the tests though. Looking into why now.

[2017-11-21 20:04] michael-ciniawsky commented on #667
Could you show a screenshot of the Error you get when using your patch instead please ? Adding the stack back to the `{Error}` was requested already :), I suppressed it in `schema-utils` tbh considering it noise when the Plugin Name etc is provided but in more complex setups it's unfortunately needed

[2017-11-21 20:58] dinkzilla commented on #667
It looks like this...

[code]

I agree, it's potentially a lot of noise. Originally I wasn't including it either and was just doing a console.warn(e.message), but that didn't actually help me solve my particular issues. It's mainly an issue for people using easy-webpack I imagine, as we are in this project.

[2017-11-21 21:50] michael-ciniawsky commented on #667
We can limit it, the main issue is

[code]

being displayed. There is ongoing discussion in webpack/webpack about handling this better atm, so it's likely `schema-utils` needs a patch in the next days and I will also add the (limited) `stack` back then. Could you nevertheless do the dependency upgrade in #668 meanwhile and revert the `try/catch` handling ?

[2017-11-21 23:01] totymedli commented on #569
@dinkzilla Thanks! I made some investigations too and I realized that the exception comes from the schema-utils package whose readme doesn't even mention that it can throw an exception, so I guess the author didn't notice that he have to handle one. I wanted to write a try-catch then display fix for it too but you were faster, so props to you!

[2017-11-22 14:28] Pavel-Durov opened #669 "Webpack 2 upgrade - Extracting from sass files into seperte css files not working"
Hi, I read the documentation and explored the issues - hope this one isn't a duplicate.
Basically, my issue is with upgrading from webpack 1 to the latest version.

I was using **extract-text-webpack-plugin** plugin with webpack 2 and it worked perfectly.

It constructed my css files (**baseStyle.css**/**globalThemeBlue.css**) from baseStyle.sass and globalThemeBlue.sass.

**Webpack 1 config**
[co

[2017-11-22 17:03] dinkzilla commented on #667
Sounds good. Can do.

[2017-11-23 09:20] Pavel-Durov commented on #669
Duplicate of https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/631

[2017-11-23 09:22] evilebottnawi commented on #669
@Pavel-Durov I'm closing the problem here, duplicate, thank you for issue!

[2017-11-23 09:22] #669 closed

[2017-11-24 11:28] mihailo-misic opened #670 "Removes needed css"
## Environment:

|    Item    |    Version    |
|---------|-------------|
|    OS    |    **Mac 10.13.1**    |
|    Node    |    **8.9.1**    |
|    npm    |    **5.5.1**    |
|    webpack    |    **3.8.1**    |
|    extract-text-webpack-plugin    |    **3.0.2**    |

<br>

## The issue:

I'm having is that the plugin is removing some of the css that I need.
These particular classes are added to t

[2017-11-24 17:29] michael-ciniawsky commented on #670
What do you exactly mean by remove ? Removing from the JS into a separate CSS file or completely ? In case it's the first issue you will need to add a second `module.rule` without using EWTP and `exclude` the inline CSS from the rule using EWTP. For the second case I need more info about your setup

[2017-11-24 17:40] mihailo-misic commented on #670
It completely removed that part of the css while "parsing" it from the `scss` file. I guess it regarded it as **"unnecessary"** since it's not directly mentioned in the html, those classes are added to the inputs via **JS** using the code snippet I've provided.

The expected behaviour was:
- From the mentioned `scss` file extracted the required code/styling.
- Parse the extracted (used) style into

[2017-11-24 19:22] michael-ciniawsky commented on #670
Neither the `sass-loader`, `css-loader` nor ETWP should remove any CSS according to your current config,  did you `require/import` this particular CSS file ?  I'm not using SASS myself is the syntax correct ? During build time there are no assumptions made about the DOM and unused CSS, this plugin only extracts the CSS

[2017-11-24 19:23] michael-ciniawsky commented on #670
More about how you import the `.scss` file atm

Yes

[2017-11-24 19:54] mihailo-misic commented on #670
I import the `scss` file in my entry file `main.js`:

[code]

The problem is **100%** connected to the ETWP because I've fiddled all around it _(with other plugins, ways I import the scss, etc.)_ and it only works perfectly when i **disable** ETWP, and stops working as soon as I enable it.

I might be making some mistake when using it here's a link to my [webpack.config.ts](https://gist.github.com

[2017-11-24 20:03] michael-ciniawsky commented on #670
The problem is 100% connected to [PurifyCSS Plugin](https://gist.github.com/mihailo-misic/60cf87ec5f173252bd5ff6bfd4bcd1c8#file-webpack-config-js-L114) I'm afraid 😛

[2017-11-24 20:03] #670 closed

[2017-11-24 20:06] mihailo-misic commented on #670
I've not disabled PurifyCSS even once, and it worked every time I disabled ETWP.
Can you explain what would the logic be behind this occurrence?

[2017-11-24 20:51] michael-ciniawsky commented on #670
Sure, the PurifyCSS Plugin relies on ETWP to be present. ETWP needs to extract the CSS Modules and generate a CSS file which is pushed to ```compilation.assets[`${name}.css`] = ${css}``` beforehand. PurifyCSS Plugin uses this file then and doesn't have any affect if no CSS Asset is found

[2017-11-24 20:58] mihailo-misic commented on #670
Oh interesting, now that you mention it I remember that the PurifyCSS Docs mention needing ETWP.

Thanks a lot for helping me out.

This is unrelated to ETWP, but could you tell me how I could patch this around?
I've tried using the `"whitelist"` param in the PurifyCSS options but it throws the following error:
[code]

[code]

[2017-11-27 13:39] Polyterative commented on #493
@qasimraza1979 Solved your issue?

[2017-11-27 14:03] tvsijin commented on #580
Exactly same issue here

`const UglifyJsPlugin = require('uglifyjs-webpack-plugin')
const ExtractTextPlugin = require("extract-text-webpack-plugin");

const path = require('path');

module.exports = {
  	entry: ['./js/theme.js', './js/app.js', './js/config.js', './js/directives.js', './js/controllers.js','./css/animate.css', './css/style.css'],
  	output: {
    	filename: 'app.js',
    	path: path

[2017-11-27 16:39] michael-ciniawsky commented on #580
[code]

[2017-11-27 16:39] #580 closed

[2017-11-28 07:33] mansisce commented on #493
@michael-ciniawsky  This worked for me. Thanks. I was doing some silly mistake.

[2017-11-28 09:57] Polyterative commented on #493
I also was able to make it work.
Here is my code

[code]
and this is you want to minify extracted CSS
[code]

[code]

___
Now

[code]

[code]

[code]

Also added this plugin for CSS minification in PROD

[code]

I hope this helps

[2017-11-28 12:57] itkasumy opened #671 "who can i moves all the required *.md modules into a separate md file"

[2017-11-28 18:15] x-yuri opened #672 "[css-loader] rebuild module when dependent image `url()` changes"
`package.json`:

[code]

`webpack.config.js`:

[code]

`1.js`

[code]

`1.css`:

[code]

Steps to reproduce:

[code]
Or with a patch:

[code]

[code]

[code]

Please find attached [an archive][1] with the files needed to reproduce the issue.

[1]: https://github.com/webpack-contrib/extract-text-webpack-plugin/files/1511107/extract-text-dependent-image.zip

[2017-11-28 21:01] michael-ciniawsky commented on #672
Yep, `url('path/to/image.png')` isn't watched for changes atm, but this is more of a `css-loader` issue and I need to check possibilities first. Maybe a simple `this.addDependency(url)` in `css-loader` does the trick but I'm not sure

[2017-11-28 21:26] michael-ciniawsky commented on #671
Sry you can't with this plugin, it should have been named `ExtractCSSPlugin` :). Maybe the [`extract-loader`](https://github.com/peerigon/extract-loader) works for your use case

[2017-11-28 21:26] #671 closed

[2017-11-29 08:47] milewski commented on #647
Entry
[code]

Custom Plugin
[code]

Outputs:

[code]

Seems that extract-text-webpack-plugin makes webpack triggers `compilation` for each .scss file you have as entry point so in this case i had 2, then it triggered 3 times, causing every single plugin that listen to any compilation event triggers `X * Number of .scss files extracted` :O

[2017-11-29 11:41] stereokai commented on #647
@milewski @d3viant0ne Exactly what I observed

[2017-11-29 12:02] Pavel-Durov commented on #631
I was able to solve this issue with wepbpack 3.8.1, using different instances of a **extract-text-webpack-plugin** plugin for each css bundle.

for example:
[code]

[2017-11-29 22:43] michael-ciniawsky commented on #631
See @Pavel-Durov https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/631#issuecomment-347840202 @Pavel-Durov thx 👍

[2017-11-29 22:43] #631 closed

[2017-11-30 00:09] sscaff1 commented on #518
@AnalogMemory @hackingbeauty I was able to get around this problem by using https://github.com/AnujRNair/webpack-extraneous-file-cleanup-plugin. I have a pull request in to clean up files specified only in particular files.

[2017-11-30 00:29] hackingbeauty commented on #518
To add to the conversation, I was able to successful remove the redundant JS via these 2 Webpack plugins:

[code]

Check out the HtmlWebpackExcludeAssetsPlugin here:
https://www.npmjs.com/package/html-webpack-exclude-assets-plugin

[2017-11-30 07:24] m1is commented on #493
What is the syntax for referencing the CSS files in TypeScript?

[2017-11-30 16:53] Pavel-Durov opened #673 "webpack.config works on Windows & OS X but not on Ubuntu Linux"
I'm having this exception only on Linux OS.
The following configuration work on Windows and OS X but not on Ubuntu Linux.

**webpack.comfig** (as can be seen here: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/631)

[code]
Exception:

As you can see, for some reason it tries to include this file **main/app-Layout/appLayout.**

- OS: 16.04.2-Ubuntu
- NPM version: 5.5.1
- Nod

[2017-11-30 16:55] evilebottnawi commented on #673
@Pavel-Durov can you provide minimum reproducible test repo? I use Ubuntu

[2017-12-01 09:27] Pavel-Durov commented on #673
@evilebottnawi thanks.

I tried to create a minimum reproducible test repo and I failed to reproduce it (although I still have it my major project).

I will investigate this behaviour, probably it has nothing to do with this plugin.
There is nothing that I can put my finger on - let's close this ticket :)

[2017-12-01 09:33] evilebottnawi commented on #673
@Pavel-Durov anyway thank for issue!