[2017-02-10 21:58] willdembinski commented on #354
Pleasssse help:
[code]

[2017-02-10 22:36] michael-ciniawsky commented on #354
@willdembinski

`extract-text-webpack-plugin` >= `v2.0.0-rc.3` ? 😛

[code]

Otherwise take a close look at your resolve aliases 🙃

[2017-02-10 22:38] michael-ciniawsky commented on #354
@willdembinski

[code]

[2017-02-10 22:47] tmcmah1 commented on #399
In case it helps, it looks to me like at line 47 referenced above, the following variables are:
query.publicPath:  **undefined**
this._compilation.outputOptions.publicPath:  **/**

when I do a `cross-env NODE_ENV=production node build/build.js`

However, I believe the config settings that should have been used in my environment are:
  build: {
    env: require('./prod.env'),
    index: path.resolv

[2017-02-10 22:53] willdembinski commented on #354
@michael-ciniawsky - A: Thank you so much for the help!

`"sass-loader" // { loader: "sass-loader", options: { includePaths: '...' } }` <- That is amazing.

I now have this:
[code]
Thank you for that. I now have this issue where its failing to build *all* of the files.  It seemingly stops after a handful.  You wouldnt have any magical awesome knowledge about that would you? :smile: :heart:

[2017-02-10 23:19] willdembinski commented on #354
Alright - I figured it out.  This thing will fail silently.  It will compile the file to the best of its ability, but if it encounters: a mixin, a sass variable, whatever - that it can't interpret - it just shits the bed and prints what it can.

[2017-02-11 21:01] c-h- commented on #398
Awesome!!! thank you guys so much.

[2017-02-11 21:01] #398 closed

[2017-02-11 23:36] batazor commented on #307
Upgrade to `2.0.0-rc.3` fix the problem for me

[2017-02-12 07:29] bebraw commented on #399
@tmcmah1 How are you setting `publicPath` for the plugin?

[2017-02-12 09:20] xeho91 commented on #330
@bebraw

Sorry, I was away for a few weeks.

I'm currently using following versions:
"extract-text-webpack-plugin": "^2.0.0-beta.5",
"webpack": "^2.2.0-rc.4","webpack": "^2.2.0-rc.4".
(I know I need to update, but I'm checking the older versions just in case).

and the code for this plugin I've got right now (sorry, I don't have the older - the one which was used to report this issue):
[code]
And

[2017-02-12 09:32] bebraw commented on #330
`loader` and `use` should work the same. Thanks for confirming it works now. Time to close.

[2017-02-12 09:32] #330 closed

[2017-02-12 15:47] cjke commented on #263
Note this variation also works (if you needed to include any options to style-loader), it's following the newer pattern:

        rules: [{
            test: /\.css$/,
            exclude: '/node_modules/',
            use: ExtractTextPlugin.extract({
                fallbackLoader: [{
                    loader: 'style-loader',
                }],
                use: [{
                    loade

[2017-02-12 18:55] webjay commented on #263
Here's my way which works with `2.0.0-rc.3`:

      {
        test: /\.scss$/,
        loader: ExtractTextPlugin.extract({
          fallback: 'style-loader',
          loader: [
            {
              loader: 'css-loader',
              options: {
                sourceMap: true,
                minimize: true,
                discardComments: {
                  removeAll: true

[2017-02-12 18:55] squadwuschel opened #401 "extract Text Plugin and cscc Loader for Rc3"
I was using "2.0.0-beta.4" with the following scss Loader that was working fine

       {
             test: /\.scss$/,
              loader: [
                    ExtractTextPlugin.extract({ fallbackLoader: 'style-loader', loader: ['css-loader'] }),
                        'to-string-loader',
                        'css-loader',
                        'sass-loader'
                    ],

[2017-02-12 19:20] squadwuschel commented on #263
@webjay where do you have the autoprefixer defined

[2017-02-12 21:56] whisher commented on #263
@webjay good point to have sass-loader before
postcss-loader.
I found clearer to use a postcss.config.js like
[code]
This works for me (Angular2)
[code]

[2017-02-12 22:40] webjay commented on #263
@squadwuschel Like this: `import autoprefixer from 'autoprefixer';`

[2017-02-13 07:09] tmcmah1 commented on #399
In my webpack.base.conf.js file, I have the following:
output: {
    path: config.build.assetsRoot,
    **publicPath**: isProduction ? config.build.assetsPublicPath : config.dev.assetsPublicPath,
    filename: '[name].js'
  }

Update: I'm sorry, this is probably not a webpack issue, and probably is related to vuejs-templates.  And perhaps I just don't understand the differences between "assetsSubD

[2017-02-13 13:54] batmandarkside opened #403 "CSS Modules in production mode"
Hi all.
I can not solve the problem with CSS Modules and extract-text-webpack-plugin@2.0.0-rc.3
Different blocks of the same class Header

**NODE_ENV=development**
![2](https://cloud.githubusercontent.com/assets/897840/22885899/7ac67774-f20c-11e6-8f81-4b34dfd102d5.png)

**NODE_ENV=production**
![1](https://cloud.githubusercontent.com/assets/897840/22885905/80c4c428-f20c-11e6-9906-28c004819320.png)

[2017-02-13 14:20] blackcater commented on #250
Try following code:

[code]

[2017-02-13 19:23] squadwuschel commented on #263
@whisher you are not using extractText plugin in your component styles only for custom styles outside your app?

[2017-02-13 19:59] whisher commented on #263
@squadwuschel
I use extractText plugin in my component
styles only for custom styles because I'm using
Angular2 fw

Here it is
[code]

[2017-02-13 20:28] squadwuschel commented on #263
@whisher I am also trying to get it working for my angular 2 app. And when I try to use your ExtractTextPlugin for my "App" folder where I have all my directives and compontens for my app I got the error

     Expected 'styles' to be an array of strings.  ....

Its only working when I use pure loaders like in your example on my "App" directory and the extractTextPlugin is working on my custom styl

[2017-02-13 22:02] ajbrun commented on #307
Hi guys, I've made two repos to help this issue along. The first is my original webpack 1 code, where I'm able to update the styles with the dev server running, and the changes are injected into the webpage automatically. The second is my upgraded webpack 2 version where this doesn't happen. Whilst neither repo is tiny, hopefully the number of changes should be small enough between the two repos f

[2017-02-14 09:06] rrohitesh opened #405 "Hi i want convert .svg to font file using webpack can anybody guide me on this."
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest

[2017-02-14 09:45] changfuguo opened #406 "webpack2 code split error with `import` when use extract-text-webpack-plugin"
##  envrioment

**extract-text-webpack-plugin**: 2.0.0-rc.3

**webpack**: 2.2.1

**os**: mac os 10

**node**:6.4

## webpack.config.js

[code]

## routes.js

[code]

## result

    at ExtractTextPlugin.<anonymous> (/testuser/node_modules/extract-text-webpack-plugin/index.js:28:8)
    at Array.forEach (native)
    at ExtractTextPlugin.mergeNonInitialChunks (/testuser/node_modules/extract-text-webpa

[2017-02-14 17:51] CntChen commented on #323
After many days in reviewing and testing the source code of `AggressiveSplittingPlugin` and `extract-text-webpack-plugin`. The problem happened because:
* `extract-text-webpack-plugin` use `childCompiler` to extarct a CSS module and it's dependencies into independent chunk.
* if CSS module independent chunk's size beyond `AggressiveSplittingPlugin` splitting threshold (`maxSize`), independent chun

[2017-02-14 23:52] mnpenner commented on #375
I'm still encountering this. What's the solution?

My config looks like this:

[code]

[2017-02-15 06:43] zhuping commented on #250
it's work for me, "webpack": "2.2.1" and "extract-text-webpack-plugin": "2.0.0-rc.3"

[code]

[2017-02-15 13:46] phun-ky commented on #366
@bebraw I don't expect to see CSS in `/assets/app.js` or any of my bundles, that's the point

[2017-02-15 15:27] bebraw commented on #366
@phun-ky I did not see that behavior myself.

[2017-02-15 16:14] hakimCZE commented on #239
@MichalZalecki worked for me, no error and source maps are generated for css nad js. Thanks 👍

[2017-02-15 16:36] jiayihu commented on #235
I was able to disable sourcemaps for CSS files using `devtool: false`, whereas `nosources-source-map` had the same problem.

[2017-02-15 19:36] ramonmulia opened #408 "error when install extract-text-webpack-plugin"
Guys, I was trying to install but I got this error:

 **extract-text-webpack-plugin@1.0.1 requires a peer of webpack@^1.9.11 but none was installed.**

How can I resolve this?

[2017-02-15 23:40] defaude commented on #106
I still think *this* issue should not be closed.

# tl;dr: Skip to the "So what do I want?" section if you're not interested in what I do not want :)

For a rather large application, I want the amount of chunks loaded at startup to be as minimal as possible while still being able to dynamically load another chunk at runtime (e.g. on route changes). I do *not* want to use the `allChunks: true` opti

[2017-02-16 01:23] michael-ciniawsky commented on #408
@ramonmulia This should be a npm warning only that you need to install `webpack` :D, if you have webpack@^1.x` installed which I assume is the case it should work. For `webpack@^2.x` please install `extract-text-webpack-plugin@2.0.0-rc.3` to work properly

[2017-02-16 03:15] hulkish commented on #366
I'm seeing this issue

[2017-02-16 06:26] bebraw commented on #366
@hulkish Was that against the example above? Can you provide some information on your environment?

[2017-02-16 06:26] bebraw commented on #408
Closing as this was answered. The webpack 2 version is still under development.

[2017-02-16 06:26] #408 closed

[2017-02-16 15:55] FrankFan commented on #30
It's take several hours in this problem, but finally find solution here.
Thanks

[2017-02-17 04:06] hulkish commented on #366
@bebraw I'm having issues reproducing this again. However, I am still using same version of everything. I will report again if I see it again.

[2017-02-17 06:50] eldyvoon opened #412 ""extract-text-webpack-plugin" loader is used error with webpack 2."
[code]

What is wrong here? I got this error : Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin

I also tried this

[code]

Nothing works :(, my webpack version is ```"webpack": "^2.1.0-beta.25",```

[2017-02-17 09:29] dorin131 commented on #412
@eldyvoon Try this
[code]

[2017-02-17 09:34] eldyvoon commented on #412
@dorin131 tried your code but it doesn't work

my package.json

"extract-text-webpack-plugin": "beta",
"webpack": "^2.1.0-beta.25",
"webpack-dev-server": "^2.1.0-beta.0",

[2017-02-17 09:38] dorin131 commented on #412
@eldyvoon
I would also try to use the latest versions of these packages. Like this:
[code]
delete you node_modules and reinstall

[2017-02-17 09:42] dorin131 commented on #412
@eldyvoon Have you installed `css-loader` and `less-loader`?

[2017-02-17 09:50] eldyvoon commented on #412
@dorin131 yes I have them installed.

here's my whole webpack.dev.config.js http://pastebin.com/raw/SU2qi5JE

[2017-02-17 09:53] dorin131 commented on #412
@eldyvoon
I think you should have "loaders" instead of "rules"
So try changing this
[code]
to
[code]

[2017-02-17 09:57] eldyvoon commented on #412
@dorin131  nope it still has the same error.

[2017-02-17 10:15] eldyvoon commented on #412
@bebraw Which file you need?

[2017-02-17 10:20] bebraw commented on #412
@eldyvoon I don't see how you are initializing the plugin. That's what the error is complaining about.

[2017-02-17 10:20] dorin131 commented on #412
@eldyvoon It looks like you're missing `new ExtractTextPlugin` in your plugins constant. Check the documentation.

[2017-02-17 10:23] eldyvoon commented on #412
@dorin131 exactly! I missed this `plugins : ExtractTextPlugin("styles.css")` but I have no clue what's that style.css for.

[2017-02-17 10:32] dorin131 commented on #412
@eldyvoon That is where your styles are going to be saved to.

[2017-02-17 10:36] eldyvoon commented on #412
@dorin131 I changed it to testingAbc.css, but after done compiling I don't see any testingAbc.css.

[2017-02-17 12:36] dorin131 commented on #412
@eldyvoon nothing in your /public folder?
are you still getting an error?

[2017-02-17 15:13] scottdj92 commented on #299
@George3d6 It looks like your config needs to be updated:

```new ExtractTextPlugin("style.css", {allChunks: true}),``` to ```new ExtractTextPlugin({filename: 'style.css', allChunks: true});```

[2017-02-17 15:24] scottdj92 commented on #412
@eldyvoon Can you share your whole webpack config?

[2017-02-17 21:17] scottdj92 commented on #263
Documentation has been updated [#413](https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/413)

[2017-02-17 21:18] scottdj92 commented on #250
Considering that the documentation has been updated: [#413](https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/413), can we close this one and similar issues?

[2017-02-18 06:30] Shafley commented on #213
I set `publicPath: '../'`, the result is `../images`, but `publicPath: '../../'` result is `../images` too. Is't a bug?

[2017-02-19 01:13] koutsenko commented on #250
@zhuping it's not work for me,
[code]

[2017-02-19 04:38] Moocow89 commented on #412
I am getting the same error:

![screen shot 2017-02-18 at 11 17 46 pm](https://cloud.githubusercontent.com/assets/17732223/23099375/f424991e-f632-11e6-930d-3ea20019b4d2.png)

But I am using the plugin in my config:

![screen shot 2017-02-18 at 2 11 41 pm](https://cloud.githubusercontent.com/assets/17732223/23099374/f4235842-f632-11e6-9f2f-66e5663b8aa5.png)

using the following versions:
"extract-t

[2017-02-19 12:41] bebraw commented on #385
Please re-open with a project to study. Closing for now.

[2017-02-19 12:41] #385 closed

[2017-02-19 13:48] eldyvoon commented on #412
@scottdj92 it worked now, I just missed

[code]

[2017-02-19 14:11] bebraw commented on #399
I understand what's going on now. It writes `publicPath` correctly, but it fails to take that into account when emitting a file. That has to do with the way **file-loader** works. Based on its implementation it does **not** use `publicPath` when emitting. That explains the behavior.

Based on that I would say we cannot fix the issue at **extract-text-webpack-plugin** and should push it to **file-l

[2017-02-19 14:39] bebraw commented on #399
I think I figured this out. `publicPath` option applies only to the context in which `ExtractTextPlugin` runs. So you could use it to adjust each image path within CSS and so on.

To get the behavior you want, instead of `new ExtractTextPlugin("libs.css"),` you should use `new ExtractTextPlugin("assets/libs.css"),`.

[2017-02-19 14:39] #399 closed

[2017-02-19 15:40] bebraw commented on #405
Can you open the question at Stack Overflow? Thanks.

[2017-02-19 15:40] #405 closed

[2017-02-19 15:42] bebraw commented on #377
Can you show how you are calling the plugin right now? The plugin call provides control, but I would need to see your current definition to say how to tweak it.

[2017-02-19 16:25] bebraw commented on #397
Any update?

[2017-02-19 16:28] bebraw commented on #401
Maybe you want

[code]

Worth a go. I don't understand Angular enough to give a definite answer. I would need a project to run anything more.

[2017-02-19 16:30] bebraw commented on #355
Any update? You could get that error if you are running against webpack 1 or have old dependencies around. Could you set up a project to study?

[2017-02-19 16:31] #392 closed

[2017-02-19 16:33] bebraw commented on #352
Can anyone confirm this? There's not enough information to debug. Ideally you should be able to isolate a small project to study. Otherwise this won't progress.

[2017-02-19 16:35] bebraw commented on #354
@maxlibin Any chance for a project to study?

[2017-02-19 16:36] bebraw commented on #339
Can someone set up a standalone project to study?

[2017-02-19 16:37] #336 closed

[2017-02-19 16:38] #299 closed

[2017-02-19 16:39] bebraw commented on #294
Please re-open with a small project study if still relevant.

[2017-02-19 16:39] #294 closed

[2017-02-19 16:41] bebraw commented on #291
I think `BannerPlugin` could do this with small tweaks. Track https://github.com/webpack/webpack/issues/4252 .

[2017-02-19 16:41] #291 closed

[2017-02-19 16:42] #298 closed

[2017-02-19 16:44] bebraw commented on #396
Please re-open if still relevant.

[2017-02-19 16:44] #396 closed

[2017-02-19 16:44] #279 closed

[2017-02-19 16:48] bebraw commented on #246
Can you confirm this against webpack 2?

[2017-02-19 16:51] #228 closed

[2017-02-19 18:27] bebraw commented on #95
Can someone try with webpack 2?

[2017-02-19 18:27] bebraw commented on #93
Can you try with webpack 2?

[2017-02-19 18:28] bebraw commented on #51
Can you try with webpack 2?

[2017-02-19 18:29] bebraw commented on #35
Can someone try with webpack 2?

[2017-02-19 20:45] michael-ciniawsky commented on #354
@medigvijay

[code]

[2017-02-19 20:49] michael-ciniawsky commented on #354
@maxlibin

[code]

[2017-02-19 21:24] jcasero commented on #250
@koutsenko It's a known bug of the stable version. Take a look [here](https://github.com/webpack/webpack/issues/2764#issuecomment-277683820)

[2017-02-20 03:57] bebraw commented on #354
Please re-open with a project to study if that won't fix.

[2017-02-20 03:57] #354 closed

[2017-02-20 04:40] joezimjs commented on #377
Honestly, I don't remember making this issue (man my memory has been sucking lately) and I can't find the project that would have given an output like that. @Aenohe may be able to help since he hit the thumbs up.

[2017-02-20 12:44] aminpaks commented on #401
You might try the `raw-loader` like this:

`
    use: [{ loader: 'raw-loader' }, { loader: 'css-loader' }, { loader: 'sass-loader' }]
`

For some reason Angular is not working with `css-loader` alone!

[2017-02-20 13:27] squadwuschel commented on #401
@bebraw that I've tried its not working. When I've some time I will create a short example

[2017-02-20 13:28] squadwuschel commented on #401
@aminpaks the problem is the ExtractText Plugin, when I don't use it I get it running with postcss loader

[2017-02-20 14:02] Nopzen commented on #50
Sorry for ripping back up this issue here, but I'm currently experience the same issue, even tho when I log my `webpackConfig` just before execution and it shows me this:

[code]
I clearly shows the `ExtractTextPlugin` is a part of the plugins in my config i get this following error:

[code]

If I'm running pretty much face against the wall, now after seen various issue fixes in this thread. :)  I

[2017-02-20 14:07] scottdj92 commented on #412
@bebraw close this issue?

[2017-02-20 14:15] bebraw commented on #412
Yeah, good call.

[2017-02-20 14:15] #412 closed

[2017-02-20 14:17] Moocow89 commented on #412
You never answered my problem

[2017-02-20 14:19] scottdj92 commented on #412
@Moocow89 Can you provide a repo so I can debug it? :)

[2017-02-20 14:20] bebraw commented on #412
@Moocow89 Can you open a separate issue with a project to run? The configuration looks fine, but we are missing info.

[2017-02-20 14:24] szimek opened #416 "Fallback loader is not used even if plugin is disabled"
I'm using `2.0.0-rc.3` and have `style-loader` set as the fallback loader, but even when the plugin is disabled, it still puts all styles in a blob instead of `<style>` element. I'm not sure what `allChunks` options actually does, but I tried it both ways and it always uses a blob. This unfortunately breaks loading of all assets referenced in CSS (I'm using absolute paths like `src: url(/fonts/pro

[2017-02-20 14:26] Moocow89 commented on #412
sure, here is the repo:

https://github.com/Moocow89/portfolio-website

[2017-02-20 14:27] scottdj92 commented on #416
If you disable ExtractTextWebpackPlugin, webpack will revert back to its own CSS bundling in a blob and the loader you specify in your fallback is never used.

Are you trying to extract your CSS with only `style-loader`?

[2017-02-20 14:29] Moocow89 opened #417 "Getting Error with Extract-Text-Webpack-Plugin"
I am getting this error below:

![screen shot 2017-02-18 at 11 17 46 pm](https://cloud.githubusercontent.com/assets/17732223/23099375/f424991e-f632-11e6-930d-3ea20019b4d2.png)

But I am using the plugin in my config:

![screen shot 2017-02-18 at 2 11 41 pm](https://cloud.githubusercontent.com/assets/17732223/23099374/f4235842-f632-11e6-9f2f-66e5663b8aa5.png)

using the following versions:
"extract

[2017-02-20 14:29] Moocow89 commented on #412
Added a new issue:

https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/417

[2017-02-20 14:36] szimek commented on #416
I'll explain what I'm actually trying to do ;)

Currently my config looks more or less like this:
[code]
I hoped that I can have only one config for CSS instead, i.e. always use this plugin, but simply disable it in development. However, I can't figure out how to make this plugin to output styles inside `<style>` element and not in a blob.

[2017-02-20 14:47] bebraw commented on #417
Which commands are you running? Could you simplify the project and drop anything that's not needed to get the error?

[2017-02-20 15:11] scottdj92 commented on #416
You can replace `style-loader` with [inline-style-loader](https://www.npmjs.com/package/inline-style-loader) for your development config to have your styles loaded inline.

[2017-02-20 15:17] scottdj92 commented on #417
I cloned the repo, ran `npm start` and didn't receive any errors.

@Moocow89 Can you run `node -v` in your terminal and tell us what version of Node you're using? For my case, I was running `7.5.0`

[2017-02-20 15:31] Moocow89 commented on #417
@scottdj92 I was running an old version on node so I updated it to 7.5.0 but am still getting the same error. I only get the error when I run "npm run build", running "npm start" does not give me the error.

[2017-02-20 15:39] szimek commented on #416
@scottdj92 Thanks for your help, but I don't understand 😕  Are you saying I should replace `fallback: 'style-loader'` with `fallback: 'inline-style-loader'`.

The code I posted above with separate configs for development and production works fine (i.e. in development I got `<style>` element with all styles inside and in production a <link> element with `src` pointint to `.css` file). I'd like to s

[2017-02-20 15:43] Twiksss87 commented on #118
scythargon commented on 3 Jun 2016

it's work for me? thanks!

[2017-02-20 16:12] scottdj92 commented on #417
Ah, I see. I'm getting the same error. It looks like this project was cloned from Cory House's lesson on Pluralsight. Did you see in the video that he had it working?

It looks like line 50 causes it to throw an error. Removing `underscore-template-loader` fixes the error and makes the project run correctly.

[2017-02-20 16:16] scottdj92 commented on #416
It's generally a better practice to separate configuration logic regarding different environments.

[code]

[2017-02-20 16:19] szimek commented on #416
@scottdj92 Thanks! I thought that when `disabled` option is on, this plugin will simply pass everything through defined loaders without doing much else.

[2017-02-20 16:22] Moocow89 commented on #417
@scottdj92 I think that worked. Thank you very much. I did originally copy a lot of this from the Pluralsight course, but Cory doesn't use SCSS in the build so that's where I started running into problems.

[2017-02-20 16:23] #416 closed

[2017-02-20 16:37] bebraw commented on #417
Apparently this is related to https://github.com/webpack/webpack/pull/4189 . Once that gets merged, the original code might work. Worth a go after that.

[2017-02-20 23:22] alvaro9210 commented on #397
This is still not working and I still don't know why.
The exception, like you said, is being thrown by angular, but I don't know why when I use this plugin it's always returning an object as an argument of the `style_url_resolver.ts` `extractStyleUrls` function.
When I use a configuration for scss/css files without using the ExtractTextPlugin, everything works fine, but when using the loader it ju

[2017-02-21 02:54] yugasun commented on #246
@bebraw I haven't use webpack 2, the config is for webpack 1.14.

[2017-02-21 06:02] bebraw commented on #246
Ok. Note that you can set `publicPath` at extract-text-plugin itself. That will likely fix your issue.

If you can confirm it's broken with webpack 2, please re-open.

[2017-02-21 06:02] #246 closed

[2017-02-21 06:15] Programmix opened #418 "Webpack throwing config validation error"
Here's (most of) my webpack configuration:
![image](https://cloud.githubusercontent.com/assets/13167687/23153466/9f88364a-f7bd-11e6-8eaf-8909d3dd77be.png)

Here's the issue I'm experiencing:
![image](https://cloud.githubusercontent.com/assets/13167687/23152878/f212401c-f7b9-11e6-95a0-e1ca07c54143.png)

The issue, to my knowledge, seems to reside in the `.extract` function in the rules configuratio

[2017-02-21 06:30] bebraw commented on #397
There is some mismatch going on. Note that `ExtractTextPlugin.extract` returns an array of objects (new protocol). Earlier it returned a string query. Could Angular choke on that somehow?

[2017-02-21 06:57] michael-ciniawsky commented on #418
[code]

How does POSTCSS_OPTIONS look like ?

[2017-02-21 07:01] Programmix commented on #418
Thanks for those changes!
![image](http://i.imgur.com/AzhMQms.png)
These are my POSTCSS_OPTIONS.

[2017-02-21 07:11] michael-ciniawsky commented on #418
cssnano is used by css-loader internally when you set `minimize: true`, I think you can even pass these options (`POSTCSS_OPTIONS`) to `['css-loader'].minimize` directly =>

[code]

Anyways 😛 , does it build now ?

[2017-02-21 07:20] Programmix commented on #418
Awesome, removed `postcss-loader` and it built successfully. Thank you so much. 😄

[2017-02-21 07:20] #418 closed

[2017-02-21 11:11] jorawarsingh opened #420 "ERROR in Child compilation failed"
I am using the latest release candidate 3 and facing an issue when using this plugin. every works fine but but when i want to use styleUrls in my component i get this weired errors.

I am trying to use aot plugin with webpack. is i remove styleUrls then it build as  is should.  Here is my small repo on [bitbucket.](https://bitbucket.org/jorawarsingh/modal-driven-form)
How to reproduce this.
 in sr

[2017-02-21 12:30] cebor opened #421 "Deprecation Warning"
Since the last update of `loader-utils@0.2.17` i'm getting the following deprecation warning:

[code]

ExtractTextWebpackPlugin: `^2.0.0-rc.3`

[2017-02-21 12:39] beckend commented on #95
Since it was my issue, and i deem that this is no longer valid for the latest version as of writing - `2.0.0-rc.3`. Since this version does not really care about exclude since in webpack 2 has the new `loader.use` and it's working fine with exclude.

[2017-02-21 12:39] #95 closed

[2017-02-21 13:23] GeorgeKnap commented on #50
running into this error too after adding the @ngtools/webpack loader and setting up the Angular's AOT.
JIT worked fine with ts-loader.

[code]
npm 3.10.6 node 6.9.5, webpack 2.2.1, extract-text-webpack-plugin 2.0.0-rc.3

config:
[code]

Any ideas?

[2017-02-21 13:43] JordyVialoux commented on #50
Guys I'm stuck on this issue as well... Any ideas?

`const debug = process.env.NODE_ENV !== "production";
const webpack = require('webpack');
const path = require('path');
const ExtractTextPlugin = require("extract-text-webpack-plugin");

module.exports = {
  context: path.join(__dirname, "src"),
  devtool: debug ? "inline-sourcemap" : null,
  entry: "./js/client.js",
  module: {
    loaders: [

[2017-02-21 14:00] GeorgeKnap commented on #50
jsut noticed there is a new issue about this with possible solution
[https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/417](url)

[2017-02-21 14:24] scottdj92 commented on #420
There's a PR up from the maintainer: [4189](https://github.com/webpack/webpack/pull/4189). When this is merged (should be within 1-2 days from now), this feature should work.

[2017-02-21 15:04] xtianus79 opened #422 "Module build failed: No input specified: provide a file name or a source string to process"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.
I am using this version of the plugin...
 "extract-text-webpack-plugin": "^2.0.0-rc.3",

The error

[2017-02-21 15:09] scottdj92 commented on #422
can you provide your webpack config?

[2017-02-21 21:20] scottdj92 commented on #315
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:20] #315 closed

[2017-02-21 21:21] scottdj92 commented on #311
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:21] #311 closed

[2017-02-21 21:21] scottdj92 commented on #290
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:21] #290 closed

[2017-02-21 21:21] scottdj92 commented on #287
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:21] #287 closed

[2017-02-21 21:22] scottdj92 commented on #277
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:22] #277 closed

[2017-02-21 21:22] scottdj92 commented on #258
Closing due to old webpack version. If your issue persists, feel free to re-open.

[2017-02-21 21:22] scottdj92 commented on #222
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:22] #222 closed

[2017-02-21 21:24] scottdj92 commented on #110
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:24] #110 closed

[2017-02-21 21:25] scottdj92 commented on #255
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:25] #255 closed

[2017-02-21 21:25] scottdj92 commented on #240
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:26] scottdj92 commented on #219
Closing due to age. If your issue persists, feel free to re-open.

[2017-02-21 21:26] #219 closed

[2017-02-21 22:34] wsfuller opened #424 "Unable to parse Sass (.scss)"
Unable to get Webpack 2.2.1 to parse a .scss file

I'm not sure what's going on with these loaders. I'm following the [setup guide](https://webpack.js.org/plugins/extract-text-webpack-plugin/) and getting module parsing errors for some reason. I can get the CSS-Loader to work but when it comes to sass the provided plugins aren't working. What am I doing wrong in this setup?

**package.json**

[2017-02-21 23:01] michael-ciniawsky commented on #424
r/development/react-tutorials/webpack-demo/app/assets/stylesheets/test-style.scss Unexpected token (1:2)

@wsfuller Seems lika Syntax Error in `test-style.scss` missing `.` before `a` (ClassSelector)

`a {}` => `.a {}`

[2017-02-21 23:04] michael-ciniawsky commented on #424
But I wonder still, bc it should work, `sass-loader` seems to be executed nevertheless

[2017-02-21 23:07] wsfuller commented on #424
The intent was to purposely apply that to the anchor tag. I would run this through Gulp and the lib-sass compiler, the only reason is to then test autoprefixer and make that is working since the `display` property needs vendor prefixes and easy to write.

I've added:

    {
      test: /\.scss$/,
      loader: ExtractTextPlugin.extract({
        fallback: "style-loader",
        use: "css-loader!s

[2017-02-21 23:13] michael-ciniawsky commented on #424
I understand :), this maybe related [SASS Loader #372](https://github.com/webpack-contrib/sass-loader/issues/372). Could you please post your issue there aswell, maybe sass-loader recently introduced a bug somwhere. Thx in advance 👍 💯

[2017-02-21 23:21] wsfuller commented on #424
You got it, posted answer on that issue.

[2017-02-22 04:22] bassbump commented on #421
Also see https://github.com/webpack/loader-utils/issues/56

[2017-02-22 08:46] FezVrasta commented on #240
I don't see why you should close an issue just because you never replied to it, do as you want.

[2017-02-22 14:41] scottdj92 commented on #240
Apologies. I was cleaning up the older issues. As far as I know, I don't think there's support for something like this. Could there be a different loader that does what you're trying to do?

[2017-02-22 14:44] xtianus79 commented on #422
here it is....

[2017-02-22 14:46] FezVrasta commented on #240
I wasn't able to find one and I think it would be quite useful.

[2017-02-22 15:13] scottdj92 commented on #240
Sure @sokra are there plans to support this?

[2017-02-22 15:14] scottdj92 commented on #422
I mean your configuration file :)

[2017-02-22 15:30] xtianus79 commented on #422
@scottdj92 oh sorry :)

    module.exports = {
    entry: {
        'polyfills': './src/polyfills.ts',
        'vendor': './src/vendor.ts',
        'app': './src/main.ts'
    },

    resolve: {
        extensions: ['*', '.ts', '.js', 'scss', 'sass', '.json']
    },

    module: {
        loaders: [
            {
                test: /\.ts$/,
                loaders: ['awesome-typescript-loader',

[2017-02-22 15:31] scottdj92 commented on #422
ahh, the syntax changed from webpack 1 to webpack 2.

[code]

[2017-02-22 15:33] xtianus79 commented on #422
so all loaders and loader should be use?

[2017-02-22 15:35] scottdj92 commented on #422
It should be, yes. Webpack should have thrown a warning informing you of this, but maybe the `sass-loader` threw an error before then, and prevented that behavior.

[2017-02-22 15:37] xtianus79 commented on #422
ok thanks, i will check this out

[2017-02-22 15:39] scottdj92 commented on #422
Yup! Webpack 2.2.1.

[2017-02-22 18:33] mistic opened #425 "Extracts an empty css file without any error"
Hi guys,

I'm having a serious problem with extract text webpack plugin. When I use the follow configuration the css are extracted:

[code]

But I want to use css modules so I changed the configuration to:

[code]

However at this time the extracted file is always empty. Do you have any idea why?

[2017-02-22 21:49] monokrome commented on #50
@GeorgeKnap It seems like this issue disappeared :'(

[2017-02-22 22:47] samithaf commented on #179
@bebraw @Findiglay I try out your solution and and thanks for posting. But Still web pack creates multiple css bundles.

[2017-02-23 02:30] hulkish commented on #366
Yea, I'm definitely still seeing this issue in rc.3. However, I am having difficulty nailing down the cause.

[2017-02-23 02:58] mistic commented on #425
OK I found the problem. It was my fault at purifyCSS plugin.

[2017-02-23 02:58] #425 closed

[2017-02-23 04:05] bebraw commented on #179
@samithaf Can you open a separate issue with a link to to your project source in it? There is not enough info to debug.

[2017-02-23 04:43] GeorgeKnap commented on #50
the url was not working. this is the one: #417

[2017-02-23 06:32] priyasam commented on #420
Kindly let us know, when will this issue get resolved? I am also experiencing the same issue @2.0.0-rc.3

[2017-02-23 13:53] hulkish commented on #366
so,  ive tried everything in order to get to the bottom of this one.  If anyone ekse xan provide some insight that'd be really helpful.

[2017-02-23 13:58] scottdj92 commented on #366
@hulkish can you share your repo?

[2017-02-23 14:04] hulkish commented on #366
@scottdj92, it seems to occur when trying to use completely webpack 2 syntax of `use`,  instead of `loaders`,  and / or `options` instead of `query`

[2017-02-23 14:09] hulkish commented on #366
ibe tried several versions of: sass-loader,  postcss-loader,  css-loader,  style-loader & extract-text-webpack-plugin...  it didn't affect my result..  but adding webpack 2 syntax def broke it

[2017-02-23 14:12] scottdj92 commented on #366
Can you share your repo and webpack config?

[2017-02-23 14:14] hulkish commented on #366
i can't due to proprietary reasons..  but i will try to recreate tge issue in  a new repo and share here

[2017-02-23 14:31] hulkish commented on #366
perhaps my approach is incorrect..  is the following the intended loader syntax for `extract-text-webpack-plugin@2.0.0-rc.3`?

[code]

[2017-02-23 14:35] bebraw commented on #366
@hulkish You are missing a brace after `fallback: { loader: 'style-loader',  options: { sourceMap: true },`. Could that be it?

There really is no way we could help without a small test case to study.

[2017-02-23 14:40] hulkish commented on #366
@bebraw no...  thats just my fat thumbs because i wrote it on my phone (i give you permission to point and laugh),  just wanted to give a quick idea of what im trying to do

[2017-02-23 15:27] hulkish commented on #366
@bebraw can you at least confirm that my snippet above is the correct intended usage?

[2017-02-23 15:32] scottdj92 commented on #366
It looks right to me, if you follow with what @bebraw mentioned.

[2017-02-23 15:45] wzup commented on #375
@RSO doesn't work what you say

[2017-02-23 15:56] wzup commented on #364
@bebraw
No, it's not `font-awesome-loader`. I don't have `font-awesome-loader` and I have the error.
[code]

A list of modules I use:
[code]

[2017-02-23 15:57] bebraw commented on #364
@wzup There's not enough information to tell what's wrong. I would need the plugin definition at least to tell why the validation is failing.

[2017-02-23 15:58] wzup commented on #364
@bebraw I've updated my prev post

[2017-02-23 16:07] bebraw commented on #364
@wzup Are you absolutely sure you are using rc3? rc2 would throw in the line your trace points to.

[2017-02-23 16:25] wzup commented on #364
@bebraw

Exactly it was `rc2`. Thank you very much for your quick response. Re-installation of the plugin solved the issue.

[code]

Am working on two apps with similar webpack configs and just couldn't understand why one compiles all right and the other doesn't. Didn't notice the version difference.

![extract text plugin error - sublime text - 2017-02-24 00 09 15](https://cloud.githubusercontent

[2017-02-23 16:26] bebraw commented on #364
@wzup No worries. Cool to hear you got it. 👍

[2017-02-23 19:44] Nilegfx commented on #363
I am aware that this one is closed, but if you ever came to here, make sure that you don't use style-loader as one of `ExtractTextPlugin`'s loaders

[2017-02-23 19:46] zachmullen commented on #363
@Nilegfx I use it as the `fallbackLoader`, not sure that ever gets invoked though.

[2017-02-23 19:54] bebraw commented on #363
@zachmullen It gets invoked **only** if you have set `allChunks: false` and you have a split point that refers to CSS (or whatever styling you are using) somewhere.

[2017-02-23 20:09] matheusml opened #426 "CSS Modules code splitting with Webpack 2"
Is there a way to do code splitting with Webpack 2, the same way that we're already able to do for JavaScript files, but for CSS, specially with CSS Modules?

The main parts of my current ```webpack.config.js``` are:

[code]

[2017-02-23 22:03] samithaf commented on #179
@bebraw I will create a sample project which is identical to my current project and share the link. Thanks

[2017-02-24 07:26] humorHan opened #427 "DeprecationWarning . --- extract-text-webpack-plugin + webpack 2.x"
premise:
Webpack2.x extract-text-webpack-plugin2.0.0-rc.3
Throw as shown below warning, it is not found the reason.

![c6933aef-d47b-4ce5-b57d-2f06bfc5375d](https://cloud.githubusercontent.com/assets/10398024/23294238/5ca1a8e4-faa5-11e6-88f0-30963b332ee8.png)

[2017-02-24 11:20] Tiendq opened #428 "Can't extract multiple .css files from a single .js entry (imported multiple .scss files)?"
How can I extract `main.scss` and `home.scss` into `main.css` and `home.css` in the following example?

**Result:** There was no error, but only `home.css` was created.

**home.js**
[code]

**main.scss**
[code]

**home.scss**
[code]

**webpack.config.js**
[code]

[2017-02-24 11:31] logicoder commented on #427
https://github.com/webpack/loader-utils/issues/56

[2017-02-24 13:56] scottdj92 commented on #427
@michael-ciniawsky @bebraw :shipit:

[2017-02-24 13:58] scottdj92 commented on #428
Use `ExtractTextPlugin.extract({use: ['css-loader', 'sass-loader']});`

[2017-02-24 14:22] #427 closed

[2017-02-24 14:24] dKab opened #430 "lowerCased option filename doesnt make sense"
option names are inconsistant
I wonder why it is `ignoreOrder` and `allChunks` (camelCase), but `filename`. I mean shouldn't it also be `fileName`? I understand that renaming it would break existing configs, but we could add alias fileName which would also work.

[2017-02-24 14:54] xtianus79 commented on #422
@scottdj92 this still did not do anything.  the error still persists

[2017-02-24 15:03] scottdj92 commented on #422
Oh, I missed this earlier. You need to add a `new ExtractTextPlugin({filename: '[name].css'});` in your `plugins` array.

[2017-02-24 15:21] fdaciuk commented on #285
Same issue using dynamic `import()` on webpack2. Someone has any solution?

[2017-02-24 16:08] Tiendq commented on #428
@scottdj92 What is difference? is mine a short form of yours?

[2017-02-24 16:15] brokenmass commented on #258
i still have the same issue with webpack2

[2017-02-24 16:31] scottdj92 commented on #258
Are you seeing this with the most recent version of this plugin?

[2017-02-24 16:43] scottdj92 commented on #428
I'm not sure I can answer this question: @bebraw any input?

[2017-02-24 16:46] bebraw commented on #428
I would do two `extract`/plugin pairs to deal with it and match the cases separately like in the readme example.

[2017-02-24 17:26] brokenmass commented on #258
Hi @scottdj92.
Yes I'm using the most recent version of the plugin.
relevant webpack config is
[code]

sourceMap sources path are in the form `"webpack:///webpack:///~/bla/bla/bla/file.scss"`.

Anyway it looks like the problem is still caused by css-loader that force a 'wrong' sourceRoot.

I created a PR there https://github.com/webpack-contrib/css-loader/pull/429 to 'fix' or at least mitigate the

[2017-02-24 18:25] eryshev commented on #371
Is it fixed in rc.3 ?
I updated my webpack/plugins to
`"extract-text-webpack-plugin": "v2.0.0-rc.3",
    "file-loader": "latest",
    "react-hot-loader": "latest",
    "style-loader": "latest",
    "ts-loader": "latest",
    "css-loader": "latest",
    "url-loader": "latest",
    "webpack": "2.2.1",
    "webpack-dev-server": "2.4.1",
    "webpack-merge": "latest",
    "webpack-dashboard": "0.3.0"`

[2017-02-24 18:31] scottdj92 commented on #371
Did you do `npm install` after you upgraded? `ajv` is a dependency of extract-text-plugin now

[2017-02-24 18:38] eryshev commented on #371
I certainly did `npm update` .
I'll try install, ty.

Le ven. 24 févr. 2017 à 19:31, Scott Jones <notifications@github.com> a
écrit :

[2017-02-24 20:19] ryanwilsonperkin opened #433 "Webpack 2: Installation of beta tag broken on NPM"
Hello!

Just noticed that the recommended installation method for webpack (`npm install --save-dev extract-text-webpack-plugin@beta`) appears to be broken. Not super familiar with npm's version specifiers, but this could have to do with the v2.0.0 push that happened a few hours ago.

Perhaps the recommendation is just "update to 2.0.0 now"?
If so let me know and I'd be happy to submit a PR to upda

[2017-02-24 20:24] d3viant0ne commented on #433
@ryanwilsonperkin - The as of this morning, the `beta` tag would have been a version behind `latest` which would have cause other issues.

The `beta` tag in npm no longer exists so yes, `npm i extract-text-webpack-plugin@latest --save` is the correct route.

[2017-02-24 20:25] d3viant0ne commented on #433
In the next day or two, the `beta` tag will be used to published `v2.1.0-beta.0` which has a few pull request waiting to merge on the `2.0.0` release.

[2017-02-24 20:26] ryanwilsonperkin commented on #433
Looks like @candu beat me to it in #432
Thanks! We'll update our `package.json`

[2017-02-24 20:26] #433 closed

[2017-02-24 21:12] ryanwilsonperkin commented on #430
@dKab `filename` is actually considered correct english spelling
see: https://en.wikipedia.org/wiki/Filename

[2017-02-24 21:19] ryanwilsonperkin commented on #420
@priyasam change has been merged, try pulling latest from webpack and testing out again

[2017-02-24 21:25] dKab commented on #430
@ryanwilsonperkin Very interesting, I didn't know that, my apologies.

[2017-02-24 21:50] scottdj92 commented on #430
Thanks for your input! Closing this issue. Re-open if you want to discuss it again.

[2017-02-24 21:50] #430 closed

[2017-02-25 07:48] Roy9102 commented on #261
@allahbaksh It means your global webpack (terminal cli) is the webpack@1.xxx, you need to upgrade your webpack,  you can check out your webpack version by 'webpack -v'

[2017-02-25 11:31] cebor commented on #421
fixed: 16e7601134a88bf9f983e79fb26484a9824432d5

[2017-02-25 11:31] #421 closed

[2017-02-25 17:15] xtianus79 commented on #422
@scottdj92 what is this option supposed to do... i will read up on it

[2017-02-25 17:35] xtianus79 commented on #422
i did what you were saying and it still doesn't work.  I didn't even notice anything different with what you were saying.

[2017-02-25 18:49] tconroy commented on #119
Thank you so much @jamesthurley && @elsigh ! this was indeed the issue and the shared fix worked perfectly for me. Cheers! 🍻

[2017-02-26 03:58] Awk34 commented on #261
@allahbaksh https://webpack.js.org/api/node/

[2017-02-26 04:56] qidaneix opened #434 "How to minify the css file extract by extract-text-webpack-plugin?"
I use webpack@2.2.1 and extract-text-webpack-plugin to extract css into a separate .css file. I have read the document but I can find a way to minify the .css file. How to do it?

[2017-02-26 09:14] michael-ciniawsky commented on #434
@qidaneix Set the minimize option in `css-loader`

[code]

or use `postcss-loader`+ `cssnano`,  `csso-loader` etc. `ExtractTextPlugin` has nothing to do with minification, it's just for extraction regardless if contents are minified or not. 😛

[2017-02-26 09:41] wzup opened #435 "No compatible version found: extract-text-webpack-plugin@beta"
I want to install `^2.0.0-rc.3`. But I get error `No compatible version found: extract-text-webpack-plugin@beta`.
How to install `rc.3`?

[code]

[2017-02-26 10:47] michael-ciniawsky commented on #435
@wzup `v2.0.0` is released and under the `latest`  tag now, try

`npm i extract-text-webpack-plugin`  😛 :D

[2017-02-26 15:03] ermakovich commented on #35
If you are not using webpack dev server, you need to pass `children: false` to the `stats.toString` method in your webpack change handler. Example:

[code]

[2017-02-26 19:35] scottdj92 commented on #422
in `plugins: []` add `new ExtractTextPlugin({filename: '[name].css'});`. You need to create the plugin and give it a filename for it to extract text.

[2017-02-26 20:47] rstacruz commented on #35
Can confirm it works with webpack@2.2.1 + extract-text-webpack-plugin@2.0.0.

[2017-02-27 01:57] Tiendq commented on #428
@bebraw Did you mean `Multiple Instances` example? Could you give me a bit of webpack config for my case? I guess I need to hard code some file name but it's not a solution, what if I have more Scss files?

Thanks,

[2017-02-27 05:59] Tiendq commented on #428
It seems that there is the only way to extract multiple CSS files:

https://blog.madewithenvy.com/webpack-2-postcss-cssnext-fdcd2fd7d0bd

[2017-02-27 06:02] bebraw commented on #428
Here's the [example](https://github.com/webpack-contrib/extract-text-webpack-plugin#multiple-instances) you requested for.

Can you re-open at Stack Overflow (the issue tracker is not for support) for more input?

[2017-02-27 06:02] #428 closed

[2017-02-27 06:03] #435 closed

[2017-02-27 07:36] humorHan commented on #427
@bebraw  Thank you very much for solving this problem, because it looks so bad。

[2017-02-27 09:07] albertogasparin commented on #434
@qidaneix @michael-ciniawsky
The downside of `css-loader` is that the minification is per included file, not global. If you like to have the entire css bundle minified I would suggest you to have a look at [OptimizeCssAssetsPlugin](https://github.com/NMFR/optimize-css-assets-webpack-plugin).

[2017-02-27 12:48] eryshev commented on #371
Thx `npm install` my problem is resolved..

[2017-02-27 13:20] kostasmanionis opened #436 "css extracted incorrectly when using split chunks"
I'm not entirely sure if this is a bug(might not even be related to this plugin), but I think it should be pretty easy to identify. I've setup a repro case here https://github.com/kostasmanionis/webpack-extract-import

## The setup
Two entry files. Each one imports a module(`asyncModuleLoader.js`) that loads another module on demand(`asyncModule.js`). BUT one of the entry files also imports a thir

[2017-02-27 20:40] hulkish commented on #366
I **finally** determined the cause...can you spot it?
[code]
This should have been far more obvious on my part, still don't know how I missed it. Anyway - hopefully my headbutting at least benefits someone else... double triple check your webpack config, folks!

[2017-02-27 20:52] scottdj92 commented on #366
Please explain what you fixed, for posterity. Afterwards if there's no other issues, I can close this up! 😄

[2017-02-27 20:55] hulkish commented on #366
`[name].[hash].js` => `[name].[hash].css`...... walk of shame

[2017-02-27 20:57] scottdj92 commented on #366
It happens to the best of us.

[2017-02-27 20:57] #366 closed

[2017-02-27 21:05] jedmao opened #437 "Error: data.filename should be a string"
The [README states](https://github.com/webpack-contrib/extract-text-webpack-plugin#modify-filename) that `filename` could be a `Function`, so when I use a function like this:

[code]

I don't expect an error like this:

[code]

[2017-02-27 22:57] manuelbieh commented on #144
Still slow here. Not 100% sure if it is because of ExtractTextPlugin or not but 99% sure. Using css imports in 20+ files so I cannot easily test it by removing it because it would break my whole webpack build 😕 but I'm using a very similar webpack config without ExtractTextLoader in another project of similar size and complexity and build times are around 3-5 times faster there.

Webpack develop b

[2017-02-28 01:19] antoniojunyor opened #438 "sourcemap isn't working"
I'm trying to enable soucemap on my generated CSS, but idk if my configuration is right

[code]

I tried NPM and webpack docs, but the config still doesn't work.
what I'm doing wrong?

[2017-02-28 01:56] brokenmass commented on #438
try
[code]

[2017-02-28 02:39] antoniojunyor commented on #438
@brokenmass nothing changes here .... did you test there?

[2017-02-28 04:42] jtefera commented on #179
If anyone is interested, I ended up creating a plugin for this purpose:
https://github.com/jtefera/merge-files-webpack
The plugin is kind of simple so if you see there is something lacking, create an issue!

[2017-02-28 07:26] KalpanaPagariya opened #439 "With latest extract text plugin, css loader is failing"
Using below in package.json:
 "extract-text-webpack-plugin": "^2.0.0",
 "file-loader": "^0.10.1",
    "style-loader": "^0.13.2",
    "url-loader": "^0.5.8",
"css-loader": "^0.26.2",
webpack.config.js:

{ test: /\.css$/,
        loader: ExtractTextPlugin.extract("css?minimize|style-loader")

      },

Now its failing on
ERROR in ./src/com/components/index.js
Module not found: Error: Can't resolve '

[2017-02-28 07:52] bebraw commented on #179
@jtefera Nice work. Please publish to npm.

Time to close this issue.

[2017-02-28 07:52] #179 closed

[2017-02-28 07:55] michael-ciniawsky commented on #439
@KalpanaPagariya webpack version and full `webpack.config.js` please 😛 , in case you're using webpack >= `v2.0.0`, try this

**webpack.config.js**
[code]

[2017-02-28 08:05] jtefera commented on #179
Is already in npm!

    npm install merge-text-webpack-plugin --save-dev

[2017-02-28 08:20] hequ commented on #42
I'm also having this problem, but in my case this `doesn't export content` error is happening in watch mode. Initially the compilation runs fine, but when I do a change to code the watch reload will fail with the error message. What is more interesting is that, when I do a second change, then everything compiles nicely again. So every second reload fails. Doing the fix, @dalimian proposed, fixed t

[2017-02-28 08:21] bebraw commented on #179
@jtefera Ok, cool. Just got confused by the repo name (didn't match package name). Nice work. 👍

[2017-02-28 10:08] KalpanaPagariya commented on #439
Thanks for update.
"dependencies": {
    "react": "^15.4.2",
    "react-bootstrap-table": "^3.0.0",
    "react-dom": "^15.4.2"
  },
  "devDependencies": {
    "babel-core": "^6.23.1",
    "babel-eslint": "^7.1.1",
    "babel-loader": "^6.3.2",
    "babel-polyfill": "^6.23.0",
    "babel-preset-es2015": "^6.22.0",
    "babel-preset-react": "^6.23.0",
    "babel-preset-stage-0": "^6.22.0",
    "babe

[2017-02-28 15:59] jsg2021 commented on #424
I seem to be facing this issue as well. The solution posted so far is to use the string form of stacked loaders... `"css-loader!sass-loader"`... which, reading the code gets transformed into `[{loader: 'css-loader'},{loader:'sass-loader'}]`.  I'm a little at a loss here.

[code]

[2017-02-28 16:08] jsg2021 commented on #424
I think I miss-read the solution... was it adding an additional loader rule for `/.scss$/`? :/

[2017-02-28 16:32] jsg2021 commented on #424
I'm starting to wonder if the test expression is no longer working (was in v1). The regexp matches both '.scss' and '.css'.

[2017-02-28 17:47] ayush-bhandari commented on #239
@MichalZalecki thanks, it was eating my brains out !!

[2017-02-28 23:09] tehnomaag commented on #352
OK, after digging through a lot of things I figured out why my build suddenly broke with same _"... .css doesn't export content"_ errors.

Turns out I accidentally ran `yarn clean` instead of `yarn run clean` (my custom script defined in package.json). This created a local `.yarnclean` file which blacklisted `.*.yml` files and thus `.svgo.yml` was removed from `css-loader > cssnano > postcss-svgo

[2017-03-01 01:23] joetidee opened #440 "Error: EINVAL: invalid argument, uv_interface_addresses"
After running npm build I get this (webpack v2.2.1 and extract-text-webpack-plugin v2.0.0):

[code]

[2017-03-01 03:19] ericnoguchi commented on #437
same issue here,

according to  node_modules/extract-text-webpack-plugin/schema/plugin-schema.json

"filename": {
	"description": "The filename and path that ExtractTextPlugin will extract to",
	"type": "string"
},
 so ExtractTextPlugin fails validation its seems unless type is string.

[2017-03-01 13:10] scottdj92 commented on #440
Can you post your webpack config?

[2017-03-01 13:24] scottdj92 commented on #437
@ericnoguchi @jedmao can you provide the version of extract-text that you're using? I can see that it passes validation in v2.0.0

[2017-03-01 14:46] dshook commented on #35
Piggybacking off of @helloyou2012 's solution which didn't work for me in webpack 2:

[code]

It would be great to have an option to disable the verbosity though!

[2017-03-01 15:01] bitkicker commented on #239
@MichalZalecki This did the trick. Thank you!

[2017-03-01 15:55] scottdj92 commented on #239
Thanks @MichalZalecki! Closing issue. Feel free to re-open if the issue persists.

[2017-03-01 15:55] #239 closed

[2017-03-01 15:56] ericnoguchi commented on #437
@scottdj92  "extract-text-webpack-plugin": "2.0.0"

in **node_modules/extract-text-webpack-plugin/index.js:125** if I try to by bass validation as seen below I
get another error TypeError: path.replace is not a function

[code]

[2017-03-01 16:24] joetidee commented on #440
Here is my webpack config:

[code]

[2017-03-01 16:34] scottdj92 commented on #440
What is `npm build` running?

[2017-03-01 16:40] scottdj92 commented on #437
Can you provide a repo so I can take a look?

[2017-03-01 16:51] joetidee commented on #440
It's running the `common` section merged with the `TARGET === 'build'` section.

[2017-03-01 17:51] scottdj92 commented on #440
I mean the specific command. Like `webpack -p --env build`

[2017-03-01 18:06] ekulabuhov commented on #440
Was it working before? What kind of changes did you do?

It looks like https://github.com/scravy/node-macaddress (that is used by uniq ID generator) is failing to retrieve your network interfaces. Could you try building a small example using that library alone and see if that works? (there's an example on their github page).

Can you re-create the issue on a different machine? If not - the solutio

[2017-03-01 18:20] wsfuller commented on #424
Could very well be, know there has been a lot going on behind the scenes. I haven't read all the way through this https://github.com/webpack/webpack/issues/2797 but you can take a look through and see if it leads to any answers. The elephant in the room is to try and find a balance of low versus high level setup and trying to standardize the tool since everyone has a different spin on their config

[2017-03-01 18:41] joetidee commented on #440
@scottdj92 the command within my package.json is:

`"build": "NODE_ENV=development webpack --config webpack.config.js -p"`

[2017-03-01 22:38] joetidee commented on #440
I believe that this is an issue with Windows 10 Ubuntu. The solution is to ad the following to the top of your webpack.config.js file, until Microsoft release a proper fix:

[code]

[2017-03-01 22:38] #440 closed

[2017-03-01 22:50] joetidee opened #441 "Module build failed: Unknown word"
After running `npm build` I get this (webpack v2.2.1 and extract-text-webpack-plugin v2.0.0):

[code]

I'm assuming that it is referring to fonts.css, so here is the file:

[code]

[2017-03-02 00:33] antoniojunyor commented on #438
I found something here, another option.

[code]

[2017-03-02 00:33] #438 closed

[2017-03-02 00:53] jsg2021 commented on #424
ah, i believe the problem is the use of the property `use: ...`. The working examples have `loader: ...`. I will have to test to verify, but i've seen other hints that this is the key.

[2017-03-02 01:10] wsfuller commented on #424
Both `use` and `loaders` should be valid syntax. Looking back over your code could you try to make loaders plural? Just want to eliminate that being a possibility as well. Watching a very good series that was crated in 02/17 that's going through some explanations. [YouTube: Webpack 2 - Style, CSS and Sass loaders](https://youtu.be/m7V0OackwxY)

[2017-03-02 01:11] horaciom commented on #439
Have the same problem that @KalpanaPagariya

[2017-03-02 01:12] antoniojunyor opened #442 "Question: how to compile pseudo classes in the right way"
So ... I really don't know if I should make this issue here, in **sass-loader** ou **css-loader**.

When I wrote my SASS file I put:

[code]

but my generated CSS is like:
[code]

What I should to to compile my pseudo elements in the right way (with two `::`)

[2017-03-02 01:43] ericnoguchi commented on #437
@scottdj92

Sure checkout **extract-text-plugin** branch from the below repo

https://github.com/ericnoguchi/react-testing/

1. **npm install**
2. **npm run dev** and you will see the error

[2017-03-02 06:08] valaxy commented on #437
Any hack I can do to fix this for now?

[2017-03-02 09:55] giuseppepaul commented on #437
Any information about when this might be fixed? Or any kind of work around for the time being?

[2017-03-02 12:27] scottdj92 opened #444 "V2.0.0 does not support `filename: function`"
Comparing `master` to `v2.0.0`, I can see we're missing the validation mode `function` for `filename`. There's been a deluge of issues related to this, so I'd like to tag the current master branch into a `v2.1.0` release to resolve these issues.

[2017-03-02 12:29] scottdj92 commented on #444
@webpack-contrib/admin-team

[2017-03-02 12:29] scottdj92 commented on #437
@ericnoguchi I've resolved your issue:

The issue is caused by v2.0.0 not having the latest validation code.

To resolve this add the github link to your `package.json`

`"extract-text-webpack-plugin": "git@github.com:webpack-contrib/extract-text-webpack-plugin.git",`

I'll make an issue [here](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/444).

Thanks for your help!

[2017-03-02 12:38] scottdj92 commented on #442
I'd reference this issue in [sass-loader](https://github.com/webpack-contrib/sass-loader)

[2017-03-02 12:45] scottdj92 commented on #444
#437

[2017-03-02 15:36] jsg2021 commented on #424
Based on @bebraw 's comment [here](https://github.com/webpack/webpack/issues/2797#issuecomment-234706953) on webpack/webpack#2797 , I believe my problem is the use of the plural properties (use/loaders) and needs to be the singular `loader` property.

[2017-03-02 15:57] bebraw commented on #439
Can you try `use: { loader: 'css-loader', options: { minimize: true } } `?

[2017-03-02 15:59] bebraw commented on #441
It's hard to say anything without have full config and ideally a project to study.

[2017-03-02 16:10] ericnoguchi commented on #437
@scottdj92

I am getting the following error when trying to install from git@github.com:webpack-contrib/extract-text-webpack-plugin.git

[code]

[2017-03-02 16:24] scottdj92 commented on #437
Have you set up SSH with GitHub?

If not, use HTTPS: `https://github.com/webpack-contrib/extract-text-webpack-plugin.git`

[2017-03-02 16:32] jsg2021 commented on #424
Update: my extract text config works on scss files when my js files import scss files explicitly. eg:

[code]

but I also have a convention pre-loader that adds imports to scss files that match component file names using the baggage-loader. eg: Button.js auto imports Button.scss. These imports are failing to go through my loader rules. :/

[2017-03-02 16:40] ericnoguchi commented on #437
@scottdj92  great! the issue is solved and filename as function works! saved me 50 lines of node code as I had to use fs to manually move all the css files to their correct location after build.

[2017-03-02 17:26] jsg2021 commented on #424
[Found it.](https://github.com/jsg2021/baggage-loader/blob/master/index.js#L50) The baggage-loader was erroneously prefixing '!' to the require :/

[2017-03-02 17:29] patrikx3 opened #445 "do you know this error css from angular material how to make it work all latest?"
[code]

[2017-03-02 17:36] patrikx3 commented on #445
it is aot

[2017-03-02 17:41] jedmao commented on #437
Thanks! I'll revisit this later, but I trust that it's fixed now.

[2017-03-02 17:41] #437 closed

[2017-03-02 18:52] Torqode commented on #445
#420

[2017-03-02 22:03] joetidee commented on #441
Here is my webpack.config.js file:

[code]

[2017-03-03 01:15] zzzgit opened #446 "why not design the this plugin just as a normal loader?"
[code]

Hello.

To use `extract-text-webpack-plugin`,we need to config a plugin and then a loader which is returned by `ExtractTextPlugin.extract`.Is it necessary to design it like this?The current API have risen the complexity.How about just design it as a normal loader?

[code]

[2017-03-03 02:19] michael-ciniawsky commented on #446
@zzzgit [extract-loader](https://github.com/peerigon/extract-loader)

[2017-03-03 02:23] michael-ciniawsky commented on #446
But there are subtle differences between the two 😛

[2017-03-03 05:56] bebraw commented on #441
@joetidee You have `new ExtractTextPlugin('[name].[chunkhash].css'),` without `ExtractTextPlugin.extract` and `extractCSS.extract` without `extractCSS()`. Your plugin and loader are disconnected (both are missing a pair). You should fix either and remove the remaining as instructed in the documentation.

[2017-03-03 05:57] #446 closed

[2017-03-03 05:58] bebraw commented on #445
Please follow #420.

[2017-03-03 05:58] #445 closed

[2017-03-03 05:59] bebraw commented on #444
Someone needs to cut 2.1 release, yeah.

[2017-03-03 14:25] zzzgit opened #447 "why is it called extract-text-webpack-plugin?"
why this plugin is named `extract-text-webpack-plugin` rather than `extract-css-webpack-plugin`?

[2017-03-03 14:35] michael-ciniawsky commented on #447
@zzzgit Because in 'theory' you can extract any 'text-based' `{String}` contents with it, practically the most common usecase is simply to extract CSS into a separate file for parallel resource loading in production builds.

[2017-03-03 15:41] kavi87 commented on #50
@GeorgeKnap Same error with @ngtools/webpack here, did you made any progress on it ?

[2017-03-03 16:04] GeorgeKnap commented on #50
There is a bugfix already merged into the webpack main branch that is
supposed to fix this problem. Just need to wait for the next webpack
 release.

Dne 3. 3. 2017 16:41 napsal uživatel "kavi87" <notifications@github.com>:

[2017-03-03 16:22] GuilhermeMedeiros commented on #144
By simply setting `disable: true` I get 2x faster builds. 😢

[2017-03-03 16:23] #447 closed

[2017-03-04 06:32] davidanaya commented on #401
I'm getting the same error with this configuration
[code]
The app.css file is being generated but then I get the `Expected styles to be an array...` and the load does not load.

[2017-03-04 07:27] davidanaya commented on #401
Ok, I see what is happening, but I don´t know if this is a buf or there's a way to fix this.
When I use this configuration
[code]
and I check into the bundle.js I see that the component has been transformed into this
[code]
and if I check module 23, it's empty
[code]
this kind of makes sense, since all css is now extracted into an external file app.css, but then how to remove these `styles: [] ` p

[2017-03-04 14:39] joetidee commented on #441
ok, I adjusted the webpack.config.js file in line with the instructions as follows:

[code]

and here is the output:

[2017-03-04 23:13] stephenbaidu commented on #422
@xtianus79 Try adding any css to `src/index.scss`. I resolved this with:
[code]

[2017-03-05 02:34] #434 closed

[2017-03-05 07:43] daryn-k opened #449 "TypeError: chunk.isInitial is not a function"
There is this error:
[code]
I have no idea what is it.

My webpack.config.js file:

[code]

[2017-03-05 07:50] bebraw commented on #449
There's not enough information to debug. Which version of webpack/extract-text-webpack-plugin are you using? If you have webpack 1 and are using extract-text-webpack-plugin 2, that error could happen. In that case you'll have to use extract-text-webpack-plugin 1 or upgrade webpack to 2.

[2017-03-05 07:54] daryn-k commented on #449
I use last versions of 'extract-text-webpack-plugin' and webpack (2.2.1)

[2017-03-05 07:55] bebraw commented on #449
Ok, still not enough info. Maybe someone else has a better idea.

[2017-03-05 08:12] daryn-k commented on #449
I don't know what else... It's  just about a simple functionality - build 'bundle.css' from all css-files from project. What kind of information do you need?

[2017-03-05 08:14] bebraw commented on #449
I would need a project to run. `chunk.isInitial()` is something provided by webpack itself. If `chunk` is missing, there is something fatally wrong.

[2017-03-05 08:21] daryn-k commented on #449
Maybe these lines?

[code]

[2017-03-05 08:31] bebraw commented on #449
Sorry, that doesn't help.

I'm closing this issue until someone can provide a proper project to examine as instructed in the issue template.

[2017-03-05 13:51] scottdj92 commented on #444
Solved with 2.1.0 release.

[2017-03-05 13:51] #444 closed

[2017-03-05 13:55] bebraw commented on #439
Feel free to re-open with a runnable example (mentioned in issue template).

[2017-03-05 13:55] #439 closed

[2017-03-05 13:58] bebraw commented on #417
The PR was merged. You could try running against webpack `master` to see if that fixes it.

[2017-03-05 14:00] bebraw commented on #352
Closing as there's no a project to debug. Feel free to re-open if you can provide one.

[2017-03-05 14:00] #352 closed

[2017-03-05 15:51] xtianus79 commented on #422
@stephenbaidu i know this works but this is not an accurate solution.  this should not be happening

[2017-03-05 22:23] Piero87 opened #450 "When I Add Extract Text Plugin can't build with webpack"
Hi, i have the last version of webpack and Extract Text Plugin, I have added Extract Text Plugin today but now when I build I get this error:

[code]

index.js is my entry point file, someone know what the problem could be? this is my config file:
[code]

thanks

[2017-03-05 22:43] #450 closed

[2017-03-05 22:49] mammut89 commented on #424
wasted quite a bit of time on this. Having to import the scss is rather unintuitive and not mentioned in the docs

[2017-03-06 04:17] d3viant0ne commented on #424
Note to @webpack-contrib/org-maintainers - Once this has been worked out, review the documentation around the issue for clarity.

[2017-03-06 04:39] helly0d commented on #30
For everybody that still uses old-fashioned packages like webpack 1 and  doing crazy stuff with multiple bundles and ExtractTextPlugin, I have updated @drosen0's [solution](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/30#issuecomment-256958209). This version will not trigger a FOUT each time HMR finishes a build.

[code]

It duplicates the old nodes attaching new time-stam

[2017-03-06 05:12] jsg2021 commented on #424
I should reiterate, my issue was from an error in another loader (baggage-loader) that auto-imports files based on convention. (it was bypassing loaders for files it included by prefixing the request with "!")

When I imported sass files explicitly, things worked fine with the config i posted above.

[2017-03-06 06:09] bebraw commented on #424
@d3viant0ne It's literally one of the first sentences at the documentation: "It moves all the `require("style.css")`s in entry chunks into a separate single CSS file. So your styles are no longer inlined into the JS bundle, but separate in a CSS bundle file (`styles.css`). If your total stylesheet volume is big, it will be faster because the CSS bundle is loaded in parallel to the JS bundle.".

Th

[2017-03-06 06:09] #424 closed

[2017-03-06 06:45] d3viant0ne commented on #424
Yeah, I just read through it. It's clear enough for me :)

[2017-03-06 07:00] davidanaya commented on #401
You can use a [simple seed here](https://github.com/davidanaya/my-angular-seed) to test it (branch develop) and play with the configuration file for development in /config

[2017-03-06 07:01] bebraw commented on #442
There's not enough info to tell. Can you see this issue when using **sass-loader** alone or do you need **extract-text-webpack-plugin** to get the behavior?

If latter, please re-open the issue with a little project we can run. Else you should push the issue to **sass-loader** repository as suggested. Thanks.

[2017-03-06 07:01] #442 closed

[2017-03-06 08:37] SandyJun opened #451 "ERROR in ./~/css-loader!./src/main/webapp/resource/css/smartadmin-production.css"
ERROR in ./~/css-loader!./src/main/webapp/resource/css/smartadmin-production.css

Module build failed: At-rule without name (4343:1)

  4341 |        transition: height 0.6s ease;
  4342 | }

       | ^
  4344 | .progress.vertical.bottom .progress-bar {
  4345 |        position: absolute;
  4346 |        bottom: 0;

 @ ./src/main/webapp/resource/css/smartadmin-production.css 4:14-102
 @ ./src/main

[2017-03-06 08:56] #451 closed

[2017-03-06 14:13] kellyrmilligan commented on #30
@helly0d would it be possible to create a gist with the full setup?

[2017-03-07 03:32] brickyang opened #453 "ReferenceError: self is not defined in Webpack 2"
I am using webpack 2.2.1, extract-text-webpack-plugin 2.1.0 and CSS Modules. When I run `webpack -p --progress --colors` I got a pile of

[code]
(this is only one of the errors)

My webpack config is

[code]

It works fine if I remove extract-text-webpack-plugin.

[2017-03-07 03:38] #453 closed

[2017-03-07 03:53] brickyang commented on #453
The problem is the `css-loader?modules&localIdentName=[path][name]_[local]--[hash:base64:8]`

I modified it to

[code]

[2017-03-07 07:48] orangecoding opened #454 "Build break when updating to v2.1.0"
If I update from v 1.0.1 to 2.1.0, I'll get the following exception during build.

`extract-text-webpack-plugin/index.js:267
				var shouldExtract = !!(options.allChunks || chunk.isInitial());
				                                                  ^

TypeError: chunk.isInitial is not a function
    at /Users/Christian/dev/portal/node_modules/extract-text-webpack-plugin/index.js:267:55
    at /Users

[2017-03-07 14:40] scottdj92 commented on #454
There were a lot of breaking changes from v1 to v2. I'm not sure if the function still exists.

[2017-03-07 14:50] scottdj92 commented on #263
Is this still an issue? Please make sure that you are running the latest version of this plugin.

[2017-03-07 23:38] osdevisnot opened #455 "feat: extract && emit a CSS file per split point (import()/require.ensure)"
While trying to implement page optimizations in our app, we want to have ability to generate separate CSS files per webpack chunk to improve page rendering performance for first page in our application. To achieve that, we have been trying to use extract-text-plugin in combination with require.ensure like so:

[code]
with app.js being:
[code]
and a.css being:
[code]
and b.css being:
[code]
and c.s

[2017-03-08 02:29] osdevisnot commented on #455
crossposted on [stackoverflow](http://stackoverflow.com/questions/42661898/extracting-one-css-file-per-webpack-chunk-require-ensure)

[2017-03-08 11:13] borisirota commented on #323
The error `Conflict: Multiple assets emit to the same filename` happens when running `AggressiveSplittingPlugin` without the `extract-text-webpack-plugin` as well.

Happens with the `html-webpack-plugin`. There is a discussion [here](https://github.com/jantimon/html-webpack-plugin/issues/446).

[2017-03-09 05:38] ericnoguchi opened #456 "[bug] async js chunks that include css/scss imports cause => Uncaught (in promise) TypeError: Cannot read property 'call' of undefined"
Tested with
ETP:2.1.0
webpack: 2.2.1
Node v7.7.1

There seems to be some issue when importing a scss file in a common chunk if that common chunk also imports an async/dynamic js chunk which imports another scss file.

**File setup**
[code]

This issue happens when allChunks:false [I would like to lazy load js and associated css], and what seems to be happening is that the runtime code for css-load

[2017-03-09 07:22] orangecoding commented on #454
Actually I am not using webpack 2. I was updating this plugin while sticking to webpack 1.

[2017-03-09 12:48] scottdj92 commented on #454
Can you post your webpack config, please?

[2017-03-09 18:31] gabn88 commented on #58
This bug/feature bit me as well. Using extractText in combination with CommonsChunk and sass-loader is not working. I guess extractText is the devil here, but I'm not sure.

I'd like to keep the css file small, which was one of the main reasons of migrating to webpack. However, if you 'ES6 import' the sass file inside the entries.js, and then import other sass files with an @import statement (usin

[2017-03-09 18:55] eltian commented on #66
I'm having the same issue, the file is never generated. `output.path` is there, no error messages, but the file is not generated.

[2017-03-09 21:18] matheusml commented on #208
+1

[2017-03-10 02:54] secondstreetmedia commented on #200
It's difficult to tell from the code snippets posted above if this will help others, but my issue was that I only had ***some*** of my styling related loaders utilizing the **`extract-text-webpack-plugin`** rather than ***all*** of them. Once I ensured all of them utilized the plugin, my styles were loading consistently in the order I wanted them to, at least in development. (See my more detailed

[2017-03-10 20:33] coreyleelarson commented on #35
Adding `{ stats: { children: false } }` won't work well when used in conjunction with the Webpack MultiCompiler, which outputs each config as its own child. All of the output is hidden in this scenario.

**Output w/ Children:**
[code]

**Output w/out Children:**
[code]

[2017-03-11 00:36] ufukomer commented on #30
@helly0d thank you! this works. 😇🙏🏻

[2017-03-11 07:54] kostasmanionis commented on #454
`v2.1.0` won't work with webpack1, this breaking change has been added quite a while ago https://github.com/webpack-contrib/extract-text-webpack-plugin/commit/ba0a71dcc72dd298f602f96906e2042a08cbe039

I would recommend updating to webpack 2 or sticking with `v1.0.1`

[2017-03-11 19:13] lomboboo opened #458 "Unexpected token"
I'm having troubles with using Webpack 2 with ExtractTexWebpacktPlugin. I've already ask at StackOverflow but no results yet.  Plugins versions:

[code]

And this is Webpack 2 config file:
[code]
This is how I'm using :
[code]

**Output:**
``Uncaught SyntaxError: Unexpected token .``
![selection_041](https://cloud.githubusercontent.com/assets/12416377/23826167/d2e59e3c-0696-11e7-9472-2b28232539c0.

[2017-03-12 10:28] #458 closed

[2017-03-12 16:41] kostasmanionis commented on #456
I'm having the very same issue! Been trying to debug it a bit, but no luck so far.

AFAIK the code for `css-loader`(and `style-loader`) is removed when one of the extracted css files is rebuilt by `extract-text-webpack-plugin`.

Child deps of that css file are processed https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L506 and it seems that the original, non-extracted css module i

[2017-03-13 14:11] kostasmanionis commented on #456
Was kinda right...

Two files are missing in the bundle - `css-loader/lib/css-base.js` & `style-loader/addStyles.js`.
Been looking into what happens to `addStyles.js`. `commons.scss` module lands here https://github.com/webpack/webpack/blob/master/lib/Compilation.js#L502 after the extract-text-plugin triggers it. It has two dependencies, another `commons.scss` module(that's from the child compiler

[2017-03-13 18:18] matthewjumpsoffbuildings commented on #144
im also getting really slow builds with extract text plugin - if i set `disable:true` my SASS builds take less than half as long. Im using a main SASS entry point that @imports around 10 SASS partials and some libraries (susy, bourbon, normalise).

[2017-03-14 18:14] rodrigoelias commented on #57
+1

[2017-03-15 00:00] kb3eua commented on #397
I was able to get around this by adding 'to-string-loader' into the mix, like so:

`use: ['to-string-loader'].concat(ExtractTextPlugin.extract(...))`

[2017-03-15 04:39] towry commented on #282
`loader option has been deprecated - replace with "use"`

[2017-03-15 08:37] hanxinwei opened #459 "Using extract-text & commons-chunk together, the css output for entry may or may not exist"
depending on if the entry needs at lease one more css module.
I guess this is by design.
However this is kind of inconvenient, for the server have to check if the entry css exists and decide whether to append it.

Compare the entry js to css
js: If the entry js does nothing ( even if totally empty ), the output entry file still be generated.
css: if the entry css needs no more injection, there is

[2017-03-15 13:16] Orgil commented on #441
@joetidee webpack-merge is merging your config not replacing it. So your loader stack is messed when extracting.

[2017-03-15 15:43] yussinsharp opened #460 "Multiple JS Entries with Different Styles"
I am wanting to use this repo for its efficient bundling but I believe it was built under the assumption that it was for one application.

My code base serves multiple by having multiple different JS entries. The reason for this is that we have different applications for different types of users (admin vs. customer etc.).

I know how to set up multiple entries with Javascript and that has gone wel

[2017-03-16 08:23] deot commented on #420
you can try it,I solved the problem, but I was still very surprised
[code]

[2017-03-16 08:24] deot commented on #118
you can try it,I solved the problem, but I was still very surprised
[code]

[2017-03-16 08:27] deot commented on #50
you can try it,I solved the problem, but I was still very surprised
[code]

[2017-03-16 20:08] red2678 commented on #39
+1

[2017-03-17 02:37] bro-strummer commented on #159
@jimitndiaye I've come across this same issue. I feel this is a fairly common use case for people like me who occasionally work on hodgepodge, brown-field projects.

@mrtom213 I wasn't able to successfully build out separate files as per your example. (webpack 2.2.1, extract-text-webpack-plugin 2.1.0)

@bebraw Do you have any thoughts on the usefulness of this proposed enhancement? Thanks!

[2017-03-17 03:17] TameshwarNirmalkar commented on #234
HI @aconfee,
To answer your question why style-loader uses css-loader,
style-loader is to inject the <style></style> and <link href="xyz.css"> in html page.

css-loader is uses for extract css file which is being used in another file, for example.
abc.css has imported another css file inside it like.
@import 'xyz.css';

[2017-03-17 05:50] bebraw commented on #159
@bro-strummer Three plugin/loader pairs would seem like the solution to me if I understood the problem right. You should be very careful when you set up the loaders to make sure they match only the CSS files you intend. Otherwise you'll get CSS where you don't want it. [extract-loader](https://www.npmjs.com/package/extract-loader) might work for the original problem too.

[2017-03-19 00:25] patrikx3 commented on #420
weird, i use the same settigns, but now the error is scss:
[code]

[2017-03-19 01:23] Rob-- commented on #449
Unable to provide a project, but I'd just like to mention that this is happening to me also.

Package versions:
[code]

Properties from config file:
[code]

[2017-03-19 03:29] bebraw commented on #449
@Rob-- Can you either upgrade to webpack 2 or downgrade the plugin to 1 series? I don't think the 2.x version of the plugin is supposed to work with webpack 1. That could be forced through a peer dependency.

[2017-03-19 15:33] Rob-- commented on #449
@bebraw I'm a complete idiot, for some reason I thought I was using Webpack 2.0 even though I saw my Webpack version was clearly not 2.0. It's working perfectly now, sorry for wasting your time!

[2017-03-19 15:34] bebraw commented on #449
@Rob-- No probs. We may still want to set that peer dep to avoid these kind of issues. 👍

[2017-03-20 07:53] jony89 commented on #214
same issue here, occurs with webpack 2.2.1

[2017-03-20 09:07] jony89 commented on #449
occurs for me as well - same exact issue same exact config.

webpack : 2.2.1
extract-text-webpack-plugin : 2.1.0

[2017-03-20 09:08] bebraw commented on #449
@jony89 There's still not enough info to help. 😢

[2017-03-20 09:21] jony89 commented on #449
@bebraw what do you need?

latest webpack, latest package of this module. add the following config to webpack :

[code]

and :

[code]

Then run the project with that webpack config and you will get :

[2017-03-20 09:22] bebraw commented on #449
@jony89 I would need a standalone project. Any chance you could open a separate issue with that?

[2017-03-20 09:32] jony89 commented on #449
k

[2017-03-20 09:37] jony89 opened #461 "TypeError: chunk.isInitial is not a function"
versions :

     "webpack": "^2.2.1"
    "extract-text-webpack-plugin": "^2.1.0",

error :

for some reason I could not attach the ZIP to the message, so here a link to simple standalone project : https://ufile.io/596a0

[2017-03-20 09:41] jony89 commented on #449
see #461

[2017-03-20 09:46] bebraw commented on #449
@jony89 Ok. Hopefully someone can debug based on that. Thanks.

[2017-03-20 10:05] michael-ciniawsky commented on #449
@jony89 There is no `{ autoprefixer: false }` in `css-loader`, which version of `css-loader` do you use and does it work without setting `sourceMap`. Please also try without `postcss-loader` and provide your `postcss.config.js` aswell. Don't take it personal but I won't download any kind of `.zip` or other files as long as I cannot take a first glance at them before I execute that on my system 😛 (

[2017-03-20 10:24] monkindey commented on #285
When I setup react-router code splitting

* **The webpack.config.js**

[code]

* **react-router config**

[code]

   So you can lazy load the component when you switch its route.

* **one of routes `About` Component**

[code]

When I click the `about` Link, will download the about chunk js and inject the `about` css into the head of the html by style tag. So it won't have different external css fi

[2017-03-20 10:36] jony89 commented on #449
so how do you expect me to provide a stand alone project?

create one by your own, it is pretty easy. postcss is not needed to reproduce the issue. (I just tried to create standalone as fast as possible) this will trigger the same issue :

[code]

It start to look like you guys don't really want to try and fix that. I'm trying to help here.

[2017-03-20 12:38] Rob-- commented on #449
@jony89 you could make a new repo and upload an example project there?

[2017-03-20 12:49] jony89 commented on #449
god bless u all.

https://github.com/jony89/simple-webpack-extract-plugin

[2017-03-20 13:50] bebraw commented on #449
@jony89 `node_modules/.bin/webpack --config webpack.dev.config.js` against that completes without a problem for me (Node 6). There's still some info missing (Node version for one). Missing something subtle.

[2017-03-20 13:51] bebraw commented on #461
Here's the project - https://github.com/jony89/simple-webpack-extract-plugin .

I tried this on macOS (Node 6.9.1) and it completed without any problems.

I wonder if it's Windows specific.

[2017-03-20 14:02] jony89 commented on #461
@bebraw I ran it on win7 & node 6.8.0

updated to node 6.10.0 and same issue. I find it hard to believe it is specific to win7.

to run the project correctly (in case u didnt) :

in console :

1) npm install
2) gulp

[2017-03-20 14:11] bebraw commented on #461
Ah... You ran it through Gulp. I get the error then too if go through `node_modules/.bin/gulp`.

If you execute `node_modules/.bin/webpack`, it builds as you might expect.

I can see you are using [gulp-webpack](https://www.npmjs.com/package/gulp-webpack). You probably want to use [webpack-stream](https://www.npmjs.com/package/webpack-stream) instead as **gulp-webpack** isn't actively maintained b

[2017-03-20 15:06] wooderz opened #462 "Ordering of React modules before Main module in css output"
So I have in my webpack entry file

import 'stylus/app.styl'

and then in a component further down the hierarchy I have
import '../styles/component.styl'

The component.styl classes are put in the CSS before the app.styl. This means they could be overridden, whereas I'd rather the ones specifically set in the class are the ones used?

Any ideas?

[2017-03-20 16:15] scottdj92 commented on #420
@patrikx3 can you post your config? That error is usually thrown because an `ExtractTextPlugin` is not declared in the `plugins` array.

[2017-03-20 16:50] zabojad commented on #214
Idem, I'm having this with Webpack 2.2.1 as well

[2017-03-20 16:51] jony89 commented on #214
@zabojad see #461

[2017-03-20 17:17] patrikx3 commented on #420
Pretty long though.
Thanks for looking at it.

```common.js```

[code]

```prod.js```

[code]

[2017-03-20 18:02] fdaciuk commented on #285
@monkindey in my case, I have a SPA without routes, but I'm using dynamic `import()`, so, I want to separate _critical_ styles - to load inline - and all others styles, to load on a `main.css` file.

I create a [simple internal plugin](https://gist.github.com/fdaciuk/d9dcb7ed11163477724bd3087292c181) on my application to deal with it. This approach have worked fine for me.

[2017-03-20 19:05] kostasmanionis commented on #461
Quick look at `gulp-webpack`, seems that it has `"webpack": "^1.12.9"` as a dependency. `webpack-stream` seems to have the same issue.

Not really familiar with their implementations, but they probably should have webpack as a peer dep.

[2017-03-20 19:11] bebraw commented on #461
@kostasmanionis Nice! That explains it.

@jony89 Please open issues at those projects unless they have ones open already. There's nothing we can do about the issue in this plugin as it's an upstream issue.

[2017-03-20 19:11] #461 closed

[2017-03-20 21:52] jony89 commented on #461
tnx, temporary solution is to give webpack-stream your own webpack version:

[code]

see https://github.com/shama/webpack-stream/issues/125

[2017-03-21 00:49] aciccarello commented on #459
I am also running into an issue using both the ExtractTextPlugin and CommonsChunkPlugin as well. I noticed that css imported by angular-ui-bootstrap, which is included in a vendor bundle, was not being displayed.

After doing some debugging it seems that any css/scss in my project which is imported in the commons chunk will not appear in the project (either in the extracted css file or in the comm

[2017-03-21 14:04] fhqdgv commented on #106
I'm having the same problem!!!!!

[2017-03-21 14:09] fhqdgv commented on #208
Same desire here. wii support?

[2017-03-21 14:39] zeusbangayan commented on #239
Im using the following:

"extract-text-webpack-plugin": "^2.1.0"
"webpack": "^2.2.1"

and having this issues.

[2017-03-21 14:40] scottdj92 commented on #420
You need to insantiate ExtractTextPlugin in your `plugins` array. adding `new ExtractTextPlugin({filename: 'bundle.css'})` should make it work

[2017-03-21 16:08] spyter commented on #401
@davidanaya I am having the exact same issue. If I manually add in the following module exports statement, it will work fine. Did you end up finding any resolution to this?

/* 23 */
/***/ (function(module, exports) {

// removed by extract-text-webpack-plugin
module.exports = "";
/***/ }),

[2017-03-21 21:04] dschissler commented on #459
This is the last remaining issue that I need to resolve to recover all lost functionality from the Webpack 1 to 2 upgrade.

[2017-03-21 23:12] rawhat opened #463 "-v"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest

[2017-03-21 23:12] #463 closed

[2017-03-22 01:50] rubyisapm opened #464 "z-indexs were recalculated just with this plugin"
[code]
I use like that css loader configuration, the z-indexs in the exact css  were recalculated.

After I remove this plugin like this:

[code]

Everything was fine.

[2017-03-22 13:57] Van-Vu commented on #397
or     `styles: [require('./navmenu.component.scss').toString()]`

[2017-03-22 15:29] darrenscerri opened #465 "Javascript assets included in CSS modules are executed during build"
If CSS contains Javascript assets, these are executed during build and can interfere with the build and build output.

See this repo for more information: https://github.com/darrenscerri/webpack-extract-text-plugin-empty-require-error.

Related issues:
https://github.com/webpack/webpack/issues/4541
https://github.com/webpack-contrib/css-loader/issues/462

[2017-03-23 02:09] monkindey commented on #285
Good job! Thanks for sharing, learn a lot from it. But can we collect critical styles automatically ?

Related [webpack-plugin-critical](https://github.com/nrwl/webpack-plugin-critical)

[2017-03-23 07:42] GeorgeKnap commented on #50
The issue is still there in webpack 2.3.1. Guess the [webpack/webpack/#4189](https://github.com/webpack/webpack/pull/4189) did not help.

[code]

[2017-03-23 08:15] GeorgeKnap commented on #417
The issue is still there in webpack 2.3.1. Guess the [webpack/webpack/#4189](https://github.com/webpack/webpack/pull/4189) did not help.

[code]

[2017-03-23 13:16] fdaciuk commented on #285
I didn't try `webpack-plugin-critical` yet.. Let's see how it works =)

[2017-03-23 18:59] eduardoinnorway commented on #250
none of above worked for me. I just want to foo.less > foo.css in the same folder.

[2017-03-24 10:40] cherring07 commented on #339
I'm experiencing this as well...

"webpack": "2.1.0-beta.22",
"extract-text-webpack-plugin": "2.0.0-beta.4",

[2017-03-24 14:49] patrikx3 opened #466 "CIAO CSS @import error"
Looks like not allowing import from google fonts?
[code]

[2017-03-24 15:12] michael-ciniawsky commented on #466
@patrikx3 `{ loader: 'css-loader', options: { import: false } }` 😛

[2017-03-24 15:13] patrikx3 commented on #466
thanks dude!

[2017-03-24 15:13] michael-ciniawsky commented on #466
Worked ?

[2017-03-24 16:20] zabojad commented on #214
Great, thank you @jony89 !

[2017-03-24 20:33] #466 closed

[2017-03-24 21:42] hulkish commented on #323
any update on this? seeing this issue also

[2017-03-24 22:46] hulkish commented on #323
https://github.com/webpack/webpack/issues/3525

[2017-03-25 07:59] bebraw commented on #339
@cherring07 Could you update both to recent stable versions? If it still fails, please set up a small standalone repository to study so the issue can be fixed.

[2017-03-25 21:29] peterlawless commented on #66
I'm having the same issue, too.

[2017-03-26 08:00] josueadelima commented on #234
@aconfee don't use the documentation configuration, with that configuration if you have file-loader using hash, then url's inside css will not have the hash and you will end with broken background-images, leave my config here:

[code]
Hope works for others

[2017-03-26 13:58] hulkish commented on #323
@CntChen Couldn't this be resolve by allowing the `extract-text-webpack-plugin-output-filename` to be the original but prefixed with "extract-text-webpack-plugin-output-filename-"? Ex: `extract-text-webpack-plugin-output-filename-my-unique-file-name.ext`

[2017-03-27 15:52] psulek commented on #363
@Nilegfx removing 'style-loader' was my case. Thanks.

[2017-03-28 00:08] jeffrey-l-turner commented on #455
Have you tried?:
[code]
...
then:
[code]

I'm using this approach with an `import file.css` to get all of the dependencies resolved and then using standard script/link tags in the html to get all of the css generated.

I'm not quite sure how that plays with a require.ensure using commonJS...

[2017-03-28 03:12] Crazymax11 commented on #42
what's about PR merging?

[2017-03-28 08:47] aboutqx opened #467 "Lost prefix after build"
Using version 1.0.1,got all prefix use `autoprefix`  on  dev server,but when build lost  '-webkit-flex' after using this plugin.

[2017-03-28 12:10] changfuguo commented on #406
does thie problem be solved in 2.1, i just update my version to 2.1, but the problem still exists~?

[2017-03-28 13:38] Danilo-Araujo-Silva opened #468 "Use options on loaders with extract-text-webpack-plugin"
For example, let say we have two rules, one to manage common scss/css files and another one to manage useable css/scss files.

In the first one we used extract-text-webpack-plugin to achieve cool enhancements to our css (as pointed [here](https://webpack.js.org/plugins/extract-text-webpack-plugin/)) (please see this rule below).

And, in the same vein, we would like to use this cool enhancements i

[2017-03-28 14:52] danielwalczak commented on #106
m2, do you have any solution ?

[2017-03-28 14:58] patrikx3 commented on #278
same for me, i guess it is the AOT problem.

[2017-03-28 15:42] jorawarsingh commented on #417
same issue with all latest versions, any updates?

[2017-03-28 16:18] patrikx3 commented on #420
Ciao!
How are you? :)))
I already have it:
[code]

Still I cannot get it output.
Is it an AOT problem???
With simple JIT plus UglifyJS it works.
With AOT, it is missing my CSS, with no error.

[2017-03-28 16:19] patrikx3 commented on #420
it is in my prod.js
The common is some common info. I got the ExtractTextPlugin in my plugin. It is missing :(
Bruhuhuhuhu

[2017-03-28 16:44] jorawarsingh commented on #417
#420

[2017-03-28 16:46] patrikx3 commented on #417
yep, AOT is not mature, I keep it out, work on new functions :(

[2017-03-28 16:56] hulkish commented on #323
I solve this by using `"extract-text-webpack-plugin-output-filename-[name]"` for the value of `childCompiler`.

[2017-03-28 17:04] d3viant0ne commented on #417
@patrikx3  AOT works just fine. I have 6 applications running in prod, 4 on 2.x and 2 more running 4.0.0 all with scss & all published AOT. All running the same boilerplate with the particulars below.

[code]

In every case I have seen referencing this issue, it's a configuration issue not a problem with the fix that went into Webpack.

@bebraw - This issue should be closed.

1.) It's based on rc.

[2017-03-28 17:08] bebraw commented on #417
Ok, let's close. 👍

[2017-03-28 17:08] #417 closed

[2017-03-28 17:08] patrikx3 commented on #417
For me I have no idea how it is not working with Angular Material.
Can you send me your webpack config?
I use only latest npm versions.

Besides AOT with JIT not working as well (I need to add in JIT as well and in v4 broken again, I need compiling JIT plus AOT at once). There are so many scenarios. I guess 6 applications all the same.

[2017-03-28 17:08] patrikx3 commented on #417
Plus in JIT and Uglify it works, and in AOT not working. :) CIAO

[2017-03-28 17:10] d3viant0ne commented on #417
@GeorgeKnap - I've looked at your issue in @angular.cli as well. If you can point me to some code, I can help you get this dialed in. Looks to be boilerplate + Angular + Material2 which is my day to day.

Hit me up on gitter if you want a hand.

[2017-03-28 17:18] jorawarsingh commented on #417
i am having the same issue after updating the version as well as you mentioned @d3viant0ne  here is my configuretion
[code]
and plugin
`new ExtractTextPlugin({filename:'style.css'})`
and now error

[2017-03-28 18:02] patrikx3 commented on #466
hello, i added it in, but now it just remove the
```@import "https://fonts.googleapis.com/icon?family=Material+Icons";```
and i want it :)
how can i keep it in?

[2017-03-29 09:36] faceyspacey commented on #455
This is a very important feature with code splitting becoming easier and easier. You need to be able to get the css from code split chunks, not just specified entry chunks.

Basically there needs to be a new option like `splitChunks: true` or something like this, or even being able to provide `fallback: `extract-text` lol. Perhaps that could be an easy way for a 3rd party to implement this.

Ultim

[2017-03-29 11:25] jorawarsingh commented on #420
After upgrading to latest the error is gone however there is still one error but that belong to @ngtools/webpack so i am closing this.
here is my confuguration
[code]
and plugin
`new ExtractTextPlugin('styles.css')`

 thanks for all help .... Regards

[2017-03-29 11:25] #420 closed

[2017-03-29 13:35] osdevisnot commented on #455
@jeffrey-l-turner we already do the new plugin instance for known entry chunks. But it's hard to know dynamic chunks in advance in every app. Also, it would require changing build configuration per app. It would be great if we consider this as an option in plugin configuration for this plugin like @faceyspacey mentioned.

[2017-03-29 16:00] faceyspacey commented on #455
Id be interested in producing the PR. Any help to point me in the right direction would be appreciated.

Are you saying that the option might require we specify an array of dynamic chunk names. I hope that's not the case. The stats contains the names of all chunks in the stat object for each module. It maintains an array of chunks it corresponds to. We should be able to get the css statically.

[2017-03-29 18:54] osdevisnot commented on #455
You are right @faceyspacey about figuring out chunk names from stats. The intention here is to have one build configuration for multiple apps that figures out the chunks and extracts the files based on dynamic require.ensure chunks.

[2017-03-30 18:19] chasedeanda commented on #66
+1 same issue

[2017-03-30 18:21] chasedeanda commented on #45
Still getting the same issue here

[2017-03-30 23:41] scamden commented on #119
omg thank you!!!!!!

[2017-03-31 03:22] grasslandKiss commented on #339
@bebraw hello,I have upgraded the two versions to the most stable. "webpack": "^2.3.2", "extract-text-webpack-plugin": "^2.1.0",but this bug still  exists!

[2017-03-31 04:51] bebraw commented on #45
@chasedeanda Ok. Could you set up a standalone repository? There's not enough information to debug.

[2017-03-31 04:56] bebraw commented on #339
@grasslandKiss The issue is missing a standalone example (GitHub repository) so there's no good way to debug yet.

[2017-03-31 13:34] eyolas commented on #468
https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/test/cases/simple-queryless-object/webpack.config.js

[2017-03-31 20:37] eltian commented on #66
Just a heads up: apparently, my problem was related to the fact that I was using webpack-dev-middleware to run a development server. running `webpack` on the shell and avoiding the dev server allowed webpack to generate the needed files.

[2017-04-01 12:09] Danilo-Araujo-Silva commented on #468
This is interesting so I tried.

If I use this (without extract-text-webpack-plugin):

[code]

I can use `@import '~sanitize.css/sanitize.css' `.

But if I use extract-text-webpack-plugin like this:

[code]

not works. Why?

[2017-04-01 12:48] cherring07 commented on #339
@bebraw I did some refactoring removed all references to [classnames/bind](https://www.npmjs.com/package/classnames) and this reduced the filesizes of all chunked js and removed the css from the js

[2017-04-01 16:21] kisenka opened #470 "Nested extractions not possible"
tl;dr: currently it is not possible to extract any resource (e.g. svg) from another extractable resource (e.g. css). For example following stylesheet should be extracted:

[code]

It's ok, but if there is second extract plugin instance configured for SVGs - no SVGs will be extracted and stylesheet code will be compiled to:

[code]

Is there a workaround for this?
Repo with reproducible behaviour -

[2017-04-01 20:22] wujekbogdan commented on #159
I'm having the same problem. I expected that with multiple entries, configured like this.
[code]

And a scss loader configured like this:
[code]

And finally, with the following plugins section:
[code]

I will get separate 2 files: `dist/css/app.css` and `dist/css/login.css`. But there's only one file extracted, it contains a result of `app.scss` and `login.scss` compilation concactonated together

[2017-04-02 04:13] hiyali commented on #35
@coreyleelarson  Looks like not add the config `status: { children: false }` in  devServer config or webpack.base config file, `status: { children: false }` it's works fine for me at webpack 1.14.0 and webpack 2

[2017-04-02 12:01] kpaxqin commented on #106
@dalimian
I think point 1 is the most important thing I want for now.

[2017-04-02 17:38] JakeRowsell89 commented on #50
I was running into a similar issue, which was solved by changing `loaders` to `rules`. I read somewhere that `loaders` is being changed to `rules` but no documentation seems to reflect this.. (also I'm not using ngtools)

[2017-04-03 08:00] bebraw commented on #339
@cherring07 Cool to hear. I wonder what it is about `classnames/bind` that breaks it. A tiny standalone example would be great.

[2017-04-03 08:08] bebraw commented on #159
@wujekbogdan Instead of

[code]

could you try something along

[code]

`[name]` picks up the keys from there so tweak accordingly.

[2017-04-03 14:19] robgha01 opened #471 "Is not working in a multi compile mode. (using array notation for webpack config)"
im using a webpack configuration with array [ ] however no assets are copied to the output only shown in the console. if i remove the array and simply use one config it works.

I have two sections one is the main and the others is a set of themes all work in dev webpack server as i dont use this there :P and should not ether, but in production noting outputs for this plugin however all loaders not

[2017-04-03 14:44] scottdj92 commented on #471
Can you paste your webpack config, or have a repo for us to test? :)

[2017-04-03 14:56] robgha01 commented on #471
Here is a configuration:
[config.zip](https://github.com/webpack-contrib/extract-text-webpack-plugin/files/890466/config.zip)

[2017-04-03 15:02] robgha01 commented on #471
oh ye i forgot the gulp/task/webpack.js needs to look like this
[code]
Here is a new file.
[SpecialistHjalpen.UI.Client.zip](https://github.com/webpack-contrib/extract-text-webpack-plugin/files/890495/SpecialistHjalpen.UI.Client.zip)

[2017-04-03 15:11] robgha01 commented on #471
nevermind the fix dide not work now the main "first item in the array" is not copied to the output xD

[2017-04-04 16:09] rainerhahnekamp opened #472 "Option for automatic loading"
Please correct me if I am wrong but as I see it, ExtractTextTemplate does not automatically load the generated stylesheet. So in the "normal" way, where I would have:

[code]

the css data is loaded automatically. By replacing it with the plugin

[code]

it generates the css file separately, but I have to manually add

[code]

to my html file.

In a use case where I am lazy loading multiple "css c

[2017-04-05 00:22] faceyspacey commented on #120
I think around this area in the code:

https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/index.js#L267

we should *now* allow for the capability to extract css per chunk into their own file, and then packages like [React Loadable](https://github.com/thejameskyle/react-loadable) can discover the the css files it needs to embed in the initial page.

In fact, I'm working on a

[2017-04-05 00:33] faceyspacey commented on #106
let's write this code--simple as that. This is the future of the extract text plugin. The code that needs to be edited is around here:

https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/index.js#L267

One of these lines (possibly this one: `module[NS + "/extract"] = shouldExtract`) are indicating that all extract "results" go to the entry chunk.

We need to write it so if

[2017-04-05 00:36] faceyspacey commented on #106
here's some additional notes on another issue regarding the same stuff:

https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/120#issuecomment-291688218

[2017-04-05 05:33] amitayr commented on #323
any news with this issue?

[2017-04-05 23:30] nsfmc commented on #468
fwiw, i'm running into this problem as well, in my case i assumed it was a problem with postcss-loader and debugged that whole chain until i realized that it only failed for the postcss loaders inside the extract-text-plugin, in my case, i noticed that the options it was passing to the plugin were just `{}` despite initializing it like

[code]

anyhow, in my case, there is something of a gross wor

[2017-04-06 08:11] hqqxxf opened #473 "beta cannot install on mac"
on mac：
npm i extract-text-webpack-plugin@beta does not work

[2017-04-06 09:14] wsika commented on #384
@sajidali,I've been trying to use your suggetion, but it doesn't work

[2017-04-06 09:18] wsika commented on #384
@Rob-Leggett ,hi, i also encountered the same problem with you! if you find the solution,I hope you can also the solution send me , my email address  is wshicheng@outlook.com ! thanks a lot

[2017-04-06 12:57] Slumber86 commented on #30
I found easier to do something like this:

[code]
For me, works...

[2017-04-06 16:21] michael-ciniawsky commented on #473
@hqqxxf Why are you installing ETWP with the `@beta` tag? 😛  There is no active `@beta` atm
v2.x is released and available via the `@latest` tag

```npm i -D extract-text-webpack-plugin```

Please try a 'normal' install and if there are still regressions feel free to reopen

[2017-04-06 16:21] #473 closed

[2017-04-07 04:22] omichelsen opened #474 "Doesn't read multiple imports"
I have an entry point that looks like this:

[code]

The content from `layout.less` is included but nothing from `landing.less` is included in the file.

My config is like this for Webpack 2.3.3 and extract-text-webpack-plugin 2.1.0:

[code]

Also any `.less` file I import from my react components are also ignored.

[2017-04-07 04:58] huan086 opened #475 "CommonChunkPlugin with ExtractTextPlugin causes buildin/global to disappear"
Node 7.8.0
Windows 10.0.14393
Bug demo: https://github.com/huan086/webpackbug

The setup

- script1.js reference style.css
- script2.js reference style.css

causes webpack/buildin/global **not** to get bundled in common.js. Thus, any access to `global` will cause an error.

When you open index.html, you will see

[code]

**What doesn't trigger the bug**
When script1.js and script2.js doesn't share

[2017-04-07 09:59] hero-guo commented on #282
So how to solve?

[2017-04-07 14:11] towry commented on #282
See this solution: https://github.com/towry/n/issues/67

[2017-04-07 14:46] aoc commented on #475
You're missing the all `allChunks: true` option.

This should fix it:

[code]

[2017-04-07 15:28] NogsMPLS commented on #159
the suggestion of using `extract-loader` worked for me. just did this:

[code]

and it converted `.scss` file into `css` file of the same name.

[2017-04-09 04:24] d3viant0ne opened #477 "refactor: apply webpack-defaults"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-09 13:41] wujekbogdan commented on #159
@bebraw

I've changed my configuration `entry` to:
[code]

Indeed, it works (however it's confusing, because in loaders `[name]` is used in a different way - in loaders, it just means the original file name) but after applying this change some errors which I do not understand appeared in the console.

This is the console output:
[code]

And there's one more issue. I want my files to be named `app.

[2017-04-12 11:45] hulkish commented on #323
@amitayr I wish... seems like we might be out of luck on this one short of finding time to write this fix ourselves

[2017-04-12 13:28] evilebottnawi opened #479 "Reduce package size"
Package contains unnecessary directories and files - `.github`, `logo.svg` and others. I can do PR if your accept this issue.

[2017-04-12 21:01] amalheiros opened #480 "Webpack 2: You may need an appropriate loader to handle this file type (HTML)"
i'm using Webpack 2 + Angular 1.x + es6 with babel loader and i'm facing some problems when i have to use the HTML template, i'm already using html loader and tried raw loader.

[code]

My webpack.config.js
[code]

Packages.json
[code]

[2017-04-12 21:04] michael-ciniawsky commented on #479
@evilebottnawi go ahead 😛

[2017-04-12 21:31] beynya commented on #47
have the same issue as @jahumes using version 2.0.0

[2017-04-13 09:29] zhouxinyong opened #481 "webpack2 build error css doesn't export content"
## env:
1.webpack 2.3.3
2.extract-text-webpack-plugin 2.1.0
3. node v7.8.0
## error
compile css with postcss,build with webpack2,here is my webpack config

[code]

when I build my application, it show error that css doesn't export content,how can I resolve this.

[2017-04-13 10:53] #481 closed

[2017-04-14 09:33] meandmax commented on #80
@sokra as far as I know in Webpack 2 there are only objects allowed in the loaders/rules  configuration array. Any ideas in how to make your proposed solution work in Webpack 2? As the array for exclusive matching is not allowed? Can I modify the validation of the Webpack config to make this work or what`s your advice here.

Thanks a lot
Max

[code]

cc @joscha, @timse, @p0wl

[2017-04-15 09:27] faceyspacey commented on #120
Hey everyone, the following is a fork I made that supports individual css files per chunk (including dynamic split chunks):

https://github.com/faceyspacey/extract-css-chunk

It also has HMR working. You should use it just for your client webpack config, as it has HMR built in.

This is intended for use with an upcoming PR to React Loadable, which will handle your split points in an effective way

[2017-04-15 15:28] oodzchen commented on #282
I've got the same error and I just solved it. For me, it's because I didn't use the [BannerPlugin](https://webpack.js.org/plugins/banner-plugin/) in a right way. Just change the input value, remove the extra `*`, and now it's fine.

[2017-04-16 12:13] liweinan0423 opened #484 "Is `ExtractTextWebpackPlugin` only for extracting styles?"
I am confused with the name of this plugin. Most use cases I've seen so far of this plugin is to extract styles from webpack bundle into a separate file.

If this plugin is dedicatedly extracting styles from bundle, why not just name it as `ExtractStylesWebpackPlugin`?

[2017-04-17 11:03] cchinaka commented on #109
I noticed i applied this to make seperate css files work, as well as capturing all css files in imports -
[code]

[2017-04-17 18:46] rainerhahnekamp commented on #472
Hello, just wanted to recheck if my issue is unclear or if I could help somehow.

[2017-04-17 18:53] manuelro opened #485 "Cannot find module 'webpack/lib/Chunk'"
I'm not even using the plugin and I get the following error when I run `webpack` from my terminal:
[code]
The plugin is loading a module called `Chunk` (see line 9 on the index file):
`var Chunk = require("webpack/lib/Chunk"); // Line 9 @ extract-text-webpack-plugin/index.js`

But there is not such folder in Webpack module:
![image](https://cloud.githubusercontent.com/assets/4284074/25100705/5bc71

[2017-04-17 21:44] nathanboktae commented on #30
None of these last few suggestions worked for me mainly due to webpack 2 not seeing that my style files were true dependencies of any javascript that required them. `webpack-hot-middleware` didn't either. But it's possible to subscribe to all changes via `webpack/hot/emitter` 's `webpackHotUpdate` event:

[code]

[2017-04-17 22:33] manuelro commented on #485
UPDATE: Installing a previous version of Webpack solved the issue.

`npm install webpack@2.2.0 --save-dev`

[2017-04-18 05:35] sunyang713 commented on #27
this issue isn't resolved. using `publicPath: '../'` is a hack, not a solution.

[2017-04-18 08:50] mieszko4 commented on #30
@nathanboktae it works well for me, except it refreshes the styles each time I make a change regardless if it is a change in javascript or css. I am wondering if there is a way to check if change was made in css.

Also, in chrome every time I make a change I see an annoying style flash. In firefox there is no such flash.

[2017-04-18 08:56] milworm commented on #30
I think this article will be useful for you guys:
https://60devs.com/webpack-hot-reload-css-modules.html

[2017-04-18 13:32] helly0d commented on #30
@mieszko4 In order to avoid that annoying style flash ( aka FOUT ). You could combine the solution I gave above with the event based solution provided by @nathanboktae  like this:

[code]

Basically what this does, is to insert new links with the updated `timestamp` in the query, and remove the old `link` tags after 2 seconds. This way you will avoid that moment of FOUT because the new `link` tags

[2017-04-18 14:50] rogyvoje commented on #240
It would be a very good enhancement, example would be if I want to access some stylesheet with JavaScript and add some new rules to it, and I would like to be able to attach at least an id attrubute to that **link** tag

something like this:

[code]

and then output would be:

[code]

[2017-04-18 15:05] mieszko4 commented on #30
Thanx @helly0d! Your solution works well if there are no custom fonts in my case.

I looked more into the problem and I realized that the flash is actually caused by redownloading custom fonts that I have defined in my scss.
After each change in my scss or js, chrome redownloads the same font (the same filename).
I will post more if I figure out how to resolve that problem.

[2017-04-18 15:43] mieszko4 commented on #30
It seems that chrome does not redownload fonts if styles are defined in `<style />`.
I do not have enough knowledge to figure it out. It seems it would be best but also very hard (possible at al?) if it was solved with `<style />` patches instead of entire file refresh since the source map file maps to multiple source files in the project.

[2017-04-18 15:53] nathanboktae commented on #30
Great @helly0d I was about to merge our solutions too 👏

@milworm that article's solution is is 2x the lines, adds a totally unnecessary AJAX call, and keeps a 2nd copy of your stylesheets in memory in JS. Pretty bad.

[2017-04-18 16:04] nathanboktae commented on #30
For the maintainers (@bebraw,  @TheLarkInn, etc) the principle of keeping development and production as close as possible is extremely important, and a 2.5 year old issue with 85 comments figuring out how to do it is a testament to that. I would be great to have first class HMR support in `extract-text-webpack-plugin`, if not at least an official, documented solution.

[2017-04-18 16:18] mieszko4 commented on #30
@nathanboktae, @bebraw, @TheLarkInn  It is not only about keeping developement and production as close as possible.
With `extract-text-webpack-plugin` I have source files under **webpack://** in my chrome developer tools which is really awesome as they follow the tree structure of my project.
Without `extract-text-webpack-plugin` in my chrome developer tools they appear flat under **:cloud: (no-do

[2017-04-18 16:19] milworm commented on #30
@nathanboktae , well, you are right about second copy, but I don't think it's something bad. I wouldn't say that it's a bad solution. At least it works and doesn't have any issues mentioned in this thread.

[2017-04-18 19:32] nathanboktae commented on #30
@milworm No, You still have flickering as you're just setting `href` directly. You are polluting the network console with an XHR request. That also causes another delay.

[2017-04-18 19:36] TheLarkInn commented on #30
@mieszko4 PR's are welcomed! 😄 ❤️ If you think you can have a fool proof non-breaking solution.

The thing is that the team itself cannot and will not (currently) invest the time in tackling this vs the [laundry list of user voted features](webpack.js.org/vote) that will take priority. However, it sounds that there are quite a few people here who believe that they would like this feature so I woul

[2017-04-18 20:39] mieszko4 commented on #30
I think this one is great for starters:https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/457

[2017-04-18 21:02] psabharwal123 commented on #484
i have the same question, can we not use it to extract js or images?

[2017-04-18 22:34] nathanboktae commented on #30
@TheLarkInn thanks for recognizing the need, and of course the hardwork on WebPack. 👏

[2017-04-19 12:10] milworm commented on #30
@nathanboktae well, the ajax-call takes around 15ms on mac macbook, so it doesn't seem to be a lot. As for flickering ... I think it's absolutely normal, cause the browser needs to perform a lot of calculations in order to apply the changed stylesheet. How else would you apply new stylesheet avoiding the flickering problem?

[2017-04-19 15:55] evilebottnawi commented on #484
@liweinan0423 @psabharwal123  because in theory your can use loader not only for `css` files, also `styles` is very wide name (`sass`, `less` and more more more).

[2017-04-19 15:59] evilebottnawi commented on #484
@liweinan0423 @psabharwal123 also for question for such a nature use `stackoverflow`, also each such new issue makes contributors spend time on it, although this time could be spent on solving a more important problem, but still thanks for the interest shown :smile:

[2017-04-19 16:41] sptheme opened #486 "Image background from node_modules"
Hello,

I have problem with sass files that have relative path background images and try to ExtractTextPlugin for production but got error:
Module not found: Error: Can't resolve '../flags/1x1/un.svg'

I have used @import "~flag-icon-css/sass/flag-icon"

Does anyone can resolve this issue?

[2017-04-19 17:13] nathanboktae commented on #30
Well if you were reading the thread wanting to contribute to the solution instead of promoting your blog, you'd see we were just talking about it above.

[2017-04-19 18:00] milworm commented on #30
It's been 4 months between the time when I wrote that article and shared
that solution in this thread. Don't you think if I wanted to promote it I
would do it in January? I couldn't find a solution at that time so that was
a reason why I decided to share my own. The original thread was about the
problem mentioned in the article and I saw some problems that could be
fixed using article's solution l

[2017-04-19 20:11] KazW commented on #144
I ran into this problem as well. I tracked it down to webpack-contrib/css-loader#124, using css-loader 0.14.5 dropped my build time by 30%.

[2017-04-19 21:24] matthewjumpsoffbuildings commented on #144
@KazW that may well be a part of the issue, but if I _only_ disable extract text plugin, and keep css-loader+sass-loader, it literally halves my build time. It seems clear that extract text plugin itself is a huge source of slowness

[2017-04-19 21:35] firestar300 commented on #159
Same issue for me. I have a `payment.css` and I would like to compile to `payment.css` in my `dist`folder.

[code]

And my plugins array:

[code]

[2017-04-20 05:41] michael-ciniawsky opened #487 "Standardize README"

[2017-04-20 14:10] jonathansousa commented on #468
I'm running into this issue as well when trying to turn css minimization on for production files. I think I went through the same process of debugging every other possibility before realizing it was the inability of the extract-text-plugin to pass options to the css loader. So far I haven't found a work-around.

[2017-04-20 14:13] NogsMPLS commented on #208
Running into the same problem. I'd really *really* like to be able to do something like:

[code]

And have it output a css file.

[2017-04-22 08:44] ALPIXELMaiki commented on #472
+1

[2017-04-22 09:04] michael-ciniawsky commented on #472
@rainerhahnekamp ETWP doesn't support this, it just emits the CSS file, in the first example `style-loader` pitches some JS into the bundle to add the styles to the DOM. For ETWP it is more 'complex' since you need to know the HTML file which isn't normally part of the webpack compilation, but as far as I know `html-webpack-plugin` is extendable and maybe it's possible or already implemented to au

[2017-04-22 09:04] #472 closed

[2017-04-22 09:12] michael-ciniawsky commented on #486
@sptheme I need more info about your setup (`webpack.config.js`) and a full error log, this can be tricky to do 😛

[2017-04-22 09:14] michael-ciniawsky commented on #484
It iss the 99.9% usecase yep 😛 , but 'in theory' it would be possible to extract other resources with it

[2017-04-22 09:14] #484 closed

[2017-04-22 09:17] michael-ciniawsky commented on #480
Closing since its unrelated to ExtractTextPlugin, something else in your setup is conflicting and the HTML is not passed to a loader and therfore webpack throws

[2017-04-22 09:17] #480 closed

[2017-04-22 09:18] michael-ciniawsky commented on #479
Closed by #482

[2017-04-22 09:18] #479 closed

[2017-04-22 09:25] michael-ciniawsky commented on #468
If I not mistaken this  was a 'bug' in webpack =< 2.2.1 where `function || require()` in loader options where not correctly stringified if an `ident` is missing

[code]

Please try with either using `ident` or by upgrading to the latest webpack (>= 2.2.1). Reopen if still any regressions :)

[2017-04-22 09:58] michael-ciniawsky commented on #20
HMR will not be supported by this plugin in te near future since it's sole purpose it to extract css files when running webpack in production mode

[2017-04-22 09:58] #20 closed

[2017-04-22 10:07] michael-ciniawsky commented on #454
@orangecoding See @kostasmanionis's comment

[2017-04-22 10:07] #454 closed

[2017-04-22 10:11] michael-ciniawsky commented on #467
It isn't possible that ETWP is causing this issue, it must be somwhere else in your config, ETWP doesn't transform the contents

[2017-04-22 10:11] #467 closed

[2017-04-22 10:12] michael-ciniawsky commented on #377
Feel free to reopen if you can provide more info and it's still relevant :)

[2017-04-22 10:12] #377 closed

[2017-04-22 10:15] #475 closed

[2017-04-22 10:16] michael-ciniawsky commented on #332
This is not in the scope of this plugin, it's sole purpose is to extract CSS from the bundle into separate files :)

[2017-04-22 10:16] #332 closed

[2017-04-22 10:23] michael-ciniawsky commented on #181
Please try with again webpack 2/ ETWP v2 and reopen if still any regressions, from the stacktrace its looks like this is an error in `css-loader` in particular `lib/css-base.js`, so maybe reopen in `css-loader` instead :)

[2017-04-22 10:23] #181 closed

[2017-04-22 10:26] michael-ciniawsky commented on #464
That's not possible since ETWP doesn't transform any content, you also using `vue-loader` and only a part of ETWP (`loader.js`) I can't tell you which particular side-effects this inoffical usage in conjunction with `vue-loader` possibly may has 😛 You need to reconfigure your setup

[2017-04-22 10:26] #464 closed

[2017-04-22 10:28] michael-ciniawsky commented on #474
I need more info about your setup and does it work without `extract-text-webpack-plugin` ?

[2017-04-22 10:33] michael-ciniawsky commented on #288
Looking at the stracktrace ETWP isn't even called there, this seems to be an error elsewhere in your setup :)

[2017-04-22 10:33] #288 closed

[2017-04-22 10:40] michael-ciniawsky commented on #383
The `ident` (Complex Options) is obsolete since  webpack >= v2.2.1 and this isn't really related to ETWP or do I miss something? In this case reopen please 😛  I will open an issue about eventual removal of the Complex Options (`ident`) docs @webpack/webpack.js.org

[2017-04-22 10:40] #383 closed

[2017-04-22 10:48] michael-ciniawsky commented on #401
The simple answer is that angular isn't really compatible with ETWP and the ETWP portion works correctly

[2017-04-22 10:48] #401 closed

[2017-04-22 10:50] michael-ciniawsky commented on #136
Please try with webpack 2 / ETWP 2, reopen if still any regressions :)

[2017-04-22 10:50] #136 closed

[2017-04-22 10:52] michael-ciniawsky commented on #164
see @bebraw's comment, anything else is another plugin (fork etc)

[2017-04-22 10:52] #164 closed

[2017-04-22 10:58] michael-ciniawsky commented on #278
Please reopen this at the AOT Plugin repo, since it doesn't seem to be an issue with ETWP, If ETWP is used it should only extract CSS that's not used/needed by any angular internals (AOT Compiler and whatnot), the sole purpose of this plugin is to extract CSS from the bundle and emit a CSS file

[2017-04-22 10:58] #278 closed

[2017-04-22 11:15] michael-ciniawsky commented on #397
See @Van-Vu's comment, this is won't fix from the ETWP side of affairs

[2017-04-22 11:15] #397 closed

[2017-04-22 11:19] michael-ciniawsky commented on #403
@batmandarkside Could you try changing the `localIdent` to `[path]__[name]__[hash:base64:5]`  or the like ?

[2017-04-22 11:32] michael-ciniawsky commented on #338
@pastelsky This isn't supported atm, the feature request is here #455

[2017-04-22 11:32] #338 closed

[2017-04-22 12:11] michael-ciniawsky commented on #240
I'm confused by this request since ETWP doesn't add a link tag anywhere, it's sole purpose is to extract the CSS from the bundle and emit a CSS file. It's up to the user to reference the CSS file via a `<link id="1" data-id="1" href="path/to/extracted.css">` in the HTML. It's out of scope for this plugin to load the HTML file and parse it and add the links. Feel free to reopen in case I missed som

[2017-04-22 12:11] #240 closed

[2017-04-22 12:16] michael-ciniawsky commented on #268
The `module.exports = 'path/to/extracted.css'` would be needed I guess or could this be a comment aswell to minify it away in production ?

[2017-04-22 12:19] michael-ciniawsky commented on #149
The file extname is missing and therefore the rule in `webpack.config.js` isn't matching, please try again by adding it and feel free to reopen if still any regressions :)

[code]

⚠️ Please ensure to have to correct path to the file, since I didn't tested this 😛

[2017-04-22 12:19] #149 closed

[2017-04-22 12:24] #339 closed

[2017-04-22 12:27] michael-ciniawsky commented on #471
@robgha01 What the status here, is this still relevant? Could you please post your `webpack.config.js` as a code block here

[2017-04-22 12:30] michael-ciniawsky commented on #121
@prasannavl Please elaborate on this futher (with code 😛 ), tbh I don't understand what you're trying to achieve.

[2017-04-22 12:35] michael-ciniawsky commented on #422
[#403](https://github.com/webpack-contrib/sass-loader/issues/403) should be fixed now

[2017-04-22 12:35] #422 closed

[2017-04-22 12:44] michael-ciniawsky commented on #263
ETWP has some regressions when used with Angular 2 Components, during the fact that Angular 2 Components need the CSS at runtime  => `Uncaught Error: Expected 'styles' to be an array of strings.`(Angular Compiler Error), ETWP on the other hand `removes` the CSS Chunks from the bundle and emits a separate CSS file, which is the correct behaviour. Use ExtractTextPlugin only for CSS **not required**

[2017-04-22 12:44] #263 closed

[2017-04-22 12:47] michael-ciniawsky commented on #259
@MwumLi Please try again with webpack 2 / EWTP 2 and post a full error log if still regressions

[2017-04-22 12:51] michael-ciniawsky commented on #285
Emit a CSS file per split point (chunk) isn't supported atm, feature request for this is [here](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/455)

[2017-04-22 12:51] #285 closed

[2017-04-22 13:04] michael-ciniawsky commented on #441
The `Unknown work` error is related to `css-loader` and should be fixed now, Please update to the latest version and try again. If still regressions with this, please open an issue in `css-loader` instead :)

[2017-04-22 13:04] #441 closed

[2017-04-22 13:10] michael-ciniawsky commented on #250
Please try agan with webpack 2 / ETWP 2 && **less-loader v4.0.3** , if still regressions this seems to be an error with the resolver of `less-loader` feel free to reopen and maybe open an issue in `less-loader` aswell :)

[2017-04-22 13:10] #250 closed

[2017-04-22 13:40] michael-ciniawsky commented on #247
Would an ENV variable solve this ? It basically negates the whole purpose of this plugin and adding therefore adding it as an options to the plugin isn't a good idea imho

[code]

It basically negates the whole purpose of this plugin and therefore changing anything within the plugin itself isn't a good idea imho. This is better solve on webpack config level somehow

[2017-04-22 13:40] #247 closed

[2017-04-22 13:59] michael-ciniawsky commented on #236
Is this technically possible within the  `ExtractTextPlugin.extract()` (Loader) and I wonder if this would be the best way to achieve this? I mean e.g `sass-loader` could interpolate the `[name]` aswell since it's an option passed to it?

[2017-04-22 14:05] michael-ciniawsky commented on #296
@nowaalex Also make sure to be on webpack  >= v2.2.1 in case you aren't already 😛 , there was a 'bug' with using `{Function}` in loader options, so maybe the root cause was during the fact that the `getLocalIdent: function () {}` in cssLoader.options didn't get stringified correctly and was, as you mentioned, simply 'ignored' by webpack/ETWP :)

[2017-04-22 14:05] #296 closed

[2017-04-22 14:22] michael-ciniawsky commented on #235
This is an issue we will fix soon within `css-loader` PR is [here](https://github.com/webpack-contrib/css-loader/pull/478)

[2017-04-22 14:22] #235 closed

[2017-04-22 16:27] michael-ciniawsky commented on #486
This is unrelated to ETWP in particular since it's an issue with url resolving in a vendor package, where EWTP doesn't have any influence upon

[2017-04-22 16:27] #486 closed

[2017-04-22 16:28] michael-ciniawsky commented on #93
@aldanor Please provide more info (`webpack.config.js`)  + error logs

[2017-04-22 16:35] michael-ciniawsky commented on #465
`url('')` will be rewritten by to `url(require('./'))` by `css-loader`, it's an issue in `css-loader` tracking this an discussion moved to  [#462](https://github.com/webpack-contrib/css-loader/issues/462) i'm still wondering about the 'usecase' 🙃

[2017-04-22 16:35] #465 closed

[2017-04-22 16:44] michael-ciniawsky commented on #460
It's not working on an entry basis you will need to setup multiple rules and Instances of ETWP to get separate files (per entry)

[code]

[2017-04-22 16:44] #460 closed

[2017-04-22 16:48] michael-ciniawsky commented on #221
See comment in #460

[2017-04-22 16:48] #221 closed

[2017-04-22 16:54] michael-ciniawsky commented on #462
The order of your styles is determined by how webpack walks the `import style from './style.styl' / require('./style.styl') in your application, if the order is off for some reason, that's not caused or solveable by ETWP, since it has no context about the CSS hierarchy try to reorganise your styles

[2017-04-22 16:54] #462 closed

[2017-04-22 17:00] michael-ciniawsky commented on #208
This feature request continues in #455 :)

[2017-04-22 17:00] #208 closed

[2017-04-22 18:13] omichelsen commented on #474
I found out the culprit was the CommonsChunkPlugin. In the new docs they have [added instructions](https://webpack.js.org/plugins/commons-chunk-plugin/#passing-the-minchunks-property-a-function) (at the end of that paragraph) to work better together with ExtractTextPlugin.

Must admit this required a lot of trial and error on my part, so maybe this is something you could add/link to in the readme?

[2017-04-22 18:53] michael-ciniawsky commented on #474
An example describing this in a more elaborative way would be highly apprectiate, PR welcome 😛

[2017-04-22 18:53] #474 closed

[2017-04-22 19:03] michael-ciniawsky commented on #459
@hanxinwei Could you try with `{ allChunks: true }` option set ?

[2017-04-22 19:13] michael-ciniawsky commented on #161
Please provide more info about your setup (`webpack.config.js`) and elaborate on the usecase fot this please, it seems to convert the CSS `{String}` into an CJS export according to the given pattern and therefore breaks ETWP, probably won't fix

[2017-04-22 19:16] michael-ciniawsky commented on #152
The source map is generated by the respective loaders per file/chunk when `{ sourceMap: true }`, tbh I don't know how to tackle this based on the CSS being a asnyc chunk or not

[2017-04-22 19:19] michael-ciniawsky commented on #389
Is there anything new happend recently in terms of webpack core ? How to start with this, any ideas?

[2017-04-22 22:53] nsfmc commented on #468
@michael-ciniawsky i was experiencing this with `webpack@2.3.3`

[2017-04-23 07:49] michael-ciniawsky commented on #468
@nsfmc Then please provide more info (`webpack.confg.js`, error logs, source) 😛

[2017-04-23 10:09] rogyvoje commented on #240
@michael-ciniawsky yeah you are right, it was my mistake, this should be considered inside this library [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin)

I got confused with all these libraries for webpack 😄

[2017-04-23 14:44] eminoda commented on #124
ERROR in ./src/css/user.css
Module build failed: ReferenceError: window is not defined

My webpack config：
`let webpack = require('webpack');
let ExtractTextPlugin = require('extract-text-webpack-plugin');

var path = require('path');
module.exports = {
  entry: {
    'app': './src/app.js'
  },
  output: {
    path: path.join(__dirname, "/public/javascripts"),
    filename: 'app.bundle.js'
  },

[2017-04-23 14:51] eminoda commented on #124
const ExtractTextPlugin = require('extract-text-webpack-plugin');

// Create multiple instances
const extractCSS = new ExtractTextPlugin('stylesheets/[name]-one.css');
const extractLESS = new ExtractTextPlugin('stylesheets/[name]-two.css');

module.exports = {
  module: {
    rules: [
      {
        test: /\.css$/,
        use: extractCSS.extract([ 'css-loader', 'postcss-loader' ])
      },

[2017-04-23 18:11] cgonen opened #488 "data['disabled'] should NOT have additional properties"
Error: data['disabled'] should NOT have additional properties
I'm having this error running extract-text-webpack-plugin with webpack. How to fix it?

[code]

and my webpack.config.js is:

[code]

Package.json versions:

[code]
NPM -v // => 4.5.0
NODE -v => 7.9.0

[2017-04-23 18:31] Danilo-Araujo-Silva commented on #468
My code and logs are above. That code was using webpack 2.3.2.
Reopen?

[2017-04-23 18:40] michael-ciniawsky commented on #488
@cgonen From a first glace this looks like a Options Validation Error, could you remove the `disable` from ETWP options?

[2017-04-23 18:44] cgonen commented on #488
@michael-ciniawsky Thank you, that worked :-).

[2017-04-23 18:46] cgonen commented on #488
@michael-ciniawsky Thank you, that worked 👍

[2017-04-23 18:53] michael-ciniawsky commented on #488
https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/schema/plugin-schema.json#L10

It's mispelled in your config `disabled => disable` and that's the reason why the options validator is complaining 😛

[2017-04-23 18:53] #488 closed

[2017-04-23 20:21] bebraw commented on #389
Please ask Tobias for details.

[2017-04-23 20:25] michael-ciniawsky commented on #389
Maybe #483, but I didn't take a deeper look at it

[2017-04-23 20:51] nsfmc commented on #468
thanks @michael-ciniawsky i'm working on a minimal testcase/repo for this right now, it may be that the error is in `postcss-load-config` but i will report back once i have isolated it more thoroughly, thanks for being patient with me.

[2017-04-23 23:41] nsfmc commented on #468
i just wanted to add some more color here to the discussion. after doing a lot more testing this afternoon, i found that _my_ problem was actually in `postcss-loader` and appears to be fixed by https://github.com/postcss/postcss-loader/pull/201

@Danilo-Araujo-Silva i noticed that you also use postcss with `extract-text-plugin`, could you let me know if changing your `postcss-loader` package.json

[2017-04-24 00:25] michael-ciniawsky commented on #468
@nsfmc See comment in [postcss/postcss-loader#201](https://github.com/postcss/postcss-loader/pull/201)

[2017-04-24 05:50] bebraw commented on #383
Yeah, ok to close I think.

[2017-04-24 14:12] vldmr1986 commented on #66
+1 same issue
I m using:
webpack-dev-middleware
webpack-hot-middleware

[2017-04-24 15:29] jonathansousa commented on #468
After another round of debugging it looks like my situation is a case of a bug in css-loader not properly receiving options being passed correctly from extract-text-webpack-plugin. This bug was patched up in the 0.27.0 release -- extract-text-webpack-plugin devDependencies are at ^0.26.1 which was the version I had installed --
 so updating css-loader independently to the latest version cleared th

[2017-04-24 18:55] #42 closed

[2017-04-25 07:38] #403 closed

[2017-04-25 13:15] halfzebra opened #489 "Webpack produces a bundle with empty modules, when all the content is extracted"
If I have a bundle of CSS files, which are getting extracted in the end, webpack will produce a bundle with empty modules.

Here's my minimal config to reproduce the behaviour described above:

[code]

In the output, I'm getting a bundle, with a bunch of empty module definitions:

[code]

Here's a minimal example of the issue [webpack-empty-bundle](https://github.com/halfzebra/webpack-empty-bundle

[2017-04-25 13:38] michael-ciniawsky commented on #489
Could you elaborate on this futher 🙃 . Wat do you excatly men by **not** emiting a bundle?

This behaviour should be correct, all ETWP is doing is extracting the CSS Chunk from the bundle into a separate CSS file and leave a comment where it did so, the JS [bundle] containing other code is still emitted

[2017-04-25 13:56] halfzebra commented on #489
@michael-ciniawsky sorry for wrong wording.

It's just my assumption, but I would expect webpack to strip [bundle.js](https://github.com/halfzebra/webpack-empty-bundle/blob/master/build/bundle.js) file from the output since it contains only empty chunks.

I would want to keep only [bundle.css](https://github.com/halfzebra/webpack-empty-bundle/blob/master/build/bundle.css)

As far as I understand,

[2017-04-25 14:29] michael-ciniawsky commented on #489
So in your case the `bundle.js` is mostly empty after ETWP extracted the chunks ?  😛 That's an uncommon usecase tbh, normally when you need the CSS on build time, let's say to localise it  (CSS Modules) and update the classnames in your components, you import the CSS and for production builds it's recommended to extract it into a separate file to enable parallel loading of CSS && JS (Critical Rend

[2017-04-25 15:10] michael-ciniawsky commented on #489
Reopen if still any regressions

[2017-04-25 15:10] #489 closed

[2017-04-25 15:13] halfzebra commented on #489
@michael-ciniawsky makes sense!

Thanks for clarifying that 🙂

[2017-04-26 11:13] aleen42 opened #490 "Can I extract JavaScript file, either?"
I have used Webpack 1, and I want to use Webpack to build a specific JavaScript file. Can that plugin implement the requirement for me? I have set up my Webpack configuration file like the following:

[code]

Then, if I have require the file in the file `main.js` of my project, the Webpack building process will throw out an error like this:

[code]

But if I don't require it, nothing happened at a

[2017-04-26 17:18] amitava82 commented on #119
wasted few hours on this. Thanks @elsigh

[2017-04-26 19:13] michael-ciniawsky commented on #490
Set this file as an entry point or use the Common Chunk plugin to include it in your vendor bundle, the name `extract-text-webpack-plugin` is a bit misleading tbh, but the 99% usecase for this plugin is to extract CSS chunks 😛

[2017-04-26 19:13] #490 closed

[2017-04-26 19:25] phaistonian opened #491 "Unexpected behavior when importing the same module from different entries"
Say that you have more than one entry.

In one entry, `index.styl` is being imported from a module using `import('file')`, i.e synchronously.

In a different entry the same module is also being imported, asynchronously this time,  i.e `import 'file'`.

In this case, the plugin even though the entries are different WILL extract the text from the chunk loaded asynchronously.

The only way to avoid t

[2017-04-27 13:56] zcoding commented on #399
still not working.
I need to set the publicPath with a CDN prefix.

[2017-04-27 20:13] Danilo-Araujo-Silva commented on #468
@nsfmc, looks like using your code the problem is fixed (at least in the main case). If I use the line below

`let headCSS = require('!style-loader/useable!css-loader!postcss-loader!sass-loader!head.scss');
headCSS.use();`

with a call to `@import '~sanitize.css/sanitize.css';` inside of it, when using your package on package.json, the system compiles ok. When changing to the common postcss packag

[2017-04-28 02:13] kniteshift opened #492 "Sass is not building into the css folder"
For some reason my scss files are not being built into my /build/ folder.

[code]

I'm using webpack 2.4.1, extract text ^2.1.0. Latest node sass, sass loader, css loader.

[2017-04-28 13:38] delijah commented on #80
Still not working with Webpack 2 :(

[2017-04-28 16:47] professorkolik commented on #489
@halfzebra
Did you find the solution?

Same problem I need extracted files, but also I need to require separate modules into js

[2017-04-28 17:18] nsfmc commented on #468
@Danilo-Araujo-Silva if you look at that pr i mention in the later comment, it looks like my fix certainly addresses *something* but further testing seems to show that my issue at least is in postcss-loader's handling of the config option defaulting to the postcss.config.js although i remain confused about why it finds the configuration the first time but not subsequent times.

[2017-04-29 14:16] tcschiller commented on #492
@kniteshift Your .scss files don't live in a directory one level up from your entry point, do they? I'm seeing an issue like that resulting in this error when I run webpack:

`foo.scss doesn't export content`

[2017-04-29 16:45] michael-ciniawsky commented on #492
@kniteshift The config looks sane, there must be an issue with the structure somewhere 😛 could you please post the `tree` and an example `.scss` file?

[2017-04-29 17:10] bebraw commented on #399
@zcoding Can you open a separate issue with a runnable example?

[2017-04-30 09:47] codeofsumit opened #493 "Simplest possible usecase: Bundle CSS - how?"
So the docs really improved when starting with webpack. I got everything JS related working pretty fast and the config is straightforward 👍 .

However when I start to get into CSS, everything is confusing again.

I got a folder:
`src/css/` with two files in it:
`a.css` and `b.css`.
Now I want them bundled to `dist/bundle.css`.

I followed [these docs](https://webpack.js.org/plugins/extract-text-we

[2017-04-30 15:05] codeofsumit commented on #493
seems like I have to import my CSS into my JavaScript files to make it work...?
This isn't mentioned anywhere where:
https://webpack.js.org/plugins/extract-text-webpack-plugin/#usage-example-with-css
I import my CSS files into JavaScript so Webpack takes the CSS out again and puts it into a separate file?
This doesn't really make sense. Am I doing this correctly?

[2017-04-30 18:32] michael-ciniawsky commented on #493
@codeofsumit Yep 😛 , webpack is **JS Module Bundler**  and doesn't understand CSS 'natively' (that why you need a 'loader' `css => module.exports = `${css}` `), it builds a dependency graph by walking the `import/require()` statements and ETWP will gather the chunks and extracted them into **one separate** file per **Instance**

[code]
I showing you this example, bc ETWP doesn't work per **entry**

[2017-04-30 18:32] #493 closed

[2017-05-01 17:34] contra opened #494 "chunk.modules deprecated"
Just a heads up, webpack master emits this warning for 2.1.0 -

[code]

Source of the issue: https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/index.js#L268

[2017-05-01 18:55] codeofsumit commented on #493
thanks for the detailed explanation @michael-ciniawsky - I'll send a PR with what I think would've helped me. Your post definitely did!

[2017-05-02 09:19] kinglerzou opened #495 "fallback or use can't use,loader.query property is undefined"
"version": "2.0.0-beta.4"
fallback or use  can't use
then instead:
ExtractTextPlugin.extract(
 { fallbackLoader:'style-loader',
  loader:["css-loader"]
 }
);

[2017-05-02 09:32] evilebottnawi commented on #495
@kinglerzou can you create minimal reproducible repo or show your config and files where your get an error?

[2017-05-02 09:55] michael-ciniawsky commented on #495
@kinglerzou Please update to the `latest` version before submitting an issue :)

[2017-05-02 09:55] #495 closed

[2017-05-03 15:42] kinglerzou commented on #495
@michael-ciniawsky   ok,i know,but i suggest it should be compatible for the low version

[2017-05-03 18:09] StevenTheEVILZ commented on #389
So it looks like this isn't getting fixed any time soon :/ because ultimately, #483 needs https://github.com/webpack/webpack/pull/4704, which contains breaking changes and therefore will wait until webpack 3.

[2017-05-04 04:18] Sunzhuoyi commented on #492
@kniteshift How do you solve this problem? I use less and do not know how to deal with it

[2017-05-04 04:21] Sunzhuoyi opened #496 "I use less in my projects and do not know the configuretion for webpack.config.js"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest

[2017-05-04 04:36] kniteshift commented on #492
@Sunzhuoyi I corrected it as @tcschiller had pointed out to me. I pretty much just setup an entry for the scss file.

Here's the entire config in case you're wondering.
`
module.exports = {
	entry: {
		bundle: ['./src/app.js', './src/styles/styles.scss'],
		vendor: VENDOR_LIB
	},
	output: {
		path: path.join(__dirname, 'build'),
		filename: '[name].[chunkhash].js'
	},
	module: {
		rules: [
			{

[2017-05-04 04:58] michael-ciniawsky commented on #496
Please submit support requests and questions to StackOverflow using the tag [[webpack]](http://stackoverflow.com/tags/webpack). StackOverflow is better suited for this kind of support though you may also inquire in [Webpack Gitter](https://gitter.im/webpack/webpack). The issue tracker is for bug reports and feature discussions. See also our CONTRIBUTING guidelines.

[2017-05-04 04:58] #496 closed

[2017-05-05 00:32] StevenTheEVILZ commented on #389
Any progress besides that?

[2017-05-05 00:50] d3viant0ne commented on #389
Given this is dependent on multiple `semver: Majors` upstream as well as at least two in `extract-text-webpack-plugin` all of which require coordination, testing, beta builds => bug fixes the only thing anyone can tell you for certain about the time frame is it's certainly too early to be asking about.

[2017-05-05 09:10] meandmax commented on #80
Will this going to be implemented in Webpack 2 or not? @sokra

[2017-05-06 07:09] bebraw commented on #188
This could use a little standalone example against `import()`.

[2017-05-06 07:12] bebraw commented on #188
Based on the error I would say this is actually the same as #406. The code has changed to `.isInitial()`.

Closing this as a result.

[2017-05-06 07:12] #188 closed

[2017-05-06 07:21] bebraw commented on #200
Can someone provide a standalone example illustrating this issue? That would help a lot. Thanks.

[2017-05-06 07:23] bebraw commented on #406
This could use a minimal standalone example to help with debugging.

[2017-05-06 11:05] kisenka commented on #177
The same issue #470

[2017-05-06 13:10] dsslimshaddy opened #497 "ExtractTextPlugin does not create output"
There is no file in the project called `darkstyles.css`

my structure is like
[code]

[code]

[code]

Im using

[code]

[2017-05-06 13:14] evilebottnawi commented on #497
@dsslimshaddy seems your forgot add plugin:
[code]

[2017-05-06 13:19] dsslimshaddy commented on #497
yeah i mentioned it i did add `new ExtractTextPlugin("darkstyles.css")` in plugins

[2017-05-06 13:20] evilebottnawi commented on #497
@dsslimshaddy can your create minimal reproducible test repo?

[2017-05-07 12:01] DmitryScaletta commented on #497
@evilebottnawi [minimal reproducible test repo](//github.com/DmitryScaletta/extract-text-plugin-issue).

    Hash: 4fe9606973bfcbb9ff65
    Version: webpack 2.5.1
    Time: 49ms
           Asset     Size  Chunks             Chunk Names
    js/bundle.js  2.64 kB       0  [emitted]  main
       [0] ./src/js/script.js 0 bytes {0} [built]

[2017-05-07 17:21] dsslimshaddy commented on #497
@DmitryScaletta  i used that same thing happens with mine. i want a bundle.css file. not bundle.js file.

[2017-05-07 17:29] BTMPL commented on #497
Your demo repo is not importing the css file.

Add

[code]
to index.js

[2017-05-08 14:02] delijah commented on #80
Seems to work now in version 2.1.0 by using the ignoreOrder config option. Check https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/166#issuecomment-299874710

[2017-05-08 21:10] jy95 commented on #66
Same for me, nothing

[2017-05-08 21:38] jy95 commented on #330
Not working for me :
[code]
My package.json : https://gist.github.com/jy95/99377c113252e6baaa23087abe859814
My webpack.config.js (without this line) : https://gist.github.com/jy95/e2359fdbc3c5a73c3d2430a9c61f78ad

Any idea ? I become mad with this bug for hours

[2017-05-09 07:40] joscha commented on #80
fixed via #166

[2017-05-09 07:40] #80 closed

[2017-05-09 14:30] jy95 opened #498 "ExtractTextPlugin : No css file generated, no error"
Hello,

I start out a stackoverflow post with this issue : http://stackoverflow.com/questions/43857784/webpack-extracttextplugin-no-css-file-generated-no-error . I found out it is a issue because I got no error when I start the build.

Here is a basic copy of the post :
![untitled](https://cloud.githubusercontent.com/assets/9306961/25855598/f3777448-34d3-11e7-897b-492df849189f.png)

Here are my fi

[2017-05-09 14:43] evilebottnawi commented on #497
@dsslimshaddy comment above resolve your problem?

[2017-05-09 17:44] hidace opened #499 "Module not found: Error: Can't resolve 'fs' in... - CSS Modules / PostCSS"
Hi, I'm getting the following list of `fs` errors when trying to use ExtractTextWebpackPlugin with CSS Modules and PostCSS.

I'm using **Node 6.10.3** and **Extract Text Webpack Plugin 2.1.0**.

Here is a sampling of my list of errors:

[code]

Here is my setup in my webpack.config.js:

[code]

Any and all help is appreciated. Thanks!

[2017-05-09 17:48] evilebottnawi commented on #499
@hidace seems bug not in `ETWP`, in `chokidar`, try to update node to `lts`

[2017-05-09 17:56] evilebottnawi commented on #499
@hidace similar issue https://github.com/webpack-contrib/css-loader/issues/447

[2017-05-09 18:26] hidace commented on #499
Yeah, the more I read into it, the more it looks like a Node issue, rather than related to `ETWP`. Closing, thanks.

[2017-05-09 18:26] #499 closed

[2017-05-09 20:48] dsslimshaddy commented on #497
Its fixed now

[2017-05-09 20:48] #497 closed

[2017-05-10 00:25] michael-ciniawsky commented on #498
Could you please copy&&paste the `package.json` && `webpack.config.js`  as code block? 😛

[2017-05-10 07:10] jy95 commented on #498
As you wish, I put them as file just to make people become mad with a issue of 200 lines ^^
package.json :
[code]
webpack.config.js :
[code]

[2017-05-10 07:34] michael-ciniawsky commented on #498
[code]

Please update to v2.0.3 I had two bugs in there :)

[code]

[code]

[2017-05-10 07:36] michael-ciniawsky commented on #498
Reopen if still regressions 😛

[2017-05-10 07:36] #498 closed

[2017-05-10 07:41] jy95 commented on #498
You will joke, The only way I made this thing works is with this change :
[code]

[2017-05-10 09:39] michael-ciniawsky commented on #498
I wonder if `scssLoader` will work for `.(scss|sass)` extraction, bc of `style-loader`applied in `use` && not in `fallback` :D

[2017-05-10 10:04] jy95 commented on #498
No idea, you are free to test by yourself ^^

[2017-05-10 15:55] jy95 commented on #498
@michael-ciniawsky already in v2.0.5 ? Good thing I didn't have tested it yet

[2017-05-11 08:42] wesharehoodies commented on #384
@sajidali This package works wonderfully!

### Example of working HMR with styles and javascript.
[code]

[2017-05-11 13:09] abdallanayer commented on #278
Any update regarding the above issue as I am facing the same

[2017-05-11 13:11] evilebottnawi commented on #278
@abdallanayer see https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/278#issuecomment-296365482

[2017-05-11 16:50] abhinavsingi commented on #481
How did you resolve it? @zhouxinyong

[2017-05-12 07:22] MissCuriosity commented on #110
thanks  @Cleod9
I have this problem too.What you commented on 6 Oct 2015 is exactly why my problem created

[2017-05-12 11:43] ray0324 opened #501 "css path is incorrect when use relative path"
wen config css file output like
[code]
the path in css  is incorrect like this
[code]
the right is
[code]

[2017-05-12 11:46] evilebottnawi commented on #501
@ray0324 `ETWP` don't handle `url` in `css`

[2017-05-12 16:12] xgqfrms-GitHub opened #502 "How to make multi ` .scss` files to multi `.css` files in separately ?"
# How to compile multi ` .scss`  files to multi `.css` files in separately ?

[code]

[2017-05-12 16:37] michael-ciniawsky commented on #502
With 3 different instances of `extract-text-webpack-plugin` see the README

[2017-05-12 16:37] #502 closed

[2017-05-15 17:28] abhinavsingi commented on #100
I'm using webpack-2 and using `use`, I'm still getting this error.
part of the config:
[code]

[2017-05-15 17:29] abhinavsingi commented on #110
I'm using webpack-2 and using `use`, I'm still getting this error.
part of the config:
[code]

[2017-05-15 17:30] evilebottnawi commented on #100
@iDVB `dynamic-style-loader` and `style-loader` seems weird

[2017-05-15 17:33] evilebottnawi commented on #100
@iDVB `options.fallback` - `{String}/{Array}/{Object}`.Try to using `fallback: ['style-loader', 'dynamic-style-loader']`

[2017-05-15 17:49] abhinavsingi commented on #66
Same issue with webpack-2, not using dev server though

[2017-05-16 11:38] sebastianrothe commented on #481
I would be interested too

[2017-05-16 12:24] abhinavsingi commented on #106
Any update or workaround for this to happen?
Anyone tried https://www.npmjs.com/package/extract-css-chunks-webpack-plugin ?

[2017-05-16 21:30] evilebottnawi commented on #144
Seems issue related to `css-loader`, not `extract-text-webpack-plugin`.

/cc @matthewjumpsoffbuildings @GuilhermeMedeiros @manuelbieh @Hulkmaster @allenylzhou @alberto The problem is still present? If yes, please provide minimal reproducible test repo.

[2017-05-16 21:47] evilebottnawi commented on #406
/cc @Timer can your provide here minimal reproducible test repo?

[2017-05-17 04:29] matthewjumpsoffbuildings commented on #144
@evilebottnawi not in my experience - if i disable extract-text-webpack-plugin and leave css-loader and sass-loader enabled, my compile time halves.

it appears to have something to do with extract-text-webpack-plugin and sass includes. it seemed like the more sass includes i used (both from my own files and from npm sass libraries like susy and bourbon), the more the compile time increased.

i wi

[2017-05-17 05:50] bebraw commented on #501
Note that you can fix this by setting `publicPath: '../'` at `.extract`.

[2017-05-17 09:44] evilebottnawi commented on #144
@matthewjumpsoffbuildings just ping me when your do it

[2017-05-17 14:41] bonesoul opened #503 "Module build failed: ReferenceError: window is not defined"
"extract-text-webpack-plugin": "2.1.0",

my webpack config;

const path = require('path');
const webpack = require('webpack');
const ExtractTextPlugin = require('extract-text-webpack-plugin');

[code]

getting errors;

[code]

any ideas?

[2017-05-17 20:02] hanford opened #504 "Rename contentHash -> chunkHash"
It's pretty confusing that webpack supports `chunkHash` as the name for hashed chunks, and `extract-text-webpack-plugin` supports `contentHash` as a the name achieving the same thing.

Took me a couple hours to figure out why some of my hash's weren't updating properly and this ended up being the reason.

Thoughts on renaming this in a future version?

[2017-05-17 20:54] michael-ciniawsky commented on #503
[code]

Remove `style-loader` from `ExtractTextPlugin.extract().use` it should be on the `fallback` only

[2017-05-17 20:54] #503 closed

[2017-05-17 21:31] evilebottnawi commented on #503
@michael-ciniawsky maybe we can throw error if somebody try to use `style-loader` in `use`?

[2017-05-17 21:48] michael-ciniawsky commented on #503
yep 😛, seems like it's needed, folks don't read the docs :D

[2017-05-17 23:14] bonesoul commented on #503
seems i missed it thanks for the help.

[2017-05-18 01:20] xcsweb opened #505 "Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin"
Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-webpack-plugin for the usa
ge example
    at Object.module.exports.pitch (E:\www\dev\node_modules\._extract-text-webpack-plugin@2.1.0@extract-text-webpack-plugin\loader.js:27:9)

[2017-05-18 02:49] michael-ciniawsky commented on #505
Without your `webpack.config.js` we can't help, please consider the README or provide your config

[2017-05-18 02:49] #505 closed

[2017-05-18 04:25] Nataila opened #506 "can not extract sass in .vue file, webpack2+vue2"
this is my package.json
[code]
**this is my webpack.config.js**

[code]

**this is my nav.vue**

[code]

when I run `webpack` it throw error :
[code]

I don't konw where is wrong  can you help me?

[2017-05-18 21:58] KELiON opened #509 "Extract css from multiple entries is incorrect"
I've already opened an issue #294, but I couldn't find the reason. Now I managed to find it and created a [repository for demo](https://github.com/KELiON/webpack-extract-css-bug-demo). I've tested it with node 7.9.0 on MacOS.

#### Problem
I have two rules for `ExtractTextPlugin` – [one](https://github.com/KELiON/webpack-extract-css-bug-demo/blob/master/webpack.config.js#L17) for `global.css`, tha

[2017-05-19 03:04] prograhammer commented on #58
It seems ExtractTextPlugin can't catch the chunks created implicitly with the `minChunks` function of CommonChunksPlugin. Anyone else experiencing this and know if there is a work-around?

[2017-05-19 05:53] 1e1f commented on #449
This is a little old now, but I just ran into this same error when I moved to a machine running node 7.0.0, after installing nvm and switching to 7.10.0 the error was resolved. webpack2.2 / extract 2.1

[2017-05-19 22:50] sjoshi2 opened #510 "Less file not working"
I am getting an "Error: Expected 'styles' to be an array of strings is being show in the browser. " And I can't figure out where I am going wrong. Can someone please help me out. Thanks in advance.

pakage.json includes these:
[code]
Below are are part of my webpack configs:
[code]

[2017-05-20 02:33] michael-ciniawsky commented on #510
Please try without `to-string-loader`

[2017-05-20 16:50] randomvasya opened #511 "Error: data['disabled'] should NOT have additional properties"
Terminal:

debug.log:

package.json:

webpack.config.js:

[2017-05-20 21:56] michael-ciniawsky commented on #511
`disabled` => `disable` and please update to the latest version of ETWP (`v2.1.0`)

[2017-05-20 21:56] #511 closed

[2017-05-22 05:10] flyon commented on #449
Same problem. All current stable versions: webpack 2.5.1 / extract-text-webpack-plugin 2.1.0. Just upgraded to node 7.10.0, still have the problem.

    TypeError: extractedChunk.isInitial is not a function

[2017-05-22 07:03] jony89 commented on #449
some of the conversation moved to the issue, so i write my temp solution here as well

tnx, temporary solution is to give webpack-stream your own webpack version:

[code]

see https://github.com/shama/webpack-stream/issues/125

this is the issue : #461

hope it helps for others.

[2017-05-22 11:10] Airomad commented on #133
the same error

[2017-05-22 11:10] bebraw commented on #133
@Airomad Can you open a separate issue with more information?

[2017-05-22 14:06] sjoshi2 commented on #510
I tried without the to-string-loader and it still has the same error.

[2017-05-22 14:17] michael-ciniawsky commented on #510
kk, please post the full `stacktrace`

[2017-05-22 14:39] sjoshi2 commented on #510
[code]

[2017-05-22 14:44] evilebottnawi commented on #510
@sjoshi2 seems your use `dll`, can your provide full configuration?

[2017-05-22 14:51] sjoshi2 commented on #510
Which config would you like me to post?
I am using the https://github.com/AngularClass/angular-starter seed.

[2017-05-22 15:06] evilebottnawi commented on #510
@sjoshi2 What can I do to reproduce the error? `angular-starter` works good for me, no errors.

[2017-05-22 15:14] sjoshi2 commented on #510
I have attached my project. I get the error in the browser when I am trying to run "npm start"
[PressRelease.zip](https://github.com/webpack-contrib/extract-text-webpack-plugin/files/1019283/PressRelease.zip)

[2017-05-22 15:15] evilebottnawi commented on #510
@sjoshi2 thanks for repo, let's see what is wrong

[2017-05-22 15:58] evilebottnawi commented on #510
@sjoshi2 seems your repo contain outdated deps, try to update their first.

[2017-05-22 17:29] sjoshi2 commented on #510
I was able to fix my issue using the below config. Thank you for all the help.
[code]

[2017-05-22 17:30] #510 closed

[2017-05-22 19:23] hackfaq commented on #481
interested too

[2017-05-22 20:33] softvar commented on #179
Got it working.

Install dev-dependecies

    npm i extract-text-webpack-plugin --save-dev
    npm i css-loader --save-dev

**webpack.config.js**

    const webpack = require('webpack');
    const ExtractTextPlugin = require('extract-text-webpack-plugin')
    const extractCSS = new ExtractTextPlugin('bundle.min.css')

    module.exports = {
      entry: {
        'bundle.min.css': [
          __di

[2017-05-23 10:28] rebelrebel82 opened #513 "How to use runtime setting of __webpack_public_path__ and extract-text-webpack-plugin"
What is the best approach for setting the public path in runtime and
loading the stylsheet generated by extract-text-webpack-plugin so that the images used in the stylesheet will refer to the public path?

[2017-05-23 11:26] michaeljpeake commented on #397
@kb3eua solution worked a charm for me. If someone could explain to me why this is, that would be great.

[2017-05-23 12:05] smasala commented on #234
For SASS this worked for me:

[code]

[2017-05-23 12:29] josueadelima commented on #234
@smasala please change loader: (singular) to loaders: (plural) missed that!

[2017-05-23 12:32] smasala commented on #234
@josueadelima :+1:  Didn't see that in my webpack config either. It seems to work with both though :)

[2017-05-24 09:34] zhenyulin opened #514 "package name update"
How about update the package name to webpack-extract-text-plugin? At the moment, the webpack plugins/loaders namespace isn't very consistent. In comparison, babel, eslint, react, redux all have the namespace in a consistent convention, helping make the dependency tree clean.

[2017-05-24 09:40] michael-ciniawsky commented on #514
See https://github.com/webpack-contrib/style-loader/issues/239

[2017-05-24 09:40] #514 closed

[2017-05-25 00:14] jiaweihli commented on #459
This is because you've set `filename: 'styles.css'`.

That means every chunk will extract to this same location.  Each one will overwrite the css output of the previous one.

The fix is to change it to `filename: [name].css`.

[2017-05-25 00:15] jiaweihli commented on #459
@aciccarello

This is because you've set `filename: 'styles.css'`.

That means every chunk will extract to this same location.  Each one will overwrite the css output of the previous one.

The fix is to change it to `filename: [name].css`.

[2017-05-25 03:19] marghoobsuleman commented on #50
"npm install node-sass --save-dev" solved my problem.

[2017-05-25 09:09] michael-ciniawsky commented on #459
@jiaweihli Thx

@hanxinwei See @jiaweihli's comment and feel free to reopen if still regressions

[2017-05-25 18:48] cnatis commented on #509
@KELiON, the problem you are experiencing is likely that the extract text plugin is overwriting the css file with each additional entry. You can include [name] or [contenthash] in the filename option to fix this, however you won't get a single css file, you will end up with an additional css file for each rule, thats the part I am running into that I wish would produce a single css file for each i

[2017-05-25 20:18] jonjaques opened #515 "Provide a better explanation when using a config keys that are not valid."
When configuring the constructor, I made a stupid error of using `disabled` instead of `disable`, however the resulting error message was confusing:

```Error: data['disabled'] should NOT have additional properties```

IMO it should say something like the `data['disabled'] is not a recognized config option` or something to that effect.

[2017-05-25 23:01] toddwildey commented on #50
Running into this issue with webpack 2.4 and extract-text-webpack-plugin 2.0.1:

[code]

I can also confirm that the plugin is, indeed, defined on the webpack.config.js:

[code]

[2017-05-26 08:58] KELiON commented on #509
@cnatis yep, it is the way I solved it – I changed `filename: 'style.css'` to `filename: '[name].css'`. Anyway, it is not clear if it is expected behaviour.

[2017-05-26 09:59] moimael opened #516 "@font-face rule ignored"
Hi,

We are using extract-text-webpack-plugin in our project and it worked pretty well until recently. Few weeks ago, we started noticing that the plugin completely ignored some of our fonts.

Those are our font face definitions:

[code]
Only the last one is working correctly, the first 4 ones are not outputted by webpack and are not present in the css. They are working correctly in dev mode since

[2017-05-26 12:51] mlynch commented on #503
Thanks, also got bit by this. Probably confusion is coming from a config not using extract-text then moving to it, it's not clear that `style-loader` has to be removed from your loaders list for that rule.

[2017-05-26 23:05] sami616 commented on #27
Intrigued to find out if anyone managed to solve this issue?  Having the same issue. I ideally want to house my .css file inside a css/ dir in my dist output dir.

[2017-05-29 05:26] flyon commented on #449
I thought I thoroughly checked all the versions, but it turned out I had a different webpack version running in node_modules of a higher level folder. So webpack was globally 2.5.1 but require('webpack') was an older version. Working fine now that I've got that sorted out. You can close this again

[2017-05-29 05:28] #449 closed

[2017-05-29 11:27] jsdevtom commented on #263
This worked for me with: **`"webpack": "^2.6.1"`** and **`"@angular/...": "^4.1.3"`**:

[code]

[2017-05-29 21:53] AnalogMemory opened #518 "Entry chunks for .css files also creating .js files"
My config file is working fine. But I've just noticed it's generating extraneous files based on the entry points. The entry for `login` generates the correct .css file from the .scss file but also creates a login.js file (it essentially has an empty function inside it). Is there a way to prevent this?

Currently using Webpack 2.6.0 and Extract Text Webpack Plugin 2.1.0

[code]

Here's what the ext

[2017-05-29 22:17] michael-ciniawsky commented on #518
Sadly not with the current implementation, webpack 'natively' only understands JS and will emit a JS file with the code that gets added to the chunk by webpack into a separate `.js` file, I don't recommend to use any non JS file as an entry point in general, `require/import` in a JS entry is the better solution for non-JS resources atm. This may change in the intermediate future https://medium.com

[2017-05-29 22:17] #518 closed

[2017-05-30 07:04] kartava opened #519 "ntry"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest

[2017-05-30 10:28] #519 closed

[2017-05-30 11:18] iuliaL commented on #384
@sajidali Great job!

Here my fully working webpack.config.js with sass compiling and reloading ;)
`const config = {
	entry: './app/index.js',
	module: {
		rules: [
			{
				test: /(\.css|\.sass)$/,
				exclude: /node_modules/,
				use: ['css-hot-loader'].concat(ExtractTextPlugin.extract({
					fallback: 'style-loader',
					// Could also be write as follow:
					// use: 'css-loader?modules&import

[2017-05-30 20:41] keepitreal commented on #80
I've submitted #520 to the webpack-1 branch hoping that we can have resolution for those who can't drop everything to upgrade to webpack 2.

[2017-05-31 13:35] warpdesign opened #521 "data['use'] should NOT have additional properties"
When using the code found in the README.md file:

[code]
I am getting this error:

[code]

What's wrong? does the README.md file needs updating?

I am using extract-text-webpack-plugin 2.1.0 with webpack 2.6.1

[2017-05-31 13:38] #521 closed, assigned to nobody

[2017-05-31 18:07] raviroshan commented on #27
@sami616 : The below solution worked for me. You can try and confirm

https://stackoverflow.com/a/41758240/1681972

[2017-06-01 21:57] juanca commented on #504
Yes. I just ran into a production issue. I was using `chunkhash` (same pattern as `webpack.output.filename`) and any changes were not affecting the hash.

Would be nice to use similar naming conventions or throwing a warning?

[2017-06-02 07:53] jaunkst commented on #144
@matthewjumpsoffbuildings getting the same thing. extract-text-webpack-plugin is getting worse at a exponential rate, it is not scaling.

[2017-06-02 09:11] Oscar-ren commented on #384
@sajidali thanks! it does work

this loader don't refresh browser, don't be confused

[2017-06-02 13:31] marcopeg opened #522 "Extract css that refers to fonts (es with Twitter Bootstrap)"
The source code of the setup that I am trying to create is available here:
https://github.com/marcopeg/javascript-next/tree/master/005-webpack-env

My aim is to load TwitterBootstrap as a module dependency, fonts included.
When building the production bundle I would like to extract the CSS into a dedicated file but I can't get it to work.

[code]

my dependecies are updated to the latest available

[2017-06-02 15:08] floorish commented on #315
Same issue here: all files imported in the first entry point are extracted first for all other entry points that import those same files.

[code]
[code]
[code]
Because `component.scss` is already imported in `one.js`, it is extracted first for `two.js`:
[code]

[2017-06-02 16:00] Loppone opened #523 "Scss work in production, but in developement not"
Here is my config:

[code]

My component:

[code]

In developement i get this error:

[code]

Thanks for any help.

[2017-06-02 16:02] evilebottnawi commented on #523
@Loppone config looks good, can your provide minimal reproducible test repo?

[2017-06-02 18:47] Loppone commented on #523
@evilebottnawi
I just created a scheleton part of my app: just a app.component with the environment i use. It's enough to replicate the problem.

Repo is here: [https://github.com/Loppone/test_scss](url)

Thanks!!
Max

[2017-06-02 19:27] michael-ciniawsky commented on #523
@Loppone I don't know exactly where `@Component` is coming from (Angular 2 ?), but if you what the CSS content as `{String}` in there you need to `require()/ import` them nevertheless :) Only if your framework would handle the FIle I/O itself the example above may work, but like I stated above there is not enough context given to be sure about that fact.

[code]

But you are using `.scss` there an

[2017-06-02 19:55] Loppone commented on #523
@michael-ciniawsky
it's an Angular 2 app.

You solved my problem!!

[code]

This work percfecty both in development and in production.
Instead, using require into "StyleUrls" didn't worked.

Thank you very much!!  🥇
Max

[2017-06-02 19:55] #523 closed

[2017-06-03 16:10] d3viant0ne commented on #144
In essence extract-text is a hack to make up for a lack of first class css support in Webpack.

Trying to `fix that problem here isn't practical nor would it be effective`, Tobias is attacking the problem at its source. For those that have not read it yet, https://medium.com/webpack/the-new-css-workflow-step-1-79583bd107d7

Step 1 of a few on the road to solving the performance issues in the CSS w

[2017-06-05 08:18] Vivi-wu commented on #58
Expect the same result as @gabn88, but not success yet.

webpack@2.6.1,
sass-loader@6.0.5,
extract-text-webpack-plugin@2.1.0

[2017-06-05 18:35] rohitpagariya commented on #481
FYI, this might be related to this [issue](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/282)

[2017-06-05 19:36] jabberwo opened #524 "[Validation] ajv version mismatch with webpack"
Just got extract-text-webpack so I'm up-to-date.  It pulled in a new module "ajv@5.1.5".  When I run webpack it's this new module that is throwing.

Error: no schema with key or ref "http://json-schema.org/draft-04/schema#"

Since extract-text-webpack is the one that needed it; I'm posting here; because maybe someone else noticed this already or can tell me how to not even need it.

I only using t

[2017-06-05 20:29] jabberwo commented on #524
Note, AJV was updated to require new schema's in April -- perhaps extract-text-webpack-plugin only works with older version?

[2017-06-05 20:30] alotabits commented on #513
Not an authoritative answer here, but I don't think this is possible. I've been dealing with a similar issue and the way I've handled it is to use several webpack rules with different filename tests and different publicPath values when calling .extract({ publicPath: ..., use: cssLoader }). It's not a full runtime solution, but it works if you have a limited set of publicPaths to support.

[2017-06-06 05:47] yinjunok commented on #348
@Ephem that's cool, thanks.

[2017-06-06 06:31] xiaoyu2er commented on #106
2 thoughts brought by @renaesop

1. `require("!!style!css!cropper/dist/cropper.css");` (You can add two exclamation to ignore loaders in the webpack config file)
2. you can define another loader which doesn't use extractCssPlugin

[2017-06-06 15:14] maggo opened #525 "CSS bundles get emitted on every file change in watch mode"
I have an issue with the latest webpack and extract-text-webpack-plugin where in watch mode the CSS bundles will be emitted on each and every file change, even if they're 100% not depending on each other.

You can have a look at my example repo: https://github.com/maggo/extract-watch-issue After `npm install && npm run build` try to change the content of script.js, it will always trigger an emit o

[2017-06-06 18:29] damianobarbati commented on #504
any news on this?

[2017-06-06 18:30] damianobarbati commented on #504
chunkhash would be very nice

[2017-06-06 18:50] evilebottnawi commented on #504
https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/153#issuecomment-225017219

[2017-06-06 18:51] #504 closed

[2017-06-06 18:57] evilebottnawi commented on #516
@moimael can your provide minimal reproducible test repo?

[2017-06-06 19:21] evilebottnawi commented on #522
@marcopeg why your ignore bootstrap in prod mode https://github.com/marcopeg/javascript-next/blob/master/005-webpack-env/webpack.config.prod.js#L39 and https://github.com/marcopeg/javascript-next/blob/master/005-webpack-env/webpack.config.prod.js#L35? All asstes inside `bootstrap.css` ignored and your don't get fonts and etc stuff.

[2017-06-06 19:28] evilebottnawi commented on #501
@ray0324 can we close this issue?

[2017-06-06 23:03] michael-ciniawsky commented on #525
Only with latest webpack (did it work before?). CSS as an entry point is not recommended, I'm not sure how webpack handles that internally. If you change a entry file and an new bundle is generated without using e.g `CommonsChunkPlugin`, `ExtractTextPlugin`  will try to extract contents from this **one**  bundle containing your entries

[2017-06-06 23:03] #525 closed

[2017-06-07 04:08] pbreah opened #528 "CSS loads if not on App component"
I have version 2.1.0 installed and just experienced this issue after updating.

The problem is if I do an `import '../styles/App.css'` on the App component. The CSS is not picked up. If I include the CSS elsewhere on ComponentX the CSS gets picked up.

It's a weird problem and an annoying one. Below is my webpack.config.js

Any ideas?

[code]

[2017-06-07 08:44] moimael commented on #516
@evilebottnawi Here you go: https://github.com/moimael/webpack-bug-repro

[2017-06-07 15:02] denu5 commented on #263
@jsdevtom could you please post your complete webpack config? i'm having having problems with this too

[2017-06-07 22:09] #524 closed

[2017-06-07 22:44] tleunen opened #529 "feat: DeprecationWarning: Chunk.modules in Webpack 3.x"
Webpack 3.0-rc was released and this plugin currently doesn't support it.

I haven't tested it, it might be just a question of updating the peerDependency.

[2017-06-07 22:56] michael-ciniawsky commented on #529
It doesn't work at all or does it just displays a warning for an unmet peerDepedency?

[2017-06-08 06:00] kimamula opened #534 "[2.1.1] fails to find `./schema/loader.json` (`schema-utils`)"
Updating to 2.1.1 results in the following error.

[code]

It is likely that you should use something like `path.join(__dirname, 'schema/loader.json')` instead of `'./schema/loader.json'` in the following lines.

https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/0271b391490048815087e1325542e80a39eccb09/index.js#L127
https://github.com/webpack-contrib/extract-text-webpack-plugin/b

[2017-06-08 06:06] michael-ciniawsky commented on #534
@kimamula Could you do me a favour and locally try by omit the `.json`  extname and test if it works ?

[2017-06-08 06:09] kimamula commented on #534
No, omitting `.json` does not work.

[2017-06-08 06:09] MirrorBytes commented on #534
Using path.resolve rectified the issue for me. @kimamula

[2017-06-08 06:11] MirrorBytes commented on #534
Change line 127 to:
`validateOptions(path.resolve(__dirname, './schema/plugin.json'), options, 'Extract Text Plugin');`

Change line 206 to:
`validateOptions(path.resolve(__dirname, './schema/loader.json'), options, 'Extract Text Plugin (Loader)');`

Require path at the top, and everything works fine again.

[2017-06-08 06:15] michael-ciniawsky commented on #534
hmm.. i need to check that again :), the paths should be resolved by `validateOptions` https://github.com/webpack-contrib/schema-utils/blob/master/src/validateOptions.js#L15 (but without using `__dirname`)

@MirrorBytes Do want to send a PR with the fix otherwise I do it

[2017-06-08 06:17] MirrorBytes commented on #534
The issue is that it's resolving based on the working directory.

[2017-06-08 06:20] michael-ciniawsky commented on #534
Until now it worked at least for loaders :), but `__dirname` is seems to be the better solution, anyways we need a quick fix fot this now 😛, please yes/no on sending PR

[2017-06-08 06:24] MirrorBytes commented on #534
I'll send it.

[2017-06-08 06:27] ahoym commented on #534
Got this error recently, fixed it temporarily by pinning to v2.0.0, though 2.1.0 may also work

[2017-06-08 06:31] MirrorBytes commented on #534
Sent it. @michael-ciniawsky

[2017-06-08 06:49] dnutels commented on #534
@ahoym 2.1.0 does indeed work.

[2017-06-08 06:55] michael-ciniawsky commented on #534
Released in [2.1.2](https://github.com/webpack-contrib/extract-text-webpack-plugin/releases/tag/v2.1.2)

[2017-06-08 06:55] #534 closed

[2017-06-08 07:40] moimael commented on #516
Is this enough or do you need more informations ?

[2017-06-08 08:43] jsdevtom commented on #263
@denu5 Sure. The whole project can be found [here](https://github.com/jsdevtom/custom-setup-angular/tree/master)

[2017-06-08 19:35] adamvleggett commented on #97
Please reopen this bug. It is not adequate to just hide stats from all children. If a config is sent as an array, there will be no output at all then.

[2017-06-08 21:22] gdub22 commented on #529
It's working with webpack 3.0.  It does emit this warning however:

[code]

[2017-06-09 03:21] MirrorBytes commented on #529
Change line 271 to this:
`async.forEach(Array.from(chunk.mapModules(function(c) { return c; })), function(module, callback) {`

It solved the issue for me (ran 3 tests, might need a bit more testing). The Array.from() is specifically to counter an issue I have had in the past with several linux distros not liking "array-like" structures (such as arrays built from mapping).

[2017-06-09 19:47] MirrorBytes commented on #529
@d3viant0ne Should a put a pull request in? It's not exactly urgent, but this is the most resource independent way to adapt to avoid this warning and making it work more effectively for Webpack 3.

[2017-06-09 20:19] michael-ciniawsky commented on #529
Yes feel free to send PR :) for discussion && finishing details

[2017-06-10 17:20] codejockie commented on #239
@MichalZalecki thank you, it worked.

[2017-06-10 23:44] d3viant0ne commented on #529
Everyone - The change throwing the deprecation warning looks like it isn't going to be backwards compatible. ( need to verify this, i'm just looking at code atm ).

This is going to have to go out as a `semver: Major` which means everyone is going to have to live with the deprecation warning for a bit. I've put this in the `3.0.0 milestone`

[2017-06-10 23:49] d3viant0ne commented on #529
@MirrorBytes I remember this being an older NodeJS issue that cropped up in Fedora for me iirc. It's also something I haven't seen in quite a while and don't believe it to be a relevant issue for our supported `engines: ` range.

If you know of an instance where that isn't the case, I'll configure the applicable vm to verify the need for `Array.from()`

[2017-06-11 00:56] d3viant0ne commented on #529
@MirrorBytes - If you want to PR in the changes for the deprecation warnings, you need to target this branch .... https://github.com/webpack-contrib/extract-text-webpack-plugin/tree/feature/webpack3

[2017-06-11 08:48] FXDuke commented on #384
In my case, the plugin "extract-text-webpack-plugin" began to work after I deleted the bracket characters in the name of the project folder and replaced the spaces with "_".
For example, the project directory was called "Project (new)", I replaced it with "Project_new".

[2017-06-11 23:22] pbreah commented on #528
It was a react-router v4 routing issue.

[2017-06-11 23:22] #528 closed

[2017-06-12 01:27] ray0324 commented on #501
@evilebottnawi  yes

[2017-06-12 01:28] #501 closed

[2017-06-12 17:36] mohammadalipak commented on #246
my config that worked looks like this:
`  module: {
    rules: [
      // Extract all .global.css to style.css as is
      {
        test: /\.global\.css$/,
        use: ExtractTextPlugin.extract({
          use: 'css-loader',
          fallback: 'style-loader',
          publicPath: './',
        })
      },
      // Pipe other styles through css modules and append to style.css
      {
        te

[2017-06-13 03:31] MirrorBytes commented on #529
Sorry for the delay. I removed Array.from() and submitted a pull request for Webpack-3 branch.

[2017-06-13 13:58] moimael commented on #516
Any idea how i could work around it ?

[2017-06-14 06:44] AjGabriel opened #544 "schema errors on webpack.config.js"
I am trying to use the ExtractTextPlugin for my webpack but I am getting an code ELIFECYCLE errno 1

I am unable to see any resolution.. please help.. here's my code:

      rules: [
         {
            test: /\.scss$/,
            use: ExtractTextPlugin.extract({
               fallback: 'style-loader',
               use: ['css-loader', 'sass-loader'],
               publicPath: '/Users/AJ/De

[2017-06-14 06:56] michael-ciniawsky commented on #544
[code]

[2017-06-14 06:56] #544 closed

[2017-06-14 06:58] michael-ciniawsky commented on #544
If you don't intend to disable the plugin this option is redundant anyways, so maybe remove it entirely

[2017-06-14 07:42] AjGabriel commented on #544
@michael-ciniawsky

Great! I have removed it entirely and the build runs now.. thanks so much!

[2017-06-14 10:55] HosseinAgha commented on #133
have it fixed yet?

[2017-06-14 11:01] bebraw commented on #133
@HosseinAgha I don't know. If you are getting the error, please open a separate issue with enough information to debug.

[2017-06-14 11:16] moimael commented on #516
After further investigation, the issue comes from another plugin, cssnano

[2017-06-14 11:16] #516 closed

[2017-06-14 11:23] HosseinAgha commented on #133
@bebraw sorry that was my mistake I was using an older version

[2017-06-14 13:53] bobrosoft commented on #246
Solved similar problem just by disabling of `url(` processing for `css-loader` by setting `url` option to false.
[code]
Before I had issue during SCSS compilation when writing `background: url('assets/...` so needed to write `background: url('/assets/...` which is not working for non-root baseUrl (tried all publicPath stuff I can find). Now I can use relative `url('assets/`.

[2017-06-15 16:16] jboothe commented on #173
I resolved this with the addition of `include` in the rules test object. Hope this helps someone.

[code]

[2017-06-17 12:18] aseem2625 commented on #455
Hey @osdevisnot my use case is the same. However, not able to find any solution uptil now. Were you able to resolve the issue?
My all dependencies are up to date.

[2017-06-17 12:19] faceyspacey commented on #455
https://github.com/faceyspacey/extract-css-chunks-webpack-plugin

https://medium.com/@faceyspacey/how-to-use-webpacks-new-magic-comment-feature-with-react-universal-component-ssr-a38fd3e296a

[2017-06-17 12:25] aseem2625 commented on #455
@faceyspacey
As of now, I'm trying `extract-css-chunks-webpack-plugin`. Will check out magic comment feature as well

Thanks 😄

[2017-06-17 12:28] faceyspacey commented on #455
@aseem2625 here's a private/unpublished launch article im releasing in a few days:

https://medium.com/@faceyspacey/extract-css-chunks-webpack-plugin-chunkify-your-css-a-few-things-you-need-45cb474cc332

it should also help you.

feedback on anything u find confusing or that i could write better is much appreciated.

[2017-06-17 12:35] aseem2625 commented on #455
@faceyspacey Thanks.. I'm implementing these stuffs right now only. So, I'll have a look and get back with feedbacks. 😄

[2017-06-17 12:47] aseem2625 commented on #455
@faceyspacey Also, i just wanted to point out that using
[code]
throws the following error.

[code]

[2017-06-17 12:49] faceyspacey commented on #455
that shouldnt be the case. ...my recommendation is to try one of the boilerplates here:

https://github.com/faceyspacey/webpack-flush-chunks#boilerplates

that best matches your setup. get it working, get comfortable with it. then copy/paste the code.

im signing off for the day. post any issues on the ECCWP Issue tracker if it's a real issue. there is likely a minor mistake in how ur structuring

[2017-06-17 15:12] amerllica opened #545 "How can I hash my class names in both DOM and SCSS?"
Hi
I saw the [FlipKart](https://flipkart.com) , they made hash all of their classNames and its CSSes.
I know that they use SCSS for building CSS.
How can I config my WebPack to make my exportation like their:

![capture](https://user-images.githubusercontent.com/10472437/27254080-155c4b3e-5396-11e7-8e15-8f828fa26ee6.JPG)

This is my webpack:

[code]

[2017-06-17 15:23] michael-ciniawsky commented on #545
´´´diff
{
  loader: "css-loader",
  options: {
     modules: true, // <=
     sourceMap: false
   }
}
´´´

https://github.com/webpack-contrib/css-loader#modules
https://github.com/css-modules/css-modules

[2017-06-17 15:23] #545 closed

[2017-06-17 23:54] aseem2625 commented on #455
Hi @faceyspacey
I'm current working on SPA boilerplate with best practices with extremely minimal footprint (also not using react but infernojs). I saw your boilerplates which you suggested and as your article suggests that if my application is SSR then pages rendered from server must have separate css file so that browser capability of loading in parallel can be utilised while loading js with css

[2017-06-18 00:01] faceyspacey commented on #455
...cool i'll update the github caption at the top to those.

...we're adding more configuration options in the next couple of days to toggle off those things which you don't seem to need:

https://github.com/faceyspacey/extract-css-chunks-webpack-plugin/issues/14

Maybe that will solve your problem. Please comment on that issue if there is anything we're missing.

[2017-06-18 00:09] aseem2625 commented on #455
The error I posted earlier is probably because I'm using it in conjunction with scss

[code]
I'm unsure what to do

[2017-06-18 00:11] faceyspacey commented on #455
add those 2 additional loaders to a boilerplate and see if it works. then we'll know :)

...u dont have to specify a fallback.

[2017-06-18 04:13] amerllica commented on #545
Thanks @michael-ciniawsky  but I know `modules: true` dude, It make the CSSes hash but the DOM has Dev version className,
I want the config that transform classNames in DOM.

[2017-06-18 14:40] michael-ciniawsky commented on #545
You can pass a different hashing pattern to `options.localIdentName`  in `css-loader`

[code]

What do you mean by that ?

[2017-06-18 16:07] ZikDead opened #547 "How to choose extract postion?"
How to insert css file at the bottom of body?

[2017-06-18 22:53] michael-ciniawsky commented on #547
You mean in your `index.html` ? If so *manually* 😛 the purpose of this plugin is CSS extraction only

[2017-06-18 23:17] ZikDead commented on #547
It changes link to style tag, btw...

[2017-06-18 23:23] michael-ciniawsky commented on #547
🙃 ? No... that's either the `fallback` (`style-loader`) getting triggert then or something else in your config. Anyways by injecting in the body, my assumption above was 'correct' and the issue can be closed as won't fix here ?

[2017-06-19 04:19] arisunarya commented on #348
@Ephem thanks, that's work

[2017-06-19 08:46] amerllica commented on #545
Dear @michael-ciniawsky , I think my poor english make this mistake.
you can see my quenstion in [this link](https://stackoverflow.com/questions/44612399/webpack-extract-text-plugin-localidentname-not-working-in-dom)

I mean, when I use `modules: true`, Just class names in CSS file deformed to hash, but class names that sets is `JSX` codes, still remain to dev version. see the capture:

![asdf](ht

[2017-06-19 09:16] #547 closed

[2017-06-19 11:31] michael-ciniawsky commented on #545
[code]

[code]

When `modules` are set you get the `classNames` on the CSS `import` as an `{Object}` :)

[2017-06-20 03:36] amerllica commented on #545
Thanks, complicated concept with no clear documentation :'(

[2017-06-20 09:28] amerllica commented on #545
Hi Dear @michael-ciniawsky
When I use your solution I got this error from Terminal:

`You may need an appropriate loader to handle this file type.`

![capture](https://user-images.githubusercontent.com/10472437/27326277-49593ea2-55c0-11e7-8e3a-3c701e850ffd.JPG)

I set the `css-loader` in my `webpack` config file. you can see my `webpack` config file in top of this page in my question.

[2017-06-20 13:12] michael-ciniawsky commented on #545
Typo 😛 ?  The `rule` doesn't match `.css` files (extensions) atm, so webpack treats it as a `js` file (no loaders), therefore

**webpack.config.js**
[code]

[code]

[2017-06-20 13:42] webpack-bot opened #548 "[webpack v3.0.0] generates CSS in wrong order"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When using `extract-text-webpack-plugin` with webpack3 to generate stylesheet file, the content's order doesn't obey source code's order.  Use `create-react-app` boilerplate to explain this :
[code]

[code]

[code]

[code]

Got :
[code]

I'm not sure if this problem is webpack3 or `extract-text-webpack

[2017-06-20 15:09] zhuweiyou commented on #494
same warning

[2017-06-20 16:12] manigandham commented on #548
+1, same exact issue after upgrade to webpack 3

[2017-06-20 16:40] iroy2000 commented on #494
same warning here

` 94% asset optimization(node:35014) DeprecationWarning: Chunk.modules is deprecated. Use Chunk.getNumberOfModules/mapModules/forEachModule/containsModule instead.                                                                                Hash: 737f15654eb9035eafed
Version: webpack 3.0.0
`

[2017-06-20 16:47] evilebottnawi commented on #494
Guys don't duplicate issues, we known about this, we do fix and release this asap

[2017-06-20 17:28] mixn commented on #263
@szimek Thank you so much. This was *way* harder than it should have been.

[2017-06-20 20:20] wayofthefuture opened #550 "Output logging level verbosity"
I would like possibly recommend a logging level option. My webpack build is always nice and clean until it gets to extract-text plugin, then I get a largely verbose output and pages of display which makes it hard to notice build errors with webpack.

If possible I think maybe adding an option called logLevel may help. We could use values such as: quiet, warning, error, detail. Thoughts? Thanks...

[2017-06-20 20:22] evilebottnawi commented on #550
@wayofthefuture can your provide what exactly your want to see in logs?

[2017-06-20 21:39] wayofthefuture commented on #550
I would think instead of showing every single file that it converts, show something like this:

Child extract-text-webpack-plugin:
  Extracted X files - total size XX.XKB

And that's it, unless there are errors then can display those. Thoughts?

[2017-06-21 01:27] d3viant0ne commented on #477
Closed with 3e78452

[2017-06-21 01:27] #477 closed

[2017-06-21 02:24] phlorie commented on #528
Hello. I think I'm getting the same error.
Would you mind explaining how you solved it?
Thanks

[2017-06-21 04:38] manigandham commented on #506
The error shows what's wrong - it's trying to read the entire vue component file as a CSS file and breaking because it's obviously not CSS.

Did you read the vue-loader documentation? https://vue-loader.vuejs.org/en/

For the loader, this is the proper setup: https://vue-loader.vuejs.org/en/configurations/pre-processors.html

[code]

And to extract the CSS into a separate file, don't pass in the p

[2017-06-21 08:57] amerllica commented on #545
Thanks dear @michael-ciniawsky , It works

[2017-06-21 12:01] michael-ciniawsky commented on #506
@Nataila See @manigandham's comment && @manigandham thx :)

[2017-06-21 12:01] #506 closed

[2017-06-21 14:57] elliotwesoff commented on #449
Hello I am getting this error as well.
[code]
[code]

[2017-06-21 18:27] ghostd commented on #449
@elliotwesoff look at this [html-webpack-plugin comment](https://github.com/jantimon/html-webpack-plugin/issues/705#issuecomment-309719976), it fixed my 'undefined' error (mainly back to webpack@2.6.1 or use npm@5)

[2017-06-21 22:11] radix commented on #485
why did you close this? is there a way to use this plugin with recent versions of webpack?

[2017-06-22 01:57] fengmiaosen commented on #548
+1

[2017-06-22 09:41] elliotwesoff commented on #449
Hey @ghostd , I still get the same error after doing `cd node_modules/html-webpack-plugin && npm install webpack extract-text-webpack-plugin`

[2017-06-22 15:31] kud commented on #548
Haaaaaaaa I'm not alone.

I'm playing with `ignoreOrder` but it doesn't change anything.

Imagine i've got:

[code]

Once it's compiled (it's random), I've got the result like:

[code]

which is wrong for me as both define font-size for body, for example.

[2017-06-22 19:13] marquizzo opened #552 "When using entry point, the plugin creates both .js and .css output."
I have two files in my project: `backgrounds.js` and `bgStyles.less`. I want them to be output into `js/scripts.js` and `css/styles.css`, so I'm using the following `webpack.config`:

[code]

The configuration file works as expected. The issue is that I get a *third* output file that is not wanted:
- js/scripts.js
- **js/styles.js**
- css/styles.css

`styles.js` simply has the boilerplate Webpack

[2017-06-23 00:30] michael-ciniawsky commented on #552
webpack natively only understands js-ish files and using a 'css-ish' file as an entry point isn't recommended (imho it should even fail),so you will get a dummy bundle per css entry to 'handle' that. `require/import` the css inside an entry instead and let `extract-text-webpack-plugin` emit the CSS file. It removes the CSS from the bundle anyways :)