[2016-09-01 10:59] ephor commented on #173
I agree with @ibufu. I want to speed up the stylus build with happypack, but got this error. Node v 6.4.0

[2016-09-01 22:12] monokrome commented on #173
I don't think that I was using happypack

[2016-09-03 10:35] rpoitras commented on #226
@Kovensky that's interesting at the time I don't think I had `url-loader` as a devDependency. If I can a chance I try this again and see if that helps.  It may help others that are still stuck if you could post your package.json and webpack.config.js.

@as-com I'm pretty sure `npm` does the `dedupe` by default as of version 3.0

[2016-09-03 12:30] as-com commented on #226
@rpoitras `npm dedupe` was still able to remove and symlink some packages.

[2016-09-03 12:36] rpoitras commented on #226
Thanks @as-com that's good to know.

[2016-09-05 20:24] Zyphrax commented on #218
Could you please send this in as a pull request?
That would be great!

[2016-09-05 20:47] valery-vitko commented on #218
@Zyphrax, yes, no problem - #242

[2016-09-05 20:48] Zyphrax commented on #218
Great, thank you!

[2016-09-05 23:45] valmirjunior0088 commented on #230
I would also suggest renaming the npm module name to "webpack-plugin-extract-text", or "webpack-plugin-extract-css" as to follow naming conventions followed by other packages.

[2016-09-06 06:46] andreechristian commented on #42
+1, require.ensure problem?

[2016-09-06 23:34] damassi commented on #208
@sokra, does this fix here: https://github.com/webpack/webpack/issues/2450 apply to Webpack 1 as well? Or do I need to upgrade my app?

[2016-09-07 08:07] bevrard opened #243 "HTML link tag position"
Hi,

I have this index file:
[code]

When I'm using webpack, the css tags are on top of the HEAD.  How can I put them on bottom of HEAD?
[code]

I need to have this meta on top of HEAD to avoid Compatibility issue with IE:
`<meta http-equiv="X-UA-Compatible" content="IE=edge" />`

Is there an option for this?

Thanks in advance,

Benjamin

PS: by the way, how can I indent HTML code in a github pos

[2016-09-08 04:00] Kovensky commented on #243
Use a code fence (have a line with 3 backquotes, then your code, then close with 3 backquotes). You can optionally write a file extension after the opening backquotes, like `'''html`.

[2016-09-08 09:11] bevrard commented on #243
Thanks.

I've found the issue in my code... I've forgotten to close the HEAD tag...
Sorry for this issue, I'm closing it.

[2016-09-08 09:11] #243 closed

[2016-09-08 17:36] Findiglay commented on #179
+1 Trying to figure out how to do this also.

[2016-09-08 17:58] Findiglay commented on #179
Actually this is creating a single file for me now:

[code]

and...

`plugins: [
    new ExtractTextPlugin('[name].[hash].css')
]`

[2016-09-09 16:32] mblandfo commented on #229
It looks like remove: true is the default: https://github.com/webpack/extract-text-webpack-plugin/blob/webpack-1/index.js

So "remove" actually just leaves an empty stub in your bundle for every css file you included. I was planning to use the css loader in dev because hot module replacement is amazing, and switch to this extract text webpack plugin in prod since the docs said it's faster as a sep

[2016-09-12 20:02] AlexanderMattoni opened #244 "Support default exports"
Im attempting to use the plugin in conjunction with the Typed CSS Module plugin (https://github.com/Quramy/typed-css-modules).

The typed-css-modules plugin creates Typescript definitions for a default export, which is the same way that the styles loader does it. Using this plugin breaks support.

I was able to get it working by changing this line:

[code]

to

[code]

but I'd rather there be an o

[2016-09-13 00:26] Prairie-Falcon commented on #215
I'm in exactly the same position as raphaklaus was Jul 17: Node 6.2.0, extract-text-webpack-plugin@1.0.1, using the same fragment he used, and getting the same error message. I'm also in the same position as arahansen on Jul 27: I need to use a stable release in production. Is there a workaround?

[2016-09-13 07:31] Kovensky commented on #244
If you are using `import` syntax, you should be doing namespace imports for CSS modules.

`import * as styles from './styles.css'`

[2016-09-13 09:14] JetQin commented on #110
[code]
you should check the loaders,is it an array or a string? I meet the same error because of I write like this
[code]

[2016-09-13 10:51] jasan-s opened #245 "is this acceptable?"
[code]

Will this combine scss to the styles.css file?

[2016-09-14 13:40] philjones88 commented on #239
I get the same on `2.0.0-beta.4` too:

[code]

[2016-09-15 03:49] Prairie-Falcon commented on #173
Node v6.2.0. No happypack anywhere.

webpack.config.js:
...
let ExtractTextPlugin = require("extract-text-webpack-plugin")
...
entry: [
    "./app/example.css",
    ...
]
...
module: {
    loaders: [
        {
            test: /\.css$/,
            loader: ExtractTextPlugin.extract("style-loader", "css-loader")
        },
        ....
    ],
    plugins: [
        new ExtractTextPlugin("styles.cs

[2016-09-15 05:02] yugasun opened #246 "publicPath parameter doesn't work?"
When I use extract-text-webpack-plugin output css file into a folder, the image url is wrong, my webpack config is below:

[code]

my output 'build' folder tree like this:

[code]

But in my output css file the image url is 'images/arrow.png', what I want is like '../images/arrow.png'.

Then I add the extract-text-webpack-plugin options like below:

Change:

[code]

To:

[code]

But the parameter

[2016-09-16 01:50] Prairie-Falcon commented on #173
Issue 24 is closed because of 50.

Issue 50 is closed because of 24.

Issue 73 is closed because it was marked a "question". It suggests the problem might be location of `node_modules`: don't use `/Users/${userName}/node_modules`. For my case, I'm not.

Issue 173 (this one) suggests the problem may be interaction with `happypath`. For my case, I don't have it on my system. I'm not aware of ever ha

[2016-09-16 09:41] bensampaio opened #247 "Option to not emit the CSS files"
Would it be possible to add an option to not emit the generated CSS? The reason I ask this is because I have a React app with client and server rendering. For the client I need all assets to be emitted but for the server I only need the JS files to be emitted.

I tried to use the `css-loader/locals`loader (as mentioned [here](https://github.com/webpack/css-loader/issues/59)) but I came across the

[2016-09-16 20:48] Prairie-Falcon commented on #173
New report; I hope this helps someone.

This condition remains for me; I cannot use extract-text-webpack-plugin.

On the other hand, the urgency has gone way down for me. I substituted the following configuration:

webpack.config.js:
...
// let ExtractTextPlugin = require("extract-text-webpack-plugin")
...
entry: [
"./app/example.css",
...
]
...
module: {
loaders: [
{
test: /.css$/,
loader: "style

[2016-09-16 20:52] Prairie-Falcon commented on #215
New report. I got a workaround to work. See [my documentation here](https://github.com/webpack/extract-text-webpack-plugin/issues/173).

[2016-09-17 10:24] melvinodsa opened #248 "No output files getting generated"
The output is going only into the bundled js file not into the css file
I am using this config

var webpack = require('webpack');
var ExtractTextPlugin = require('extract-text-webpack-plugin');
var extractSCSS = new ExtractTextPlugin('./css/main.css');
module.exports = {
    entry: "./index.js",
    devtool: "source-map",
    output: {
        path: __dirname +"/js",
        filename: "main.min.js

[2016-09-17 13:12] melvinodsa commented on #248
My bad I was using sassLoader and the path was also wrong. It should have been ../css/main.css

[2016-09-17 13:12] #248 closed

[2016-09-18 08:53] BabakMN commented on #80
`Order in extracted chunk undefined`

I can confirm as @okonet said that it is not deterministic I get it randomly between identical builds (multiple runs on same machine same source same config).

`Webpack: 1.13.2`

[2016-09-18 10:33] tpina commented on #214
Same here! Webpack upgrade and fixed it.

[2016-09-18 11:50] whitecolor commented on #208
@sokra can be accomplished somehow currently?

[2016-09-19 08:37] baonguyenyam opened #249 "Can't load SASS and CSS"
Hi all!
I can not using "ExtractTextPlugin" for css and sass

I set
`webpack.config.js`

[code]

and
`app.component.ts`

[code]

and i run it still error
Uncaught Error: Expected 'styles' to be an array of strings. zone.js:129

Help me, thank so much

[2016-09-19 10:01] antwan1986 commented on #247
Good shout; I've the same requirement. I output two code bundles in my particular use case, and only want the plugin to run on one of them:

[code]

Ideally there was some regex option like the UglifyJS plugin has, to skip over particular bundles via their name.

[2016-09-20 00:17] hipertracker opened #250 "Webpack 2: How to extract CSS/LESS modules into CSS files?"
I use Webpack2 and LESS modules. I'd like to extract them into CSS files.

It does NOT work:

[code]

I get `Module not found: Error: Can't resolve '[object Object]' ...` when I import style.css in my JS file.

But this works:

[code]

I am not sure how to use `extract-text-webpack-plugin` in Webpack 2 for CSS/LESS modules.

[2016-09-20 09:18] VincyLouis commented on #200
I have a workaround but wasn't pretty...
[code]
[code]
[code]
So library styling will come first before my project styling, by using this approach...
**Pro**
 - able to seperate out two styling into two file
 - absolute control of which stylesheet being extracted and insert into `<head>` tag, even if I purposely require the bower file after my project file like this
[code]
output:
[code]
**Con** i

[2016-09-21 09:14] happyvig commented on #214
Hi.,

I am using **Node v6.2.2** & **Angular 2.0.0** along with
[code]

It throws error as
[code]

I have tried using extract-text-webpack-plugin : 2.0.0-beta.1 & 2 versions as well.
Still the same issue.

If this fixed in any of the latest beta versions ?

[2016-09-21 10:59] edmundo096 commented on #30
@IAMtheIAM Yeah, I just got into that same solution after 2 nights digging and learning about all the CSS `*-loaders` for the dev workflow, and then I saw your comment with the same result.

[code]

I was not expecting that it worked (and so nicely) after adding the `?sourceMap`.
I didn't expected that the _style-loader_ were ready for any loader with `?sourceMap` and added a **blob** instead of e

[2016-09-21 15:27] delijah commented on #80
+1

[2016-09-21 18:17] missyjcat commented on #42
Here's a proposed fix following @aickin's suggestion that allows an `isCacheable` flag to be passed into the options. It worked for our implementation but we'd prefer not to fork and patch the plugin: #251

[2016-09-22 18:18] heylookltsme commented on #246
I'm running into this same issue.

[2016-09-22 18:38] coreylarson commented on #208
Same desire here.

[2016-09-23 04:49] liuliangsir commented on #159
+1

[2016-09-23 11:02] borisirota commented on #109
The order of the plugins matters so place the commons before the vendors.

In addition take a look [at this](http://stackoverflow.com/questions/30329337/how-to-bundle-vendor-scripts-separately-and-require-them-as-needed-with-webpack)

[2016-09-23 13:57] toomuchdesign commented on #246
Think you should set the overriding `publicPath` directly into the extracting loader, like:

`loader: ExtractTextPlugin.extract('style',['css'],{publicPath:'./fonts/'})`

See: https://github.com/webpack/extract-text-webpack-plugin/issues/212

[2016-09-23 18:47] cyberwombat commented on #250
Posted same question on SO and managed to get it working. Check  [it out](http://stackoverflow.com/questions/39666983/webpack2-loading-and-extracting-less-file/39667618#39667618). Perhaps that will help.

[2016-09-26 08:22] tonyxiao opened #254 "Configuration not working with postcss-import"
Before

[code]
This works fine. Then I try to enable extract text plugin.

After

[code]

And I get errors like this

[code]

I think my config is correct, can't figure out why this keeps happening. I'm using webpack 1 still for additional context.

[2016-09-26 08:25] tonyxiao commented on #254
If I remove all the import statements, it seems to work fine.

[2016-09-26 09:07] tonyxiao commented on #206
@badtant can you comment a bit more on how you solved the problem?

[2016-09-26 09:09] badtant commented on #206
css-loader?-minimize

as stated here https://github.com/postcss/postcss-loader/issues/81

[2016-09-26 09:11] tonyxiao commented on #206
Hmm in my case the entire postcss config isn't even getting invoked

[code]

without extract text

[code]

with extract text

[code]

[2016-09-26 09:11] tonyxiao commented on #206
I do have minimize off fwiw
[code]

[2016-09-26 09:16] tonyxiao commented on #254
Update, seems that the  entire postcss option of webpack config is ignored

Hmm in my case the entire postcss config isn't even getting invoked

[code]

without extract text

[code]

with extract text

[code]

[2016-09-26 09:33] tonyxiao commented on #206
nvm... so stupid.
`style` is known as the `notExtractLoader`...
[code]

[2016-09-26 09:34] tonyxiao commented on #254
nvm... so stupid.
`style` is known as the `notExtractLoader`...

This works.
[code]

I wish it's better documented

[2016-09-26 09:34] #254 closed

[2016-09-26 14:30] cema-sp commented on #239
When trying to build withs sourcemaps, I get:
[code]

[2016-09-26 18:02] dben commented on #214
The issue reappears in webpack 2.1.0-beta.23 - downgrading to 2.1.0-beta.22 should solve it temporarily.

[2016-09-27 12:01] lvv83 opened #255 "css-base script should be removed from output"
Hello. I use webpack 1.13.2

With disabled `extract-text-webpack-plugin` we have next fragment in the output:

[code]

Here we can see [css-base](https://github.com/webpack/css-loader/blob/master/lib/css-base.js)  module under id=5

When `extract-text-webpack-plugin` turns on then modules **3** and **4** removed, but module **5** still there.

[code]

css-base module will never be requested, cause

[2016-09-27 15:30] lvv83 commented on #255
Also I found that `css-base` module already removed by `extract-text-webpack-plugin` but only if `watch` option enabled in `webpack.config.js`.
When application builds for production then `css-base` still there.

[2016-09-28 08:12] zzzgit opened #256 "why there is a plugin and a loader?"
in the configuration file,there will be a loader and a plugin
what is the purpose of the loader and the plugin
what is the difference between them?

[2016-09-28 18:11] MatthewKosloski opened #257 "Local scope class names for Sass"
I want my class names to be local scoped like so: `.foo__container___uZbLx {...}`.  I also want to enable source maps, too.

I figured out how to do this for regular CSS compilation:

Loader in `webpack.config.js` (omitting the entire file for brevity; the whole config is down below, if you're interested.)

	{
	    test: /\.css$/,
	    exclude:  /node_modules/,
	    include: path.join(__dirname, '

[2016-09-29 04:00] MatthewKosloski commented on #257
Figured it out!  All I did was add `!sass` at the end of the query string.

    loader:  ExtractTextPlugin.extract('style', 'css?modules&localIdentName=[name]__[local]___[hash:base64:5]!sass')

[2016-09-29 04:00] #257 closed

[2016-09-29 10:14] mrtom213 commented on #159
This worked for me:

Add this at the top of your webpack.config.js:

[code]

Add this into your loaders part:

[code]
Add this into plugin part:

[code]

Now it should load
- .css files into the style.css file.
- .crit.css files into the style_crit.css file

[2016-09-29 21:01] sprat opened #258 "fix: source map sources names"
I want to generate an external CSS file with a source map when I build my application, so I use the following Webpack configuration, as documented in the README:

[code]

However, the `sources` names are not generated properly in the `.map` file: they are formatted  as `webpack:///webpack:///dashboard.css`, which is a bit strange.

I've tried to understand what's going on, but I'm a bit lost.

The

[2016-09-29 21:07] sprat commented on #238
You are tricked into thinking you are reading individual component level stylesheets because of the source maps. The files are really assembled into one, but the browser debugger tools can understand the source maps and show the original source files as if they were not assembled ;)

[2016-09-29 21:19] sprat commented on #258
Sorry, forgot to mention the version of the tools:
    "css-loader": "0.25.0",
    "extract-text-webpack-plugin": "1.0.1",
    "webpack": "1.13.2"

[2016-09-29 21:33] sprat commented on #258
Relevent issue in ``css-loader``: https://github.com/webpack/css-loader/issues/280

[2016-09-30 18:13] MoOx commented on #256
You must use both. Both are useful at different moment of webpack runtime. No plugin, no extraction.

[2016-10-03 07:22] MwumLi opened #259 "loader run twice when using extract-text-webpack-plugin"
when I use  webpack with `extract-text-webpack-plugin` , I find loaders run twice
my webpack config like:

[code]

when I run `webpack`, It print `postcss...` twice

[2016-10-03 09:43] KarandikarMihir commented on #110
@CtrlZvi You're a life-saver.

[2016-10-03 23:59] jhnns commented on #165
Is this a duplicate of #200?

[2016-10-04 00:00] jhnns commented on #200
The order of the extracted text is based on the order of `require()` calls inside the bundle. If you want to ensure that the output of `index.scss` is before all the other rules, you need to `require("./index.scss")` before requiring all the components.

[2016-10-05 00:49] Awk34 opened #261 "chunk.isInitial is not a function"
I'm getting this error when trying to build my app:

[code]

I'm using `webpack`@`2.1.0-beta.25` & `extract-text-webpack-plugin`@`2.0.0-beta.4`

I can provide more details if they're needed

[2016-10-05 01:28] Awk34 commented on #261
My fault. I was using `webpack-stream`, which I wasn't aware includes it's own dependency on Webpack@1. Running Webpack from the Node interface fixed this issue.

[2016-10-05 01:28] #261 closed

[2016-10-05 13:09] Mandersen21 opened #263 "Webpack 2: How to extract Sass and convert to css file"
Hi

Trying to use your module to extract the text from my sass files and generate a css file with the code.
I'm using Webpack version **"webpack": "2.1.0-beta.22",**

**Code**

`{
          test: /\.scss$/,
          loader: ExtractTextPlugin.extract({
            fallbackLoader: "style-loader",
            loader: "css-loader"
          })
 },`

The code I got from your guide in github. I can bui

[2016-10-05 13:52] MwumLi commented on #263
You can try this below:
[code]
transform `sass` to `css` firstly

[2016-10-05 13:59] Mandersen21 commented on #263
Still gives me the error: Expected 'styles' to be an array of strings.

[2016-10-06 01:22] jtyler-dev opened #264 "Issue generating external css file"
Hey guys, Im new to webpack and im trying to get webpack to generate an external css file but i am getting the following error :

`ERROR in ./src/scss/test.scss
Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-webpack-plugin for the usage example
    at Object.module.exports.pitch (<path to p

[2016-10-07 00:50] wlingke opened #265 "Syntax should be updated to new webpack loaders syntax?"
Syntax here should be updated too?

https://github.com/webpack/webpack.js.org/blob/develop/content/how-to/upgrade-from-webpack-1.md#moduleloaders-is-now-modulerules

[2016-10-07 18:22] bfricka commented on #265
Definitely. It should also follow the pattern of `use: []`, so we should be able to convert:
[code]
to the new use + options syntax:
[code]
This seems like the right approach unless the new "rules" syntax allows extract-text-webpack-plugin to somehow work as the first item in the "use" array. I haven't looked at the source yet to see how this might work, but it seems unlikely.

[2016-10-07 19:57] wlingke commented on #265
Doesn't seem like it works yet, but hopefully they will update it soon to match with the new webpack2 beta25

[2016-10-07 20:09] jtyler-dev commented on #264
Turns out I had a typo in my config file
pulgins -> plugins

[2016-10-07 20:09] #264 closed

[2016-10-08 01:37] MwumLi commented on #263
I think this is not a webpack configuration problem, you should consider the framework you are using
Are your using angular 2

[2016-10-10 08:16] trivigy commented on #263
Running into the same problem on angular 2. Seems as though the plugin actually strips the code out. Is there a way to force it to save content into file and return a relative url to the file generated based on the output.publicPath?

p.s. here is a solution that worked. @MwumLi you might use it. Unfortunately this is not enough for me since I am trying to use this plugin together with HtmlWebpack

[2016-10-11 14:56] kl2karpenko commented on #173
I had this problem because I din't have less or scss file included in=n my scripts, think this causes an error because it can't find a file to test

[2016-10-11 17:39] dmackerman commented on #181
Seeing this as well. Wondering how to fix it...

[2016-10-11 19:16] uptownhr commented on #58
bump

[2016-10-11 19:26] george3447 commented on #208
+1

[2016-10-11 19:32] george3447 commented on #120
+1

[2016-10-11 19:33] george3447 commented on #174
+1

[2016-10-11 20:36] IanVS commented on #162
FWIW, nowhere in the readme does the term `notExtractLoader` appear.

[2016-10-12 01:30] Kovensky commented on #162
@IanVS it's now (and has been for the past few months?) called the `fallbackLoader`.

[2016-10-12 01:31] IanVS commented on #162
Except for in the example: https://github.com/webpack/extract-text-webpack-plugin/blob/master/example/webpack.config.js#L17

[2016-10-12 16:16] szimek commented on #263
This works for me:
[code]

[2016-10-13 01:25] tleunen commented on #263
I'm having this error `window is not defined` when using the extract loader.
Here's my config:
[code]

[2016-10-14 10:12] GarveySun opened #267 "Automatically package all the CSS files under the settings are not set."
I wrote a list to manually control the CSS of components of the package i want to pack.
[code]
And  there are no ‘require()’ in  CSS files.

But webpack packged all style files include that are not in the list.

`require('./components/'+match+'/'+match+'.css');`will cause extract-text-webpack-plugin pack all the files in the directory?

Thank you.

[2016-10-14 12:45] Kovensky commented on #267
Webpack doesn't know that `match` can only have 3 values. It can be literally any string, including a string with `/`, so webpack includes everything.

You can use a `require.context` to specify a regexp for which files should be included, or `ContextReplacementPlugin` to do it in the config side.

[2016-10-14 17:40] charmingmel commented on #110
@gavingolden: Thanks for enlightening one on the distinction.
@JetQin:  Your example was the same as mine. I can see the issue clearly now. Thanks for sharing.

Ideally, one should use: `Array` when using `loaders` and `String` when using `loader`.

[2016-10-14 19:10] donaldpipowitch opened #268 "feat: replace content with path to the extracted file"
Hello, this is more a feature request instead of a bug.

**Goal**

Instead of removing imported styles directly the path to the extracted files should be inserted.

**Use case**

I want to develop web components which are easy to consume by others. Say I have a complicated webpack config to load styles (e.g. Less, Sass, Stylus or something more exotic, process this with post-css with several plugi

[2016-10-14 19:39] dmackerman commented on #263
Same error @tleunen.

[2016-10-14 19:47] clayne11 commented on #263
I was getting `window is not defined` because I had `style-loader` in my list of loaders. When I moved it to the `fallbackLoader` I stopped having that issue.

[2016-10-14 19:53] dmackerman commented on #263
@clayne11 Very strange. My config is:

[code]

[code]

I changed my entry `.scss` file to just have a `body { background: red; }` to eliminate any weird issue with imports.

In my `index.js` entry point, `import 'scss/entry.scss';`

[2016-10-14 19:54] clayne11 commented on #263
This is my config:

[code]

[2016-10-14 20:01] dmackerman commented on #263
What are you excluding in `cssModuleExcludes`?

[2016-10-14 20:05] clayne11 commented on #263
[code]

[2016-10-14 21:10] dmackerman commented on #263
So it turns out, I had a rule that was using the `imports` loader, but it was looking in `lib`, which what should have been a more specific rule. Gah!!!!

[2016-10-15 11:36] GarveySun commented on #267
I got it.
Thanks a lot

[2016-10-15 11:36] #267 closed

[2016-10-16 14:18] NekR commented on #50
For me this happens only when I use ETP with `HappyPack`, no matter which node.js version. I suppose it just strips ETP's loader by some reason.

[2016-10-16 18:06] nblackburn commented on #246
Tried numerous configurations, none of which work.

[2016-10-16 18:42] nblackburn commented on #256
I think the point @zzzgit is raising is that it's pretty horrible to work with when put next to any other webpack plugin (two configurations, initialized outside of the config and then needs placing in two places just for it to work all whilst feeling as though i am fighting with it).

[2016-10-18 13:28] hurrtz commented on #50
https://github.com/webpack/extract-text-webpack-plugin/issues/207
worked for me

[2016-10-19 07:39] shouvik opened #270 "CSS modules being imported by `require './styles'` is weird"
I am using `extract-text-webpack-plugin` in prod mode to put the styles in a single css file and load it on client. This file gets created just fine, but the import statement of the styles goes for a toss.

I logged what I am getting on the client side for the `import style from './style.css'` satement, and I get this weird object, which has the following structure.

[code]

Below is the webpack.c

[2016-10-19 09:51] Kovensky commented on #270
That is the object as generated by `css-loader`, which `style-loader` or `ExtractTextPlugin.extract` convert into the css modules export. Your invocation of `ExtractTextPlugin.extract` is incorrect; you're giving a string argument instead of an object with `loader` and `fallbackLoader` keys.

[2016-10-19 10:19] shouvik commented on #270
As suggested by @Kovensky I used the following configurations:

[code]

this leads my build process to throw errors for all the css files. Here is a the stack trace of just one of the files.

[code]

[2016-10-19 11:23] shouvik commented on #270
Since I am on webpack-1, the api is different as [per the documentation](https://github.com/webpack/extract-text-webpack-plugin/blob/webpack-1/README.md).

Therefore, I reverted my code to

`ExtractTextPlugin.extract('style-loader','css-loader?modules&sourceMap&importLoaders=1&localIdentName=[hash:base64:5]!postcss-loader')`

now the issue is different. Get the following error:

[code]

[2016-10-19 12:13] shouvik commented on #270
Okay I resolved this issue. Apparently with webpack, the loaders expects an array set, but since this was a single loader being supplied in the array, it wasn't working as intended.

I updated the config in the following way, as it works

[code]

[2016-10-19 15:53] jhnns commented on #265
Yes, I agree. This could be very frustrating for users when migrating to webpack 2.

[2016-10-20 10:09] trsh opened #271 "No way to combine less and sass in one css."
I have adminLTE styles written in sass, and then some of our company written styles in sass. I want combine those in same outputs css. How could I do that?

[2016-10-20 10:35] trsh commented on #271
My setup:

[code]

[code]

[code]

And it always just includes styles from less. :/

[2016-10-20 14:38] marco-a commented on #58
Having the same issue here

[2016-10-20 22:53] monolithed commented on #231
Having the same problem

[2016-10-21 04:32] trsh commented on #179
This plugin seems very NOT maintained, yet it's very important. +1 for this thread.

[2016-10-21 10:47] oh-ren commented on #218
Closing. This seems to be no issue anymore in latest beta.

[2016-10-21 10:47] #218 closed

[2016-10-24 07:36] hellflame opened #272 "npm install failed"
[code]
error message:
[code]

with the following `devDependencies`

[code]

[2016-10-24 11:24] schickling commented on #95
Any progress on this?

[2016-10-24 19:10] andywer commented on #214
@sokra Any idea why this issue reappeared with webpack 2.1.0-beta.23? Noticed it's broken, too.

[2016-10-24 22:50] jbeckton opened #273 "Using chunks or excludeChunks config causes webpackJsonp is not defined error"
I am trying to create 2 separate css files and have only one of them injected into the head of my index.html. The reason behind this is I need to write a theme switcher for my app which essentially sets the style sheet filename from two options, light and dark style sheets.

    `config.entry = isTest ? {} : {
        'dg-light': './src/dg-light.ts',
        'dg-dark': './src/dg-dark.ts',

[2016-10-25 12:15] denich commented on #120
+1

[2016-10-25 19:58] #273 closed

[2016-10-27 09:42] aris-b commented on #270
I had a similar issue, when using `allChunks: true` it worked just fine. But, when i set `allChunks: true`, my style object look like the same as shouvik's. What I did, was just putting the fallbackLoader in an array like this: `fallbackLoader: ['style-loader']` instead of `fallbackLoader: 'style-loader'`

[2016-10-27 12:42] Denisrudov commented on #57
the same for me. wrong order 👎

[2016-10-27 19:58] kisenka commented on #167
@nhavar @Grafikart you can extend extract-text-webpack-plugin and write you own. Take look at [ExtractSVGPlugin](https://github.com/kisenka/svg-sprite-loader/blob/master/lib/extract-svg-plugin.js#L18) which postprocess extracted chunk with wrapping it with `<svg>` tags. Hope that helps.

[2016-10-27 20:00] kisenka commented on #167
Related issue https://github.com/webpack/extract-text-webpack-plugin/issues/161

[2016-10-27 20:05] kisenka commented on #85
How about [this](https://github.com/webpack/extract-text-webpack-plugin/issues/167#issuecomment-256752174)?

[2016-10-28 08:15] EliasJorgensen opened #274 ""Cannot find module" with version 2.0.0-beta.4"
Hi, i have an issue when trying to run my production config, using extract-text-webpack-plugin@2.0.0-beta.4 and webpack@2.1.0-beta.25.

I'm getting the following error:

[code]

This is my webpack production config:

[code]

My CSS works perfectly fine in my development setup. I'm not using CSS modules, and am importing my css files with `import './index.css'`. Do you have any idea what's going wr

[2016-10-28 10:50] Couto commented on #110
I just want to add that if you're using Webpack 2 with its new syntax `use` it will also result in problems.
I had to change `use` to `loader` to fix it.

[2016-10-28 12:08] bebraw opened #275 "Not possible to use with the new `use` syntax"
The following snippet works:

[code]

If it's upgraded to `use` like this it fails:

[code]

I also tried wrapping `ExtractTextPlugin.extract` to an array with the same result. Given `loader` is getting deprecated, `ExtractTextPlugin` should probably work with `use`. Interestingly the README suggests using `loader` instead.

[2016-10-28 15:55] drosen0 commented on #30
Here's another (hacky) solution, inspired by @L8D's [comment](#issuecomment-242451634). In my case I'm using `require.context('.', true, /\.less$/)` and `ExtractTextPlugin`, so none of the other solutions worked.
[code]

[2016-10-29 01:43] pedramphp commented on #30
@drosen0 smart way of fixing it, works like a charm.

[2016-10-29 16:58] SpaceK33z commented on #272
You should do this:

[code]

[2016-10-29 16:58] #272 closed

[2016-10-31 16:24] EliasJorgensen commented on #274
For people having the same issue, see #275 for a workaround, until the developers working hard on this project have resolved the issue!

[2016-11-01 11:10] renarsvilnis commented on #275
Related https://github.com/webpack/extract-text-webpack-plugin/issues/265

[2016-11-01 11:15] bebraw commented on #275
Ok, I'm closing this in favor of that then.

[2016-11-01 11:15] #275 closed

[2016-11-02 04:29] wayspurrchen commented on #104
Adding a note for something really dumb I did... I had a webpack config that was including `node_modules` in the `resolve.modulesDirectories` and I accidentally ran the following command:

[code]

Note that `webpack` shows up _twice_ - I believe the second one is read as a node module to bundle _in addition_ to your entry, resulting in a very mysterious-seeming self-include if you're not paying at

[2016-11-02 15:30] MartinMuzatko opened #277 "Extracting to separate file via import throws error"
Hello there!

I'm currently trying to separate my css into its own file.
I used a similar setup as described [in the official docs](https://webpack.github.io/docs/stylesheets.html#styles-from-initial-chunks-into-separate-css-output-file):

EDIT: It works if I add raw! to the list of loaders, unfortunately not with resolved requires within the css file.

[code]

This is the stacktrace I get:

[code

[2016-11-02 19:34] watrool opened #278 "AoT compatibility"
I am trying to turn on AoT in Angular 2 using `@ngtools/webpack` and since the `ViewEncapsulation.None` is still problematic with AoT, I intended to use `ExtractTextPlugin` to collect the global CSS into the `<header>` tag. But it seems there is a compatibility problem between `ExtractTextPlugin` and  `@ngtools/webpack`: while it all works with JiT, it raises error with AoT:
[code]
Here is my conf

[2016-11-04 03:14] johnmcdowall commented on #30
@drosen0 Do you still get the warning in the console with this method?

[code]

Anyone know a way to silence that message?

[2016-11-04 05:33] drosen0 commented on #30
@johnmcdowall, I don't get that message when updating .less files. A couple things to try:

1. If you're not already, try using [`require.context()`](https://webpack.github.io/docs/context.html) to import your .scss files.
2. Try passing `true` as the second argument (`useSubdirectories`), for example, `require.context('./app/styles', true, /app\.scss$/)`. I believe the reason is that HMR doesn't

[2016-11-04 20:11] daniellecloss commented on #277
Did you try using the css-loader and less-loader?  Like this:
{ test: /\.less$/, loader: ExtractTextPlugin.extract('style-loader', 'css-loader!less-loader')},

instead of:
{ test: /\.less$/, loader: ExtractTextPlugin.extract('style', 'css!less')},

[2016-11-05 13:05] Nearoo opened #279 "Relative paths to CSS in HTML files on github.io point to wrong location"
I can't get couscous to work properly, possibly because _I_ am doing something wrong. Testing a project locally using `couscous preview` works fine, but putting it online using `couscous deploy` doesn't - the links to the css files at the top of my html page are faulty. Instead of pointing to `/my-project/css/cssfile.css`, they point to `/css/cssfile.css/`, which results in my page loading without

[2016-11-06 10:13] bebraw opened #280 "Using old style ExtractTextPlugin.extract should give proper warning"
It looks like `ExtractTextPlugin.extract` fails silently in the current beta. That is problematic for people migrating to webpack 2 so it would be nice to give a proper warning if the old syntax is used.

[2016-11-07 01:22] amir20 opened #281 "Possibly a bug using options vs query."
Documentation suggests to use `options` to configure loaders but I had to use `query`.

[code]

This could be a bug. I couldn't figure out how to get `css-loader` configured with `importLoaders` otherwise.

[2016-11-07 09:50] rbelling commented on #187
An explanation on how to get this done would be much appreciated, there's not much information on google about this

[2016-11-07 15:37] kellyrmilligan commented on #30
@L8D , so in your layout template do you just have an empty link tag?

[2016-11-07 15:44] kellyrmilligan commented on #30
I simply created a separate entry and required my scss file.

[code]

then in my layout file, based on NODE_ENV, in the head of the document spit out script tags if in dev, or link tags for prod where extract text plugin is used.

in webpack, I have the hot module replacement plugin with style, css, postcss, and scss loaders configured.

when I update the css, it updates on the page.

since it's i

[2016-11-07 15:50] L8D commented on #30
@kellyrmilligan if you're only using external stylesheets in production, then you'd use the extract-text-webpack-plugin in your production webpack configuration, and you shouldn't need hot loading to work. This issue is for those who want to use external stylesheets in development with hot loading support (instead of using `style-loader`).

You shouldn't need to conditionally add any script tags i

[2016-11-07 16:24] kellyrmilligan commented on #30
@L8D yes, that's what I am doing. I think I posted too soon. my goal is to have css with hot loading in dev, and just the external stylesheet in prod. I want the separate entry point for css, so it can be in the head of the document, since the app I am working on is a universally rendered app. I still had the regular import in my apps entry point, so need to put the code mentioned above to update

[2016-11-07 16:30] kellyrmilligan commented on #30
I guess that's maybe a third solution. have the entry point in the head of the document for css, and import it in your entry point too. this way hot reloading just works for css. extract text plugin will do a bit more work for the build, but not a ton. you could also remove the css entry point for the build to not have it build twice.

[2016-11-08 01:20] johnmcdowall commented on #30
@drosen0 Thanks, although I'm using ES6 and `import` statements so not really sure how that would translate. I could use `require` I guess but it would be inconsistent.

[2016-11-08 04:18] abouthiroppy commented on #231
This works for me(extract-text-webpack-plugin@2.0.0-beta.4, webpack@2.1.0-beta.25)
[code]

[2016-11-08 09:14] monolithed commented on #231
There's another solution:

[code]

[2016-11-08 11:10] Hulkmaster commented on #144
still nothing?

[2016-11-08 14:59] kellyrmilligan commented on #30
@L8D would it be possible for you to post the relevant parts in a repo somewhere?  if I just do the entry point for css, the file will hot update but not update the page, which is why i'm guessing you have the code that updates the link tag.

[2016-11-08 21:45] fraziermork opened #282 "webpack 2: Error in ... doesn't export content"
I am trying to follow the instructions in the readme in the simplest test-case possible and encountering errors. I am using webpack 2.1.0-beta.25 and extract-text-webpack-plugin 2.0.0-beta.4. Below is webpack config:

[code]

For reference, my entry.js looks like this:

[code]
This is the error I'm getting:

[code]

I'm not sure what the difference is between my code and the instructions in the re

[2016-11-08 23:21] flying-sheep commented on #281
definitely true.

this still only supports webpack 1 style `query`, not `options`

[2016-11-09 01:20] fraziermork commented on #282
It turns out that the problem was that I had my rule set up as:

[code]
instead of

[code]
Basically, the code breaks for 'use', but not for 'loader'. [It's my understanding that they are supposed to be the same thing for webpack 2.](https://webpack.js.org/configuration/module/#rule-loader) If that's the case, this may need to be fixed.

[2016-11-09 11:47] kareem3d opened #283 "Error: Chunk.entry was removed. Use hasRuntime()"
I get this error when using last version of webpack `"webpack": "2.1.0-beta.25"`

my webpack configuration
[code]

[code]

[2016-11-09 18:45] rgrwkmn opened #284 "Should error on invalid ExtractTextPlugin config object"
The new version of ExtractTextPlugin helpfully told me to update the arguments when calling `new ExtractTextPlugin()`, but it did not error when I provided an object with the property `fileName` instead of `filename`. This led to some unusual errors in webpack and the cause was hard to track down.

[2016-11-09 19:51] veeracs commented on #104
@sokra I can close this issue since I think it is no longer relevant now.

[2016-11-10 15:46] avnersorek commented on #57
+1

[2016-11-11 04:36] adamgotterer commented on #246
I've played with the config and tens of combinations for hours without even a hint of it doing anything. Any work arounds?

[2016-11-11 12:13] heylookltsme commented on #246
I ended up using a `textTransformLoader` and fixed the urls myself with a regex. Seems totally unnecessary, but whaddya gonna do. 	¯\_(ツ)_/¯

[2016-11-11 12:19] heylookltsme commented on #246
Here's some code in case it's helpful:
[code]

[2016-11-11 21:36] RyanCCollins commented on #215
I got into this same bind, wasn't able to update to the latest v of webpack and @Prairie-Falcon's guide saved me.  Kudos!!

[2016-11-12 02:14] kirkstrobeck commented on #30
The ES6 latest airbnb-syntax-happy version of https://github.com/webpack/extract-text-webpack-plugin/issues/30#issuecomment-256958209

[code]

[2016-11-12 02:28] kirkstrobeck commented on #30
Heres an ES6 airbnb-syntax-happy version of https://github.com/webpack/extract-text-webpack-plugin/issues/30#issuecomment-256958209

[code]

[2016-11-13 18:29] ilya-git commented on #282
I have used few hours to figure what's going on (and I actually did not, but went into recent issues and found this). Thanks a lot for sharing the solution. I think this is quite a critical issue in fact, since the docs suggest to use "use", but it does not work without any hint that you should use "loader". Hope this is fixed soon

[2016-11-13 21:42] renarsvilnis commented on #282
Related #265

[2016-11-14 18:26] tleunen opened #285 "How to setup the plugin with dynamic chunks (System.import)?"
I have a loader which use ExtractTextPlugin to create a css file, but I don't really know how to setup all this with dynamic chunks based on System.import.

For these chunks, the css is not extracted in an external file.

Does anyone have an example to achieve this?

[2016-11-14 20:00] jeromecovington opened #286 "Possible to use md5 hashing with contenthash?"
I see that `getHashDigest` allows us to specify the hashing algorithm - https://github.com/webpack/loader-utils#gethashdigest

And I see that the param for the algorithm is passed as `arguments[1]` here - https://github.com/webpack/extract-text-webpack-plugin/blob/8232a3e5c5c719c1a56228fed0c3d12a0c90eded/index.js#L310

Is it possible to specify `md5` as the hashing algorithm when passing options t

[2016-11-14 20:18] jeromecovington commented on #286
Ah! I see `md5` is the default after all - https://github.com/webpack/loader-utils/blob/master/index.js#L224

Please disregard, thanks for maintaining this plugin!

[2016-11-14 20:18] #286 closed

[2016-11-15 21:45] xtianus79 commented on #263
this issue needs to be explained better and documentation is at fault.

http://stackoverflow.com/questions/28223040/window-not-defined-error-when-using-extract-text-webpack-plugin-react

this explains that because style-loader is outputting js the plugin will never work.  It shouldn't even be a fallback.  it wouldn't work -- it is literally not the purpose of what the extract plugin is used for.

[2016-11-15 21:49] clayne11 commented on #263
You actually typically do want `style-loader` as your fallback. When you have multiple chunks, this plugin only operates on the main chunk, not the subsequent chunks. The fallback loader will be used on non-entry chunks to process the styles.

[2016-11-15 21:51] xtianus79 commented on #263
@clayne11 well I would say perhaps from just css but surely not from sass or less to css.  Wouldn't you agree?

Furthermore, if what fails... i.e. since the syntax is "fallback"  I'll wait for your replay before I update mine and others documentations.  perhaps the documentation from style-loader needs to be updated as well.

[2016-11-15 21:54] clayne11 commented on #263
I use `extract-text-webpack-plugin` with SCSS. I actually don't use `style-loader` as my fallback though - I use [`isomorphic-style-loader`](https://github.com/kriasoft/isomorphic-style-loader).

This is necessary for server-side rendering of non-entry chunks. I use `isomorphic-style-loader` to gather the styles present in non-entry chunks and append it to the head of my document a `style` tag. If

[2016-11-15 21:56] xtianus79 commented on #263
Thanks @clayne11 ... do you use the isomor as a fallback or directly into the loader?

[2016-11-15 22:04] clayne11 commented on #263
I use it as a fallback. The entry chunk is processed using `extract-text-webpack-plugin`, so all the SCSS / CSS from the entry chunk is pulled into a single CSS file.

For some of my routes I use code-splitting (`System.import('XXX')`), and for those routes it falls back to `isomorphic-style-loader`. I collect all the inline CSS from the code-split components and load the string in a `style` tag.

[2016-11-15 22:07] clayne11 commented on #285
I have managed to get this working. I have written about it a bit [here](https://github.com/webpack/extract-text-webpack-plugin/issues/263#issuecomment-260780404).

[2016-11-15 22:10] xtianus79 commented on #263
@clayne11 this is super helpful and yes it would definitely help people. I created an issue on stack and someone had a similar issue and this basically answers everything very accurately which is appreciated...

[stackoverflow issue webpack window not defined](http://stackoverflow.com/questions/28223040/window-not-defined-error-when-using-extract-text-webpack-plugin-react)

[stackoverflow issue we

[2016-11-16 15:27] MoLow commented on #57
+1

[2016-11-16 15:39] kellyrmilligan commented on #30
@kirkstrobeck or @drosen0 , any way to get a full example in a gist?

1. are you just always using extract text plugin?
2. then have an entry point that listens for hot reloads when you change the scss and it's recompiled to update the link tag?

much obliged!

[2016-11-16 20:18] L8D commented on #30
@kirkstrobeck that code doesn't actually assign the new property to the `<link>`. It's a no-op

[2016-11-17 07:09] njjackzhong commented on #110
I have  the problem,and solve it like this.
 `module.exports = {
    entry:"./entry.js",
    output:{
        path:__dirname,
        filename:"bundle.js"
    },
    module:{
        loaders:[
            {test:/\.css$/,loaders:['style','css']} //expect loader array
           //error : {test:/\.css$/,loaders:"style!css"}
        ]
    }
};`

[2016-11-17 16:37] lexder commented on #283
Try using 2.0.0-beta.3 if you are using 2.0.0-beta.4 (we had the same issue and this fixed it). If even after that the bundle fails, try calling extract with an object containing a "fallbackLoader" and a "loader" property and assign them the property values you're passing now. Good luck!

[2016-11-17 16:39] tleunen commented on #285
I don't see how you resolved it... It seems the css from the chunks are still appended into the head without using an external file

[2016-11-17 18:35] leggomuhgreggo commented on #282
@fraziermork thanks! changing `use` to `loader` did the trick.

[2016-11-17 18:47] csawtelle commented on #173
This happened for me whenever I was using styleUrl: something.css with angular2

[2016-11-17 23:22] geryit commented on #30
[code]
thanks to @drosen0

[2016-11-18 20:08] amcintyre-cs commented on #179
I just ran into this issue as well, and may have also figured out a way of working around it in the short term.

The relevant snippet of my webpack config looks like this:
[code]
By having the last entry in the config include all modules that import CSS (foo.jsx, bar.js, and baz.jsx in this example), webpack-extract-text-plugin will include all of the CSS they need as this entry is the _last entry

[2016-11-19 02:24] vjancik opened #287 "Extract text webpack plugin extracts css-base.js from css-loader from my bundle"
Example from plugin output:
[code]
Line about css-base in `--display-modules` output:
[code]
It's missing a `{0}` because this plugin extracts it and it doesn't get emitted.

However, in production I am using both extract text plugin, for extracting CSS and SCSS **AND isomorphic style loader** for inlining critical CSS and extracting it into HTML in SSR.
And thus, I need the `css-base.js` in my pr

[2016-11-20 08:13] dsebastien commented on #265
Hello,

I'm currently trying to figure out how i can configure this plugin with post-css like I did with Webpack 1.x. Is this supposed to work already in some form?

Here's what I have configured for now and that isn't working (which I guess is due to this very issue :p):

[code]

Where commonData.postcss is:
[code]

The above gives me the following errors:
[code]

Can I change this somehow for no

[2016-11-20 08:29] renarsvilnis commented on #265
@dsebastien  This is my config I got set up few days ago, it's working

[code]

[code]

[2016-11-20 08:58] dsebastien commented on #265
Thanks @renarsvilnis , seems to be working! On to the next issue now :D

[2016-11-20 11:27] quantix-studio commented on #58
same issue

[2016-11-21 12:18] daniele-zurico opened #288 "AOT Angular2 compilation"
I'm trying to use this plugin for scss. this is my conf:
[code]
But when I try to compile in aot I receive this error:
[code]

repro: https://github.com/daniele-zurico/webpack-aot

[2016-11-21 20:07] x-yuri opened #289 "extract-text-webpack-plugin mangles minimized source maps"
`package.json`:

[code]

`webpack.config.js`:

[code]

`template.ejs`:

[code]

`1.js`:

[code]

`1.sass`:

[code]

[code]

Then open `http://example.com/dist` in Chrome. Then `Developer Tools` > `Elements tab`. Then click on the inner `div` element, and then on the link for `div div { width: 20px; }` block. And you'll find yourself on the wrong line (line 4 instead of line 1).

If you disable `ex

[2016-11-22 09:52] sgratzl opened #290 "webpack2: chunks styles are not loaded"
**environment**:
 * webpack@2.1.0-beta.27
 * extract-text-webpack-plugin@2.0.0-beta.4

I have a multi chunk environment based on `System.import` calls, i.e., webpack splits in multiple chunks for these modules. Some of the modules have styles referenced.

**observation**:
While for the main module the styles are extracted, the styles should be inlined for dynamically loaded ones which works fine.

[2016-11-22 10:56] poluyanov commented on #120
+1
was fixed with removal CommonsChunkPlugin

[2016-11-22 13:55] yrtimiD opened #291 "Include original chunk comment into result file"
Webpack can add annotation with original file name before each chunk:
[code]

It will be extremely helpful to include this comment along with extracted css

[2016-11-22 16:08] aausting commented on #278
I got the same issue as well using angular 2.2.1, extract-text-webpack-plugin 2.0.0-beta.4, ngtools/webpack 1.1.7.

I think we have to figure out whether this is this an angular ngtools/webpack or extract-text-webpack-plugin problem?

[2016-11-22 17:32] rbellamy opened #292 "SCSS to CSS to ExtractTextPlugin with fonts causes SyntaxError"
## TL;DR:

My use case that we have a SCSS file that overrides lumX defaults.

### Steps to reproduce

1. `main.scss` => `lumX-overrides.scss` => `lumX.scss` => `materialdesignicons.scss` => `materialdesignicons.woff2`
2. `css!resolve-url!sass` (with some tweaks)
3. webpack compile

### Expected results

Chunked CSS

### Actual results

So the `sass-loader` traverses the dependency tree to compile

[2016-11-22 17:49] rbellamy commented on #292
Sorry for the noise. Just re-ran the build using `--display-modules` and I can see that the problem is actually within the `css-loader` code.

[2016-11-22 17:49] #292 closed

[2016-11-23 08:33] nlitwin commented on #200
@jhnns I can get the ordering to work properly if I follow your instructions and put `require('./index.scss')` before requiring other components, but if I remove `{ "modules": false }` from my `.babelrc`'s es2015 preset, the ordering is wrong again. Any idea on why that would cause it to change?

[2016-11-23 13:48] jhnns commented on #200
`require()` and `import()` are very different constructs. `require()` is a regular function and will always execute in the given order. `import()` is not a function, but syntactic sugar for a native language feature. ES2015 will hoist all imports and resolve them **before** any code is executed. And babel emulates that behavior by first hoisting all imports and then turning them into `require()`.

[2016-11-25 18:52] kevindqc commented on #91
Had the same problem.

Was using the new
[code]

syntax from webpack 2 instead of

[code]

So I had, inside my rules:

[code]

I changed `use` to `loader` and now I don't get the unexpected tokens
[code]

[2016-11-26 09:29] hellflame opened #293 "how to extract stylus in webpack2 and vue 2"
![image](https://cloud.githubusercontent.com/assets/7326970/20639246/e87135f4-b3f8-11e6-8a29-fbdc00ba44ea.png)

I got this config from [here](https://vue-loader.vuejs.org/en/configurations/extract-css.html), but there is no more detail on how to setup stylus loaders.

using the `vue init webpack-simple test` project, changing `src/App.vue` style part into this

![image](https://cloud.githubusercon

[2016-11-26 18:57] x-yuri commented on #289
Closing in favour of mozilla/source-map#252. The issue is most likely with `source-map` package.

[2016-11-26 18:57] #289 closed

[2016-11-26 23:47] KELiON opened #294 "Not all styles included in extracted css"
How can I debug why not all css modules are included in final css bundle?

I've migrated to webpack 2 and rewrote my production config:

[code]

And now:

[code]

First config works in webpack 1, but with new config and webpack 2 I see that a lot of styles are not in styles.css. How can I debug why it happens?

Also, if I use rules from development (without ExtractCss) it works:

[code]

[2016-11-27 09:44] bilgorajskim commented on #215
Not sure if this will help, but in my case this was caused by having these lines in webpack config:
[code]
Removing them fixed the problem.

[2016-11-27 16:59] stevewillard commented on #293
Have a very similar problem - if you can figure it out, please share!

[2016-11-28 12:33] cristian-eriomenco commented on #30
Can this become a core feature of the plugin (or an extension on the plugin) so we get rid of the bicycle problem?

[2016-11-28 14:06] kirkstrobeck commented on #30
@kellyrmilligan

- this code goes on the client and not inside webpack if that was a confusion point
- you can use the `DefinePlugin`, which is part of webpack, to add an [`if` guard](https://github.com/webpack/webpack/issues/868#issuecomment-77916449) based on your environment.

[2016-11-28 14:22] kellyrmilligan commented on #30
@kirkstrobek I think I get it. I'll try and come up with a fully working example to post somewhere. I think that would be true most valuable thing here.

[2016-11-29 02:26] keatz55 commented on #254
@tonyxiao Thank you! I ran into this same problem. Works perfectly!

[2016-11-29 07:35] nighca commented on #293
@hellflame @stevewillard I got similar problem:

[code]

When I use the result loader in the `use` field (in `[webpackConfig].module.rules[i]`), it throws error like: `Module build failed: Error: Cannot find module '/fec/node_modules/extract-text-webpack-plugin/loader.js?{"omit":0,"remove":true}!css'`

But the error disappears if I use the result loader as the `loader` field:

[code]

Seems that i

[2016-11-29 17:37] blagerweij commented on #278
I also have the same issue, really annoying. JiT works fine though.

[2016-11-29 19:03] vjancik commented on #287
For whom it may concern, I got around the issue by a silly hack. I copied the `css-loader`, changed it's name, and referenced it in my `isomorphic-style-loader` under the different name. That way it doesn't get extracted by this plugin.

Specifically, using a postinstall npm script:

[code]

[2016-11-30 18:38] ejosafat commented on #173
I have this issue as well, using node 6.3. Tried with node 7.1 and the problem persists. This is my config:

[code]

[2016-11-30 20:44] QuantumInformation commented on #265
I previously used

[code]

What should I use now if I want to extract all my styles using HtmlWebpackPlugin?

[2016-11-30 21:31] nowaalex opened #296 "How to make query.getLocalIdent from css-loader to work with extract-text-plugin?"
[code]

I want to generate class names, basing on my own algo. `localIdentName` attribute works ok, but `getLocalIdent` attribute seems to be just ignored.

[2016-11-30 23:27] jussch commented on #91
Thanks @kevindqc! Changing `use` to `loader` worked for me.

[2016-12-01 09:36] mrtnbroder opened #297 "[webpack v2]: broken with new `use` syntax"
When I try to use this plugin like before, just using the new webpack v2 syntax (`loaders` -> `rules`, nested `loaders` -> `use`), this plugin breaks. Not sure it's intended, but it would be great if one would get an appropriate error message that this plugin should be used with `loader: ExtractTextWebpackPlugin.extract(...)` instead of `use: ExtractTextWebpackPlugin.extract(...)`

[2016-12-01 23:33] enzolutions commented on #250
Hi @cyberwombat

I tried what you mentioned but doesn't work. this is my webpack.config.js

[code]

But I still get the following error, because is not able to process @import call in less files

[code]

Any ideas?

[2016-12-02 04:08] fedeoo commented on #85
+1

[2016-12-02 07:48] karoltarasiuk commented on #66
Also experiencing the same issue here. It gives me this output:
[code]
All is green but file is never there...

[2016-12-02 09:11] milkmidi opened #298 "Module not found: Error: Can't resolve './\""'"
package.json
    "webpack": "^2.1.0-beta.25",
    "webpack-dev-server": "^2.1.0-beta.0"
  "extract-text-webpack-plugin": "^2.0.0-beta.4",

webpack.config.js
var htmlExtractText = new ExtractTextPlugin( "[name].html");
module = {
rules:[
 {
 {
            test: /\.(png|jpg|gif|svg|ico)$/,
            include: path.resolve( 'src/img' ),
            loader: 'url-loader',
            exclude: /node_mo

[2016-12-02 20:50] QuantumInformation commented on #231
I tried this https://github.com/postcss/postcss-loader/issues/144

[2016-12-02 21:22] QuantumInformation commented on #231
@monolithed how would you write it if you use .pcss file extensions?

[2016-12-03 13:40] George3d6 opened #299 "Nothing is extracted and no error is given"
I'm trying to bundle up my css&scss files into a single "style.css" file using webpack. However the configs I added using examples I found all over the internet seem to do nothing and even worse, they don't crash. It seems that the module is content to ignore everything and not throw any warning as to why my configuration is bad :/

The config is as follows:

[code]

Any help would be much appreci

[2016-12-03 14:00] monolithed commented on #231
[code]

[2016-12-03 14:35] QuantumInformation commented on #231
I made an issue here:
https://github.com/webpack/webpack/issues/3414

[2016-12-04 10:10] satazor commented on #120
@biblesyme I've tried your suggestion but it's not working. Do you have a example somewhere? Thanks in advance.

[2016-12-04 10:16] satazor commented on #106
@sokra why was this issue closed? I think your commit didn't addressed this.

[2016-12-04 15:49] bertho-zero commented on #274
:+1:

[2016-12-04 16:09] biblesyme commented on #120
@satazor  this is my implementation based on React, hope it help U

## app.js
[code]

## router.js

[code]

## webpack.config
[code]

[2016-12-04 16:30] bertho-zero commented on #282
It's only way that works for me:
[code]

Changing `use` to `loader`

[2016-12-05 10:13] stipsan commented on #217
Hey, I had this problem as well.

I solved it by adding an id to the plugin, like this:
[code]
I discovered this option when reading the API docs here https://github.com/webpack/extract-text-webpack-plugin/blob/webpack-1/README.md#api
Since it says it automatically generates the id by default I thought it was worth trying to make it static to see if that resolved the problem 😄

[2016-12-05 16:15] wbobeirne commented on #217
This didn't appear to work for me, and it might be because I output one css file per entry point, so I use `[name]` in my output file. I tried putting `[name]` as the ID, but that didn't work either.

[2016-12-06 17:28] akzhan commented on #187
It looks like resolved by [penthouse npm package](https://www.npmjs.com/package/penthouse). No Webpack intergration found.

But see al list of [critical path packages](https://github.com/addyosmani/critical-path-css-tools).

[2016-12-06 20:53] Yona-Appletree commented on #268
I'm doing a dynamic css loading thing as well, and I have the same problem. I need to know the name of the extracted file as a return value from require(), like the file-loader-plugin works.

[2016-12-07 00:06] TomDeBacker commented on #297
@mrtnbroder Thank you for writing this here! I have been migrating from webpack 1 -> 2 and this issue cost me way too much time..

[2016-12-07 12:41] 4kx commented on #57
+1

[2016-12-07 18:46] nasushkov opened #302 "Problem with css modules"
I already posted this as a question on so, but I think it can be too specific, so I add an issue here.
Right now I'm moving my current project from Webpack 1 to Webpack 2 and I encounter some problems with css modules which previously worked fine. In particular, I use css-loader and react-css-modules. My current development configuration is the following:

[code]

It works fine for Webpack 2. For

[2016-12-08 11:22] GabbeV commented on #107
+1

[2016-12-08 11:43] samuelpaulc commented on #259
@sokra
I am also facing this issue. Any solution for this?

[2016-12-08 14:26] yoavfranco opened #303 "Any intention to publish the extract-text-webpack-plugin V2.0.0 to npmjs anytime soon?"
Hi,
I was wondering if the extract-text-webpack-plugin V2.0.0 is close to being published on NPM?

Thanks

[2016-12-08 17:25] jeremybarthoux opened #304 "git"

[2016-12-08 17:25] #304 closed

[2016-12-09 07:19] githoniel commented on #246
@heylookltsme  i have met the same problem, could you expain how you config textTransformLoader?
tried  for a long time , but none of which work.

[2016-12-09 13:24] heylookltsme commented on #246
Ah, sure thing. Yeah, there's a missing puzzle piece here. I'm using it with the [ExtractTextPlugin](https://github.com/webpack/extract-text-webpack-plugin).

So the relevant portions of the config look like this:
[code]

Notice the `fixPaths` reference in the `ExtractTextPlugin` config for `.scss` files. That's the delicate, hidden thread tying it all together.

I hope that's helpful! Let me know

[2016-12-11 12:43] githoniel commented on #246
@heylookltsme thank you very much and it works perfect~~~

[2016-12-12 07:25] woohling commented on #27
Still met the same problem ... 😥, and I really do not prefer to use flatten folder structure in my dist folder. (there're several output css files, and it would seem to messy to put them all in one folder)
my src folder is sort of like this:
---images --- bg.jpg
---sass---bg.scss `background-image: url('/images/ bg.jpg)`;

and here's my dist folder output:
---images
---css--bg.css

and here's my i

[2016-12-12 08:39] yolo2013 commented on #290
Have a similar problem.

[2016-12-12 22:03] squadwuschel commented on #263
Hi,
I am using webpack 2 with Angular 2 with the following loader for sass, same should also work for less.

    {
        test: /\.scss$/,
        loader: [ExtractTextPlugin.extract({ fallbackLoader: 'style-loader', loader: ['css-loader'] }),
            'to-string-loader',
            'css-loader',
            'sass-loader'
        ],
        exclude: [helpers.root('Content')]
    },

and in my

[2016-12-13 03:23] huoxy commented on #27
@woohling Same issue.

[2016-12-14 03:15] yugasun commented on #246
@heylookltsme thank you very much, I have solve the problem by redefine publicPath for file-loader,  as below config:
[code]

[2016-12-14 14:24] zhangbg commented on #57
+1

[2016-12-15 02:56] bebraw commented on #297
Closing as a duplicate of #265. Thanks for the report, though.

[2016-12-15 02:56] #297 closed

[2016-12-15 09:55] andykenward commented on #302
try changing `options` to `query`. That fixed it for me
[code]

[2016-12-15 20:38] hellflame commented on #293
it came out to be like this ....

![image](https://cloud.githubusercontent.com/assets/7326970/21241028/d3903ffe-c348-11e6-8f88-cb9b3beabb90.png)

in the loader section

[code]

change into

[code]

well, the document is really awful

[2016-12-15 20:38] #293 closed

[2016-12-16 14:16] adiachenko opened #307 "[2.0] Doesn't work in watch mode"
I am running `"extract-text-webpack-plugin": "^2.0.0-beta.4"` and `"webpack": "^2.2.0-rc.0"`.

Plugin extracts styles on initial compilation, but doesn't trigger change when I am editing CSS. The output becomes stale. No errors are given. I am using the standard setup from 2.0 docs.

This doesn't happen when I am not using ExtractTextPlugin and load styles directly via javascript bundle.

[2016-12-16 23:30] kellyrmilligan commented on #265
this was frustrating to me, I was trying to be more up to date on the syntax and it failed! glad I found this.

[2016-12-17 15:10] JackuB commented on #303
You can install it from npm if you specify version `npm i extract-text-webpack-plugin@2.0.0-beta.4` or with a `beta` label `npm i extract-text-webpack-plugin@beta`

[2016-12-18 04:37] mlcohen commented on #265
I ran into this exact problem using webpack2 (v2.2.0-rc.1) when trying apply the `StringReplacePlugin` (https://github.com/jamesandersen/string-replace-webpack-plugin/issues/20). Is it intentional that for plugins like `ExtractTextPlugin` and `StringReplacePlugin` that they use the `loader` module rule syntax over the new `use` syntax? If so, it would really help to clarify why that is, otherwise

[2016-12-18 12:01] SpaceK33z commented on #307
Could you retry this with 2.2.0-rc.1? There was a watching issue in rc.0, so this *might* have been fixed.

[2016-12-18 13:38] Strate opened #309 "Support webpack 2.2"
Seems that plugin should be published with updated peer dependencies

[2016-12-19 11:22] mrdulin opened #311 "How do I use it with code split ?"
[code]

![image](https://cloud.githubusercontent.com/assets/17866683/21311013/0f3af24a-c620-11e6-96ad-ad9c1cee9a3d.png)

I want to use `link`style for each chunk. And it does add `link` tag to html.
But it seems not work. Because the style file is not pure `css`.
Anybody can help me. Thanks!

`style.51148d6a.css`:
[code]

[2016-12-19 16:03] josebalius commented on #80
Any updates on this? or is it fixed in the v2 betas?

[2016-12-19 22:24] splurtcake commented on #210
@drborges I was having the same issue and upgraded to to the v2 beta, but now getting the following error

[code]

My Webpack config looks like this

[code]

[2016-12-20 08:21] jesperlandberg opened #314 "Can someone tell me what is wrong here?"
I'm trying to extract my css but get lots of errors. Using "extract-text-webpack-plugin": "2.0.0-beta.4" and "webpack": "2.1.0-beta.25".

This is my setup:

[code]

[2016-12-20 12:07] domeknn commented on #265
@QuantumInformation
I am using this for production.
[code]

[2016-12-20 13:07] QuantumInformation commented on #265
@domeknn way too cryptic for me mate ;)

[2016-12-21 04:50] rstacruz opened #315 "CSS ordering issue with shared modules"
If you have 2 bundles:

[code]

And both entry points use a common CSS file:

[code]

[code]

The actual ordering gets messed up.

[code]

[code]

Notice how `common.css` is now in the wrong place in the 1st bundle.

I'm guessing this is unfixable considering how webpack + extract-text-webpack-plugin works. But is there a workaround I can do?

[2016-12-21 05:45] MikeLP commented on #309
Guys. It is really hard to update package.json ?

[2016-12-21 11:23] 0x00dec0de commented on #307
I'm to use the "webpack": "^2.2.0-rc.1" and latest extract-text-webpack-plugin from master branch.
The watch mode doesn't work.

[2016-12-21 12:15] chbdetta commented on #179
+1 Any suggestion on solving this?

[2016-12-21 18:39] kellyrmilligan commented on #30
@kirkstrobeck where did your code go? I see it referenced , but not on this issue anymore?

[2016-12-21 18:52] kellyrmilligan commented on #30
so far I have my webpack 2 config using extract text plugin, and in my main client entry i'm importing the scss.  I have tried a few versions of the code above, but after the first load the module.hot is not firing again to update the css with the new date/timestamp. the extracted css file is being updated when i update just the scss, but the main entry point is not firing the code to update the t

[2016-12-22 15:39] nktssh commented on #42
Have same issue after upgrading webpack (from `v2.2.0-rc.1` to `v2.2.0-rc.2`).
Can it be related to https://github.com/webpack/webpack/issues/3498 ?

[2016-12-22 16:03] kellyrmilligan commented on #30
so I am now trying something closer to @L8D's solution, in my main entry I import a js file that just serves to update the css tag.

[code]

then in that module:
[code]

and the hot reload works only when I change a `.js` file, not an scss file. The console triggers `App updated. recompiling...` then nothing happens. is this a difference between webpack 1 and 2?

[2016-12-22 20:21] tmair commented on #274
This seems to be the same issue as https://github.com/webpack/extract-text-webpack-plugin/issues/265

[2016-12-22 20:23] tmair commented on #265
I came across this issue today when I tried to upgrade to webpack2. For me the following change (https://github.com/tmair/extract-text-webpack-plugin/commit/1414036c9fcacb441ce8d89eebb618a46a48de51) fixed the issue I was having, I am just not sure if it is the correct fix for the issues I am experiencing

[2016-12-22 21:00] L8D commented on #30
@kellyrmilligan my guess is that webpack 2 is not reloading your `css.js` because it's trying to optimize module imports and doesn't consider `css.js` to depend on anything inside `scss/main.scss` and so it doesn't trigger a reload.

[2016-12-22 21:45] kellyrmilligan commented on #30
but it did in webpack 1?   is the implementation i'm describing what you ended up having working?

[2016-12-23 08:33] shubhamarora commented on #120
I want to create a dynamic split point. so I have changed my route to this:

[code]

After introducing require.ensure. Webpack has started throwing below error:

[code]

Any idea on why the module build started failing and it is unable to resolve CSS variables?
@biblesyme @chrispesto @sokra

[2016-12-23 12:52] drborges commented on #210
@splurtcake have you tried removing `'styles': './src/app/assets/sass/styles.scss'` from the entry section?

The times I worked with `sass` I simply had to configure the [scss loader](https://github.com/jtangelder/sass-loader) and things just worked. If that doesn't work, try sharing the whole stack trace so we may dig a little further.

[2016-12-23 20:22] raviroshan commented on #27
Facing similar issue.
http://stackoverflow.com/questions/41306822/webpack-url-loader-file-loader-context-is-not-giving-relative-path

[2016-12-24 00:53] jiaweihli commented on #179
@chbdetta

This is working for me on webpack 2.2.0-rc2.
My config is similar to [@Findiglay's setup](https://github.com/webpack/extract-text-webpack-plugin/issues/179#issuecomment-245683838) with 1 change:
[code]

[2016-12-24 05:46] seethroughtrees commented on #307
Seeing the same result with 2.2.0-rc.2 as well.

[code]

[2016-12-24 05:57] galensheen commented on #283
I have the same issue, can not fixed by using 2.0.0-beta.3. Do you have any method else?

[2016-12-25 18:03] devourment77 commented on #282
use -> loader worked for me as well.  Banged my head for a half a day on this one.

[2016-12-26 03:47] gustavohenke commented on #311
The current state of this is kinda confusing. See #120 for more references.

[2016-12-26 09:15] mrdulin commented on #120
@biblesyme thanks. it works. But is there a way to set the `css` filename same with my async `chunks` filename?

[2016-12-26 12:12] avetisk commented on #309
Really need this update :'(

Christmas is like hell for developers who are still working...

[2016-12-27 01:06] allahbaksh commented on #261
What do you mean running "webpack from node interface". I am having similar problem

[2016-12-27 10:55] zgredzik opened #317 "Extract text fails on the simplest of setups"
Link to a minimal example: https://github.com/zgredzik/extract-text-plugin-test

Works fine when using just the `css-loader`

Using: (tried installing dependencies both via npm and yarn)
node: `6.9.1`
webpack: fails on both `2.1.0-beta.28` and `2.2.0-rc.2` as well as some older versions
extract-text-webpack-plugin: `2.0.0-beta.4`

It seems to have problems parsing the css file https://github.com/z

[2016-12-27 17:24] alferov commented on #302
@andykenward It worked out, thanks!

[2016-12-28 05:10] luishdz1010 commented on #50
This errors happens while using HtmlWebpackPlugin, apparently it is not compatible with webpack 2.

[2016-12-28 05:28] felixsanz commented on #250
bump, i have the same problem

[2016-12-28 06:28] felixsanz opened #318 "Why postcss stops working when used inside webpack's text extract plugin?"
Using webpack 2.

"extract-text-webpack-plugin": "2.0.0-beta.4",
"webpack": "2.2.0-rc.2",
"postcss-loader": "^1.1.1",

This loader works fine:

[code]

And also having the plugins inside `postcss.config.js` works too.

But when I wrap `postcss-loader` inside `ExtractTextWebpackPlugin.extract()` it stops working.

I only get a bunch of:

[code]

And I never see that console.log again. I'm 99% sure

[2016-12-28 06:39] felixsanz commented on #318
Apparently this fixed it: https://github.com/iamdustan/webpack-2-extract-css-modules-repro/commit/adec7250b92f90b4117118458df206cfed283507

And this is related to #265 and many other issues. I hope it gets fixed soon because i just wasted 4 hours...

[2016-12-28 06:40] #318 closed

[2016-12-28 06:42] felixsanz commented on #265
@jhnns

webpack 2 is in release candidate and this is still not fixed. Just a friendly reminder!

[2016-12-28 08:02] TNT-Likely opened #319 "extract css failed"
<img width="536" alt="6d86f25a-6ab5-4229-a1ac-855a7a26dd9a" src="https://cloud.githubusercontent.com/assets/9278923/21517072/e51f8996-cd16-11e6-8b70-a3e1ef890ce4.png">
<img width="557" alt="0702035e-62c4-417c-803d-b12a71b190e1" src="https://cloud.githubusercontent.com/assets/9278923/21517093/02a69982-cd17-11e6-9946-30717e9c093e.png">

[2016-12-28 08:04] TNT-Likely commented on #319
![qq20161228-0](https://cloud.githubusercontent.com/assets/9278923/21517118/3e2369f4-cd17-11e6-898f-3074ebeea0cc.png)

[2016-12-28 08:09] TNT-Likely commented on #294
i also have this problem

[2016-12-28 08:11] TNT-Likely commented on #294
wish one guy help me resolve this problem

[2016-12-28 08:12] TNT-Likely commented on #250
+1

[2016-12-28 08:57] TNT-Likely commented on #215
@raphaklaus not work when i update extract-text-webpack-plugin to 2.0.0-beta.2,show errors
![qq20161228-1](https://cloud.githubusercontent.com/assets/9278923/21518047/9eb8eef4-cd1e-11e6-8c39-6a0b1e4aaa41.png)
<img width="557" alt="0702035e-62c4-417c-803d-b12a71b190e1" src="https://cloud.githubusercontent.com/assets/9278923/21518055/a8da4e96-cd1e-11e6-8795-03314792f064.png">

[2016-12-28 13:03] enzolutions commented on #250
This trick resolve my problem

[code]

[2016-12-28 15:33] MihaMarkic commented on #319
I think you are using a plugin built for webpack v1.x.

[2016-12-28 15:46] MihaMarkic opened #320 "styles.css request points to wrong path"
I have this odd issue.
I'm extracting styles.css and that's fine and mostly works, except when path gets too deep, more than one node deep.
i.e.
when requesti on http://localhost/ or http://localhost/node1 the request for styles.css is correct: http://localhost/styles.css.
But when request contains two nodes like https://localhost/node1/node2, the request for styles becomes: http://localhost/**nod

[2016-12-28 16:14] MihaMarkic commented on #320
I see that ETP? inserts a
<link rel="stylesheet" href="styles.css"> into index.html. Even though the path should be "/styles.css".
Furthermore, if I configure ETP with dynamic name, i.e. new ExtractTextPlugin('css/[name]-[hash].css'), the href will still be "styles.css".

[2016-12-28 17:26] Emobe commented on #265
Using the fix provided by @tmair works perfect for me at the moment. been scratching my head all day with this when migrating

[2016-12-28 18:44] thiagof commented on #58
Persists?

Version: webpack 1.14.0

[2016-12-28 23:06] milworm commented on #151
Try to use this https://github.com/kriasoft/isomorphic-style-loader. Works good for me.

[2016-12-29 13:59] MihaMarkic commented on #320
OK, that was some code in my build process that inserted the wrong Link.

[2016-12-29 13:59] #320 closed

[2016-12-29 19:19] laggingreflex commented on #309
Try `npm update` or `npm clear cache`.  Semver allows updating to latest minor versions (for >1.x). So v2.1 should really install v2.2 if that's the latest one available, given that it's not using the cache.

[2016-12-29 19:29] aaugustin commented on #309
Can we avoid non-constructive comments? They're unlikely to motivate maintainers, on the contrary. If I was receiving such comments on one of my repositories, I'd make sure not to fix the issue for a month or two :-) Thanks!

[2016-12-29 19:30] aaugustin commented on #309
(Obviously this wasn't for laggingreflex. I wrote my comment before theirs appeared.)

[2016-12-29 19:32] TheLarkInn commented on #309
@MikeLP Sorry for the delay on this. There are some overall large changes we want to make here before we do another publish. There is a lot of tenderloving care that needs to be given to this repo. We have already extended the call for extra support for issues and PR's to our @webpack/contributor-team so once we get some more information, we'll have some folks getting back to you guys.

Understand

[2016-12-29 20:02] Strate commented on #309
I use shrinkwrap feature of npm. It requires me to satisfy all peer dependencies.

[2016-12-29 20:24] btipling commented on #309
@TheLarkInn, thanks for the update, but can you please update the peer dependency to not require the beta though? Some people cannot deploy with yarn/npm warnings because of how ops has configured their ci deploy system with fail on warnings. We cannot move beyond `webpack@^2.1.0-beta.19` because [you hardcoded beta as a peerDependency](https://github.com/webpack/extract-text-webpack-plugin/blob/m

[2016-12-29 20:36] kevinguard commented on #104
@veeracs Can you please explain how you fixed this? I am trying to follow @sokra 's comment but having hard time understanding what indirect via a context means. Big apology for this naive questions but would appreciate any help on this. Basically, I am requiring both webpack and webpack.client.js inside server/index.js so I suspect that is causing the error. Can you please elaborate? Thanks.

[2016-12-29 21:39] gustavohenke commented on #296
Could be an issue with css-loader itself: webpack/css-loader#389

[2016-12-29 21:59] Tibfib commented on #309
Looks like a fix to that has been committed: https://github.com/webpack/extract-text-webpack-plugin/commit/cbd4690856707cbaaade1e960bfb2aef044cdeb3.

Here's to hoping it'll be released soon...

[2016-12-30 15:50] Justinidlerz opened #321 "update support webpack@2.2.0-rc.x version to npm"
update support webpack@2.2.0-rc.x version to npm

[2016-12-30 18:32] pburtchaell opened #322 "Use array of loaders on Webpack 2"
**webpack**: `2.2.0-rc.1`
**extract-text-webpack-plugin**:  `2.0.0-beta.4`

---

Currently, I am using this format for **`loader`**.

[code]

However, if I use **`loaders`** and an array (which I prefer to use for config because it is more plain), this throws an error.

[code]

This is the error thrown:

[code]

[2016-12-30 18:36] pburtchaell commented on #319
You should not be using v1. Check the [releases](https://github.com/webpack/extract-text-webpack-plugin/releases) for the latest beta release.

[2016-12-30 21:54] mohsen1 opened #323 "Error when using with AggressiveSplittingPlugin"
[I initially reported this issue at Webpak](https://github.com/webpack/webpack/issues/3525)

Today I spent a little time investigating this and found that issue is in this plugin. The loader is specifying a single output file name [`"extract-text-webpack-plugin-output-filename"`](https://github.com/webpack/extract-text-webpack-plugin/blob/8232a3e5c5c719c1a56228fed0c3d12a0c90eded/loader.js#L44) tha

[2016-12-30 22:05] pburtchaell commented on #321
There is an issue open for this at #309. I might suggest next time you open an issue on any project in GitHub that you search for existing issues first. It is not respectful to the time of the project maintainer(s) to create duplicate issues.

[2016-12-30 23:19] RolfVeinoeSorensen commented on #283
I got mine to work. It turned out the 1.x version was being loaded.

From package.json
`  "devDependencies": {
    "@types/node": "^6.0.52",
    "angular2-template-loader": "^0.6.0",
    "awesome-typescript-loader": "^2.2.4",
    "clean-webpack-plugin": "^0.1.14",
    "concurrently": "^3.1.0",
    "copy-webpack-plugin": "^4.0.1",
    "css-loader": "^0.26.1",
    "extract-text-webpack-plugin": "^2.

[2016-12-31 21:27] mohsen1 commented on #317
Pass array of loaders to `extract` function.

[code]
instead of
[code]

[2017-01-01 12:31] kvinogradov commented on #322
@pburtchaell Instead of using key **loaders** in your config use key **loader**.
There is no option **loaders** in ExtractTextPlugin.

[2017-01-01 15:49] #322 closed

[2017-01-02 03:16] jcperez-ch commented on #319
@TNT-Likely you are using `webpack@2.1.0-beta.6` and `extract-text-webpack-plugin@1.x` these versions are incompatible, your bet is to get the correct version for `webpack@2.1.0-beta`

So

[code]

would be your fix for now.  If you see a different issue, then let us know.

[2017-01-02 04:12] elyobo commented on #282
Looks like `use` takes an array, while `loader: X` is a shortcut for `use: [X]`, so convenient when you're only using a single loader.

See [the webpack configuration docs](https://webpack.js.org/configuration/module/#rule-loader).

[2017-01-02 06:54] zgredzik commented on #317
Nope, that does not fix the problem. I'm not sure it even should, since the usage example shows:
[code]
which basically is an alias for:
[code]
according to [the docs](https://webpack.js.org/configuration/module/#rule-loader)

[2017-01-02 06:56] davidcalhoun commented on #302
This is a really tough one to spot.  It really ought to be changed from `query` to `options` (see #281)

[2017-01-02 13:00] uncleyo commented on #307
I've noticed that webpack does not display any changes upon css edit, but the actual output file _is_ updated.

[2017-01-02 22:06] dalimian commented on #106
@sokra, issue is not fixed, please reopen this ticket

[2017-01-03 03:11] Justinidlerz commented on #321
i'm so sorry

[2017-01-03 03:11] #321 closed

[2017-01-03 07:04] FengHaiSheng opened #324 "the link tag does not has end-tag in the generated html!! sorry about my english!"
webpack.config.js code :

![image](https://cloud.githubusercontent.com/assets/14888544/21601568/f507db7e-d1c6-11e6-95de-a8b117b81d0d.png)

[2017-01-03 07:37] FengHaiSheng commented on #324
sorry! it's not your reason.
"html-webpack-plugin" has this function:
  [https://github.com/ampedandwired/html-webpack-plugin](url)
![image](https://cloud.githubusercontent.com/assets/14888544/21601699/f81fd69e-d1c7-11e6-945c-0916e01659f9.png)
。。。。。。。。。。
now, you can close this issue!

[2017-01-03 13:37] sham-hq commented on #110
Solved. issue is in syntex of my **webpack.config.dev.js** file.

[2017-01-03 15:15] olegggI commented on #118
try:
`filename: "[name].js"`

[2017-01-03 15:38] vinpac commented on #268
I need this too for my universal app. Maybe a query param could be defined to return the result filename.

`new ExtractTextWebpackPlugin('static/css/[name].[contenthash:8].css]', { exportFilename: true })`

[code]

[2017-01-04 01:08] dalimian commented on #106
thanks alot for reopening this ticket

there are two parts to what I think folks are asking for, could you plz clarify if both are in scope of this ticket

1. ExtractTextWebpackPlugin to generate CSS file for each of the split points defined by required.ensure(...)
1. If allChunks is set to false than the generated css file will be asynchronously included by require.ensure(...) similar to how the

[2017-01-04 22:46] mohsen1 commented on #323
I looked at this issue for a good amount of time. Not knowing Webpack internals I couldn't figure it out. I've made a test environment to try this out. Check out [my fork of this project ](https://github.com/mohsen1/extract-text-webpack-plugin)and [TravisCI outputs ](https://travis-ci.org/mohsen1/extract-text-webpack-plugin/jobs/189011333)

/cc @sokra @TheLarkInn

[2017-01-05 23:34] nowaalex commented on #290
+1

[2017-01-06 06:22] bernex opened #326 "Stylus extract error"
I'm using webpack 2 and plugin v2

[code]

And take many errors:

[code]

What to do?

[2017-01-06 08:08] bernex commented on #326
Awesome bug

I've changed: `use: [ExtractTextPlugin.extract({...}) ]`
to `loader: [ExtractTextPlugin.extract({...})`

`loader` is working!

[2017-01-06 08:08] #326 closed

[2017-01-06 17:49] tylik1 commented on #209
@Pines-Cheng i'm using the same method but my mixins are not working. They are outputted in destination css file, the same way i defined them in mixin.scss.  Does it work for you. If so, could you please share webpack.config.js. Thanks!

[2017-01-06 19:28] AlexanderTserkovniy opened #327 "Module build failed: TypeError: Cannot read property '0' of undefined"
Hi guys,

I have written the issue here, but is seems like it occurs because of your package, would you be able to help?

https://github.com/postcss/postcss-loader/issues/159

[2017-01-06 21:40] jahumes commented on #47
@sokra I am getting the same issue as @karl. I am running version 2.0.0 beta 4. Can you see something I am doing wrong?

[code]

[2017-01-06 22:04] jahumes commented on #47
Just to clarify, I am trying to create multiple css files based on the name of the file, so *.framework.scss would go into framework.css and everything else goes into website.css.

[2017-01-07 03:09] dalimian commented on #42
I was having same issue (latest webpack and extract-text-plugin), the workaround to disable cache did not work for me. Making this change in .../node_modules/extract-text-webpack-plugin/index.js did the trick

`if(shouldExtract !== wasExtracted) {`
to
`if(shouldExtract && !wasExtracted) {`

issue in my case was that it was trying to recompile when shouldextract was false and wasExtracted was true

[2017-01-07 07:45] linmodev opened #328 "Module build failed: Error"
`ERROR in ./src/vendors/animate/animate.min.css
Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin`

[code]

My webpack is 1.14.0
This plugin is 1.0.1，I set config of css loader in webpack,but always show the error, I am a new for webpack, thinks for your help

[2017-01-07 07:51] linmodev commented on #328
This reason is due to me, sorry

[2017-01-07 07:51] #328 closed

[2017-01-08 06:24] malvarezhcr commented on #288
I'm experiencing the same issue! Did you find out any solution?

[2017-01-08 21:41] TuiKiken commented on #314
I think you should remove `style-loader` from `ExtractTextPlugin.extract()`

[2017-01-08 21:52] TuiKiken opened #329 "Why plugin works with Rule.loader but does not work with Rule.use?"
Why

[code]

works as expected, but

[code]

or

[code]

throws errors?

[2017-01-09 06:23] bebraw commented on #329
Duplicate of #265. Closing. See that issue for more details.

[2017-01-09 06:23] #329 closed

[2017-01-09 13:52] #324 closed

[2017-01-09 13:53] bebraw commented on #319
@TNT-Likely Any luck with the suggested solution?

[2017-01-09 13:54] bebraw commented on #317
Duplicate of #265. See that issue for the workaround.

[2017-01-09 13:54] #317 closed

[2017-01-09 13:56] bebraw commented on #314
`ExtractTextPlugin.extract` signature is a little different now. Please see the readme for a good example.

[2017-01-09 13:56] #314 closed

[2017-01-09 13:57] #302 closed

[2017-01-09 14:01] #283 closed

[2017-01-09 14:01] #282 closed

[2017-01-09 14:03] bebraw commented on #274
Closing in favor of #265.

[2017-01-09 14:03] #274 closed

[2017-01-09 14:04] #270 closed

[2017-01-09 14:05] bebraw commented on #259
Can you try upgrading to webpack 2 and see how it goes?

[2017-01-09 15:43] jcperez-ch commented on #319
I guess this can be closed...

[2017-01-09 15:48] #319 closed

[2017-01-09 17:58] #256 closed

[2017-01-09 18:01] bebraw commented on #230
I think the main argument for the current name is that the plugin can do more than extract just CSS. Extracting HTML is another use case although the readme doesn't advertise this.

[2017-01-09 18:01] #244 closed

[2017-01-09 18:03] bebraw commented on #249
Please note that for the syntax to work you will have to use the beta version. The older version uses a different syntax (look up Git tag or npm readme).

[2017-01-09 18:03] #249 closed

[2017-01-10 09:58] KeithZhang commented on #250
it works for me, "webpack": "2.2.0-rc.3" and "extract-text-webpack-plugin": "2.0.0-beta.4"

it's my webpack.config.babel.js:

[code]

but when i use an other code way, it doesn't work:
[code]

[2017-01-10 11:30] xeho91 opened #330 "How to properly use multiple loaders with this plugin?"
Hello!

I am using **webpack@2.2.0-rc3**
and **extract-text-webpack-plugin@2.0.0-beta.4**

I am trying to configure this plugin to extract multiple loaders (start with sass, end with css).
The piece of configuration code in my `webpack.config.js` looks like this:
[code]

I am getting errors output in terminal. The first one looks like this and the rest are similar to this one:

I tried several pos

[2017-01-10 15:23] wen96 commented on #200
Same issue as @FabioAntunes. It sames like, when you `@import` from `.css` and `SASS` files, it keep order between `css` and `scss` but not both together. For example:

[code]

@FabioAntunes have you find any solution to this?

[2017-01-10 15:32] FabioAntunes commented on #200
@wen96 Not really, I had to re-write the rules on my scss, fortunately they were just a couple, which might not be your case.

[2017-01-10 15:41] philipp-spiess opened #331 "Further optimize the resulting asset?"
I'd like to further optimize one of the assets generated via `extract-text-webpack-plugin` (the CSS composition). What webpack hook can I use to make this? Do you know of any good writeup of how the current hooks work and under what circumstances they fire?

In the official webpack documentation[1], I can't find  a clue about what hook would fit in this case. I tried `optimize-chunk-assets` but th

[2017-01-10 17:09] frederikprijck commented on #330
Linking my related SO: http://stackoverflow.com/questions/41554983/using-extracttextplugin-with-webpack-2-2-0-rc3-throws-errors?noredirect=1#comment70353523_41554983

[2017-01-10 22:38] dalimian commented on #120
+1 having this issue

@sokra, lot of interest in this issue from many people, none of the work arounds are acceptable cause they all give something up, your input would be very valuable, at least do u think of this as bug, as designed, or enhancement. We are migrating a huge site to react/react-router/webpack, if we have your input we could maybe work on a patch.

to summarize the original issue i

[2017-01-10 23:00] dalimian opened #332 "how to support isomorphic apps"
there is a growing pattern to rendering a url on server side if user lands on it, but render it on client side if user navigates to it from another page on your site - more about it here http://nerds.airbnb.com/isomorphic-javascript-future-web-apps/

we are trying to migrate a huge site (70 million page views/month) to react/react-router/webpack

my question is wether it is possible to support iso

[2017-01-11 00:03] kingscott opened #333 "Issues building styles with Bourbon, Neat, Sass loader"
Hey all, running into some issues that have me a bit stumped. I have a small JS library that when compiled, exports a [compiled] minified JS file and a css file (compiled from sass).

My webpack config looks like this:

[code]

The above is being run with `NODE_ENV=production webpack -p --config webpack.production.config.js`. Seems pretty normal.

But I'm getting an error: `Module build failed: Br

[2017-01-11 01:41] kingscott commented on #333
Solved this problem. Sorry!

[2017-01-11 01:41] #333 closed

[2017-01-11 03:53] emartini commented on #80
It can occur on `2.0.0-beta.4`. I've been able of make it work sorting the classes that uses CSS Modules `compose` as @NogsMPLS suggested.

[2017-01-11 05:00] ufocoder commented on #332
@dalimian I think there is an offtopic question.
But by the way you could check [my boilderplate](https://github.com/ufocoder/redux-universal-boilerplate)

[2017-01-11 09:49] dawncold commented on #309
I install latest code via git+https: `npm install git+https://github.com/webpack/extract-text-webpack-plugin.git -D`

[2017-01-11 16:39] BenMGilman commented on #320
@MihaMarkic What exactly did you do to fix this? I'm running into the exact same issue

[2017-01-11 16:41] BenMGilman commented on #320
...nevermind

[2017-01-11 16:45] MihaMarkic commented on #320
@BenMGilman Actually I didn't solve it. I found that my script was generating that <link ... /> and simply removed it from the script. And since my CSS is very small I just use it embedded.
So if you know how to add hashed css reference I'm still interested.

[2017-01-11 18:40] evillemez commented on #222
If you are passing any sort of environment variable to webpack when you run it, you can use that to disable the plugin while in development.  For example, in my `webpack.config.js`, I have this:

[code]
Thus, in development, the plugin is disabled and falls back to just using the style loader.  But, in production, the template is expecting to find a stylesheet it can import.  Your `index.html` wil

[2017-01-11 19:14] wbobeirne commented on #217
I can confirm that this is still happening in Webpack 2, using version 2.0.0-beta4. Had hoped it would have gone away with all of the changes in there.

[2017-01-11 20:49] toddbluhm commented on #330
Running into this same issue as well. Same setup as @frederikprijck just without the `post-css` loader.

[2017-01-12 01:17] gao-sun commented on #326
Awesome bug! I spent half an hour to figure out the reason and only your resolution works.

[2017-01-13 10:42] miljan-aleksic commented on #330
I also am having those issues trying to load less files.

[2017-01-13 16:28] wtgtybhertgeghgtwtg opened #334 "Consider bumping minimum supported `node` version."
Since `webpack@2` requires `node>=4.0.0`, it doesn't make a whole lotta sense to support `node@0.12.0`.

[2017-01-13 16:29] TheLarkInn commented on #334
Where would that be bumped? We have it specified in `package.json` engines property.

[2017-01-13 17:40] 415DomSmith commented on #330
I was running in to a similar issue when moving to webpack 2 from 1, and I found:

http://stackoverflow.com/questions/41021614/webpack-2-css-modules-support

Keeping my css-loader line the same as what I had in webpack 1 worked. My rule now looks like:

[code]

[2017-01-13 23:49] jahumes commented on #159
@mrtom213 I am trying your code from above, but when I use it, I get the same output in both files. Is there anything else you are doing? What version are you using?

[2017-01-14 05:33] lvchangqi commented on #309
the code in npm haven't been updated  :(

[2017-01-14 09:24] SpaceK33z commented on #309
Fix was published in `extract-text-webpack-plugin@2.0.0-beta.5`.

[2017-01-14 09:24] #309 closed

[2017-01-15 00:00] joshjg commented on #333
@kingscott May I ask how you solved it?

[2017-01-15 02:37] kingscott commented on #333
Hey @joshjg, sure! I believe it was the way I defining the loader within `ExtractTextPlugin`. My config is more or less very similar, but the loader line for sass files looks like this:

[code]

[2017-01-16 08:30] phun-ky commented on #60
While the original issue here is related to sass/less/stylus, a fix/hack/patch for this is to use the `optimize-css-assets-webpack-plugin` in conjunction with `extract-text-webpack-plugin` to produce, like this: https://gist.github.com/phun-ky/766e5ec9f75eac61c945273a951f0c0b.

If you want to use this in dev, you will have to use a plugin like `write-file-webpack-plugin` to force webpack to write

[2017-01-16 13:29] arrowcircle commented on #80
+1 got this error. Any ideas how to solve it?

[2017-01-16 18:32] nicobrinkkemper opened #336 "Plugins triggers known issue on Ubuntu for Windows 10"
I'm not expecting a fix for this issue, but it's good to know. This plugin makes Ubuntu bash for Windows 10 unusable. Commenting/removing the CSS require can fix it temporarily. The plugin works as expected on docker for windows. Let me know if anyone wants to learn more about this.

https://github.com/scravy/node-macaddress/issues/8

https://github.com/Microsoft/BashOnWindows/issues/468

![image]

[2017-01-16 18:59] AlexanderTserkovniy commented on #330
@415DomSmith Thanks a lot! You saved me!

[2017-01-16 19:00] AlexanderTserkovniy commented on #327
Can be fixed, due to solution in the link above.

[2017-01-16 19:38] tlrobinson commented on #330
@415DomSmith's solution worked for me. It appears `ExtractTextPlugin` doesn't yet support the Webpack 2 `{ loader: "loader-name", options: { ... } }` syntax like:

[code]

It might also make sense to change/alias the `loader` option to `use` like in Webpack 2.

[2017-01-17 00:38] dylanjha commented on #330
passing in options into the sass-loader through query params solved this for me:

[code]

[code]

[2017-01-17 06:55] pawelpabich commented on #217
Setting `allchunks` to `true` fixed it for me.

[2017-01-17 06:56] pawelpabich commented on #259
Some possible workarounds can be found here: https://github.com/webpack/extract-text-webpack-plugin/issues/217

[2017-01-17 08:47] #327 closed

[2017-01-17 09:14] felixsanz commented on #80
Happens on `2.2.0-rc.2` too. I just run webpack again and it works. Its totally random.

[2017-01-17 09:40] likun7981 opened #337 "css-loader options is not effect"
[code]

webpack version : `2.2.0-rc.7`,
extract-text-webpack-plugin version: `2.0.0-beta.4`

css-loader `options` is not effect, must use `query`, like this:
[code]

[2017-01-17 10:14] lvthanh101 commented on #337
I tried options with **sass-loader** and it doesn't work too.

[2017-01-17 13:19] changLiuUNSW commented on #27
@woohling
[code]
The reason that url-loader is not used is nothing to do with ```extract-text-webpack-plugin``` here.
It is caused by [css-loader](https://github.com/webpack/css-loader) because URLs start with / will not be translated. So ```url('/images/bg.jpg)``` will not be translated to ```require(image/bg.jpg)```.

[2017-01-17 13:21] pastelsky opened #338 "allChunks options seems to have no effect"
Ideally `allChunks: true` should produce a css file for each `System.import`ed resource. But it doesn't.

 In my routes, I have
[code]
In webpack config,
[code]
In plugins,
[code]

However, I only get a single css file, although three different JS splits are produced.
What's interesting is extract text plugin logs the following:

[code]

---
"webpack": "2.2.0-rc.7",
"extract-text-webpack-plugin":

[2017-01-17 15:18] kostasmanionis commented on #338
`allChunks: true` does not produce a separate file for each async import, it just extracts the css to the parent chunk css file(might be wrong on the parent part).

By default it's false and it just doesn't extract css for async imports. That's why you need to specify the `fallbackLoader`, that handles the css for these async imports.

[2017-01-17 23:16] malvadeza commented on #337
[code]

seems to work for me

[2017-01-18 01:21] woohling commented on #27
@changLiuUNSW It worked. Many thanks ☺️

[2017-01-18 04:42] pastelsky commented on #338
@kostasmanionis I wasn't aware of that. Is there a way to split css for async imports then? I've seen a couple of websites use it.

[2017-01-18 10:27] cascornelissen commented on #263
@sokra, any estimation on how long it will take to fully support Webpack 2 now that the first stable release (2.2.0) is out?

[2017-01-18 15:06] xtianus79 commented on #263
@cascornelissen i am using webpack 2+ and everything works the same.

[2017-01-18 15:50] cascornelissen commented on #263
@xtianus79, I'm migrating to 2.2.0 at the moment and running into the issue that the names of keys in the `rules` object doesn't match the new setup.

As stated in the [migration documentation](https://webpack.js.org/guides/migrating/), `loaders.loader` should now be `rules.use` but `extract-text-webpack-plugin` still requires you to use the `loader` key. It's not working with `use` for me, at lea

[2017-01-18 17:36] jimmycook opened #339 "CSS is still included in JS bundle when extracted"
So my CSS is being run through the SASS and CSS loaders, then passed to the extract text plugin to put it out to a separate file. However the compiled JS bundle still has all of the CSS in it after compilation

Here's my webpack.config.js
[code]

And here's my webpack output
[code]

Is this an issue with the plugin?

[2017-01-18 17:37] jimmycook commented on #339
Using webpack@2.2.0-rc.7 and extract-text-webpack-plugin@2.0.0-beta - if it helps

[2017-01-18 18:29] xtianus79 commented on #263
@cascornelissen Why have you not upgraded to 2.4.1?  This is the version I am running currently

[2017-01-18 18:38] cascornelissen commented on #263
@xtianus79, 2.4.1 of what? 2.2.0 was [released today](https://github.com/webpack/webpack/releases)?

[2017-01-18 19:21] selbekk commented on #250
Thought I'd share mine as well, since I got it working.

Dependencies:

`webpack.config.js`:
[code]

[2017-01-18 22:30] abierbaum commented on #330
I have no idea why, but @dylanjha 's format above with no fallback loader was the only way I could get it to work.  Definitely some rough edges here that need fixed up.  Spent half a day of trial and error on this one. :(

[2017-01-18 22:33] aronlmin commented on #215
having issue with webpack v1.14.0 & extract-text-webpack-plugin v1.0.1 on windows when running `webpack --watch` within my react application .jsx file

[code]
Error output in terminal:
[code]

[2017-01-19 00:00] mrtnbroder commented on #337
Just noticed the same issue. I still need to use the deprecated `query` api to make things work.
Bump!

[2017-01-19 00:21] sunny-g commented on #318
What worked for me specifically (with regards to what's in @felixsanz post):

1. using the `loader` key for the `ExtractTextPlugin.extract` loader
2. passing in an array into `extract`
3. using `query` instead of `options` within the `css-loader` definition

[2017-01-19 04:07] jaydenseric commented on #337
Duplicates https://github.com/webpack/extract-text-webpack-plugin/issues/265 and https://github.com/webpack/extract-text-webpack-plugin/issues/281.

[2017-01-19 04:10] jaydenseric commented on #330
This plugin doesn't support Webpack v2 yet, [here is the milestone](https://github.com/webpack/extract-text-webpack-plugin/milestone/1).

[2017-01-19 08:23] frederikprijck commented on #330
@jaydenseric That's not correct. The `readme` clearly says:

@TheLarkInn confirmed it was a bug and should have been fixed with the latest release: https://github.com/webpack/extract-text-webpack-plugin/releases/tag/v2.0.0-beta.5

[2017-01-19 08:59] frederikprijck opened #340 "Incorrect readme docs"
I've been trying to bundle LESS using ETP with WebPack 2 as mentioned in the readme: https://github.com/webpack/extract-text-webpack-plugin

` { test: /\.(css|less)$/, loader: ExtractTextPlugin.extract(["css", "postcss", "less"]) }`

Obviously, this results in:

Chaning the `css` loader to `css-loader` results in a comparable error for the other loaders.

It's working, when I change my loader to
`

[2017-01-19 09:06] frederikprijck commented on #330
Alright I verified my reproduce app mentioned above is working using the following syntax:

`{ test: /\.(css|less)$/, loader: ExtractTextPlugin.extract(["css-loader", "postcss-loader", "less-loader"]) }`

Aswell as using the following syntex

[code]

This is not 100% according to the readme, but that should be fixed once https://github.com/webpack/extract-text-webpack-plugin/pull/341 get's merged.

[2017-01-19 09:19] cascornelissen commented on #330
@frederikprijck, do you have an example for when we want to use plugins as well? Say I want to use `autoprefixer` with `postcss-loader`, any idea on how to set that up?

[2017-01-19 09:22] frederikprijck commented on #330
@cascornelissen the `postcss-loader` is used in my syntax above.

you also have to add this to the `plugins` section IIRC:

[code]

[2017-01-19 09:25] cascornelissen commented on #330
Ah, didn't know about the `LoaderOptionsPlugin`. I'll see if that works. Is passing a configuration object to autoprefixer also supported this way?

[2017-01-19 12:09] iloginov commented on #30
Well, let me add my 2 cents.

My configuration is following:
 - Webpack 2
 - React
 - HMR
 - Server-Sider Rendering
 - CSS Modules

I have separate webpack config for server and client:

[code]

[code]

As you see, server use `ExtractTextPlugin` while client use simple `style-loader`.

I use Gulp for running both server and client build with single command:

[code]

You should notice that `nodemon

[2017-01-19 13:18] insin commented on #265
Using @tmair's [change to return loader objects from `ExtractTextPlugin.extract()`](https://github.com/webpack/extract-text-webpack-plugin/issues/265#issuecomment-268882905) instead of stringifying allows me to use `use` config with ExtractTextPlugin and combined with [`ident`](https://webpack.js.org/guides/migrating/#complex-options) (thanks to @bebraw in the Slack channel) makes this sort of con

[2017-01-19 13:28] kostasmanionis commented on #339
Your loader config seems a bit off 🤔

Haven't tested it, but try this out

[code]

[2017-01-19 13:52] bellizio opened #342 "Module parse failed error for SCSS file"
After updating to the webpack 2.2.0 final release, I'm experiencing the following issue:

[code]
Here is my webpack config:

[code]

**Any idea why these errors are being thrown or how to resolve them?**

[2017-01-19 14:01] rohmanhm commented on #250
Help me, I got some problem.
after following your config, still I got `tahu.css` file doesn't generated.

this is my `webpack.config.js` file
[code]

this is my dependencies

[code]

[2017-01-19 17:48] trainiac commented on #330
With regards to postcss plugins specifically.  You can also provide a postcss.config.js file at your project root that get's picked up by postcss-loader.

[code]

https://github.com/michael-ciniawsky/postcss-load-config

[2017-01-19 22:10] roymiloh commented on #342
`use: ExtractTextPlugin.extract({ ...` -> `loader: ExtractTextPlugin.extract({ ...`

[2017-01-20 01:44] mmahalwy commented on #333
I get the same problem when I add minimize to css-loader: `css-loader?minimize&...`

Any idea why?

[2017-01-20 02:06] oieduardorabelo commented on #91
many thanks @kevindqc! Changing from `use` to `loader` fixed my CI.

is it a bug?

[2017-01-20 09:34] shengnian opened #344 "TypeError: Cannot read property 'replace' of undefined"
[code]
[code]

"webpack": "2.2.0",
"extract-text-webpack-plugin": "2.0.0-beta.5",
"css-loader": "^0.26.1",
"postcss-loader": "^1.2.2",
"sass-loader": "^4.1.1",

[2017-01-20 12:51] Hanterdro opened #345 "Webpack 2: extract sass"
I'm migrating a Webpack 1 project to Webpack 2.

[code]

[code]

Leads to:

[code]

[2017-01-20 13:38] bellizio commented on #342
@roymiloh that did the trick. I was using 'loader' prior to updating, but the [webpack migration guide](https://webpack.js.org/guides/migrating/#module-loaders-is-now-module-rules) specifies 'use' as the new syntax. I guess there is something in the plugin code that does not jive with the new syntax. I will switch back to using 'loader' for the time being.

[2017-01-20 13:52] McGiogen commented on #250
I share my working configuration:
[code]
Notice the use of `loader` instead of the webpack 2 attribute `use`. Probably the last one is still not supported by latest ExtractTextPlugin beta version. [This](https://github.com/webpack/extract-text-webpack-plugin/issues/265) is the related issue.

[2017-01-20 14:59] rohmanhm commented on #250
@McGiogen what version of your dependencies?

[2017-01-20 15:06] McGiogen commented on #250
@rohmanhm I've updated my previous response with package.json. (I'm working on it actually, this is why I'm using 'beta' instead of a specific version)

[2017-01-20 15:14] bebraw commented on #345
It doesn't work with `use` properly yet. See #265 for more details (dupe).

[2017-01-20 15:14] #345 closed

[2017-01-20 15:16] #340 closed

[2017-01-20 15:17] #334 closed

[2017-01-20 15:19] bebraw commented on #337
Closing as a duplicate.

[2017-01-20 15:19] #337 closed

[2017-01-20 15:20] bebraw commented on #26
I think this has been done.

[2017-01-20 15:20] #26 closed

[2017-01-20 15:23] romellem opened #346 "Unable to install in project with webpack 2.2.0"
**package.json**

[code]

Everything install fine there. Then, when trying to add `extract-text-webpack-plugin`, I get this error:

[code]

[2017-01-20 16:34] bebraw commented on #346
Hi,

Go through `@beta` - `npm install --save-dev extract-text-webpack-plugin@beta`. The new version of the plugin isn't stable yet.

[2017-01-20 16:34] #346 closed

[2017-01-20 17:24] kingscott commented on #333
@mmahalwy With loaders in webpack, you don't need to write `css-loader`, you can just write `css?minimize...`. What does your entire loader string look like?

[2017-01-20 17:28] devvdi commented on #294
+1, same problem here

[2017-01-20 17:43] Hanterdro commented on #265
[code]

leads to

[code]

[2017-01-20 21:01] kb3eua commented on #330
I got it to work in webpack 2.0 with the following syntax:

[code]

notice I had to add the "to-string-loader" to get it to work.

[2017-01-21 00:51] jaydenseric commented on #330
I got it to work with Webpack 2, PostCSS (with postcss-import, postcss-cssnext and postcss-reporter plugins) and sourcemaps:

- [ExtractTextPlugin in webpack.config.js](https://github.com/jaydenseric/Barebones/blob/v9.0.0/webpack.config.js#L26)
- [PostCSS config in package.json](https://github.com/jaydenseric/Barebones/blob/v9.0.0/package.json#L63)

[2017-01-21 00:58] mmahalwy commented on #333
@kingscott webpack 2 requires to be explicit. But I found the problem. It's due to caniuse-db being outdated. `npm install --save caniuse-db` solved it for me!

[2017-01-21 10:42] bebraw commented on #344
Can you provide a small standalone example that's possible to run? I don't see anything obviously wrong in your configuration.

[2017-01-21 10:47] bebraw commented on #331
Combination of `compiler.plugin('this-compilation', ...)` and `compilation.plugin('additional-assets', ...)` within that works. I use that idea for [purifying](https://github.com/webpack-contrib/purifycss-webpack-plugin).

It is important the plugin order is right (your plugin should go after extract-text-plugin).

[2017-01-21 10:47] #331 closed

[2017-01-21 10:48] bebraw commented on #342
Closing at duplicate of #265.

[2017-01-21 10:48] #342 closed

[2017-01-21 10:49] bebraw commented on #222
See https://github.com/webpack/extract-text-webpack-plugin/pull/89 .

[2017-01-21 10:50] bebraw commented on #226
@Kovensky Safe to close?

[2017-01-21 10:51] bebraw commented on #227
Yeah, let's close as a duplicate.

[2017-01-21 10:51] #227 closed

[2017-01-21 10:53] bebraw commented on #238
Closing as this was answered.

[2017-01-21 10:53] #238 closed

[2017-01-21 14:12] websash opened #348 "CSS Modules: ExtractTextPlugin changes the format of the imported style object"
Been migrating to Webpack 2 and noticed my local CSS is not working with the new ExtractTextPlugin.
Consider this sample code:
[code]
Without ExtractTextPlugin I got this `style`:
![screen shot 2017-01-21 at 3 32 18 pm](https://cloud.githubusercontent.com/assets/679341/22174912/a6e3fa2e-dff2-11e6-888a-ee93afb90327.png)
which is fine and expected.

Now when using ExtractTextPlugin I'm getting this

[2017-01-21 14:26] rohmanhm commented on #250
@McGiogen copied your config and still didn't work. Same version of dependencies, same config. BUT .. different result.

here's my dependencies.
[code]

[2017-01-21 14:40] rohmanhm commented on #263
Tried all config I've found and still no one be work. This is really disturbing bugs.

[2017-01-21 15:12] McGiogen commented on #250
The only error I see is that also webpack-dev-server must be in beta, try to change
´´´
"webpack-dev-server": "^1.16.2"
´´´
to
´´´
"webpack-dev-server": "beta"
´´´

[2017-01-21 15:25] rohmanhm commented on #250
I think it doesn't make sense, because actually I didn't need this.

[2017-01-21 16:07] McGiogen commented on #250
Uhm... I saw you used [resolve.extensions](https://webpack.github.io/docs/configuration.html#resolve-extensions), this is a quote that I think could help you: *IMPORTANT: Setting this option will override the default, meaning that webpack will no longer try to resolve modules using the default extensions. If you want modules that were required with their extension (e.g. require('./somefile.ext'))

[2017-01-21 16:51] rohmanhm commented on #250
When I add an empty string to `resolve.extensions` webpack throw a new error.

[code]
=======================================================================

Ok let's move on.

I created a new config, without `resolve.extensions`
When I finish running, the result is just generate `test/lala.js` file, but `styles.css` not generated.

This is my new webpack config file
[code]

I don't know What The

[2017-01-21 17:06] McGiogen commented on #250
You can try to change `new ExtractTextPlugin('styles.css')` to the new version of the constructor `new ExtractTextPlugin({ filename: 'styles.css' }),` (the one I use).

[2017-01-21 19:43] samkelleher commented on #344
@shengnian   You are using the property `fileName`, this is a misspelling, it's `filename`. All lower case, not camel case.

This will work:

[code]

[2017-01-21 19:45] bebraw commented on #344
@samkelleher Good catch. I marked this as an enhancement as the plugin should do stricter validation to avoid hard crashes.

[2017-01-21 20:12] kingscott commented on #333
Oh, interesting @mmahalwy! I was using webpack 1, unsure why they made the change back :-1: Glad you solved it!

[2017-01-22 02:07] rohmanhm commented on #250
would you share you project with work configuration? I tried your suggestion but still do not work.

[2017-01-22 07:05] mobilesite commented on #265
I can now get through with this:

based on webpack 2.2.0

[code]

[2017-01-22 09:21] lcrespom commented on #39
I am working on a small project and already stumbled with this limitation. In my case, I want some code in the `dist/` folder and some other code in the `web/` folder.

As a suggestion, this could be a way to specify it:

[code]

[2017-01-22 11:19] Hanterdro commented on #265
Hm... could it be that there is an issue with the sass-loader?

[code]

[code]

[code]

[2017-01-22 15:33] ajbrun commented on #307
Any progress on this? I think I'm having the same issue where it would work under webpack 1. I have my entry points:

`    entry: {
      head: ['modernizr'],
      main: [
        'webpack/hot/dev-server',
        'webpack-hot-middleware/client?reload=true',
        'styles/main.scss',
        'js/main',
      ],
    },`

But when running in HMR mode, the JS correctly gets updated, but the CSS do

[2017-01-23 08:18] McGiogen commented on #250
This is my webpack.config.js: http://pastebin.com/mtJn4mFX
I'm sorry but it is not be perfect because I'm still on it (but it works) and some comments are in italian.

[2017-01-23 09:13] shengnian commented on #344
@samkelleher @bebraw  thanks,  samkelleher's correctly, change the `fileName` to `filename` solved that, thanks agin.

[2017-01-23 09:13] #344 closed

[2017-01-23 09:27] bebraw opened #351 "ExtractTextPlugin should do stricter option validation"
I.e., `fileName` option should fail hard.

Related to #344.

[2017-01-23 11:25] rohmanhm commented on #250
Thanks for sharing @McGiogen

But I think it's too complicated. 😀

[2017-01-23 13:42] rohmanhm commented on #250
The question is, Should I require `[name].scss` file to entry file on webpack config like `index.js`? So webpack can recognize if `[name].scss` need some action.

[2017-01-23 14:31] McGiogen commented on #250
Sure, if you don't require()/import a file webpack don't put it in the build.

[2017-01-23 15:36] khankuan commented on #265
Hmm it seems like the loader/string query syntax works but the use/js syntax doesn't. @michael-ciniawsky do you know if someone is already working on it? I would like to help but the status of the upgrade to webpack2 is unclear :/

[2017-01-23 15:41] rohmanhm commented on #250
Thanks @McGiogen  for helping,
my bad is forgot to require my `.scss` file. My case solved.

[2017-01-23 16:35] michael-ciniawsky commented on #265
@khankuan Yes this PR #343 should fix the syntax changes, not 💯 sure if thats everything to it but looks promising so far 😛

[2017-01-23 16:57] khankuan commented on #265
Ah nice, i've just tested it with my project, works great!

[2017-01-23 17:42] michael-ciniawsky commented on #351
Should it have a fallback to `config.output.filename` etc, if no options `{String}`/ options.filename `{Object}` specified, before failing hard ?

Has webpack it's own logic for handling errors in plugins, like loaders do (pretty-format)? Or is throwing a classic `new Error()` ok?

[2017-01-23 17:49] bebraw commented on #351
I don't see a fallback like that in the current logic and it might be counter-intuitive to do that. It's likely enough if we can accept `filename` directly or through an options object.

I haven't seen any and the current plugins just seem to throw if the fail validation. I think the ideal solution would be to write a JSON Schema for the options and then process through [ajv](https://www.npmjs.com

[2017-01-23 19:13] michael-ciniawsky commented on #351
Yep there is none 😛 , it would be ?filename/?options.filename > config.output.filename, but agreed it can be confusing

kk

kk

[2017-01-24 09:04] aight8 opened #352 "Completely broken with webpack 2.2"
[code]

This error is outputed for every style import and the build fail.
Using **webpack 2.2** and **extract-text-webpack-plugin beta 5**.
The configuration is correct, tried every kind of examples for v2.
I want to use css with postcss, sass - however for testing I tried without those. But the same error.

[2017-01-24 09:59] Levino commented on #127
I personally think this is NOT the correct way to use. But maybe I am mistaken...

[2017-01-24 12:26] michael-ciniawsky commented on #127
@andrew-w-ross You can specify two different loader configs, one for CSS that should stay in the bundle and one that gets extracted by `ExtractTextPlugin`

**webpack.config.js**
[code]

What is the usecase here?

[2017-01-24 12:28] michael-ciniawsky commented on #352
@aight8 `webpack.config.js` and one component you import styles to please

[2017-01-24 12:59] SpaceK33z commented on #49
Closing, this seems to work fine now.

[2017-01-24 12:59] #49 closed

[2017-01-24 13:01] SpaceK33z commented on #41
Closing because it seems to have been fixed, feel free to re-open if not.

[2017-01-24 13:01] #41 closed

[2017-01-24 13:04] SpaceK33z commented on #59
Closing because this is outside the scope of this package and questions have been answered.

[2017-01-24 13:04] #59 closed

[2017-01-24 13:07] SpaceK33z commented on #104
Closing because this is a usage error. @kevinguard if you still need an answer please ask on StackOverflow.

[2017-01-24 13:07] #104 closed

[2017-01-24 13:09] SpaceK33z commented on #336
The issue on the BashOnWindows repo has been closed, can you verify this is fixed?

[2017-01-24 13:10] SpaceK33z commented on #279
Do you still have this issue? If so, you'll need to provide way more information. A repository reproducing the issue would be nice.

[2017-01-24 13:27] Ephem commented on #348
+1 I'm experiencing the same issue.

[2017-01-24 14:10] Levino commented on #127
With this I probably can solve my issue. Thank you.

[2017-01-24 14:17] Ephem commented on #330
I wish I would have read @415DomSmith comment more carefully earlier on, would have saved me a few hours. I had the syntax inside of the ExtractTextPlugin.extract({ ... }) correct, but do note that you have to use `loader:` and not `use:` in the outer webpack-config as well.

Just to clarify, this does NOT work:
[code]

This DOES work:
[code]

@kb3eua If you change use to loader in your example yo

[2017-01-24 14:19] frederikprijck commented on #330
@Ephem using both `use` and `loader` should work, depending on the version of webpack 2 you're using.

[2017-01-24 14:28] Ephem commented on #348
This turned out to be related to #330 for me. Before figuring out what was wrong (I was using `use: ExtractTextPlugin({ ... })` instead of `loader: ExtractTextPlugin({ ... })`) I tried all kinds of configs to get it working. At some point I ended up with the error above, but when I got it working properly, css modules were exported correctly as well.

@websash Maybe you are having some kind of rel

[2017-01-24 14:47] frederikprijck commented on #330
Nice catch @Ephem .

I've modified my reproduction sample ([webpack-less.zip](https://github.com/webpack/extract-text-webpack-plugin/files/726965/webpack-less.zip)) and It idd fails when using `use`. Replacing `use` with `loaders` works fine
.

Tagging @TheLarkInn based on our twitter conversation.

[2017-01-24 14:49] Ephem commented on #330
Returning an array instead of a string so that `use:` works is actually what PR #343 does and luckily this does NOT break `loader:` in Webpack 2. In Webpack 1 `loader:` only works with a string, but I tried it out in Webpack 2 and `loader:` works fine with arrays there.

[2017-01-24 15:57] BenDiuguid opened #353 "Webpack 2 options vs query question"
So in Webpack 2, it is recommended to use `options` instead of `query` in the loaders. [Documentation](https://webpack.js.org/guides/migrating/#module-loaders-is-now-module-rules)

It seems that when using ExtractTextPlugin and specifying loaders, that query must be used. Is this intended?

To clarify this works:

[code]

and this does not:

[code]

For a little bit more context, check this [issue

[2017-01-24 16:10] BenDiuguid commented on #353
#276 Solves this! Didn't see it before!

[2017-01-24 16:10] #353 closed

[2017-01-24 19:06] jamelt commented on #271
Try using the style loader.

[2017-01-25 02:28] jebuenga commented on #263
I'm using `"extract-text-webpack-plugin": "2.0.0-beta.5"` which seems to work with Webpack 2.

[2017-01-25 11:40] maxlibin opened #354 "no output file"
trying to get extract-text-webpack-plugin to work, but seems not outputing any file here.

[code]

[2017-01-25 14:59] bebraw commented on #354
Which version of the plugin are you using? The API changed between 1 and 2.

[2017-01-25 19:16] kabirbaidhya opened #355 "Question: Is it possible to extract html using this plugin? How?"
I'm wondering if it's possible to extract `html` content out of a bundle just the way wedo for css as shown in the example here https://webpack.js.org/guides/code-splitting-css/#in-the-plugin.

All the examples of `ExtractTextPlugin` I could find only shows how you can extract css. But I couldn't find any examples out there that explains extraction of html.

**Is this possible with this plugin or

[2017-01-25 19:37] michael-ciniawsky commented on #355
@kabirbaidhya Can you try with `raw-loader` in `options.loader` to get just the string of HTML?

[2017-01-25 20:02] kabirbaidhya commented on #355
I've tried both of these:
[code]
and
[code]
Still no luck. Same error.

[2017-01-25 20:55] websash commented on #348
@Ephem thanx for the tip. Your config is definitely working for me 👍 I was sure I had to use `use` with an array all the time and `options` for loader configuration but here we need `query` 😕 Wish we had better docs

[2017-01-25 21:31] scottdj92 commented on #351
[#358](https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/358)

[2017-01-25 22:26] michael-ciniawsky commented on #355
@kabirbaidhya https://github.com/jhnns/webpack-extract-index-html/blob/master/webpack.config.js (webpack v1)

This should definitely be possible, I will investigate 😛

[2017-01-25 22:30] michael-ciniawsky commented on #348
@websash @Ephem Yep the syntax will definitely be updated/fixed v2 final. Besides that if CSS Modules work correctly please close the issue 😛

[2017-01-25 22:30] Ephem commented on #348
@websash No worries, glad I could help. :) PR #343 fixes this so that we can use `use` and PR #276 fixes `options`. I guess this time the docs were correct, but the implementation needed some tweaking. :) I think this issue could be closed now?

[2017-01-25 22:32] michael-ciniawsky commented on #339
@jimmycook That maybe because of `vue-loader` and see @kostasmanionis corrections

[2017-01-26 03:20] kabirbaidhya commented on #355
@michael-ciniawsky Tried that as well. Still same error :smile:

[code]

[2017-01-26 07:55] shepherdwind commented on #222
I just write a loader([css-hot-loader](https://github.com/shepherdwind/css-hot-loader)), which supprot hot module replacement for an extracted css file.

If you don't want use style-loader, maybe you should have a try.

[2017-01-26 07:59] shepherdwind commented on #30
I write a loader([css-hot-loader](https://github.com/shepherdwind/css-hot-loader)), which supprot hot module replacement for an extracted css file.

[2017-01-26 08:33] d3viant0ne commented on #348
#343 has been merged, included in https://github.com/webpack-contrib/extract-text-webpack-plugin/releases/tag/v2.0.0-rc.0 and published to npm as `v2.0.0-rc.0`

[2017-01-26 08:33] #348 closed

[2017-01-26 08:47] d3viant0ne commented on #265
Resolved with https://github.com/webpack-contrib/extract-text-webpack-plugin/releases/tag/v2.0.0-rc.0 & published to npm.

[2017-01-26 08:47] #265 closed

[2017-01-26 10:41] maxired commented on #265
@d3viant0ne I can confirm this worked with webpack 2.2.0.  ( was not with wepack 2.1.0-beta.26)

[2017-01-26 11:08] izaakschroeder commented on #339
I think I also managed to reproduce this issue. My loader configuration is a little more convoluted, but the result is the same. Will investigate further; there's probably a simpler way of reproducing.

[code]

[2017-01-26 12:21] medigvijay commented on #354
I am having the same problem and I am using the following `^2.0.0-rc.0`

[2017-01-26 12:22] bebraw commented on #354
@medigvijay Could you set up a small standalone example to show the issue? That way we can debug it.

[2017-01-26 12:26] medigvijay commented on #354
Below is my complete setup:`var webpack = require("webpack");
var path = require('path');

var ExtractTextPlugin = require('extract-text-webpack-plugin');

const DIST_DIR = path.resolve(__dirname, "dist");
const SRC_DIR = path.resolve(__dirname, "src");

const extractCSS = new ExtractTextPlugin("app.bundle.css");

var config = {
	entry: SRC_DIR + "/app/index.js",
	output: {
		path: DIST_DIR + "/ap

[2017-01-26 12:31] bebraw commented on #354
@medigvijay I don't see anything obviously wrong there. I would need a GitHub repository to say anything concrete.

[2017-01-26 12:33] medigvijay commented on #354
@bebraw : Exactly. The configuration is fine and the `js` bundle does get generated but not the extracted CSS.

[2017-01-26 14:49] LG0012 commented on #30
Yeah, but your loader only for less, right?

[2017-01-26 15:34] zachmullen opened #363 "Previously working stylus configuration broken as of 2.0.0-rc.0"
I have the following loader configurations that were working on 2.0.0-beta.5.

[code]

And I use the following plugin on the target:

[code]

After upgrading to rc.0, the build fails for all my stylus files with:

    Module build failed: ReferenceError: window is not defined

Removing the `fallbackLoader` altogether makes the build succeed, but the extraction no longer works at that point. It's p

[2017-01-26 15:45] zachmullen commented on #363
This might be important info too: this is being built into a library using the DllPlugin, not an entry chunk.

[2017-01-26 16:43] edap commented on #173
This is still happening. This is my actual configuration

[code]

[2017-01-26 18:49] pavelekNET opened #364 "ERROR in ./~/bootstrap-loader/lib/bootstrap.loader.js?extractStyles!./~/bootstrap-loader/no-op.js"
After updating to rc0 from 2.0.0-beta.5:

ERROR in ./~/bootstrap-loader/lib/bootstrap.loader.js?extractStyles!./~/bootstrap-loader/no-op.js
Module not found: Error: Can't resolve '[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]./lib\bootstrap.styles.loader.js' in 'C:\PROJECTS\UCB_IMPRESTO_FE\node_modules\bootstrap-loader'
 @ ./~/bootstrap-loader/lib/

[2017-01-27 02:55] baohouse commented on #363
I'm using
`const extractCss = new ExtractTextPlugin({
  filename: '[name].[contenthash].css',
  allChunks: true,
});
...
module: {
  loaders: [
    {
      test: /\.css$/,
      exclude: /node_modules/,
      loaders: extractCss.extract(['css-loader','postcss-loader']),
    },
  ]
}
`

When I observe the compiled Javascript:

# Before
`
"./components/Layout/Layout.css": function(e, t) {
    e.expo

[2017-01-27 05:45] khankuan opened #365 "Error vs fallbackLoader"
Hi, I would like to understand more about error handling. I encountered an error while building:
[code]
Unfortunately, it seems like webpack did not fail and continued building successfully. I wonder if the behavior is expected.

Cheers.

[2017-01-27 11:50] blake-newman commented on #363
This is also an issue with sass-loader with`rc.0`

Configuration values for include paths cause issues.

`File to import not found or unreadable: style/settings.`

[2017-01-27 13:54] phun-ky opened #366 "2.0.0-rc.0 not removing css from bundles"
with this config: https://gist.github.com/phun-ky/34744023578f6f000f0de427f11d3800

I am getting bundles with loads of duplicate css in them, like this screenshot:
![screenshot from 2017-01-27 14-45-06](https://cloud.githubusercontent.com/assets/1714029/22373091/8168f4e0-e4a0-11e6-8832-6a8ea6743ab4.png)

I get the correct css files produced, but the styles are still in the bundles

[2017-01-27 14:42] shepherdwind commented on #30
@LG0012 less is just a example , You can use any other loader, such as css, sass.

[2017-01-27 15:51] montijr2007 commented on #364
I am having a similiar issue since the RC version was released. My builds are appear to be breaking on the new "getLoaderWithQuery(loader)" method. angular-cli depends on the most recent version ^2.0.0-beta.4 and since this upgrade, I can no longer build my project.

**Error:**
Module build failed : error : Cannot find module 'C:\MyProject\node_modules\css-loader\index.js?sourcemap&minimize'

How

[2017-01-27 15:53] scottdj92 opened #367 "style: upgrade to ES2015 syntax?"
With Node 6.9.4 reaching LTS, would it be possible to convert the codebase from ES5 to ES6 syntax?

[2017-01-27 16:44] michael-ciniawsky commented on #367
Refactor PR's are highly welcome but baseline is Node v4.3 LTS atm to align with webpack core. http://node.green

[2017-01-27 16:51] scottdj92 commented on #367
Ahh, so webpack-core is in the process of being upgraded to support 6.9.4?

[2017-01-27 16:57] michael-ciniawsky commented on #367
nope, node 4 :) for now, bc it's still active LTS

[2017-01-27 17:05] tyler-reitz commented on #186
getting the above error w/ both 5.0  and 6.2.2

[2017-01-27 17:24] scottdj92 commented on #367
Ahh, so we're following LTS Argon, not Boron? Thanks!

Should we keep this issue open for future upgrade reference?

[2017-01-27 17:28] pitakill commented on #364
I can confirm this in one of my projects.

I'm working on OS X Sierra (10.2.2) if relevant.

And see a output similar to @pavelekNET:

If the full output of the error is needed, i'm glad to put it.

[code]

Thank you for your effort and project. :)

[2017-01-27 18:37] bebraw commented on #366
Can you see the same in earlier betas? Any chance for a little project to run?

[2017-01-27 18:42] bebraw commented on #363
Here is the [diff](https://github.com/webpack-contrib/extract-text-webpack-plugin/compare/e30595e...6e67199).

It likely has to do with that `query` related change. Could you update your configuration to use `options` instead?

[2017-01-27 18:45] bebraw commented on #367
Yeah, let's leave this open. It's better to port after we get a stable version of the plugin out there and agree on project standards.

[2017-01-27 18:46] zachmullen commented on #363
@bebraw to clarify, do you mean changing:

[code]

to

[code]

? I tried that, but still got the same errors.

[2017-01-27 18:47] bebraw commented on #363
@zachmullen Yeah, that's the new format. There's something else going on.

[2017-01-27 18:49] zachmullen commented on #363
I'm also seeing similar errors for my other rules that matches just .css files, so it's not only related to the stylus loader. The errors disappear when I remove the fallbackLoader entirely, but then the extraction doesn't occur and I get the CSS duplicated between the css file and the js file.

[code]

[2017-01-27 18:54] bebraw commented on #363
Based on this and #364 I would say the modified version of `ExtractTextPlugin.prototype.extract` broke an underlying assumption. In the old version that returned a query string while the version returns an array of objects. It's exactly that what webpack chokes with.

Perhaps the fastest fix would be to normalize back to query although I suspect this could be handled on webpack core as well.

[2017-01-27 18:58] bebraw commented on #363
The problem with query normalization is that then we would lose functions (no postcss). I guess ideally webpack should be able to handle the current format without hickups.

[2017-01-27 19:37] insin commented on #363
@zachmullen any difference if you replace `loader: ExtractTextPlugin.extract(...)` with `use: ExtractTextPlugin.extract(...)`?

[2017-01-27 19:51] bebraw commented on #364
Can you try `extract` through `use` instead of `loader`? Let me know how it goes.

[2017-01-27 20:05] gplume commented on #364
Same issue here with font-awesome-loader. It breaks with the same error since 2.0.0-rc.0.
I have to keep beta.4 to build my projects.
What is ```use``` instead of ```loader``` ?

[2017-01-27 20:11] bebraw commented on #364
@gplume `use: ExtractTextPlugin.extract(...)`. That's the new syntax.

[2017-01-27 20:18] gplume commented on #364
OK. Didn't know that! It works as before with ```use```...
thanks!

[2017-01-27 20:35] zachmullen commented on #363
`Fatal error: Element from loaders list should have one of the fields 'loader' or 'loaders'`

[2017-01-27 21:27] halt-hammerzeit commented on #332
See how `universal-webpack` solves that completely:
https://github.com/halt-hammerzeit/webpack-react-redux-isomorphic-render-example

[2017-01-27 21:30] halt-hammerzeit opened #368 "ExtractTextPlugin.extract(...) now seems to be exporting an array of objects rather than a string as it used"
Is that the case?
It seems that it exports an array rather than a string now.
It breaks my build now:

[code]

Do you have a workaround for this?
To make it export a string maybe?

[2017-01-27 21:34] halt-hammerzeit commented on #368
If you're interested why the `style-loader` before the extract CSS loader – it adds CSS to the page (`remove: false`)

[2017-01-28 00:53] zachmullen commented on #363
I upgraded to webpack 2.2.0 (I was on an early 2.x version) and this issue went away. Thanks for the help.

[2017-01-28 00:53] #363 closed

[2017-01-28 01:33] halt-hammerzeit commented on #368
Ok, seems that I'll just do this:

[code]

[2017-01-28 01:33] #368 closed

[2017-01-28 04:15] felixsanz commented on #80
@sokra this is a year and half old. Sorry for mentioning you but it is going to be fixed? There is already PR with solutions. What does this need in order to get fixed? What can we do? I feel like we are all just ignored over the months. This bug is not avoidable when using `composes` from CSS Modules.

[2017-01-28 05:39] bebraw commented on #365
Can you provide more info? How to repro?

[2017-01-28 05:44] bebraw commented on #284
This should be done now with the schema.

[2017-01-28 05:44] #284 closed

[2017-01-28 05:45] bebraw opened #370 "Fail hard if `loader: plugin.extract` is used"
This is an important check to make as `extract` works only with `use`.

[2017-01-28 05:46] bebraw commented on #366
Can you try `use: extractTextPlugin.extract`? Only the new style is supported now.

[2017-01-28 05:48] bebraw commented on #364
@gplume Can you set up a small standalone project to study?

[2017-01-28 05:49] bebraw commented on #354
Can you try `use: ExtractTextPlugin`?

[2017-01-28 06:18] medigvijay commented on #354
Tried that, but no luck

[2017-01-28 06:22] bebraw commented on #354
Ok. Can you set up a GitHub project? Easier to debug.

[2017-01-28 06:30] khankuan commented on #365
It worked after updating dependencies. My main concern is extract-text-webpack-plugin failing silently as well as going to fallback loader without warning dev. Have experienced that a few times such as syntax errors.

[2017-01-28 06:32] medigvijay commented on #354
Did that [here](https://github.com/medigvijay/webpack-issue).

[2017-01-28 07:42] bebraw commented on #354
@medigvijay The problem is that there's nothing to extract. It never gets to the plugin logic for that reason. Here are the changes I had to make to fix it:

[code]

You might want to replace `copy` with `cpy` or so, but that's enough to illustrate the idea.

[2017-01-28 07:43] bebraw commented on #354
@maxlibin I could use a standalone example from you too.

[2017-01-28 07:47] bebraw commented on #231
Can you try against rc0? Note that you need to go with `use` instead of `loader` when extracting.

@MoeSattler Would you mind setting up a demo project if that fails?

[2017-01-28 07:48] bebraw commented on #303
Yeah, there's a `beta` now. We are currently running RCs and hopefully reach a final soon.

[2017-01-28 07:48] #303 closed

[2017-01-28 07:48] bebraw commented on #281
The plugin has been updated to use `options`. Instead of `loader` you should go with `use` now.

[2017-01-28 07:48] #281 closed

[2017-01-28 07:49] bebraw commented on #280
I think validation should have solved this. Time to close.

[2017-01-28 07:49] #280 closed

[2017-01-28 07:50] bebraw commented on #370
This might need webpack core work since `loader: plugin.extract(...)` doesn't give the plugin (or rather loader) a chance to do anything about it. I think the core needs to detect that an array is passed (shouldn't validation pick this up, though?) and give a nice error.

CC @sokra @TheLarkInn

[2017-01-28 07:51] bebraw commented on #330
@xeho91 Can you update to rc0? Please note that you have to `extract` with `use`, not `loader`. Let me know how it goes.

[2017-01-28 07:54] #207 closed

[2017-01-28 07:55] bebraw commented on #205
It's here now: https://webpack.js.org/plugins/extract-text-webpack-plugin/ .

[2017-01-28 07:55] #205 closed

[2017-01-28 07:55] bebraw commented on #194
Let's close in favor of #187. Better discuss there.

[2017-01-28 07:55] #194 closed

[2017-01-28 07:56] bebraw commented on #204
Can you re-open at Stack Overflow? Thanks.

[2017-01-28 07:56] #204 closed

[2017-01-28 08:01] bebraw commented on #193
Hi,

We can accept a PR for this. Either a lighter dep or what you described would work.

[2017-01-28 08:04] bebraw commented on #191
Hi,

This has been changed. The API should be clearer now. Thanks for the report.

[2017-01-28 08:04] #191 closed

[2017-01-28 08:22] bebraw commented on #79
[purifycss-webpack](https://github.com/webpack-contrib/purifycss-webpack) works well after etwp. No need to have the functionality here.

[2017-01-28 08:22] #79 closed

[2017-01-28 08:22] bebraw commented on #62
@joezimjs Can you open a separate issue about that?

[2017-01-28 08:22] #62 closed

[2017-01-28 08:23] #63 closed

[2017-01-28 08:23] bebraw commented on #75
Keep an eye on https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/89.

[2017-01-28 08:23] #75 closed

[2017-01-28 08:24] bebraw commented on #91
`use` is supported since rc0. In fact, using `loader` is illegal now.

[2017-01-28 08:24] #91 closed

[2017-01-28 08:25] bebraw commented on #105
Can you open a new issue with a standalone example to run? Easier to debug.

[2017-01-28 08:25] #105 closed

[2017-01-28 08:26] bebraw commented on #99
Closing as this was answered. Please use SO for support. 👍

[2017-01-28 08:26] #99 closed

[2017-01-28 08:27] bebraw commented on #167
I do this at [purifycss-webpack](https://github.com/webpack-contrib/purifycss-webpack). Please see the plugin for the approach.

[2017-01-28 08:27] #167 closed

[2017-01-28 08:28] bebraw commented on #161
Can you set up a little standalone example to study?

[2017-01-28 08:29] bebraw commented on #216
The trick might be in adjusting `publicPath`. Please use SO if still relevant.

[2017-01-28 08:29] #216 closed

[2017-01-28 08:39] #153 closed

[2017-01-28 08:40] bebraw commented on #162
Hi,

The syntax has been updated so it should be a little clearer now.

[2017-01-28 08:40] #162 closed

[2017-01-28 08:48] bebraw commented on #165
Yup. Let's close in favor of #200. Better continue there.

[2017-01-28 08:48] #165 closed

[2017-01-28 08:53] bebraw commented on #133
I think this should be fixed in version 2. Feel free to re-open if you can still reproduce this.

[2017-01-28 08:53] #133 closed

[2017-01-28 08:59] medigvijay commented on #354
The main difference here I can see is the import statement in index.js.
`import './main-src.scss';`
I am not sure if I want to include the file in the js file. Can I include the compiled css into one of my html files?

[2017-01-28 09:01] bebraw commented on #354
@medigvijay You have to refer to the styling files somewhere (js, entries, etc.). Otherwise the plugin cannot work as there's nothing to extract.

[2017-01-28 09:03] bebraw commented on #130
I think this has been done by a couple of plugins already. I have listed a few in [this section](http://survivejs.com/webpack/optimizing-build/adding-hashes-to-filenames/#extracting-a-manifest) (a tip at end).

Feel free to re-open the question at Stack Overflow if still relevant.

[2017-01-28 09:03] #130 closed

[2017-01-28 09:07] bebraw commented on #136
Can you try the [example](https://github.com/webpack-contrib/extract-text-webpack-plugin#multiple-instances) against the new version (currently rc)?

[2017-01-28 09:10] bebraw commented on #108
I think you could intercept the result through a plugin. I made something like this with [purify plugin](https://github.com/webpack-contrib/purifycss-webpack).

Feel free to re-open at Stack Overflow.

[2017-01-28 09:10] #108 closed

[2017-01-28 09:10] #114 closed

[2017-01-28 09:12] bebraw commented on #114
The problem with `"sass-extract": sassPlugin.extract("raw-loader!sass-loader")` is that it invokes `extract`. It's already too late after that for aliasing.

We would have to treat `extract` somehow really differently to make aliasing work. At worst webpack core would need some work.

[2017-01-28 09:20] bebraw commented on #228
Can you update your dependencies? If it still fails after that, set up a project we can run and study in detail.

[2017-01-28 09:21] bebraw commented on #45
@XVincentX Do you still have the issue?

[2017-01-28 09:57] dalimian commented on #332
Thanks for sharing. But from I saw you are using style-loader? which means ur styles are embedded in js, which would in some cases cause a flash of unstyled content - we wanted to use a css file

[2017-01-28 10:07] halt-hammerzeit commented on #332
No flash of unstyled content there

On Sat 28 Jan 2017 at 12:57 dalimian <notifications@github.com> wrote:

[2017-01-28 11:07] MoeSattler commented on #231
@bebraw due to the problems with postCSS and extract-text-webpack-plugin we moved to other solutions (namely styled-components). I am not sure if this is still an issue.

[2017-01-28 11:11] QuantumInformation commented on #231
@bebraw I'll try it later today.

[2017-01-28 12:34] filipesilva opened #371 "`rc.1` breaks when `remove: false,` property is set with `Error: No errors` message"
Versions: using `extract-text-webpack-plugin@2.0.0-rc.1`, `node@7.4.0`, OS: any
Repro steps - include `remove:false` in
[code]
Run webpack, see similar error message:
[code]

This specific message was generated using `angular-cli` (https://github.com/angular/angular-cli/issues/4264).

In there we use `remove: false,` which still seems to exist (https://github.com/webpack-contrib/extract-text-webpa

[2017-01-28 12:42] insin commented on #193
Does `async.forEach()` run in parallel?

I usually reach for one of the versions someone has extracted if I need those, e.g. https://github.com/feross/run-parallel

[2017-01-28 13:05] bebraw commented on #193
If I'm reading right, that could be written as a regular `forEach`. There's nothing async going on.

[2017-01-28 13:07] insin commented on #193
I was assuming `compilation.rebuildModule(module, function(err) {` is async due to the errback.

[2017-01-28 13:09] bebraw commented on #193
Ah, yeah. I missed that. Good point.

[2017-01-28 13:12] bebraw commented on #193
That errback handling is a little weird, though, as it doesn't pass `err` further to terminate. It does just `compilation.errors.push(err);`.

[2017-01-28 14:17] gplume commented on #364
Interresting that rc.1 throws a different error now :
[code]
Here's a gist with rc.0, move it to beta.4 and it compile, then with rc.0/1 you have the errors:
[https://gist.github.com/gplume/c935111fc9634583a43936f309a424ba](url)

[2017-01-28 14:29] bebraw commented on #364
@gplume Can you replace `loader: ExtractTextPlugin.extract` with `use: ExtractTextPlugin.extract` as instructed above? `loader` won't work anymore.

It would be ideal if you could provide something to run as it's very hard to debug otherwise.

[2017-01-28 14:36] bebraw commented on #371
Yeah. If I'm interpreting right, both `omit` and `remove` fields should be added to the [schema](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/schema/valid.json) as the pitch loader depends on those.

That error is weird, though. It should throw something about extra fields instead of `No errors`.

[2017-01-28 15:04] gplume commented on #364
How about the gist ? It runs ok if you pin to beta.4 or below. Only rc.x produce the error.
[example gist](https://gist.github.com/gplume/c935111fc9634583a43936f309a424ba)
Same errors with  ```use:```

[2017-01-28 15:11] bebraw commented on #364
@gplume Why do you have `options: '/dist/'` at `extract`? That field isn't supported by the schema.

[2017-01-28 15:32] niieani commented on #371
I'm getting the same error (`No errors`) whenever any wrong field is passed in, either when creating and instance or running `.extract`.

[2017-01-28 15:33] bebraw commented on #371
@scottdj92 Just getting you here. We probably missed a couple of test cases.

[2017-01-28 15:34] bebraw commented on #371
I see the validator bit. It should be something along

[code]

over the current code to comply with ajv API.

[2017-01-28 15:39] gplume commented on #364
Yes sorry it was a try... usually it's not here. I've moved the whole gist locally to ```use:``` and now I have webpack issues like :
[code]

[2017-01-28 16:33] bebraw commented on #371
I have a couple of fixes at #372 in case someone wants to give those a go.

[2017-01-28 16:41] filipesilva commented on #371
@bebraw I tested your branch with ` remove: false,` on the loader itself:
(`ng build` is the command that uses webpack to compile)
[code]

[2017-01-28 16:43] filipesilva commented on #371
It seems like having `remove: true` shouldn't show `data should NOT have additional properties`, since it should be a valid property.

[2017-01-28 16:46] bebraw commented on #371
@filipesilva Are you sure it's complaining about `remove: true`? You have `use: "css-loader"` in `extract`. That's not valid.

[2017-01-28 16:50] filipesilva commented on #371
I think it's `remove: false,` since everything builds correctly after I remove it.

We have some fairly involved logic but the only change I did to test is this:
![image](https://cloud.githubusercontent.com/assets/4172079/22398148/d422acf6-e579-11e6-8b66-9236c1c0163e.png)

[2017-01-28 16:51] filipesilva commented on #371
To be perfectly honest, the example I gave originally was from the readme and not our code per se: https://github.com/webpack-contrib/extract-text-webpack-plugin#usage

[2017-01-28 16:51] bebraw commented on #371
@filipesilva Thanks for pointing that out. The readme example needs tweaking.

[2017-01-28 16:55] michael-ciniawsky commented on #371
@bebraw  Yep my bad I though `use` is also supported inside `extract-text-plugin` (it should 😛 ) I will fix asap `loader` is definitely the go to ?

[2017-01-28 17:01] bebraw commented on #371
@michael-ciniawsky #373 for the fix. `loader`/`fallbackLoader` seems sane.

Just improving the other fix based on @filipesilva's feedback.

[2017-01-28 17:04] TheLarkInn commented on #370
Hmm, @Sokra we could do this but I'm not sure if schema could catch.

[2017-01-28 17:06] bebraw commented on #371
@filipesilva Alright. Would you mind giving another go? There was some wiring to do.

[2017-01-28 17:09] filipesilva commented on #371
@bebraw now I get this one:
[code]

[2017-01-28 17:11] bebraw commented on #371
@filipesilva Gotcha. I added `array` there (missing). Let's hope it passes now. 👍

[2017-01-28 17:13] filipesilva commented on #371
The latest commit seems to work! I also tested with `omit: false` and did not get any validation errors.

[code]

![image](https://cloud.githubusercontent.com/assets/4172079/22398282/1f78e104-e57d-11e6-8371-3ca9102ec4ab.png)

[2017-01-28 17:24] bebraw commented on #371
@filipesilva Awesome. Thanks for confirmation. 👍

[2017-01-28 17:28] filipesilva commented on #371
Thanks for taking the time to fix this so promptly!

[2017-01-28 17:36] #371 closed

[2017-01-28 21:13] scottdj92 commented on #351
Are we closing this, now that [#358](https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/358) is merged?

[2017-01-28 21:15] scottdj92 commented on #245
Have you tried it in a project? As far as I know, this plugin supports passing in parameters as a string.

[2017-01-28 21:16] bebraw commented on #351
Yeah, good point.

[2017-01-28 21:16] #351 closed

[2017-01-28 23:29] QuantumInformation commented on #231
this worked fine: )

https://github.com/quantumjs/solar-popup/blob/master/webpack.config.js#L30

[2017-01-29 02:12] #231 closed

[2017-01-29 07:44] bebraw commented on #299
Could you include a whole project? It's possible your configuration is correct, but you are missing something like references to CSS to extract.

[2017-01-29 07:44] bebraw commented on #298
Can you include a whole project to study?

[2017-01-29 07:46] bebraw commented on #332
Have you seen [isomorphic-style-loader](https://www.npmjs.com/package/isomorphic-style-loader)?

[2017-01-29 07:48] bebraw commented on #271
I think you could pull this off using a post-process plugin. It would have to pick up the initially generated files, concat as you like, and emit a new one. I've done something related at [purify plugin](https://github.com/webpack-contrib/purifycss-webpack) and you may want to study it to understand the technical side better.

ExtractTextPlugin doesn't support this behavior itself.

[2017-01-29 07:48] #271 closed

[2017-01-29 07:49] bebraw commented on #294
Could someone set up a standalone project to study?

[2017-01-29 09:09] bebraw commented on #364
@gplume Can you set up an entire repository for me to clone? It's easier for me to see what's going on then. Note that you should use `loader` within the plugin definition itself. The error sounds like something else, though.

[2017-01-29 10:15] bebraw commented on #74
Can you re-open this at Stack Overflow for more ideas? Thanks.

[2017-01-29 10:15] #74 closed

[2017-01-29 10:18] bebraw commented on #128
@d3viant0ne I guess this will be solved once we get this project to follow the standard structure, right?

[2017-01-29 10:19] bebraw commented on #138
@ChrisCinelli Let me know if you want to pitch in still. We have more active effort going on and we can support more developers.

[2017-01-29 10:19] #138 closed

[2017-01-29 10:21] #127 closed

[2017-01-29 10:22] bebraw commented on #125
The configuration has changed quite a bit. Please use Stack Overflow support if this is relevant still.

[2017-01-29 10:22] #125 closed

[2017-01-29 10:25] bebraw commented on #94
This should be fixed now.

[2017-01-29 10:25] #94 closed

[2017-01-29 10:26] bebraw commented on #85
#167 covers how to achieve post-processing.

[2017-01-29 10:26] #85 closed

[2017-01-29 10:27] bebraw commented on #83
The API should be far clearer now. Closing.

[2017-01-29 10:27] #83 closed

[2017-01-29 10:28] bebraw commented on #78
Answered. Closing.

[2017-01-29 10:28] #78 closed

[2017-01-29 10:30] bebraw commented on #210
@splurtcake Can you open a separate issue if that's still present in the current RC?

[2017-01-29 10:30] #210 closed

[2017-01-29 10:30] #209 closed

[2017-01-29 10:31] #197 closed

[2017-01-29 10:32] bebraw commented on #190
@dnewcome Can you try this against the current RC?

[2017-01-29 10:32] bebraw commented on #187
Can you push this question to Stack Overflow? Thanks.

[2017-01-29 10:32] #187 closed

[2017-01-29 10:34] bebraw commented on #179
I think you might need a post-process plugin for this. If someone is interested, I've done something similar at [purify plugin](https://github.com/webpack-contrib/purifycss-webpack). You'll need to dig out the emitted CSS and concat as you want.

[2017-01-29 10:35] bebraw commented on #175
This is a core issue. Not much we can do here.

[2017-01-29 10:35] #175 closed

[2017-01-29 10:35] bebraw commented on #174
Closing in favor of #120.

[2017-01-29 10:35] #174 closed

[2017-01-29 10:36] bebraw commented on #164
Can you expand on your use case? The idea of this plugin is to extract a file. Why to use it otherwise?

[2017-01-29 10:36] #151 closed

[2017-01-29 10:37] bebraw commented on #226
Let's close.

[2017-01-29 10:37] #226 closed

[2017-01-29 13:33] gplume commented on #364
I thought the zipped gist could help? I've updated it to make use of ```use:``` and pinned it to beta.4.
``` npm install && npm run build ``` put you into context.
As soon as you upgrade extract-text plugin to rc.x, it fails.

[2017-01-29 14:20] bebraw commented on #364
@gplume Ok, got it.

The issue happens because font-awesome-loader has a line like this in its pitch phase:

[code]

Since `extract` returns an object now, it will stringify it as `[object Object],[object Object],[object Object],[object Object]` for the loader query and that won't obviously work here since we don't support that form at the moment.

@insin Any thoughts on this? It's a little tricky

[2017-01-29 14:48] bebraw commented on #364
@gplume Here's a potential fix if you want to try it out, https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/374 .

[2017-01-29 14:49] bebraw commented on #370
I think we might not need this after all. Looks like implementing a custom `toString` for `extract` solves it. See https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/374 for details.

I'm not sure how to handle functions (postcss) in this case, but @sokra can probably give some insight to that.

[2017-01-29 15:10] scottdj92 commented on #113
What would be the use case for this? Would people prefer a single error to be printed out, rather than a large chunk? What happens if there's duplicate errors in multiple files?

[2017-01-29 17:14] bebraw commented on #230
This change isn't going to happen.

[2017-01-29 17:14] #230 closed

[2017-01-29 17:15] bebraw commented on #144
Can you try against webpack 2?

[2017-01-29 17:17] bebraw commented on #245
Closing due to inactivity. On a quick look, that should work if you are using the old version.

[2017-01-29 17:17] #245 closed

[2017-01-29 17:23] michael-ciniawsky commented on #128
yep standard version generates a CHANGELOG.md following `git tags` and extract them based on the angular commit convention, so at mininum commits starting from the last (current)  tag must be reworded to follow the convention

[2017-01-29 17:25] bebraw commented on #128
@michael-ciniawsky Is it possible to lint PRs against the commit convention? I think that would help a lot.

[2017-01-29 17:35] michael-ciniawsky commented on #128
@bebraw https://github.com/marionebl/conventional-changelog-lint [+ https://gitcop.com/]

[2017-01-29 18:21] bebraw commented on #128
@michael-ciniawsky 👍 Thanks.

[2017-01-29 18:28] d3viant0ne commented on #128
We have a standard setup for this, i'll PR it in shortly. See webpack/webpack#4104

[2017-01-29 21:49] jgliner opened #375 "Build failing with "Error: data['notExtractLoader'] should NOT have additional properties" - Is notExtractLoader still supported?"
Hi, my build has been failing for the past day or two. I have tried updating to the latest version (rc.2), as well as rolling back a couple versions with no success. I did some digging and found out that `notExtractLoader` from my webpack config

Stacktrace:
[code]

Going into the commit history, I have determined that [03bb4aa](https://github.com/webpack-contrib/extract-text-webpack-plugin/commit

[2017-01-29 23:13] joezimjs opened #377 "Specify Output Path"
I'd like a way to just specify a path where the file is being written without using `../styles/` because otherwise the AssetsPlugin generates this:

[code]

adding an additional `path` for the output of the CSS file would be helpful and more explicit

[2017-01-30 03:31] bebraw commented on #375
`loader: ExtractTextPlugin.extract` should become `use: ExtractTextPlugin.extract`. I have a fix for `loader`, but it's waiting on feedback from Tobias.

[2017-01-30 03:33] bebraw commented on #375
The validation fails because `notExtractLoader` field does not do anything. I think you may have meant `fallbackLoader`.

[2017-01-30 03:36] bebraw commented on #375
That example should be fixed. Sounds like that wasn't updated when the loader was updated in the past.

[2017-01-30 04:54] jgliner commented on #375
Got it. Thanks!

[2017-01-30 07:44] scott-thrillist commented on #250
@rohmanhm How exactly did you require your .scss file? I'm under the impression you don't have to do this if you use ExtractTextPlugin

[2017-01-30 09:17] ashraffayad commented on #282
I get the same error ".css doesn't export content" after updating the plugin from 2.0.0-beta.4 to 2.0.0-rc.2

my config is as following:

[code]

detailed error:

[code]

[2017-01-30 09:20] bebraw commented on #282
@ashraffayad Did you try `use: ExtractTextPlugin.extract` as instructed in the readme?

[2017-01-30 09:44] ashraffayad commented on #282
@bebraw Actually yes. I tried the following. I still get the same error

[code]

[2017-01-30 09:52] bebraw commented on #282
@ashraffayad Can you open a separate issue with an example (repository)? I can't fix with partial information.

[2017-01-30 09:55] ashraffayad commented on #282
Thanks. I will do that.

[2017-01-30 09:57] michael-ciniawsky commented on #282
[code]

@ashraffayad Can you show your `postcss.config.js` please, are you using `postcss-scss`+ `stylelint` ?

[2017-01-30 11:12] mastertinner commented on #352
I'm having the same error using the [Angular-CLI](https://github.com/angular/angular-cli) Webpack config and importing a single `.css` file from a `.scss` file.

[2017-01-30 11:30] sbaynham-af opened #379 "text-webpack"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).
2. If the issue is still there, write a minimal project showing the problem and expected output.
3. Link to the project and mention Node version and OS in your report.

**IMPORTANT! You should use [Stack Overflow](https://stackoverflow.com/) for support related quest

[2017-01-30 11:48] rohmanhm commented on #250
@scott-thrillist I just write `require('path/to/file.scss')` to my `index.js`. How can I do that without requiring `.scss` file?

[2017-01-30 11:50] ashraffayad commented on #282
@michael-ciniawsky Thanks for the effort. I will try the configuration you suggested. The problem appeared after I ran `npm update` .
So I restored the old package.json and the node_modules folder, deleted the old plugin folder, updated the package.json with the new version manually, then ran `npm install`
now it works fine.

I configure postcss that way:
[code]
Don't mind the context: process.cwd

[2017-01-30 11:57] bebraw commented on #379
Hi,

Missing issue description. Could you add that?

[2017-01-30 12:51] amazingcode-de opened #380 "2.0.0-rc.2 might break the build (ajv)"
Listing ajv in devDependencies and not explicitly in dependencies might break the build of packages relying on extract-text-webpack-plugin. ajv might not be installed at all or might be resolved to a wrong version.

In our specific project, we have ajv@5.0.1-beta.0 as dependency in our main package.json, leading to the following error, since extract-text-webpack-plugin expects ajv to be version 4

[2017-01-30 12:55] michael-ciniawsky commented on #380
@amazingcode-de Yep that should be fixed, good catch.
Do you want to send a PR for it?
Otherwise I will do it when I have a few minutes :)

[2017-01-30 12:59] michael-ciniawsky commented on #352
@mastertinner webpack.config.js and one component you import styles to please :)

Did angluar-cli already update to `extract-text-plugin` v2-rc? Could you open an issue there aswell either asking to update or to investigate further?

[2017-01-30 13:00] aight8 commented on #352
I sadly don't know how I fixed this issue, I deleted the nodes_modules and cache etc. but maybe it was a slight config change. I try to put here more infos when I know more...

[2017-01-30 13:02] bebraw commented on #380
Merged.

[2017-01-30 13:02] #380 closed

[2017-01-30 13:22] michael-ciniawsky commented on #352
@aight8 Where do yu setup postcss options, does it work without it? Could you please post the config `postcss.config.js`, `webpack.config.js`, ?`angularrc` (I don't use angular 😛)

[2017-01-30 14:57] developer94404 commented on #168
just a note:

using npm 4.x on my system:

1. on my system, installing using node v4.x fails, and gives:
npm WARN peerDependencies The peer dependency webpack@^1.9.11 included from extract-text-webpack-plugin will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
n

[2017-01-30 15:46] scott-thrillist commented on #250
@rohmanhm gotcha and thanks, I figured this out myself as well but it seems completely backwards to require a CSS/SASS entry point within a javascript import. I guess this is because webkit assumes you'll let it do it's thing with regards to letting it stick CSS wherever it seems necessary.

Wish the docs were more fleshed out on this!

[2017-01-30 15:54] scott-thrillist commented on #263
Since Google brought me here and @rohmanhm found the issue in [this thread](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/250#issuecomment-274522317), I'll post it here in hopes of helping save someone from the hours of work of missing a single line :-p

In your app's entry JS file you must require the SASS entry point. So in my app.js I have this near the top:

`require("m

[2017-01-30 16:23] scottdj92 commented on #365
Isn't this resolved with the new JSON schema validation now? It'll throw an error if none of the correct properties are passed in.

[2017-01-30 16:34] bebraw commented on #365
The validation will catch typos, yup. I'm still a little puzzled on the original report as there's no project to test.

`fallbackLoader` would come into play with code splitting (`require.ensure`/dynamic `import`) and `allChunks` option. If you don't extract all, then it needs some fallback. Normally you configure it to inline that styling.

[2017-01-30 16:34] #379 closed

[2017-01-30 17:36] aight8 commented on #352
angularrc I dont use either ;) The post css is basically just that:
[code]

The config is generated and is quite complex. I will extract the effective generated client webpack config when I'm back on this tasks.

[2017-01-30 17:47] #375 closed

[2017-01-30 19:38] thiagof commented on #58
The issue seems on understanding the tool (or documenting).

I was expecting that the Text Extracted would be match and separated in common chunks. **But no**.
What *seems* to be matched as common are file names.

So if you import in sass code, it will not match

[code]

What works are importing in javascript the required files, even if they are scss.

[code]

This is correct to assert?

[2017-01-30 20:25] lukasgeiter commented on #113
@scottdj92 Interestingly enough this is actually not a problem for me anymore. I can't say whether it was an update (of webpack or this loader) or if a change I made in my configuration fixed it.
I'm not the OP, but if it were up to me, this issue can be closed.

[2017-01-30 20:57] sokra commented on #370
Actually `loader: Array` is supported for backward-comp.

`use: {loader: Array}` should be catched by the schema.

[2017-01-30 20:58] scottdj92 commented on #113
@lukasgeiter can you share what version of webpack and ExtractTextPlugin you're using?

I agree, I'd wait for @romeovs to report back before closing.

[2017-01-30 21:04] lukasgeiter commented on #113
@scottdj92 Sure.
webpack: 1.13.0
extract-text-webpack-plugin: 0.9.1

[2017-01-31 08:21] bebraw opened #382 "Move API to use/fallback in v2"
To comply with `use`, the API should look like this (to quote @sokra):

[code]

We probably should give deprecation messages for the old fields.

[2017-01-31 10:59] maxlibin commented on #354
I am using webpack 1

[2017-01-31 11:11] bebraw commented on #354
@maxlibin Any chance you could update to webpack 2? I would need a standalone project to say anything concrete. Make sure your code points to the CSS to extract as otherwise it won't pick it up.

[2017-01-31 12:04] mastertinner commented on #352
@michael-ciniawsky, the Angular-CLI doesn't let you configure your own `webpack.config.js` but I believe that it's using this config: https://github.com/angular/angular-cli/tree/master/packages/angular-cli/models/webpack-configs. In our case, we are importing a `.scss` which contains the following line: `@import some/file.css`. That's where the problem happens.

[2017-01-31 12:09] bebraw commented on #370
Alright. No need to do anything about this then. The error that lead to this issue had to do with another loader that doesn't work with the new scheme. Since `extract` appears to work against `loader:`, there's not much to do here.

[2017-01-31 12:09] #370 closed

[2017-01-31 12:16] bebraw commented on #364
We discussed about this. It's actually a `font-awesome-loader` issue to fix now as `ExtractTextPlugin` won't emit a string by design (problematic with function based configuration). So instead of hacking around with a custom `toString` we'll document how to fix the loader instead.

[2017-01-31 12:16] #364 closed

[2017-01-31 12:16] bebraw opened #383 "Document how to fix pitch loaders like font-awesome-loader"
We should document briefly how to fix loaders like font-awesome-loader to work with v2.

[2017-01-31 12:18] bebraw commented on #366
The old style (` loader: extractTextPlugin.extract`) should work too as webpack core supports the legacy format (tried it out). I would need a standalone project to do anything about this issue. This is blocking the release at the moment.

[2017-01-31 12:19] bebraw commented on #330
@xeho91 Any news on this? This is a blocking final release. A standalone project to study would be ideal. Note that `loader:` format should work too. There's rc2 available now.

[2017-01-31 12:28] khankuan commented on #365
Hmm, is falling back to inline style a common pattern? I feel like it is more dangerous to have styles loaded magically. I have not used chunking much, is it a common pattern to load styles by inline?

[2017-01-31 12:30] frederikprijck commented on #330
@bebraw To me it's working. But well, I didn't file the issue so I guess that doesn't matter. But I did solve my reproduction sample mentioned previously (https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/330#issuecomment-271635246).

To summarize, I'm succesfully using the following versions:

- webpack 2.2.0 (final)
- extract-text-webpack-plugin: 2.0.0-rc.1

Together with the

[2017-01-31 12:32] bebraw commented on #365
That's the way it has been specified by the current code. You would need to tweak `allChunks` to get the behavior you want.

I would need a repository to study to say more about the error. There's no other way I can fix it.

[2017-01-31 12:34] bebraw commented on #330
@frederikprijck Ok, excellent to hear. Often it's hard to work with issues like this as the information tends to be partial (not much to work with), but still cool. 👍

[2017-01-31 12:50] khankuan commented on #365
Ic. Hmm double check, regardless of the configurations (allChunks, fallbackLoader etc), it is expected the the plugin would error out when the file contains error? I can't seem to find tests on error, do you think it'll help if we start with writing a test?

[2017-01-31 12:52] bebraw commented on #365
I don't know what emits the error yet. Not enough info yet to tell.

[2017-01-31 12:57] khankuan commented on #365
Sorry I might have been unclear, the error above was resolved after reinstalling node modules. However, the confusion is when webpack did not exit with error after that.

[2017-01-31 13:02] bebraw commented on #365
Ah... I see. There's something known as `bail` flag you can set on configuration root. If I remember right, webpack does not stop building by default.

Thanks for confirming it works now. Time to close.

[2017-01-31 13:02] #365 closed

[2017-01-31 13:06] khankuan commented on #365
Ah interesting, didn't know about that option. Thanks!

[2017-01-31 13:14] Rob-Leggett opened #384 "Unable to HMR (Hot Module Replacement) css/scss with Webpack 2.2.0 and webpack-dev-server 2.2.1"
**Versions**

"extract-text-webpack-plugin": "^2.0.0-rc.2",
"webpack": "^2.2.0",
"webpack-dev-server": "^2.2.1"

**Issue**

"extract-text-webpack-plugin": "^1.0.1",
"webpack": "^1.14.0",
"webpack-dev-server": "^1.16.2"

No longer able to HMR css/scss since upgrading to version 2, changing the styles triggers a change (see output sample below) but I have to manually refresh the page to see the chan

[2017-01-31 13:16] Rob-Leggett commented on #384
FYI - posted on stack overflow as well - http://stackoverflow.com/questions/41958586/unable-to-hmr-hot-module-reload-css-scss-with-webpack-2-2-0-and-webpack-dev-se

[2017-01-31 13:16] michael-ciniawsky commented on #352
@mastertinner thx, does SASS support plain `.css` @import(s) ? I will take a deeper look at the cli webpack config(s) when I have time

[2017-01-31 14:11] mastertinner commented on #352
@michael-ciniawsky, yes it does. It has worked up until a few days ago :)

[2017-01-31 17:18] sajidali commented on #384
As stated in the github main page of this plugin:
**Caveats:**  "No Hot Module Replacement"

You should not use this plugin while development, it is still useful for creating build for production.
You can create two webpack config files, one for dev and one for prod, that might help for both scenarios.

[2017-01-31 18:15] realseanp opened #385 "Styles.css import doesn't export content rc.1"
Using 2.0.0-rc.1 with webpack 2.1.0-beta.25 I get the following error:

[code]

[code]

Reverting to 2.0.0-rc.0 fixes the issue

[2017-01-31 22:12] Rob-Leggett commented on #384
Fair point but I am confused as to why using version 1 on the library I was getting hot module replacement but version 2 of the library it is not available/working?

[2017-01-31 22:25] dtothefp opened #386 "Code Splitting with 2.0.0-rc.2 results in "Error: Order in extracted chunk undefined""
I saw a bunch of issues related to code splitting with extract-text-plugin.
- https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/208
- https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/120
- https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/106

We were seeing the issue of using `require.ensure` and CSS was not extracted, but remained in t

[2017-01-31 23:53] sajidali commented on #384
Even in version 1, extract-text-webpack-plugin don't support HMR.
https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/webpack-1/README.md
you can clearly see in above documentation page for v1 page,

**Caveats:** "No Hot Module Replacement"

[2017-02-01 00:29] jaydenseric commented on #382
Should it not be `loader: ETP.extract({`?

When did `fallbackLoader` get replaced with a `fallback` array? The readme must need updating.

Also, just want to clarify mixing objects and strings in `use` arrays will be ok, [like with webpack](https://webpack.js.org/configuration).

So:

[code]

[2017-02-01 03:44] bebraw commented on #382
Hi,

This change hasn't been done yet. That's why the READMe isn't done yet.

The old `loader: plugin.extract` legacy syntax is still supported although `use` is preferred.

[2017-02-01 05:11] deecewan opened #387 "Multiple extract configurations going to the same place"
Using the latest (2.2.0-rc2) plugin with the latest (2.2.1) webpack with Node 7.4.0.

I have a couple of CSS files inside of node modules from other packages that I want to include.  However, they need to use a different config.  I am using `css-loader?module` for my CSS, and I'll need to use `css-loader` for the external CSS, because otherwise it will encode it with CSS modules.

The config I tri

[2017-02-01 05:17] deecewan commented on #387
I may well be over-tired...

It was because I was running in Dev Mode, and the config was being to not use the plugin.

[2017-02-01 05:17] #387 closed

[2017-02-01 07:49] bebraw commented on #386
I wonder if we should merge those three into this one. Am I correct to assume this didn't work earlier even?

[2017-02-01 07:50] bebraw commented on #385
Any chance for a little project to study?

[2017-02-01 12:47] Loilo commented on #384
I've had my own very simple way of HMR with webpack 1 based on the `chunk.rendered` flag using webpack's `watch` mode. This flag is now (falsely) set to `false` all the time.

Is this already part fo HMR? I guess webpack's basic asset watching should work anyway—or am I missing something important?

[2017-02-01 18:33] sylvesteraswin commented on #265
I have been breaking my head to fix this issue and I can confirm this format worked
[code]

[2017-02-01 22:31] Rob-Leggett commented on #384
While the documentation states **Caveats**: "No Hot Module Replacement", the documentation and behaviour do not match.

Checkout the following repo and commit to see HMR working perfectly with version 1, recompiling the css and refreshing the browser to automatically see the styling change.

Repo: https://github.com/Rob-Leggett/react_redux_webpack
Commit: 0d976fa734e6b8d197fe1bee58cd4ed974985854

[2017-02-02 05:34] bebraw commented on #384
The internal API changed in webpack 2. We would welcome a PR adding HMR support, but it's not simply supported at the moment. It's better to have development specific configuration (multiple ways to do that) and it's faster too that way.

There was some initial effort at https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/89 if you are interested in working on this.

[2017-02-02 05:34] #384 closed

[2017-02-02 05:35] zxbe commented on #384
The 'hot-update.js' file:
[code]
The bowser will reflush , but the method is return null. So the styles is not change.

[2017-02-02 08:39] bebraw commented on #383
Related: https://github.com/shakacode/font-awesome-loader/issues/7 .

[2017-02-02 10:07] jantimon opened #389 "Extract Text Plugin does not work in child compilations"
From https://github.com/jantimon/html-webpack-plugin/issues/579

The root problem is that the extract text plugin uses kind of a hack to communicate between loader and plugin. (See here https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/index.js#L216-L227 and here https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/loader.js#L26)
This hack works only

[2017-02-02 10:14] bebraw commented on #389
This actually raises an interesting question. How to associate a loader or loaders with some specific plugin? Perhaps this means there needs to be a concept of identity. webpack core already uses something known as `ident`. If we went with that, you would pass `ident` field through a loader/plugin to associate them with each other (probably many to many should work too).

[2017-02-02 10:21] ixrock commented on #307
same problem, chrome devtools console outputs after i edited css:
[code]

and `webpack-hot-middleware/client?reload=true` included in webpack's config `entry` doesn't help anymore (it was working with webpack2)
and need to refresh the page manually after that to see style changes..

[2017-02-02 11:53] uncleyo commented on #307
which version are you using?

[2017-02-02 12:08] ixrock commented on #307
@uncleyo
[code]
Currently i decide to split dev/prod style loading workflow and use normal `style-loader` for development which supports HMR as it should be,
Previously I've getting full page reloading every time with extracted styles flow in development which is not always was good for me.

[2017-02-02 12:29] krazi3 commented on #179
@Findiglay Your solution helped me. Thanks

[2017-02-02 12:35] bebraw commented on #179
@krazi3 You are right. This is more of a documentation issue. Tagged accordingly.

[2017-02-02 17:46] aight8 commented on #352
I realised that if I using css-loader v0.14.x it's working again. don't know if this is the problem.

[2017-02-02 21:12] wheelerlaw commented on #215
@TNT-Likely Did you add the `ExtractTextPlugin` plugin to the list of plugins? Do something like this in your webpack.config.js:
[code]
@aronlmin You are using the wrong syntax for the `extract` method call. The syntax you are using is for the latest version of the `extract-text-webpack-plugin`. For version 1, change it to look like this:
[code]

[2017-02-03 02:16] Invis1ble commented on #58
@deepsweet

Can you share your modification please? I'm new in webpack but seems I have the same issue and I can't get how to workaround it :(

Here is my config:

[code]

After generating I have no `common.css`, but there are `common.js`, `foo.js`, `bar.js`, `foo.css` and `bar.css`.

[2017-02-03 09:22] deepsweet commented on #58
@Invis1ble sorry I don't remember any details of my workaround, it was almost 2 years ago.

[2017-02-03 17:07] rjlee7 commented on #278
I have the same issue, angular 2.4.3 and "extract-text-webpack-plugin": "^2.0.0-rc.2".

[2017-02-03 17:47] dtothefp commented on #386
@bebraw I made this repo for isomorphic rendering of react-router with code splitting

https://github.com/dtothefp/isomorphic-react-router-code-splitting

I'm using `require.ensure` in the router `getComponent`, and in the isomorphic build I use [babel-plugin-remove-webpack](https://www.npmjs.com/package/babel-plugin-remove-webpack) to convert it to a synchronus require. In the [webpack config set

[2017-02-03 18:34] dtothefp commented on #80
@bebraw as mentioned in https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/386 I'm experiencing this issue only when `allChunks: true` is specified. I've seemed to resolve it with re-ordering my `compose` statements, I have no idea why this works but probably related to the discussion listed above https://github.com/css-modules/css-modules/issues/12

Consider I have the followin

[2017-02-03 18:40] bebraw commented on #80
@dtothefp I don't understand CSS Modules specification enough to say whether or not that's according to the spec. You could ask them. It's possible the issue is on webpack side as there are a lot of issues like this at the moment (ordering, async, etc.).

[2017-02-03 20:07] thallada commented on #265
Can some one add an example to the README on how to specify options to a loader in the list of loaders passed to the ExtractTextPlugin in webpack 2+? I'm still not clear on the syntax ("use" vs. "loader" and "options" vs. "query").

[2017-02-03 22:04] sajidali commented on #384
Can you try this
https://github.com/shepherdwind/css-hot-loader
Give your feedback if it works.

[2017-02-03 22:32] ankitc1010 commented on #263
The loader config.
{loader: ExtractTextPlugin.extract({loader: ['css-loader', 'sass-loader']}),
        test:/\.s?css$/}

I am using Webpack 2 and extract-text-webpack-plugin@2.0.0-rc.1

[2017-02-03 23:29] dtothefp commented on #80
@bebraw is this in fact an actual "error" that should fail the build from compiling or could it be change to a "warning"?

[2017-02-04 07:45] bebraw commented on #80
@dtothefp Error might be fine. It comes from [here](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/8232a3e5c5c719c1a56228fed0c3d12a0c90eded/index.js#L300). I guess the question becomes, why the modules are sorted wrong in that particular case. If you have time, try to build a small test case to catch your error. That's the first step towards solving this.

[2017-02-04 08:03] joscha commented on #80
@bebraw @dtothefp potentially the test case from #166 could work in order to find the root cause.

[2017-02-04 08:07] bebraw commented on #80
@joscha Thanks for the heads up. I'll try to get some insight from Tobias. I can see it's affecting a lot of people so it would be great to get that PR merged.

[2017-02-04 08:34] #382 closed

[2017-02-04 09:07] bebraw commented on #386
There's `ignoreOrder` flag now. Please give it a go.

[2017-02-04 09:09] bebraw commented on #366
@phun-ky Can you set up a standalone example? This is one of the final issues blocking a release.

[2017-02-04 10:04] Dreampie opened #392 "ExtractTextPlugin font path not found"
[code]

[2017-02-04 11:07] bebraw commented on #392
Hi,

Can you set up a little repository showcasing the issue? Easier to debug.

[2017-02-04 12:19] PartyArk commented on #278
The problem here is that the plugin expects the commonjs module resolution format. But your aot compiler uses a separate config, using the es2015 resolution.

The two aren't compatible. specifically, in the loader.js, we have:

[code]
I don't know what the resolution is. Is it possible to require the commonjs synatax? I'm a bit out of my depth, but that's the issue.

[2017-02-04 14:17] PartyArk commented on #278
If I uncomment just the AOT plugin then it all works. So it's corrupting something.

My initial thought was that the AOT plugin uses a different tsconfig, but I don't think that's it.

I'm using -
[code]

[2017-02-04 22:58] ngocketit commented on #104
I got similar issue when trying to use `webpack-dev-middleware` with an existing express server. The server code is also compiled and bundled by Webpack and therefore I need to require Webpack (along with its config file) in a server module, which as @shama mentioned, makes Webpack seem to try to bundle itself. The fix is to make `webpack` an external in `webpack.config.js`.

[2017-02-05 01:07] dtothefp commented on #386
@bebraw thanks...this works for my use case!!

[2017-02-05 05:49] bebraw commented on #386
Ok, let's close then.

[2017-02-05 05:49] #386 closed

[2017-02-05 13:01] khankuan commented on #265
@thallada i've tried the following with success:
[code]

[2017-02-05 16:01] nowaalex commented on #296
Finally it works!

[2017-02-05 20:04] d3viant0ne commented on #265
@thallada - Could you please open a new issue so this can get properly documented as there is an obvious gap. Your requests stands a really good chance of getting lost in the black hole that is old / closed issues.

[2017-02-06 06:52] Measy commented on #173
@pandada8  it seems node v6.9.0 still has the problem, do i need to return back old version? as follows
`var path = require('path');
var webpack = require('webpack');
var ExtractTextPlugin = require('extract-text-webpack-plugin');
var HtmlWebpackPlugin = require('html-webpack-plugin');
module.exports = {
    entry: {
        index: "./src/js/page/index.js"
    },
    output: {
        path: path.j

[2017-02-06 08:05] Measy commented on #173
@Prairie-Falcon  does this has been resolved? i have the same question

[2017-02-06 08:34] phun-ky commented on #366
Sorry for the late reply! Sure thing! Will do later tonight, at work
atm.

---
ALEXANDER VASSBOTN RØYNE-HELGESEN
Lover of life, technologist at heart
+47 997 98 910

alexander@phun-ky.net | http://phun-ky.net |
https://no.linkedin.com/in/alexanderroyne

TVETERVEIEN 33B
1344 HASLUM
NORWAY

The content of this email is confidential and intended only for the
person to whom it is addressed. If you are

[2017-02-06 14:48] csonlai commented on #366
I meet the same problem when using webpack2

[2017-02-06 14:49] xavica commented on #375
Is this issue fixed? we still facing same issue.

[2017-02-06 14:54] bebraw commented on #366
@csonlai I'm still waiting for an example. No way to fix unless someone provides one.

[2017-02-06 14:55] bebraw commented on #375
It's fixed, yeah. Read the validation message carefully.

[2017-02-06 16:28] bebraw commented on #294
@KELiON Any luck with getting a little demo to study?

[2017-02-06 19:37] kazagkazag commented on #263
My package.json:

`
"webpack": "2.2.1",
"extract-text-webpack-plugin": "2.0.0-rc.3",
`

Config:

[code]

And it works finally...

[2017-02-06 20:23] phun-ky commented on #366
https://github.com/phun-ky/webpack-2-extract-text-plugin-example

here it is. It occured to me, that if this is run with `webpack -p`, no css is in the `/assets/app.js` file, but with `webpack`, I get the css in the file.

I will have to research a bit more, because I reported this issue with webpack run programatically, not via cli, with `process.NODE_ENV=production`

[2017-02-06 20:42] whisher commented on #263
Hi there this work for me:

`{
        test: /\.scss$/,
        exclude: [helpers.root('src', 'app')],
        use: ExtractTextPlugin
          .extract({
            fallbackLoader: 'style-loader',
            loader: [
              { loader: 'css-loader', query: { modules: true, sourceMaps: true } },
              { loader: 'sass-loader'},
              { loader: 'postcss-loader'},

[2017-02-07 02:11] everedifice opened #393 "using `use` property cause webpack2 bundling error"
1. Check the version of package you are using. If it's not the newest version, update and try again (see changelog while updating!).

i use `extract-text-webpack-plugin 2.0.0-rc3` and `webpack 2.2.1`

2. If the issue is still there, write a minimal project showing the problem and expected output.

using 'use' property name on both (webpack's rules and plugin option) cause bundling error.

[code]

[2017-02-07 02:23] michael-ciniawsky commented on #393
@everedifice

[code]

[2017-02-07 02:25] michael-ciniawsky commented on #393
Inside of a `rules.use[i]`  the loader `{Object}` still uses `loader` => `{ loader: 'name-loader', options: {} }`

[2017-02-07 02:48] everedifice commented on #393
@michael-ciniawsky in that case. cause error on `RuleSet`

[code]
![2017-02-07 11 46 31](https://cloud.githubusercontent.com/assets/1061205/22675816/36b2750a-ed2b-11e6-89d2-08cf151a8198.png)

[2017-02-07 03:14] michael-ciniawsky commented on #393
@everedifice `[ { loader: 'css-loader' } ] => [ 'css-loader' ]` you only need an `{Object}`  when using options **(but both should work)**, also the error is caused by `eslint-loader`, can you try without it please?

[2017-02-07 03:18] michael-ciniawsky commented on #393
Guessing the error is thrown bc it should be like  `use: [ { loader: 'eslint-loader', options: { configFile: './.eslintrc'} } ]` instead of `{ use: [ 'eslint-loader' ], /* => options: { configFile: './.eslintrc'} <= */ }`

[2017-02-07 03:41] githoniel commented on #239
the same to me. i had to close css sourcemap

"webpack": "^2.2.0",
"extract-text-webpack-plugin": "^2.0.0-rc.2",

[code]

[2017-02-07 04:43] liuqipeng417 commented on #27
@woohling you should look this
webpack 1:
[code]

Creates an extracting loader from an existing loader.

* `notExtractLoader` (optional) the loader(s) that should be used when the css is not extracted (i.e. in an additional chunk when `allChunks: false`)
* `loader` the loader(s) that should be used for converting the resource to a css exporting module.
* `options`
  * `publicPath` override the `pu

[2017-02-07 04:58] everedifice commented on #393
I moved all options of loader to query string. `eslint-loader?configFile=./.eslintrc`, `file-loader?name=[name].[ext]` then works properly.

I think that options of library, plugins are not completely refactored. So i pass configuration to query string method for now.

[code]

[2017-02-07 05:17] michael-ciniawsky commented on #393
[code]

You can try it if you like and have the time, otherwise if it works for now please close the issue :)

[2017-02-07 05:30] everedifice commented on #393
@michael-ciniawsky It works. thank you very much!

[2017-02-07 05:30] #393 closed

[2017-02-07 06:44] DaWiii commented on #263
update extract-text-webpack-plugin to v2.0.0-beta.4, it's work.

[2017-02-07 07:12] rohmanhm commented on #263
@DaWiii the new version is v2.0.0-rc.3 dude, https://github.com/webpack-contrib/extract-text-webpack-plugin/commit/e831507573feff824ef2c3c3c4a8fc971f278bc7

[2017-02-07 12:30] mattlewis92 commented on #239
I was getting the same error but fixed it by upgrading to 2.0.0-rc.3 and using the new fallback / use config style: https://github.com/webpack-contrib/extract-text-webpack-plugin/releases

[2017-02-07 14:53] bebraw commented on #366
@phun-ky I get `/assets/app.css` with and without `-p`. It's the same output. Why would you expect to see CSS in `/assets/app.js`?

[2017-02-07 14:56] bebraw commented on #366
Anyway, I can't repro the behavior (probably missing some step you did).

It would be good if someone else could it give a go.

[2017-02-07 18:56] Gtosta96 commented on #200
someone have solutions for this one?

[2017-02-07 19:11] RSO commented on #375
For other people ending up here because of similar errors, the error message seems to indicate that the key you're using is incorrect. In my case I was using `fallBack` instead of `fallback`.

[2017-02-07 21:19] leongaban commented on #263
@whisher Hi! Curious how you got sass-loader working with webpack2/angular 2. I've been trying for a couple days now :(

http://stackoverflow.com/questions/42058357/webpack-not-understanding-import-statement-in-my-sass-files

Seems like it shouldn't be this hard? Just attached sass-loader and point to a directory...

[2017-02-08 03:21] woohling commented on #27
@liuqipeng417 setting the publicPath didn't work for me.. 😥, the image-url in sass file still relative to `dist/css/images/bg.img`

[2017-02-08 16:28] whisher commented on #263
@Leon
Hi, you've got just the accepted answer :)

On 7 February 2017 at 22:19, Leon Gaban <notifications@github.com> wrote:

[2017-02-08 20:25] Sharlaan commented on #294
Not sure, maybe related to [this (found in wp2 docs)](https://webpack.js.org/guides/migrating/#extracttextwebpackplugin-breaking-change) ?

[2017-02-08 21:53] KELiON commented on #294
Sorry, missed few notifications here.

I'll try to check what happens with the latest versions of webpack and extract text plugin and set up a demo if it still happens, but if you want to check before I had this issue [here](https://github.com/KELiON/cerebro/tree/feature/webpack2) (branch feature/webpack2)

[2017-02-08 22:18] K1pavic commented on #265
Hello, I'm too fighting with webpack 2 the past couple of days. I'm new to webpack, so it's even more fun :).

I've made an webpack 2 starter pack which I want to use in the future (angular, bootstrap, sass etc.). It is working fine (after some learning by trial and error and then some more of the same) I made a push into my github repo. After that, just to make sure everything works I cloned (cou

[2017-02-08 22:35] khankuan commented on #265
@K1pavic i think you might want to use the json syntax rather than the string syntax:
[code]
into:
[code]

[2017-02-09 06:47] ickyrr commented on #283
+1
@RolfVeinoeSorensen thank you. I had the exact same problem.

[2017-02-09 12:43] lmx99 commented on #250
i have found so many resolution, and this works fine !!!!!

         module: {
            rules: [{
                    test: /\.js$/,
                    use: [
                        'babel-loader',
                    ],
                    exclude: /(node_modules|bower_components)/,
                },

                {
                    test: /\.less$/,
                    loader: Extract

[2017-02-09 15:49] demyan1411 opened #396 "Relative path to images in css"
Hello!

I wont to get in production next directories
|-dist
|----assets
|---------js
|---------css
|---------images
|----index.html

And I make this directories, i have next code

`{
            test: /\.scss$/,
            loader: ExtractTextPlugin.extract('style-loader', 'css-loader!postcss-loader!resolve-url-loader!sass-loader?sourceMap', {
                publicPath: '../'
            })

[2017-02-09 18:02] ryanbagwell commented on #118
Anybody else find a solution for this?

[2017-02-09 18:58] alvaro9210 opened #397 "Angular 2 throws 'cssText.replace is not a function' Exception"
I have two projects: Project A and Project B.
Project A:
 - Webpack@2.2.1
 - Extract-text-webpack-plugin@2.0.0-rc.3
 - Angular 2.4.3

Project B
- Angular 2.4.3

Project B provides a series of modules/components to Project A.
The code is compiled (not bundled) into a dist folder which then is being used by Project A via `npm link`.

Right now, with the `webpack.common.js` settings using the `Extrac

[2017-02-10 00:20] nryoung commented on #330
I have tried multiple variations to get chained loaders to get to work with this plugin. I have tried all the examples in this thread and nothing seems to work.

* webpack 2.2.0
* extract-text-webpack-plugin: 2.0.0-rc.3

here is my simple configuration:

[code]
with plugins looking like:
[code]
I execute webpack and it seems to compile successfully, but the `css` file is never emitted. There is no

[2017-02-10 05:13] bebraw commented on #330
@nryoung I would need a project to study to say anything concrete. Based on your description alone I can't see how you refer to CSS in your code.

[2017-02-10 05:46] dylanjha commented on #330
@nryoung with this bit of code it's difficult to tell what the issue is. Are you using `import` in your entry file or any of the files that get loaded? It would probably be most beneficial to you to post a question on stack overflow with a complete example.

[2017-02-10 10:15] breeswish commented on #294
+1. In my project, it is only able to extract CSS in one rule. Outputs from other rules using the plugin are ignored.

[2017-02-10 10:34] bebraw commented on #294
@breeswish Unless someone can provide a project to study, this won't get fixed.

[2017-02-10 14:41] scottdj92 commented on #396
I'm not quite sure I understand. It looks like the `background('../images/...)` is referencing a different location?

I also want to ask why you are piping `resolve-url-loader` before `postcss-loader`.

Did you create your html file with `html-webpack-plugin`?

[2017-02-10 15:19] breeswish commented on #294
@bebraw Completely agree with you. Just got free time to create a small demo for this bug. Please check it out here: https://github.com/breeswish/demo

[code]

According to the `webpack.config.js`, some part of [foundation-sites](https://github.com/zurb/foundation-sites) scss should be compiled and placed into `dist/vendors.css`, which is not happening. It only contains css from `../My.UI/pkg1/sty

[2017-02-10 15:29] bebraw commented on #294
@breeswish Great example. Thank you. 👍

I traced it down to `minChunks`. If you replace it with `minChunks: module => module.context && module.context.indexOf('node_modules') >= 0,`, it seems to fix the issue.

Now the question is, is it the same bug as for the others? And is this a bug even or just the way `CommonsChunkPlugin` works?

[2017-02-10 15:42] breeswish commented on #294
Thank you for the quick workaround! Really helpful for my current crying needs. 👍

[2017-02-10 15:53] c-h- opened #398 "Webpack 2: You may need an appropriate loader to handle this file type."
Please help me solve SCSS not compiling anymore.

Using latest version of all related plugins I cannot get scss to build.

Error:
[code]

package.json
[code]

webpack.config.js
[code]

Switching `loader` to `use` after `fallback` in ExtractTextPlugin options causes this error:
[code]

Any tips? Thank you!

[2017-02-10 16:14] jiayihu opened #399 "publicPath doesn't work with 2.0.0-rc.3"
It seems that `publicPath` option is ignored:

[code]

The file is still at `dist/libs.css`, using `dist` from webpack `output.publicPath` configuration.

[2017-02-10 16:48] nryoung commented on #330
@bebraw @dylanjha Thanks for the replies. I went back and looked at my entry point file and realized it was basically a global include for all of my other sass modules. I added this to `plugins` and it worked:
[code]

Notice the `allChunks: true`, this allowed `ExtractTextPlugin` to bundle all of the includes in the entry point `.scss` file.

[2017-02-10 16:53] bebraw commented on #399
If you want to help, see carefully what happens at https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/6abf42da2dd57ab3e87c22f5b8d7ab345760a34e/loader.js#L47 .

[2017-02-10 16:54] bebraw commented on #398
I see you are using `"extract-text-webpack-plugin": "2.0.0-beta.3",`. It does not work with `use`. To get support for `use`, upgrade to the newest rc.

[2017-02-10 16:55] bebraw commented on #397
Instead of `use: [ "raw-loader" ]` you could use `use: "raw-loader"`, but I suspect it would fail even then.

I would need a standalone project to say anything concrete on this.

[2017-02-10 16:57] bebraw commented on #397
I found https://github.com/angular/angular/blob/master/modules/@angular/compiler/src/style_url_resolver.ts . Based on the error that `cssText` is something else than a string (`undefined`?). That would be a good place for you to start debugging. Get a trace if possible.

[2017-02-10 17:28] michael-ciniawsky commented on #398
@c-h- Yep please update to `extract-text-webpack-plugin@2.0.0-rc.3` and also

[code]

### *

**postcss.config.js**
[code]

or

**webpack.config.js**
[code]

[2017-02-10 17:29] jiayihu commented on #399
I noticed that line, but it's not clear for me at which point `loader.js` is loaded (at least I can't see it used in `index.js`) and why there is still the `query` name now that we use `options`.
Would be nice to contribute/help anyway (:

[2017-02-10 17:38] bebraw commented on #399
That `query` is legacy naming I think. Webpack 1 style config should still work although webpack 2 style is preferred.

[2017-02-10 20:12] MichalZalecki commented on #239
Same happens with:

[code]

[2017-02-10 21:57] willdembinski commented on #354
Im encountering this issue and its totally maddening.  What to do to fix?