[2017-12-01 09:33] #673 closed

[2017-12-01 11:53] Pavel-Durov commented on #673
It's a classic lowercase-uppercase path issue.
Nothing to do with **extract-text-webpack-plugin**

[2017-12-01 15:29] matiniamirhossein opened #674 "Asset automatically is added to html-webpack-plugin"
Hello,
I'm having a problem with extract-text-webpack-plugin using with html-webpack-plugin.
When I export my css files using extract-text-webpack-plugin, they are automatically added to html file generated by html-webpack-plugin.
Is there any workaround to prevent this?

I see `<link href="./dist/main.css" rel="stylesheet"/><link href="./dist/main.rtl.css" rel="stylesheet"/>` is added to head tag

[2017-12-01 17:08] #674 closed

[2017-12-03 16:32] Shub1427 commented on #666
I am facing similar issue, but my Compilation fails, when I enable ExtractTextPlugin, with AOT Compilation using @ngtools/webpack, for Angular v4.4.4.

Though for a webpack.dev.config, the Compilation goes fine... But still the App doesn't run on Browser, gives `Uncaught Error: Expected 'styles' to be an array of strings.`

I thought this might be due to not adding `loader: 'to-string-loader'`, bu

[2017-12-03 20:52] michael-ciniawsky commented on #666
@Shub1427 Remove `to-string-loader` from your config when using ETWP. I'm not using Angular myself so I'm not 💯 how this exactly works, but if you pass the styles to the angular component/bootstrap ETPW doesn't work (you simply get an CSS file to include via `<link href="">`), so if you pass the CSS `{String}` to angular remove ETWP and  use this part of your current config 'standalone'

[code]

[2017-12-03 20:52] #666 closed

[2017-12-04 23:10] rrampreeth opened #675 "sortModules error with latest version of extract-text-webpack-plugin"
I am trying to upgrade my version of webpack to 3 and using this plugin for the css/less files.

here is the error i run into

TypeError: this._modules.sortWith is not a function
    at Chunk.sortModules (/Users/pramana/compeu/compliancedashboardweb/node_modules/webpack/lib/Chunk.js:425:17)
    at /Users/pramana/compeu/compliancedashboardweb/node_modules/extract-text-webpack-plugin/dist/index.js:1

[2017-12-04 23:14] michael-ciniawsky commented on #675
Please add at least one  \` (backtick) around the code blocks for readability

[2017-12-04 23:23] rrampreeth commented on #675
`var webpack = require('webpack'),
    ExtractTextPlugin = require('extract-text-webpack-plugin'),
    path = require('path'),
    fs = require('fs');

module.exports = {
    devtool: 'eval',
    entry: [
        'webpack-hot-middleware/client',
        './src/public/main.js'
    ],
    output: {
        path: path.join(__dirname, '.build/js'),
        publicPath: '/policy/js/',
        filename:

[2017-12-04 23:24] rrampreeth commented on #675
var webpack = require('webpack'),
    ExtractTextPlugin = require('extract-text-webpack-plugin'),
    path = require('path'),
    fs = require('fs');

module.exports = {
    devtool: 'eval',
    entry: [
        'webpack-hot-middleware/client',
        './src/public/main.js'
    ],
    output: {
        path: path.join(__dirname, '.build/js'),
        publicPath: '/policy/js/',
        filename: '

[2017-12-04 23:30] rrampreeth commented on #675
webpack.hot.config file

[code]

[2017-12-05 00:05] rrampreeth commented on #675
My webpack.config file is as below

var webpack = require('webpack'),
    path = require('path'),
    fs = require('fs'),
    shush = require('shush');

`var config = shush('config/config.json');

module.exports = {
    entry: [
        './src/public/main.js'
    ],
    output: {
        path: path.join(__dirname, '.build/js'),
        publicPath: config.requestURI + '/js/',
        filename: 'bun

[2017-12-05 00:05] rrampreeth commented on #675
my file to call this config is as below

`'use strict';
module.exports = function(app) {

    require('slipper-paypal');
    //The require hook will bind itself to node's require and automatically compile files on the fly.
    require('babel/register');

        // Step 1: Create & configure a webpack compiler
    var webpack = require('webpack');
    var webpackConfig = require('./webpack.hot.con

[2017-12-05 00:20] rrampreeth commented on #675
@michael-ciniawsky  i also looked into this https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/629 it doesnt seem to be helping out. Like mentioned in the email extract-text-webpack-plugin 3.0 seems to be still having the error.

[2017-12-05 00:55] michael-ciniawsky commented on #675
This looks like a config error in your setup somewhere, a hot candidates are

1. Maybe this 'Chunk' fails

[code]

2. `babel-loader` Config  (`react-transform-hmr` etc)
3. An 'unfresh' env `node_modules, lockfiles, npm/yarn cache` etc.

[2017-12-05 03:49] rrampreeth commented on #675
@michael-ciniawsky are you saying we no longer require webpack.hot.config?

[2017-12-05 03:58] d3viant0ne commented on #675
@rrampreeth - This first alpha build is more for us than it is for general consumption. There are more than a few loaders / plugins that need a bit of work & there are likely changes that will land in Webpack requiring further updates on our end.

I wouldn't burn a bunch of time on this initial alpha release.

[2017-12-05 04:02] rrampreeth commented on #675
@https://github.com/d3viant0ne which one is alpha release I am not clear.We did the same upgrade for 1 of our other apps with the same version did not have an issue, this app seems to be an issue as we are using webpack hot middleware. My question is it required? Is extract-text-webpack-plugin failing for that?

[2017-12-05 05:02] michael-ciniawsky commented on #675
@rrampreeth Did your build succeed without using/having `'webpack-hot-middleware/client'` as an entrypoint ? If so you may consider adding it only during `development` and ETWP in `production`since ETWP + HMR doesn't make sense anyways :)

[2017-12-05 05:35] d3viant0ne commented on #675
Ignore me, I saw Upgrade & Webpack & assumed the 4.0 alpha

[2017-12-05 17:51] rrampreeth commented on #675
@michael-ciniawsky  no i was not able to get a successful build all i get is the below error

Tue, 05 Dec 2017 17:48:19 GMT uncaughtException this._modules.sortWith is not a function
TypeError: this._modules.sortWith is not a function
    at Chunk.sortModules (//compeu/blah/node_modules/webpack/lib/Chunk.js:428:17)
    at //compeu/blah/node_modules/extract-text-webpack-plugin/dist/index.js:188:19

[2017-12-05 21:38] rrampreeth commented on #675
@d3viant0ne  any thoughts about this issue?

[2017-12-05 22:31] rrampreeth commented on #675
"dependencies": {
    "async": "~1.4",
    "babel": "^5.8.23",
    "babel-core": "^6.9.0",
    "babel-polyfill": "^6.7.4",
    "babel-register": "^6.9.0",
    "camelscore": "^0.1.2",
    "connect-slashes": "^1.3.0",
    "continuation-local-storage": "^3.1.3",
    "crypto": "0.0.3",
    "date-utils": "^1.2.17",
    "debug": "^2.2.0",
    "debuglog": "^1.0.1",
    "document-identifier-validator": "^

[2017-12-06 06:22] Abhay1993 commented on #569
Since Loader is deprecetaed in version 3 of webpack please try using
`fallback` in code instead of `fallbackLoader`
cheers
thanks

[2017-12-06 12:25] avinashdvv opened #678 "without styleloader : Module parse failed: Unexpected character '@'"
ERROR in ./src/shared/index.scss
    Module parse failed: Unexpected character '@' (2:0)
    You may need an appropriate loader to handle this file type.
    |
    | @import './Styles/App.scss';
    | html{
    | }
[code]

[code]

[2017-12-06 16:35] rodfersou commented on #591
this is not working here

[2017-12-06 17:50] valkon commented on #58
I found a graceful workaround for a similar problem. Just add a `importLoaders=false` to сss-loader options.
Here is example config:

[code]

[2017-12-09 19:39] sheerun commented on #30
I've created https://github.com/sheerun/extracted-loader that is dedicated to this use case. Usage:

[code]

No configuration necessary :)

[2017-12-09 19:47] sheerun commented on #384
I've created https://github.com/sheerun/extracted-loader for this use case with no configuration.

[code]

[2017-12-09 22:38] LG0012 commented on #30
got disconnect... pathofexile.com not working :/

On Sat, Dec 9, 2017 at 9:39 PM, Adam Stankiewicz <notifications@github.com>
wrote:

[2017-12-11 16:40] HarshwardhanSingh commented on #456
faced the same issue, for now I am not dynamically loading css. Removed the css import from the lazy-loaded component and added it to main parent component.

[2017-12-12 00:41] oudekaas commented on #621
I am having the same issue,

below my webpack.config.js
`'use strict';

const UglifyJSPlugin = require('uglifyjs-webpack-plugin');

module.exports = {
  module: {
    rules: [
      {
        test: /\.pug$/,
        use: [
          'pug-loader?self'
        ]
      },
      {
        test: /\.css$/,
        use: [
          'style-loader',
          'css-loader'
        ]
      }
    ]
  },
  plu

[2017-12-12 01:34] oudekaas commented on #621
This problem is solved, I figured that the warning mentions that there was an issue with a child component.
I had a look through all my components and noticed that I had duplicate entries for the .css files.
So I had the css fiels in my json styles  as well as in the component styles.

[2017-12-12 13:28] andrew-aladev commented on #449
@webpack You definitely need another admin for this repository.

[2017-12-12 13:30] evilebottnawi commented on #449
@andrew-aladev please provide minimum reproducible test repo

[2017-12-12 13:32] andrew-aladev commented on #449
I was able to reproduce it with empty string as an extension for `webpacker`. I am going to provide more detailed info later.

[2017-12-12 13:37] evilebottnawi commented on #449
@andrew-aladev just ping me when repo is ready :+1:

[2017-12-12 14:39] andrew-aladev commented on #449
My chunks was created in `webpack/lib/Compilation.js` in `addChunk`. But my version of webpack is `1.15.0`. So we have misconfigured webpack here.

It is an npm issue. It shouldn't be possible for me to install latest `extract-text-webpack-plugin` with webpack 1x.

[2017-12-12 14:48] evilebottnawi commented on #449
latest `extract-text-webpack-plugin` is not compatibility with `webpack@1`

[2017-12-12 16:03] andrew-aladev commented on #449
The problem was about `webpacker`. It was using the wrong version of `webpack`. It's so easy to receive the same problem with npm.

[2017-12-13 07:16] ywxgod commented on #494
Seeing this in verision 3.10.0
 "webpack": "^3.10.0",

[2017-12-13 15:19] Kielan commented on #420
This thread doesn't actually have the answer anywhere or document or resolve this difficult to understand err response that many people seem to have at `new ExtractTextPlugin({` but still get this error.

[2017-12-13 16:27] Kielan opened #681 "Plugins error using this module with latest webpack 4.0.0-alpha.0"
I have added to my wepback.common manifest in a typical webpack build using different configurations of loaders, but I think the issue has to do with webpack not reading this plugin properly
[code]
The webpack error is

[code]

when logging the const that I import using require I see the extractText function when I log it. It would appear this import does not satisfy, Function acting as plugin, th

[2017-12-14 09:38] ok2ju opened #682 "Produce two css bundles"
Hi,
using ETWP I want to get two css files (themes). I use `postcss` with a `cssnext` plugin to redefine css variables. So I try to get two css files: the first with default variables and the second with the redefined vars.

My **webpack.config.js** config looks like this:
[code]

**postcss.config.json**:
[code]

**customTheme.js**:
[code]

However, as a result, I get only one empty `bundleDefault

[2017-12-14 09:44] d3viant0ne commented on #681
@Kielan - This will be taken care of in #676

[2017-12-14 15:28] almothafar commented on #569
In my case, it was `UglifyJsPlugin` is incorrect, changed it from:

[code]

To:

[code]

Actually, I added this `console.log(schema, ajv.errors);` inside `validateOptions.js` file, to know where the problem starts, big thanks to @MaxKramnik

[2017-12-14 21:26] Kielan commented on #681
https://github.com/Kielan/testWebpackErr

Example repo just for reference, switch webpack versions back and forth and notice the different console logs.

[2017-12-15 19:44] halo commented on #118
This occurred to me in Rails 5.1 using webpacker with the default configuration (which I assume will lead more people to this issue soon :) See [this search in rails/webpacker](https://github.com/rails/webpacker/search?utf8=✓&q=extract-text-webpack-plugin&type=).

I can confirm that if you have e.g. `admin.sass` and `admin.js`, the latter will be stripped of all content. Renaming one of the files

[2017-12-16 02:48] mdonlan opened #683 "public path"

[2017-12-16 02:48] #683 closed

[2017-12-17 09:59] lvming6816077 opened #686 "webpack require.ensure issues"
There are some component A,B,C and A.less,B.less,C.less,A belongs to entry a,B belongs to entry b.
A:
`import C;
import A.less`
B:
`import B.less;
require.ensure([],function(require){
var C = require('C');
})
`
C:
`import C.less`

webpack.config.js:
`
plugins: [
	new ExtractTextPlugin({
		filename: '[name].css',
		allChunks: false
	})
]
`

About entry a ,extract the C.less into a.min.css.
About en

[2017-12-17 10:30] lvming6816077 commented on #686
I have made a pull request to fix this issue

[2017-12-18 15:46] octatone commented on #594
@evilebottnawi Seeing the same for  webpack@3.10.0 with extract-text-webpack-plugin@3.0.2

[2017-12-18 16:45] evilebottnawi commented on #594
@octatone can you create minimum reproducible test repo?

[2017-12-19 07:36] neeeekto commented on #623
@hesampour Perhaps describe what you did?

[2017-12-19 12:38] hesampour commented on #623
realy this problem is for a long time a go. I know Upgrate all my project to angular 5 and use the new angular cli generate command for universal. many problems are fixed in this version.

[2017-12-19 12:51] peterpeterparker commented on #623
same here, I switched to the Angular CLI for a while now  which made this issue useless to me.

Since I created this issue, I gonna allow myself to close it. If you face this problem like I did, I would advice to migrate to the Angular CLI too.

[2017-12-19 12:51] #623 closed

[2017-12-19 17:26] SeunLanLege commented on #119
I still have this issue and none of the above solutions work for me

[2017-12-19 17:36] SeunLanLege commented on #119
ok so i fixed it by adding:

[code]

now it outputs `bundle.js.map` and `index.css.map`

[2017-12-20 07:09] gomesNazareth commented on #569
Changing version from "uglifyjs-webpack-plugin": "^1.0.1"        to    "uglifyjs-webpack-plugin": "^0.4.6" fixed the issue

I thing the new version has some issues

[2017-12-20 15:14] armandoborge commented on #434
Despite this issue is closed, maybe this code can help other developers looking for the same:
[code]

[2017-12-20 15:37] hyzhak commented on #552
@michael-ciniawsky I got the same problem when was trying to create a library with optional style file. So when I `require/import` css inside of main.js and someone tries to import this library somewhere else she or he will get style file because it is imported and in the final `built.js` we get link to the css. So the only way to create dummy entry with dummy js :(
Do you know how to overcome it?

[2017-12-20 18:00] hyzhak commented on #552
btw, here is related issue https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/518

[2017-12-21 14:17] hyzhak commented on #518
@hackingbeauty sadly this solution doesn't remove unwanted js files, just exclude them from generated html. And won't work without `HtmlWebpackPlugin` plugin.

[2017-12-21 14:19] hyzhak commented on #518
@sscaff1 why do we want to stick to a size of a file? Why don't use a filename instead?

[2017-12-21 15:22] sscaff1 commented on #518
@hyzhak the size seemed weird to me too. I submitted a PR (which was accepted and published) to eliminate files from a particular path. That satisfied my use case. For example if I had webpack outputting the following directories
project/css/ <~~~ The plugin helps me eliminate all js files from this directory.
project/js/

[2017-12-24 14:54] jimblue opened #689 "DeprecationWarning: Chunk.modules"
I get this on build:

I know this have been discuss on #529 but the conversation has been locked...

@d3viant0ne I've read your comment:

As I'm still getting the warning and to follow your advice I've search for `Chunk.modules` inside `node_modules` here is the result:

<img width="1046" alt="screen shot 2017-12-24 at 15 40 55" src="https://user-images.githubusercontent.com/10623367/34327359-7158

[2017-12-24 14:58] jimblue commented on #689
That mean the problem come from `webpack` itself right?

[2017-12-24 16:08] michael-ciniawsky commented on #689
We need more info about your current setup (`package.json`, `webpack.config.js`)

[2017-12-26 05:52] xuxn commented on #689
package.json
{
  "name": "mmail",
  "version": "1.0.0",
  "description": "mmail前端代码",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "xuxn",
  "license": "ISC",
  "devDependencies": {
    "css-loader": "^0.28.7",
    "extract-text-webpack-plugin": "^1.0.1",
    "style-loader": "^0.19.1",
    "webpack": "^1.15.0"
  },
  "dependencies"

[2017-12-26 07:23] jimblue commented on #689
@xuxn come on... there is absolutely no relation between this issue and your post!
Please delete your comment and open an other issue with your problem.

[2017-12-26 07:25] jimblue commented on #689
@michael-ciniawsky I've just create a repo with my `webpack config files` and `package.json`:

https://github.com/jimblue/webpack-config

[2017-12-29 17:09] grundiss opened #690 "No output file"
Hi! I'm using webpack@3.10.0 and extract-text-webpack-plugin@3.0.2 (node version is 9.3.0) Unfortunatelly output file is not generated even though everything's green in console.
Here's my config:
[code]

And of cause I do import css file:
[code]
Interesting part is that css-loader seems to work: I clearly see generated classnames.
Here's a repo: https://github.com/grundiss/lilenko_ru (`yarn build-

[2017-12-29 18:00] grundiss commented on #690
It suddenly started to work. Don't know, cache or something...

[2017-12-29 18:00] #690 closed

[2017-12-29 20:49] dvakatsiienko commented on #119
The same behavior with empty css source map:

`{"version":3,"sources":[],"names":[],"mappings":"","file":"styles.css","sourceRoot":""}`

Happens because of [purifycss-webpack](https://github.com/webpack-contrib/purifycss-webpack) plugin, spent about 30 mins demystifying. Hope it helps someone.

[2018-01-01 13:26] JounQin opened #691 "[feature request] extract according to limit size option"
As title, so that we can only extract css when entry styles is large.

[2018-01-02 04:07] Kielan commented on #681
@d3viant0ne looks like the pr was declined, any update?

[2018-01-02 12:38] jwldnr opened #692 "Weird resource path for files extracted using the plugin"
**Windows 10**
**Node v9.2.0**

I've created a sample project [here](https://github.com/jwldnr/extract-text-issue)-- using the source map example from [the `sass-loader` docs](https://github.com/webpack-contrib/sass-loader#source-maps) and code from the `extract-text-webpack-plugin` docs [here](https://github.com/webpack-contrib/extract-text-webpack-plugin#url-resolving)

With the sample project a

[2018-01-02 14:46] jwldnr commented on #692
closing as this is probably not related to the `extract-text-webpack-plugin`..
i've opened a similar issue with `css-loader` instead.

https://github.com/webpack-contrib/css-loader/issues/652

[2018-01-02 14:46] #692 closed

[2018-01-03 04:41] zigang93 opened #693 "publicPath not working at all"
I was trying to solve the css output background url issue with publicPath
but seem like not working at all.

npm devDependencies version :
[code]

[code]

**Problem**
css background show: url("img/asset.png")

**What i want**
css background show: url("../img/asset.png")

[2018-01-03 04:48] zigang93 commented on #591
yes, this is not working!
same issue: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/693

[2018-01-03 08:17] xgqfrms-gildata opened #694 "Error: Cannot find module 'webpack/lib/Chunk'"
# bug ???

![image](https://user-images.githubusercontent.com/29531779/34513129-88d25498-f0a1-11e7-9a55-8d5a5e6b842f.png)

[2018-01-03 08:21] xgqfrms-gildata commented on #694
# maybe install path error bug!

[2018-01-03 08:50] xgqfrms-gildata commented on #694
# `options.publicPath` doesn't work?

![image](https://user-images.githubusercontent.com/29531779/34513952-cf541e02-f0a5-11e7-9a92-c69ed6e4e0f2.png)

![image](https://user-images.githubusercontent.com/29531779/34513984-feccfadc-f0a5-11e7-8a0e-53726178d70a.png)

![image](https://user-images.githubusercontent.com/29531779/34514025-3441954c-f0a6-11e7-88cd-a28338c647cb.png)

[2018-01-04 16:25] VincentCharpentier commented on #120
none of the solutions here seems to work for me.

I'm working on a big solution (multiple websites in one solution - I can't split the project) which brings me to code-splitting and lazy-loading.
I'm using css-modules to avoid potential conflicts with CSS class names.

Each of the websites is basically wrapped in a route component (react-router).

For now I can use `allChunks:true` option to put a

[2018-01-04 16:56] sheepsteak commented on #120
@VincentCharpentier there are [big changes coming to CSS in Webpack 4](https://medium.com/webpack/the-new-css-workflow-step-1-79583bd107d7) and I think this is one of the things that will be possible.

https://medium.com/webpack/road-to-webpack-4-week-20-21-1641d03ce06e

[2018-01-05 08:27] VincentCharpentier commented on #120
@sheepsteak So This is gonna be standard webpack ? What a great news, thanks for the info.

I think I can just fallback to style-loader in the meantime.

[2018-01-05 10:12] sheepsteak commented on #120
@VincentCharpentier I believe so 😄

In the first link it says:

I've been waiting a long time for this too!

[2018-01-05 13:03] georgetroughton commented on #518
If using the HtmlWebpackPlugin and HtmlWebpackExcludeAssetsPlugin solution above you can use rimraf as part of your build script to delete the files you don't want, something like -

"build": "NODE_ENV=production yarn run clean && webpack -p && rimraf dist/js/style.*.js"

Works for me...

[2018-01-07 06:58] avesus commented on #489
@michael-ciniawsky I'm not satisfied by your advice

because it's important to keep automatic track of component dependencies suitable to build a production bundle too.

I know many developers who prefer stable style names instead of the generated hashes.

For a typical web app with 250 components, the piece of code which does nothing weigh 13 kilobytes: `,function(module,exports){}` for "exports"

[2018-01-07 07:03] avesus commented on #229
Also see https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/489

[2018-01-08 18:03] DamnedScholar opened #695 "chunk.sortModules() is not a function."
I just installed this plugin yesterday (release `3.0.2`) and it immediately broke the compile process.

[code]

[2018-01-08 22:12] michael-ciniawsky commented on #695
Please provide more info about your setup, does it work without `happypack`, which version of `webpack` are you using etc ?

[2018-01-08 22:50] DamnedScholar commented on #695
I'm using `2.6.0`. Disabling `happypack` actually fixes the whole issue for me and Webpack compiles successfully with the `ExtractTextPlugin` code uncommented.

[2018-01-08 23:13] michael-ciniawsky commented on #695
It's generally better to use `webpack` v3.0.0 with ETWP `v3.0.0` :). I can't tell you exactly where and why `happypack` fails, but it needs to stringify all `options` etc which maybe failing with webpack API (`webpack >= v2.0.0`) and the EWTP Code is already quite complex without any guarantee to work in parallel etc etc. In short I personally won't use/recommend `happypack` anymore with `webpack

[2018-01-08 23:13] #695 closed

[2018-01-09 16:04] Diokuz commented on #35
So, there are still no good solution from `extract-text-webpack-plugin`, only bad one?

[2018-01-11 12:49] maphi88 commented on #50
Can you please help me, my code seems to be running fine on Angular 2  (build and local server) but with Angular 4 only the local server is working. On trying to create a build it gives an error

ERROR in Error: Child compilation failed:
    Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-we

[2018-01-12 06:57] mrtypescript commented on #694
It is enough just to require 'extract-text-webpack-plugin' to trigger the error:
Here ara my webpack.config.js:

var ExtractTextPlugin = require('extract-text-webpack-plugin');
// const extractSASS = new ExtractTextPlugin({
//     filename: 'app.css',
//     disable: false,
//     allChunks: true
// });
module.exports = {
    entry: {
        main: ["./app.js"]
    },
    output: {
        filenam

[2018-01-12 10:42] adrian-moisa commented on #330
For webpack 3 this fixed the issue:

            {
                test: /\.scss$/,
                use: [
                    'to-string-loader',
                    ...ExtractTextPlugin.extract({
                        fallback: 'style-loader',
                        use: ['css-loader', 'sass-loader']
                    })
                ],
                exclude: /node_modules/

[2018-01-12 15:33] usmansbk commented on #694
Uninstall global webpack and install locally

[2018-01-12 15:40] evilebottnawi commented on #694
@xgqfrms-gildata can you create minimum reproducible test repo?

[2018-01-12 17:00] mrtypescript commented on #694
Totally worked - thanks @usmansbk :)

[2018-01-12 18:42] MAGALY956 opened #697 "Updated"

[2018-01-12 19:29] evilebottnawi commented on #697
@MAGALY956 Please describe what you mean and create new issue. Thanks!

[2018-01-12 19:29] #697 closed

[2018-01-13 23:29] Kielan commented on #681
I found out that the issue is that I was using deepmerge dependency, webpack-merge seems to be an up to date alternative dependency https://github.com/survivejs/webpack-merge

[2018-01-13 23:29] #681 closed

[2018-01-15 17:25] WiseBird commented on #594
@evilebottnawi I've updated my [reproduction](https://github.com/WiseBird/webpack_emit/tree/update) to the latest webpack and extract-text-webpack-plugin.

[2018-01-15 17:55] evilebottnawi commented on #594
@WiseBird thanks, tomorrow i can try to find time for investigate this

[2018-01-16 09:08] Evllis commented on #143
+1

[2018-01-16 17:18] mojadev commented on #682
I think the issue is here that both rules match the same dependency and therefore don't work (or one overwrites the other).
I think the easiest solution here would be two have two separate builds (which could share most of the configuration) for the themed and non-themed version.

[2018-01-17 09:20] khelmrab commented on #440
errors : (/mnt/c/ubuntu/au/node_modules/macaddress/index.js:31:21)
you have to replace iface line 31 in lib.networkInterfaces  with this
lib.networkInterfaces = function () {
var ifaces;
try {
ifaces=os.networkInterfaces();
} catch (e) {
ifaces=os.networkInterfaces = () => ({});
}

[2018-01-18 01:16] JMartinArocha commented on #678
Hi, i had the same problem, and this work for me

Index.js
[code]
webpack.confg.js
[code]
package.json
[code]

Can you test if it works for you?
[webpack migration guide](https://webpack.js.org/guides/migrating/#module-loaders-is-now-module-rules)

[2018-01-18 08:50] hamodey85 commented on #27
we still struggling, I have the same issue , extract-text-webpack-plugin,
url should be dis/media/someimage.ext
but it point to  dis/css/media/someimage.ext

[2018-01-18 08:53] hamodey85 commented on #589
same issue here

[2018-01-18 09:19] evilebottnawi commented on #591
@rodfersou @zigang93 can you describe issue more verbose?

[2018-01-18 09:45] huoxy commented on #27
@hamodey85 Suggest extract all static files in a same dir without subdirs.

[code]

[2018-01-18 12:25] hamodey85 commented on #27
@huoxy my build file will be messy ,

[2018-01-18 12:36] hamodey85 commented on #27
the problem was with file-loader setting, I just fixed it by fixing the publicPath: publicPath: "../"

[2018-01-18 14:31] MAGALY956 opened #698 "Over flow"

[2018-01-18 14:44] MAGALY956 commented on #698
http://www.adobe.com/privacy/eudatatransfers.html).

[2018-01-18 14:45] evilebottnawi commented on #698
@MAGALY956 Please describe your issue more verbosly. Thanks!

[2018-01-18 14:45] #698 closed

[2018-01-18 20:04] mrvicadai commented on #654
Ran into the same issue -- the CSS content are randomly re-ordered, therefore repeated builds seldom produce consistent artifacts.

[2018-01-19 03:21] pxwee5 commented on #493
Is there a way to just output the css file without including it into the bundle?

[2018-01-19 07:19] ArielGueta opened #699 "PostCSS: ExtractTextPlugin run twice"
I am trying to create a new postcss plugin. The problem is that when I am using the ExtractTextPlugin, the code is run twice, so if, for example, I'm appending new rule, it will append this twice.

I was looking for a solution and people are suggested to add `allChunks: true`, but it does not work.

[code]

[code]

[2018-01-19 17:05] karim10 commented on #159
@wujekbogdan I'm trying to adapt your solution and I got this error:
'No PostCSS Config found'
do we a postcss config in our scss files??
Thank you

[2018-01-19 21:10] wujekbogdan commented on #159
@karim10
The example I posted was only for explanation purposes (I copied a part of my real config). Don't copy-paste it as it is. The error that you see "No PostCSS Config found" means... that you don't have PostCSS config :) So if you don't use PostCSS then simply remove the postcss loader entry from the Webpack config (it applies to all other loaders).

[2018-01-21 08:01] huelgasjcowork commented on #461
asdsa
asd

[2018-01-21 21:20] Polyterative commented on #493
@pxwee5 I'm pretty sure that's default behavior. Maybe check your config file for any plugin that does that

[2018-01-21 21:34] pxwee5 commented on #493
It doesn't seem like there's a way to do that in Webpack. LOL Had to manually do it using CLI and run it before the npm build command.

[2018-01-22 10:19] karim10 commented on #159
@wujekbogdan Thanks a lot :sweat_smile:

[2018-01-22 15:05] steophy opened #700 "Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin"
Hello there, I'm having this bug during build time with this configuration and I can't figure out why:

[code]

[code]

here's the error I'm getting:
[code]

What am I missing?

[2018-01-22 16:34] thescientist13 commented on #263
@clayne11
Thank you for your comment [here](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/263#issuecomment-260780404), it helped me get it working!

[2018-01-23 06:17] dryqiao commented on #173
node v8.9.4,fail

[2018-01-23 09:25] J-SPECTRE commented on #700
the same error !!!

[2018-01-23 15:25] errorx666 opened #701 "Webpack 4 compatibility"
I'm trying to use this plugin with webpack 4 alpha 5 and getting the following error:

[code]

[2018-01-23 16:48] olore commented on #700
Getting same error here using webpack 3.10.0, extract-text-webpack-plugin v3.0.2 and node v8.9.1

[code]
or
[code]

[2018-01-24 06:23] MarkSky opened #702 "Webpack Extract-Text-Plugin Output Multiple CSS Files (Both Minified and Not Minified)"
I write style in SCSS, and I want to use webpack to build both minified and not minified css files.
So I set my webpack.config.js:
[code]

But after I run npm run build, I get some errors:
[code]

If extract-text-webpack-plugin doesn't support building two css files from a scss file?

[2018-01-24 07:55] michael-ciniawsky commented on #701
Yep `extract-text-webpack-plugin` isn't updated for `webpack >= v4.0.0` yet and is completely broken since `webpack@4.0.0-alpha.5`. It may be superseded by another plugin/solution or will get an update before the final `webpack` v4.0.0 release

[2018-01-24 17:48] tomm1996 opened #703 "Feature-request: standardize hash-placeholder in options"
In our project, we just discovered, that the plugin does not update the hash of our css ressources when changing the content. We found out that this is because we used ` filename: '[name].[chunkhash:8].css'` instead of  ` filename: '[name].[contenthash:8].css'`. To me, this appears kind of unpredictable because the placeholders are almost the same.

Wouldn't it be a good idea to make `[chunkhash]`

[2018-01-24 20:51] michael-ciniawsky commented on #703
I tried this awhile ago, but the chunk hash `[chunkhash]` doesn't seem to be avialable at the stage ETWP runs. Can't conform to 💯 but likely not possible to utilize `[chunkhash]` within the plugins scope

[2018-01-25 11:23] tomm1996 commented on #703
Thanks for your fast reaction. I might look into it aswell if I can get round to wrapping my head around the code base.

[2018-01-25 11:49] evilebottnawi commented on #703
@tomm1996 it is impossible, because [chunkhash] - is hash of chunk, `contenthash` is hash of content. it is not bug, we extract css from js and don't have chunk and can't have [chunkhash]

[2018-01-25 17:34] tomm1996 commented on #703
@evilebottnawi that's why this is a feature request, not a bug. I merely wish the configuration of webpack/plugins to be less confusing. Whether the name of the placeholder is changed or something else is done about improving the usability is, of course, completely up to you if you decide to tackle this issue.

[2018-01-25 17:43] evilebottnawi commented on #703
@tomm1996 PR welcome :+1:

[2018-01-25 17:46] rodfersou commented on #591
@evilebottnawi well.. the publicPath option is not working.. you set the publicPath, like the example here in this issue, but the string is not added before the generated file reference.

[2018-01-26 16:09] jrjacobs24 commented on #173
I am experiencing this issue as well with trying to use scss. I installed it the other day and it was working. Switched branches, came back, and then it started showing up. My team is using **yarn v0.27.5**. I have installed `node-sass`, `style-loader`, `css-loader`, and `sass-loader`. Not sure what else the error could be referring to. Any help or insight is appreciated.

The relevant portion of

[2018-01-27 03:36] kimown opened #705 "ETP can't works with oneOf configuration in webpack?"
Hi, thanks ETP and your guys work, it helps me a lot in my daily work.

I am try to combine css modules and postcss, here is solution I found, the configuration like this
https://github.com/css-modules/css-modules/pull/65#issuecomment-355078216, use `oneOf`
and querystring `?raw` to distinct local scope css file and global scope css file.
So my webpack.config.js is this:
[code]

Here is an reprodu

[2018-01-27 18:01] ulivz opened #706 "TypeError: extractedChunk.forEachModule is not a function"
- Webpack Version: 3.10.0
- Version: 3.0.2
- Error Stack:

[code]

[2018-01-28 05:21] izverev-aexsoft commented on #50
Have same issue, compiles with JIT but fails with AOT, ExtractTextPlugin included in same way, but mysteriously missed.

[2018-01-31 06:38] AielloChan commented on #702
try this https://segmentfault.com/q/1010000011058648/a-1020000011058890

[2018-01-31 07:11] flygis commented on #569
I too have this problem, but only in CI build process, since on my local development machine I commented the lines:
if (!ajv.validate(schema, options)) {
    throw new _ValidationError2.default(ajv.errors, name);
}
and the build is successful. In my CI environment I can not comment them out though..

[2018-01-31 23:26] derwaldgeist commented on #85
I'm also trying to postprocess a file. Have looked at #167, but still can't figure out how to do that. The link to the ExtractSVGPlugin is dead, and I couldn't find the right hint in the purify-webpack plugin.

[2018-02-01 09:04] gs-asachdeva commented on #228
Hi @bebraw ,
I also faced the same issue. [Here](https://github.com/anchal20/oops-js) is the link to my repo. Can you please assist where I am going wrong as the css link tag is not created in the html file.

[2018-02-01 09:10] bebraw commented on #228
@gs-asachdeva It's better to open a new issue and link there so one of the maintainers can pick it up.

[2018-02-01 09:18] anchal20 opened #708 "no css link tag in html file"
Hi,
I tried to implement extract-text-webpack-plugin for my app but it is not generating the css link tag in the html file. Can someone please help me in identifying the issue in the config file. Is there something that I have missed?
[Here](https://github.com/anchal20/oops-js) is the link for my repo.

[2018-02-01 09:20] evilebottnawi commented on #708
@anchal20 Please use https://github.com/jantimon/html-webpack-plugin plugin for html files. Seems you missed this plugin.

[2018-02-01 09:21] evilebottnawi commented on #706
@ulivz seems you use `webpack@2` with new version plugin. Look https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/cc3ba946ef4066264410737ce5bd43d0c7d724f1/CHANGELOG.md#300-rc0-2017-07-07

[2018-02-01 09:21] #706 closed

[2018-02-01 09:22] evilebottnawi commented on #705
@kimown problem still exists?

[2018-02-01 09:24] evilebottnawi commented on #702
@MarkSky Thanks for issue. If it not bug, right now it is impossible, but it is feature.

[2018-02-01 09:24] anchal20 commented on #708
Hi @evilebottnawi ,
Which ever tutorial or webpack documentation I saw no where it was mentioned to have another plugin. Anyways, this plugin will generate a new html file with the link. But what if i already have a html file - index.html as is my case, then how can I have the link tag in that, is it possible?

[2018-02-01 09:26] evilebottnawi commented on #702
@michael-ciniawsky What do you think about this option. It should be very convenient for libraries/ frameworks and etc. Or we should documentation how people do this (if we found solution without new option).

[2018-02-01 09:29] evilebottnawi commented on #708
@anchal20 Just add `link` html tag :smile: If you want to use `css` only in production and/or `[hash]` in filenames you should use this plugin. Please look on `template` option, it is allow use own html template for generate new html file.

[2018-02-01 09:33] evilebottnawi commented on #699
@ArielGueta Can you create minimum reproducible test repo?

[2018-02-01 09:37] anchal20 commented on #708
Yes, I want to use css in production with the hash.

[2018-02-01 09:37] evilebottnawi commented on #700
@steophy I don't see what you use `extract-text-webpack-plugin` in you configuration, please look on example https://github.com/webpack-contrib/extract-text-webpack-plugin#usage
@J-SPECTRE without description you problem with configuration and/or reproducible test repo, i can't help you
@olore don't see `fallback` option.

Feel free for feedback.

[2018-02-01 09:37] #700 closed

[2018-02-01 09:38] evilebottnawi commented on #708
@anchal20 You should use `html-webpack-plugin` plugin for this purpose. Webpack don't handle `html` files from out of box.

[2018-02-01 09:39] evilebottnawi commented on #694
@xgqfrms-gildata please read comments above. Seems you have invalid dependencies. Thanks everyone.

[2018-02-01 09:40] anchal20 commented on #708
@evilebottnawi Ok let me try with your suggestion and see the outcome.
Thanks for your help.
Closing the issue now

[2018-02-01 09:40] #708 closed

[2018-02-01 09:45] evilebottnawi commented on #693
@zigang93 seems problem in `resolve-url-loader` because `extract-text-webpack-plugin` don't handle `css` declarations (i.e. `background/src/etc`) it is do `style-loader/css-loader/resolve-url-loader`. We just pass you publicPath to child compilation. Can you disable `extract-text-webpack-plugin` and check url in css?

[2018-02-01 09:46] evilebottnawi commented on #708
@anchal20 Feel free to feedback.

[2018-02-01 09:50] evilebottnawi commented on #691
@JounQin Thanks for issue. Feel free to PR.

[2018-02-01 09:51] evilebottnawi commented on #686
@lvming6816077 Thanks for issue and PR!

[2018-02-01 09:54] evilebottnawi commented on #682
@mojadev you are right
@ok2ju please see comment above and use two separate build for this purpose. Example https://webpack.js.org/configuration/configuration-types/#exporting-multiple-configurations

[2018-02-01 09:54] #682 closed

[2018-02-01 09:56] evilebottnawi commented on #655
@chad-ding @f3l1x @jessejessee Can you create minimum reproducible test repo?

[2018-02-01 10:00] evilebottnawi commented on #663
@jasononeil Thanks for issue. `sass-loader` use `node-sass` for compile `scss/sass`. `node-sass` have some issues with source maps and we don't something here :disappointed: In next major we add support for `dart-sass`, maybe it is solve problem.
I agree what in some case you can get broken source map. Source maps is big problem in `webpack` and `ecosystem` :disappointed: Feel free to PR.

[2018-02-01 10:34] evilebottnawi commented on #654
@akihikodaki @mrvicadai can you create minimum reproducible test repo? Seems it is bug.

[2018-02-01 10:37] evilebottnawi commented on #642
@symbios-zi `ignoreOrder: true` helps?

[2018-02-01 10:38] evilebottnawi commented on #640
@ManuSevenval Yes right now it is not support.
@michael-ciniawsky What about add `test/include/exclude` option to allow this?

[2018-02-01 10:41] evilebottnawi commented on #689
@jimblue I can't found you repo (`404` error). Problem still exists? If yes please recreate minimum reproducible test repo. Thanks!

[2018-02-01 10:42] evilebottnawi commented on #599
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Also please create minimum reproducible test repo. Thanks!

[2018-02-01 10:42] #599 closed

[2018-02-01 10:45] evilebottnawi commented on #651
@JerryCBH Look https://github.com/webpack-contrib/extract-text-webpack-plugin#options, set `allChunks: true`

[2018-02-01 10:45] #651 closed

[2018-02-01 10:47] evilebottnawi commented on #622
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-01 10:47] #622 closed

[2018-02-01 10:52] kimown commented on #705
@evilebottnawi
yes, you can test demo.zip  I have uploade
d in my issue description.

[2018-02-01 10:56] evilebottnawi commented on #705
@kimown Thanks!

[2018-02-01 10:59] evilebottnawi commented on #633
@denvaar Can you create minimum reproducible tst repo? Btw seems you have two loader handle equals extensions, look https://github.com/denvaar/tiger-lilly/blob/master/assets/webpack.common.js#L41

[2018-02-01 11:03] evilebottnawi commented on #522
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-01 11:03] #522 closed

[2018-02-01 11:12] evilebottnawi commented on #597
@linkeer8802 Thanks for issue. Duplicate https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/455

[2018-02-01 11:12] #597 closed

[2018-02-01 11:24] evilebottnawi commented on #632
@michael-ciniawsky no, it is `pitch` loader they don't add dependecy, we should do this manually, all works as expected. Thanks for issue!

[2018-02-01 11:24] #632 closed

[2018-02-01 11:31] evilebottnawi commented on #137
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Also please use official closure plugin https://github.com/webpack-contrib/closure-webpack-plugin. Feel free to feedback. Thanks!

[2018-02-01 11:31] #137 closed

[2018-02-01 12:04] evilebottnawi commented on #678
@avinashdvv `loader` => `use`. Also don't use `'css-loader!sass-loader'`, use as in example https://github.com/webpack-contrib/extract-text-webpack-plugin#usage (with `use` and `fallback`).

[2018-02-01 12:04] #678 closed

[2018-02-01 12:12] jimblue commented on #689
@evilebottnawi sorry I don't have the problem anymore, If I remember well update npm packages did the magic. Thanks for your help.

[2018-02-01 12:12] #689 closed

[2018-02-01 12:29] evilebottnawi commented on #107
Closing this issue as duplicate if favor https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/663 (yep this issue older than link, but we have good description and reproducible repo there). We remember about this problem, do not worry.

[2018-02-01 12:29] #107 closed

[2018-02-01 12:43] evilebottnawi commented on #550
@wayofthefuture `stats.children` solve you problem?
@lucasjsoliveira no error always output

[2018-02-01 12:51] evilebottnawi commented on #268
@donaldpipowitch @Yona-Appletree @vinpac friendly ping

[2018-02-01 13:43] evilebottnawi commented on #619
@WiseBird yep, duplicate https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/594. Thanks for issue!

[2018-02-01 13:43] #619 closed

[2018-02-01 13:45] evilebottnawi commented on #633
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-01 13:45] #633 closed

[2018-02-01 13:57] evilebottnawi commented on #584
@winnerhp Duplicate https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/594. Thanks for issue!

[2018-02-01 13:57] #584 closed

[2018-02-01 13:59] evilebottnawi commented on #139
@ChrisCinelli webpack already output all messages what etwp do. Also in v4 webpack will ship with profiling plugins for this purpose. Thanks for issue!

[2018-02-01 13:59] #139 closed

[2018-02-01 14:02] evilebottnawi commented on #600
Please don't write about your problem here. Create new issue with description and test repo. Thanks! Original issue was resolved.

[2018-02-01 14:02] #600 closed

[2018-02-01 14:08] evilebottnawi commented on #120
It is very old issue, closing in favor https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/120 (new issue and have PR). Don't worry we remember about issue. Feel free to PR.

[2018-02-01 14:08] #120 closed

[2018-02-01 14:11] dcalhoun commented on #120
@evilebottnawi this issue is #120. Did you intend to reference a different issue/PR?

[2018-02-01 14:12] evilebottnawi commented on #655
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-01 14:12] #655 closed

[2018-02-01 14:13] evilebottnawi commented on #120
@dcalhoun oh sorry, https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/686

[2018-02-01 14:38] evilebottnawi commented on #159
Solved please see https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/159#issuecomment-292786572. Thanks for everyone. Feel free to feedback.

[2018-02-01 14:40] evilebottnawi commented on #159
Oh, sorry, it should be solved using only ETWP

[2018-02-01 14:48] evilebottnawi commented on #589
@maihaihua use `publicPath` option for this purpose https://github.com/webpack-contrib/extract-text-webpack-plugin#extract.

For other:
Please read my comments above, ETWP __don't handle url__. In most use case it is just invalid configuration. Feel free to feedback and/or create new issue with description and reproducible test repo. Thanks for everyone!

[2018-02-01 14:48] #589 closed

[2018-02-01 14:51] evilebottnawi commented on #675
@rrampreeth sorry for delay, problem still exists?

[2018-02-01 14:53] evilebottnawi commented on #258
Fixed https://github.com/webpack-contrib/css-loader/pull/430. Feel free to feedback and reopen if problem still exists. Thanks!

[2018-02-01 14:53] #258 closed

[2018-02-01 14:56] evilebottnawi commented on #355
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions or not working. Example with `txt` files https://github.com/webpack-contrib/extract-text-webpack-plugin/tree/master/test/cases/simple .Thanks!

[2018-02-01 14:56] #355 closed

[2018-02-01 14:57] evilebottnawi commented on #236
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2018-02-01 14:57] #236 closed

[2018-02-01 15:59] ArielGueta commented on #699
It's seems like allChunks: true fixed this.

[2018-02-01 16:13] evilebottnawi commented on #699
@ArielGueta :+1: Feel free to feedback

[2018-02-01 16:13] #699 closed

[2018-02-01 17:21] rrampreeth commented on #675
@evilebottnawi  thank you for checking. Resolved this issue.

[2018-02-01 18:29] evilebottnawi commented on #675
@rrampreeth Can you describe how you solved problem here for future people. Thanks!

[2018-02-01 18:29] #675 closed

[2018-02-01 18:46] AielloChan commented on #702
See [Pull request #711](https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/711)

[2018-02-01 19:35] solomon87 commented on #672
How is this a nice to have? You have to write all of your url() paths in css to conform to their paths in compiled code rather than source. That seems fairly problematic, especially if you are using file-loader to rename and relocate said files.

[2018-02-01 20:06] solomon87 commented on #672
P.S. this fix is required in order for it to work at all with the file-loader.

[2018-02-02 02:48] MarkSky commented on #702
@AielloChan I have tried your solution, but it still has error.
My code:
[code]

And the information:
[code]

[2018-02-02 03:53] michael-ciniawsky commented on #702
`extract-text-webpack-plugin` only **extracts** the CSS. For minification etc use an additional plugin like https://www.npmjs.com/package/optimize-css-assets-webpack-plugin in tandem with ETWP. `module.rules` are merged and ETWP rebuilds each module to remove it's dependencies => extracting the CSS from a module twice isn't possible

[2018-02-02 03:53] #702 closed

[2018-02-02 05:51] akihikodaki commented on #654
https://github.com/pixiv/mastodon/tree/pawoo-music is an example in the real world. I'm writing a minimal test case now, and will make a pull request when I finished it.

[2018-02-02 08:16] sarbull commented on #607
More readable code here.

[code]

[2018-02-02 08:36] akihikodaki commented on #654
It was already fixed with commit 7ae32d9c560ef0a7dd584e3bf5991bacd5753093 for my case. It's my shame that I missed the change.
I'll close this issue. @mrvicadai may have a problem different from mine. I would recommend to open another issue in the case.

[2018-02-02 08:36] #654 closed

[2018-02-02 09:52] evilebottnawi commented on #607
@sarbull If you have problem please open new issue. Thanks!

[2018-02-02 10:04] evilebottnawi commented on #672
@solomon87 Can you create minimum reproducible test repo?

[2018-02-02 10:09] sarbull commented on #607
@evilebottnawi i just commented so that the code is readable for others when they come to this page.

Big thanks!

[2018-02-02 10:34] xgqfrms-gildata commented on #694
@evilebottnawi The comments above no useful for me.

# my solution

![image](https://user-images.githubusercontent.com/29531779/35728576-fe33d470-0846-11e8-97b8-5026082c02c7.png)

[code]

[code]

[2018-02-02 10:36] xgqfrms-gildata commented on #694
# perfect

![image](https://user-images.githubusercontent.com/29531779/35728846-de467e82-0847-11e8-9b5c-5a4f6125dc83.png)

[2018-02-02 10:48] evilebottnawi commented on #694
@xgqfrms-gildata Can you create minimum reproducible test repo?

[2018-02-02 14:03] olore commented on #700
Thanks @evilebottnawi I will give that a shot. I haven't had to specify that in the past so I thought it was optional.

[2018-02-02 19:02] apfelbox commented on #701
Is there any update and/or planning going on?
I am still wondering what the recommended way for compiling (S)CSS is. I previously used this plugin and would like to switch to webpack 4, but without compilation of CSS this isn't possible.

[2018-02-04 07:50] karmajunkie commented on #701
Yes, could we have an update on this? I'm excited about the v4 improvements, but honestly, this is a pretty fundamental plugin for a lot of people, I don't see how you go into beta before this one is ready.  Please advise.

[2018-02-04 18:53] wayofthefuture commented on #550
@evilebottnawi I don't know... first I need to know if errors will output regardless

[2018-02-05 00:33] sasssssha opened #715 "style-loader does not working after css is extracted."
Greetings
My style-loader is set as fallback and in dev mode extract-text-plugin is disabled.
What is interesting, when I don't bundle my project and extract all files in dist folder, everything works fine, I can see `<style></style>` tag(which is arranged right after link to compiled css). But when I build my project and try to run it in dev mode, everything is extracted in dist folder, and I see

[2018-02-05 01:16] sasssssha commented on #715
I temporary solved this problem by removing `dist` folder before running in dev mode but problem still exists.

[2018-02-05 02:30] michael-ciniawsky commented on #715
Closing in favor of [`style-loader` #301](https://github.com/webpack-contrib/style-loader/issues/301)

[2018-02-05 02:30] #715 closed

[2018-02-05 10:04] guillaumebriday commented on #594
Hey ! Did you find something to fix this issue ?

Thanks

[2018-02-05 10:05] evilebottnawi commented on #594
@guillaumebriday right now, no, it is not easy, PR welcome

[2018-02-05 15:21] montogeek commented on #701
@karmajunkie This is not webpack library, it is supported by contributors. If you want it to be ready for webpack 4 beta, please contribute to it.

[2018-02-05 15:54] errorx666 commented on #701
@karmajunkie If it's urgent that this issue be resolved, and you don't think you can resolve it yourself, you could post a bounty for it:
https://www.bountysource.com/issues/54124099-webpack-4-compatibility

[2018-02-05 15:58] evilebottnawi commented on #701
@errorx666 please use opencollective for this (https://opencollective.com/webpack)

[2018-02-05 16:00] karmajunkie commented on #701
@montogeek that's fair, i was under the impression that being under webpack-contrib meant that it was an officially supported project by the webpack team. Given its important position with the webpack ecosystem it really should be. It boggles mind that they would put version 4 into beta without these kinds of "tier 1" plugins being updated, much less announce a 1 month beta period before labeling

[2018-02-05 16:18] montogeek commented on #701
I am working on it, @sokra changed how it works internally (https://github.com/webpack/webpack/commit/18ae73dad4bb761593a9f5529a182601e1b57520#diff-1064caa9219b7da75fbad061b1a25ec5), breaking/big change. This will take time

[2018-02-05 20:00] GuillaumeCisco commented on #701
Hey @montogeek thanks for taking a look on this issue. I'd like to warn you the diff you mentioned is not similar to the last version of Chunk.js : https://github.com/webpack/webpack/blob/next/lib/Chunk.js
Hope it will help to solve this issue ;)

[2018-02-06 00:26] chhaymenghong commented on #434
@albertogasparin I tried using OptimizeCssAssetsPlugin, but it seems to embed the sourcemap information inside the css bundle itself and as a result increase the bundle size. Any ideas on how to use sourceMap url instead?

[2018-02-06 12:52] VALIKCOOL opened #716 "Webpack substitutes z-index property in production build"
I am facing strange issue with production build version of our app. We are using React bundled with **webpack**. Styles are written in less and packed to separate **bundle.css** with extract-text-plugin. I am having z-index property all over my app. Problem is, that in production mode, bundle outputs styles with substitute values of **z-index** property. For instance, `z-index: 9999` will be trans

[2018-02-06 13:02] evilebottnawi commented on #716
@VALIKCOOL not related to `extract-text-webpack-plugin`, seems you use `css-loader` with minimize option (and enable reduce `z-index`) or other which use `cssnano` or `postcss-zindex` or maybe similar plugin. Thanks for issue!

[2018-02-06 13:02] #716 closed

[2018-02-06 14:14] AbhilashNagaraj commented on #207
ERROR in Error: Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-webpack-plugin for the usage example
    at Object.pitch (D:\SarasManthan.Core\SarasManthan\SarasManthan.Core.App\node_modules\extract-text-webpack-plugin\dist\loader.js:53:11)
    at Object.<anonymous> (D:/SarasManthan.Core/Sar

[2018-02-06 14:15] albertogasparin commented on #434
@chhaymenghong I'm actually turning css source maps off on production. You already [reported it](https://github.com/NMFR/optimize-css-assets-webpack-plugin/issues/33), so let's see what the owner has to say

[2018-02-06 14:15] evilebottnawi commented on #207
@AbhilashNagaraj please double check you configuration. thanks!

[2018-02-06 17:18] EtienneDG opened #717 "Contenthash/Chunckhash breaking plugin 'pipeline'"
Hello,

I'm runnning into an issue with this plugin regarding chunkhash and contenthash. I read the docs and did some research and found out that this plugin's chunkhash is not the same as webpack's chunkhash. The change of naming is a bit misleading, but I switched to contenhash instead (which seemed to be webpack's chunkhash) equivalent.

When I build my dev script, everything works perfectly (c

[2018-02-06 17:32] evilebottnawi commented on #717
@EtienneDG
`webpack.chunkhash` is chunk of chunk.
`extractText.chunkhash` - is not supported right now (see docs `Name of the result file. May contain [name], [id] and [contenthash]`).
`extractText.contenthash` - is md5/sha1 or you specify hash of content.

That you expect? Hash should be change? Need implement this inside `OptimizeCssPlugin` (in past we have discussion about add event to allow ot

[2018-02-06 17:55] MarkPolivchuk commented on #591
I'm having the same issue. My public path in the output is `/js/`, and I am attempting to override it like so:
[code]
But the resulting extracted CSS ends up in `/js/`.

`publicPath` property is being totally ignored

[2018-02-06 18:22] webpack-bot opened #718 "get wrong css order after using HashedModuleIdsPlugin"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
get wrong css order after using HashedModuleIdsPlugin

**If the current behavior is a bug, please provide the steps to reproduce.**
webpack plugin configs.
[code]

**What is the expected behavior?**
remove HashedModuleIdsPlugin then css order will be right.

**Please mention other relevant information

[2018-02-06 18:24] evilebottnawi commented on #718
Seems duplicate https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/573, need investigate.

[2018-02-07 03:21] xgqfrms-gildata commented on #694
# Sure

I will create a repo for that demo.

`webpack3-best-practical`

[2018-02-07 05:08] izaakschroeder commented on #701
@montogeek no promises, but you can have a look at https://github.com/faceyspacey/extract-css-chunks-webpack-plugin/pull/61/commits/4b3b0a55e2cf70bd9a4f756eaa3e27f6e0021509. It seems to work for me.

[2018-02-07 07:53] montogeek commented on #701
@michael-ciniawsky told me that there is another plugin that is going to replace this one eventually, also this is could be support natively by webpack (https://github.com/webpack/webpack/pull/6448)

@izaakschroeder Does it pass the tests? This week prove to be very busy, couldn't continue working on it.

[2018-02-07 08:29] izaakschroeder commented on #701
@montogeek I haven't tested it on this plugin, only the other one. Native CSS modules seem great though didn't realize they were landing in 4.x. 🚀

[2018-02-07 10:37] AbhilashNagaraj commented on #207
Hi evilebottnawi,
Thank you for your reply,
I was check configuration again, It working fine for web-pack-dev build but problem was in web-pack-prod build!

Thanks in advance

[2018-02-07 16:02] Mouvedia commented on #389
Webpack 3.10.0 is still affected.

[2018-02-07 16:05] evilebottnawi commented on #389
@PTC-JoshuaMatthews can you create minimum reproducible test repo and create new issue

[2018-02-08 13:24] rikedia commented on #693
I have the same problem, when I disable ExtractTextPlugin:
`const extractStyles = new ExtractTextPlugin({
    disable: true,
    ...
})`
images are found.

When enabled images required from css (scss) files aren't found (HTTP 404).
It is requesting images at `http://localhost:3333/dashboard/img/dashboard/header/default_header_image.jpg` instead of `http://localhost:3333/dashboard/static/src/img/da

[2018-02-09 04:41] shellscape commented on #550
@evilebottnawi could this be a target for webpack-log?

[2018-02-11 02:36] bs-thomas commented on #594
experiencing the same issue here.

[2018-02-12 17:26] ramyyahari opened #719 "xtplugin"

[2018-02-12 17:26] #719 closed

[2018-02-13 05:39] codevvvv9 commented on #503
@michael-ciniawsky it's ok，but my style is scss, convert css don't work.
this is webpack.config.js
[code]
my app.js is convert bundle.js
[code]

[2018-02-14 12:25] Legends opened #720 "There is no rules property under module - webpack.config.js"
There is no rules property under module - webpack.config.js.

How to register ExtractTextPlugin under `loaders` ?

![image](https://user-images.githubusercontent.com/966368/36204969-63d5309a-118d-11e8-9324-3433335c13fd.png)

[2018-02-14 13:22] michael-ciniawsky commented on #720
Which version of `webpack` are you currently using ?

[2018-02-14 13:28] #720 closed

[2018-02-14 16:00] thasmo commented on #550
It looks like this for me:
[code]
Just much longer. ;)

Setting `stats.children` to `false` doesn't work for me in this case.

[2018-02-14 16:24] thasmo commented on #550
Oh, nevermind. I was wrong - `stats.children` did help!

[2018-02-16 15:09] wayofthefuture commented on #550
stats.children false solved the problem!!! THANKS!

[2018-02-16 15:09] #550 closed

[2018-02-16 15:51] mknet commented on #494
I'm also seeing this in version 3.11.0
"webpack": "^3.11.0",

[2018-02-16 16:18] AntonioRedondo commented on #263
Any progress on this issue when using `extract-text-webpack-plugin` with Angular `@Component`?

[2018-02-16 16:25] montogeek commented on #494
@ywxgod @mknet Which versions of this plugin are you using?

[2018-02-16 17:22] AntonioRedondo commented on #666
Hi @michael-ciniawsky and @d3viant0ne. Great job with this plug-in! Is there any plans to support CSS coming from Angular `@Component`s?

Wouldn't be possible to add a config parameter of the style `exportEmptyString: true` so that this would make modules exporting an empty string rather than removing the content of the function? Like this Angular wouldn't complain about [`Error: Expected 'styles'

[2018-02-16 21:20] Legends opened #721 "Unexpected token"
The css works as expected despite this error in Chrome, but not in IE11. What is the issue here?
The CSS looks fine.

Win10 x64
[code]

![image](https://user-images.githubusercontent.com/966368/36329765-6ea4d634-1367-11e8-9cd8-bb6b187aa7f4.png)

![image](https://user-images.githubusercontent.com/966368/36331167-089f0bce-136d-11e8-8832-633b0904251b.png)

Even when I delete close to everything from

[2018-02-17 10:51] Legends commented on #721
Actually, it has nothing to do with the plugin.
I can manually edit the resulting css file, put just one style rule inside, save, reload the browser and I will still get this error...??!!

Very strange. Encoding issue?

[2018-02-17 10:56] Legends commented on #721
I think I found the issue, but have still to figure out, what I am doing wrong:

![image](https://user-images.githubusercontent.com/966368/36340256-a32bcdc8-13d9-11e8-9929-21517c553006.png)

[2018-02-17 11:51] Legends commented on #721
Have to check the configuration of the `html-webpack-plugin`:

[2018-02-17 11:51] #721 closed

[2018-02-17 11:59] Legends commented on #721
**The commented out part caused this issue:**

[code]

[2018-02-17 13:28] PaulAik commented on #594
I think this is related? Similar issue, but also affects configs with multiple entry points.

In the screenshot below, I've made a change to "a.js" which has caused every CSS file to be re-emitted.

One thing I'm not sure about: are these files simply being re-written, or are the build tools actually rebuilding the CSS files (and therefore potentially causing the build to take longer)?

![image](h

[2018-02-17 14:10] machineloop opened #722 "[4.0.0-alpha.0] Cannot read property 'requestShortener' of undefined"
Using 4.0.0-alpha.0, Webpack 4.0.0-beta.1, Node 9.3.0 on macOS 10.12.6:

Thanks for the hard work on this! Thought I'd try out the new Alpha.0 with my build, looks like I may have found a bug. I'm getting the following error that clearly shows extract-text-webpack-plugin in the stack trace:

[code]

Not sure what the best way is to create a minimal project showing issue. Happy to follow-up with mo

[2018-02-17 17:47] michael-ciniawsky commented on #722
For reference https://github.com/webpack/webpack/blob/master/lib/optimize/ConcatenatedModule.js#L370

[2018-02-18 14:26] ForkInSpace commented on #579
updating Webpack to the latest version also helped, which is Webpack 3.11.0 at the time of posting.
@lukasgeiter it seems they fixed the issue since 3.5 release (the version I was running earlier)

[2018-02-18 23:57] jshado1 commented on #569
@pratikt-cuelogic I just encountered the same (was working from [their linked custom css + webpack tutorial](https://medium.com/webmonkeys/webpack-2-semantic-ui-theming-a216ddf60daf)). Migrate any loaders to rules/use, and voila.

[2018-02-19 03:30] manoj-nandakumar commented on #524
My test webpack.config.js
[code]

[2018-02-19 13:21] ddtch opened #723 "[Validation]Error2 ajv error"
Hi guys I already looked at issue [524](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/524), [569](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/569), [580](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/580) but it not helped me. I got  next error when running webpack
![image](https://user-images.githubusercontent.com/765596/36

[2018-02-20 08:00] pshurygin opened #724 "[4.0.0-alpha.0] Cannot read property 'get' of undefined"
Im having this issue time to time while using this plugin version 4.0.0-alpha0 with webpack 4.0.0-beta2 in watch mode. The issue does not persist and i'm not sure when exactly it occures.

[2018-02-20 15:22] pshurygin opened #726 "[4.0.0-alpha.0] Webpack runtime code in extracted css files"
I'm using extract text plugin 4.0.0-alpha.0 with webpack 4 beta2. I have some dynamic requires in my code(without any css, js and json only). But one of my output css files contains not only styles but also code like this(which obviously breaks stuff):

I could workaround this by adding these lines to renderExtractedChunk method of the plugin, which is obviously some dirty hack.

[2018-02-20 17:32] TheLarkInn commented on #722
Do you think you could reduce this to a minimal reproduction in a repository? This would help us significantly solve this.

[2018-02-22 12:58] FelschR commented on #200
I'm using `@import`s in my css files (without using CSS modules) and I'm experiencing this issue.
Moving the imports to js didn't change anything about that.

Is this really still and issue? Am I missing something?

[2018-02-22 13:40] evilebottnawi commented on #200
@FelschR bug exists, feel free to PR

[2018-02-22 17:08] pbarbiero commented on #200
This started happening for me with webpack 3.11.0, 3.10.0 does NOT exhibit this issue.

[2018-02-24 08:53] 01Kuzma commented on #50
Getting the same error once moved all my files to 'src' folder:
[code]
and the same with every imported  .css file

**webpack.config.js**:
[code]

Any suggestions?

[2018-02-24 12:44] k3lh4m commented on #234
For anyone that still has this problem, check this out

Hope it helps other people, like it did do for me

https://stackoverflow.com/questions/41516346/error-expected-styles-to-be-an-array-of-strings/#43867625

[2018-02-25 04:35] b1tn3r commented on #50
Alright so this problem has been really aggravating for me for a long time. I was getting the same terrible error that everyone else has been getting:
[code]

This error has been following me ever since I started using Webpack and I had to compromise with just using the node-sass-middleware , which does not bundle the way I want it to. My best guess is that the error occurs because extract-text-we

[2018-02-25 14:24] circlingthesun commented on #722
Well, it's calling `chunkModule.source()` (here: https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/v4.0.0-alpha.0/src/index.js#L94) without any parameters (see: https://github.com/webpack/webpack/blob/master/lib/optimize/ConcatenatedModule.js#L437)

[2018-02-25 14:49] qkdreyer commented on #701
It's out now: https://github.com/webpack/webpack/releases/tag/v4.0.0

[2018-02-25 16:03] cklmercer commented on #701
@koddr looks like you moved the plugin but didn't remove loaders that reference the plugin.

[2018-02-25 16:14] karolyi commented on #701
@cklmercer same here. a lot of other plugins are using this plugin.

also, I've spent 2 hrs to figure out how I can update my now completely broken frontend tooling, before I gave up and decided to rollback and lay low until the other extra modules (I'm looking at you, `stylus-loader` and `postcss-loader`) are working.

so now, at least I can work.

[2018-02-25 16:24] cklmercer commented on #701
@karolyi yup.. same here. We're going to be waiting things out. Still super excited though. Love the "sensible defaults". I've actually been working on a webpack overhaul for my company for the past week or so that's about to go live next weeks, so I figured I'd at least test out webpack4 beforehand. Definitely going to have to wait and double back though. Not even mad..

[2018-02-25 17:45] adityapurwa commented on #701
So, did webpack now have built in of something like `extract-text-webpack-plugin`, or its just that the plugin doesn't work with webpack@4?

[2018-02-25 17:50] cklmercer commented on #701
@adityapurwa afaik, we're just waiting on the plugin to be updated to support v4.

[2018-02-25 17:53] adityapurwa commented on #701
CMIIW

Taken from https://medium.com/webpack/webpack-4-released-today-6cdb994702d4

Does this mean now that webpack can accept CSS file and output it?

[2018-02-25 18:05] bmayen commented on #701
@adityapurwa, From the "What's Next" (v4.x, v5) section of that article:
"CSS Module Type — CSS as Entry (Goodbye ExtractTextWebpackPlugin)"

[2018-02-26 00:29] manix commented on #701
There is an [alpha release](https://github.com/webpack-contrib/extract-text-webpack-plugin/releases/tag/v4.0.0-alpha.0) of the plugin, for anyone as oblivious as me.

[2018-02-26 01:46] brigand commented on #701
@manix the alpha version seems to be working for me on a fairly large project that relies on CSS order heavily.

[2018-02-26 09:07] phaistonian commented on #722
The visual way - in case it helps any more.

![image](https://user-images.githubusercontent.com/796530/36661824-27cacd2e-1ae5-11e8-9508-d1478644d63f.png)

[2018-02-26 10:38] francoisromain commented on #701
@manix How do you install the alpha?

[2018-02-26 11:35] Losses commented on #50
same issue...... anyone can help?

[2018-02-26 11:46] jackwilsdon commented on #701
@francoisromain It's in the description of the release;

[2018-02-26 13:38] tzimmermann opened #727 "[4.0.0-alpha.0] Cannot read property 'moduleExports' of undefined"
I get `TypeError: Cannot read property 'moduleExports' of undefined` after upgrading to webpack 4 and the new alpha of the extract-text plugin:

[code]

The stack trace points to `.chunkModule.source()` being called without parameter [here](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/v4.0.0-alpha.0/src/index.js#L94), which leads to the `runtime` variable being undefined [he

[2018-02-26 19:30] kaiyoma commented on #727
I'm also running into issues when trying to upgrade to webpack 4.0. `yarn check` spits this out:

[code]

[2018-02-26 20:15] michael-ciniawsky commented on #727
@kaiyoma

[code]

`extract-text-webpack-plugin@3.0.0` will 💯 break with `webpack >= v4.0.0` :)

[2018-02-26 21:07] peter-mouland commented on #722
I can reproduce this by turning my webpack config from `development` mode to `production` (i.e. no error when in dev).

I also noticed my old code had:

`System.import('./app/utils/analytics').then((analytics) => analytics.init());`

Please correct me if I am wrong, but I think `system.import` is deprecated and we should now be using `import()`.  anyway, I commented out the offending line and ever

[2018-02-26 21:26] peter-mouland commented on #722
# test case

[code]

[code]

The above give an the error.  The error can be resolved by either:
 * remove the use of `System.import` from entry.js
 * remove the use of `new ExtractTextPlugin('[name].css'),` from webpack config

[2018-02-26 21:42] circlingthesun commented on #722
I'm not using System.import (at least not directly) and I'm still experiencing this issue.

[2018-02-26 21:42] circlingthesun commented on #722
I'm not using System.import (at least not directly) and I'm still experiencing this issue.

[2018-02-26 21:47] peter-mouland commented on #722
are you using `ExtractTextPlugin`?
do you think you could try to reproduce a minimal test case as I've done above to help narrow down your problem code?

[2018-02-26 22:32] MadOgre commented on #701
@evilebottnawi, errorx666 asked a legitimate question. There is no need to be passive-aggressive and demand money. Especially since the product doesn't work!

[2018-02-26 23:29] circlingthesun commented on #722
@peter-mouland I tried to reproduce it with a minimal example, but have not been able to. I can't even make it choke on `System.import`.

[2018-02-27 00:03] DNLHC commented on #722
It seems like it breaks with any dynamic imports not just `System.import`
I have several dynamic imports
`const Contacts = () => import('./contacts' /* webpackChunkName: "contacts" */);`
after changing it to
`import Contacts from './contacts';`
everything builds fine

[2018-02-27 06:49] zigang93 commented on #693
Hi.. I solved my problem with  delete my config `file-loader` of `publicPath`.
`fileloader` overwrite my `publicPath`.
for those facing `publicPath` in `ExtractTextPlugin` not working , please check your other  `publicPath` setting

sorry, my mistake. finally understand how webpack work ..

[2018-02-27 06:49] #693 closed

[2018-02-27 06:54] zigang93 commented on #591
Other loader 's `publicPath` will overwrite your ExtractTextPlugin `publicPath` .
For my case, my `file-loader` `publicPath` overwrite my ExtractTextPlugin `publicPath`.

Please double check your webpack config file.

[2018-02-27 07:37] AndyBarron commented on #722
Confirming the above comment - changing ES async imports to standard ES imports fixes this.

[2018-02-27 07:40] AndyBarron commented on #722
Additionally, I can confirm that removing `extract-text-webpack-plugin` from my `webpack.config.js` fixes the issue.

[2018-02-27 08:45] gtournie commented on #200
@vincent-louis I did the same but I used the `file-merge-webpack-plugin` to get only css file at the end (it messes up the source map tho...)

This is a real issue in my case. I import Bootstrap via css-modules (with reactstrap) and have also some custom stylesheets:
[code]
For now there is no way to ensure that all bootstrap styles will be placed first. The only workaround is to use 2 ExtractText

[2018-02-27 09:56] evilebottnawi commented on #701
@MadOgre sorry, I made a mistake (the wrong tab was opened and it is reply for other issue) when I wrote this and noticed only now, I apologize

[2018-02-27 09:57] evilebottnawi commented on #701
Also please look on @jackwilsdon answer above

[2018-02-27 10:20] MadOgre commented on #701
@evilbottnawi :) simple misunderstanding. No harm done. Thanks for clearing it up.

[2018-02-27 10:41] Kovensky commented on #727
This is probably related to https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/722, just being triggered via DllPlugin instead of via dynamic imports.

[2018-02-27 23:07] circlingthesun commented on #722
@TheLarkInn I've systematically hollowed out a project and ended up with this minimal reproduction: https://github.com/circlingthesun/extract-text-webpack-plugin-bug

[2018-02-28 01:13] weichenghsu opened #729 "Scss files not get compiled"
Version: "extract-text-webpack-plugin": "3.0.2"

I have scss files under `src/css` and want to compile it through webpack.
It seems not working.
What's the possible root cause?
Thanks

        var webpack = require('webpack');
        var path = require('path');
        const ExtractTextPlugin = require("extract-text-webpack-plugin");
        var CopyWebpackPlugin = require('copy-webpack-plugin');

[2018-02-28 01:54] antialias commented on #97
@le0nik I hope you don't mind that I published your code in an npm package: https://www.npmjs.com/package/clean-up-extract-text-plugin-output

[2018-02-28 02:58] michael-ciniawsky commented on #722
Released in [v4.0.0-beta.0](https://github.com/webpack-contrib/extract-text-webpack-plugin/releases/tag/v4.0.0-beta.0) 🎉

[2018-02-28 02:58] michael-ciniawsky commented on #727
Released in [v4.0.0-beta.0](https://github.com/webpack-contrib/extract-text-webpack-plugin/releases/tag/v4.0.0-beta.0) 🎉

[2018-02-28 07:45] pshurygin commented on #726
Still having same issue with 4.0.0-beta.0

[2018-02-28 08:52] peter-mouland commented on #722
that commit looks like it should do the job 👍 I'll be able to test when i get back from work.  thanks @michael-ciniawsky!

@circlingthesun looking at your reduced test case, your problem is the same as previously mentioned (i.e. dynamic imports) so you should be good to go also 🎉

[2018-02-28 08:57] circlingthesun commented on #722
@peter-mouland looks like it works :+1:

[2018-02-28 09:44] evilebottnawi commented on #729
@weichenghsu can you describe versions of `webpack`, `sass-loader`, `css-loader`, `style-loader`, `node`

[2018-02-28 09:45] evilebottnawi commented on #722
Thanks everyone :+1:

[2018-02-28 09:45] #722 closed

[2018-02-28 09:47] evilebottnawi commented on #726
@pshurygin can you send PR and tests?

[2018-02-28 10:05] tzimmermann commented on #727
@michael-ciniawsky Thanks a lot, working now for me, too!

[2018-02-28 10:05] #727 closed

[2018-02-28 11:07] evilebottnawi commented on #723
@ddtch try to `npm cache clear --force && npm install`

[2018-02-28 12:32] duan602728596 opened #730 ""module.exports = (__webpack_require__(11))(81)" in css file"
Version: 4.0.0-beta.0

In the css file will appear like this:
[code]

In the compiled css file will appear similar `module.exports = (__webpack_require __ (n)) (j);` such code.

[2018-02-28 12:42] evilebottnawi commented on #730
@duan602728596 Can you upgrade to `webpack@4` stable and confirm what issue exists?

[2018-02-28 13:08] hakan-andersson commented on #730
Try deleting node_modules and do a npm install, that did the trick for me.

[2018-02-28 16:31] duan602728596 commented on #730
@evilebottnawi
I deleting node_modules and do a npm install, and try again in the development environment.
Sorry, I can not provide a minimal demo because I do not know where the problem is. If necessary, I can provide a relatively complete demo.

The code inside css is
[code]
It does not show up when I do not use `DllPlugin` and `DllReferencePlugin`.
CSS is a framework style that does not show up

[2018-02-28 16:36] evilebottnawi commented on #730
@duan602728596 It is very difficult to fix issue without minimum repo :disappointed:

[2018-02-28 17:09] pshurygin commented on #726
I managed to reproduce the issue with this minimal setup:

/index.js:
[code]
/a.css:
[code]
/src/b.js:
[code]

The problem is that the workaround above does not work in this case because webpack context module code comes as RawSource instead of OriginalSource. And i'm not sure about how to fix this for good.

[2018-02-28 17:30] ngohungphuc opened #731 "Entrypoint undefined = extract-text-webpack-plugin-output-filename after upgrade to webpack 4"
I got this error

![code_2018-03-01_00-26-48](https://user-images.githubusercontent.com/13591213/36802501-a37894a2-1ce7-11e8-9f10-543bf787d2c5.png)

My `webpack.config` file

[code]

Am I missing something or webpack 4 is not ready to use with this plugin ?

[2018-02-28 21:36] AtofStryker commented on #731
Webpack 4's new tapable plugin library broke some of the existing plugins. The fix should be relatively simple

[2018-03-01 01:14] ngohungphuc commented on #731
I get this error in dev mode not sure about prod mode may be the same lol @RussGlover

[2018-03-01 03:11] tyscorp commented on #730
Getting this also on latest versions. I think it is caused by mixing dynamic `import`s and the DLL plugins. It only occurs for me when I use those two in conjunction.

[2018-03-01 04:08] nypinstripes opened #732 "Upgrading html-webpack-plugin to ^3.0.0 throws dependency warning."
After upgrading html-webpack-plugin to ^3.0.0 today, i'm receiving a dependency warning:
[code]

[2018-03-01 04:11] #732 closed

[2018-03-01 05:22] yangdonglei opened #733 "not support webpack4,how to fix it?"
not support webpack@4.0.1 why? how to fixed it?

[2018-03-01 05:28] michael-ciniawsky commented on #733
`npm i -D extract-text-webpack-plugin@next`

[2018-03-01 05:28] #733 closed

[2018-03-01 06:31] jbasilio commented on #731
I get this same error in Webpack 4. Regardless of mode.

[2018-03-01 07:59] JonWallsten opened #734 "Using styleUrls instead of importing css file causes error"
I noticed back in last fall when trying to get Angular 5 to work with this plugin that when using styleUrls instead of importing the css file, I get the following error:

[code]

**The config:**
[code]
**The component:**
[code]
**However, when importing the file instead, it works:**
[code]

Even more interesting is that it seems to work in angular5-starter.

[code]

Any idea whats happening here?

[2018-03-01 08:05] michael-ciniawsky commented on #734
`webpack` works by parsing `import/require` statements and as no context about how a specific frameworks deals with style handling :).

[2018-03-01 08:05] #734 closed

[2018-03-01 10:12] evilebottnawi commented on #730
@tyscorp seems we handle dll in plugin, i am glad to fix this, but i don't use `DLLPlugin`, need reproducible repo and i can fix it :+1:

[2018-03-01 10:13] evilebottnawi commented on #731
Somebody can create minimum reproducible test repo?

[2018-03-01 14:02] CinKon commented on #722
I still got that bug when I use dynamic imports like this:

[code]

as it has to be used for https://router.vuejs.org/en/advanced/lazy-loading.html

[2018-03-01 14:08] CinKon commented on #722
Sorry, missed the beta-release

[2018-03-01 14:55] duan602728596 commented on #730
@evilebottnawi @hakan-andersson
[https://github.com/duan602728596/webpackconfig/tree/bug](https://github.com/duan602728596/webpackconfig/tree/bug)
This is a demo that reproduces the bug to the maximum extent possible.
<br>
I output the variable `source` in [https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/next/src/index.js#L376](https://github.com/webpack-contrib/extract-text-we

[2018-03-01 16:02] mauriciofergo commented on #731
Same error here,
The build is performed properly but when I enter the local server the entry point is not loaded.

[2018-03-01 17:31] insin opened #735 "[4.0.0-beta.0] Extracted text being moved to the runtime chunk when using optimization.runtimeChunk"
Should this plugin attempt to detect and ignore the chunk Webpack 4 creates when you use `optimization.runtimeChunk`?

I haven't been able to reproduce a minimal project for this yet, but while working on nwb's webpack4 branch I've configured `optimization.runtimeChunk = {name: 'runtime'}` and `allChunks: true` and am building project which has a code split which imports CSS. My build somehow ends

[2018-03-01 19:42] DNLHC commented on #735
Not sure if my issue is relevant, but after upgrading i'm getting separated css + sourcemaps for vendors, runtime and entry files.

[2018-03-01 23:39] Jonarod commented on #173
@jrjacobs24 did you finally get it to work somehow? I have the same issue happening...

[2018-03-02 11:06] DaveBitter commented on #731
Same issue here. The fix probably isn't that big of a task. If I had more knowledge on this I would make a PR. Is there any ETA for the fix. I now have to downgrade to Webpack 3 just for this plugin.

[2018-03-02 12:33] sherlock1982 commented on #200
Started to happen for me in Webpack 4.0.1.

[2018-03-02 13:21] JounQin opened #736 "[webpack@4] Unexpected token: punc ({) on production build"
Reproduction: https://github.com/JounQin/ng-rubick/blob/master/build/webpack.config.ts#L118
Step: enable ExtractTextWebpackPlugin, then run `yarn build`

And also, when ExtractTextWebpackPlugin is disabled, there is en empty app.*.js file generated, you can change https://github.com/JounQin/ng-rubick/blob/master/build/webpack.config.ts#L83-L86 to `use: ['style-loader', ...cssLoaders],` then run `y

[2018-03-02 17:26] garygreen commented on #642
Same issue for me, seems to be affecting Webpack 4 as well?

[2018-03-02 18:02] garygreen opened #737 "[Webpack 4] Wrong order of entries when using less-loader and @import"
## Example

![image](https://user-images.githubusercontent.com/1702638/36913463-f3da8f6c-1e41-11e8-9f2d-86a54f9ec25a.png)

As you can see, there are two entry points:

[code]

The `bootstrap.less` uses `@import` to import various bootstrap components (in this case, `bootstrap-badge.less`).

## Result

[code]

## Expected

[code]

The `bootstrap.less ` file is the first entry, so whatever is output

[2018-03-02 18:23] garygreen commented on #737
Just realised - is this a possible problem with `css-loader` instead?

[2018-03-02 20:17] wKovacs64 opened #738 "[4.0.0-beta.0] emitting empty CSS files when using dynamic import"
**General:**

When using dynamic `import()` code-splitting, ETWP creates an empty (0 byte) CSS file for the main entry point (e.g. `main.css`) even if no CSS was imported. Additionally, if using `optimization.splitChunks.chunks: "all"` to split initial chunks in addition to async, it creates an empty CSS file for vendors as well (e.g. `vendors~main.css`) even if no vendor (`node_modules`) CSS was

[2018-03-02 21:07] btakita commented on #701
Still an issue with Webpack 4.0.1...

[2018-03-02 22:54] jrjacobs24 commented on #173
@Jonarod I'm sorry, man but I honestly can't remember how I got it working. Somehow I did and just kept plowing ahead because I was so excited haha This was also about a month ago. I'm pretty sure I attempted some uninstalling and reinstalling. FWIW here's what my final setup looked like:

[code]

[2018-03-03 02:14] Jonarod commented on #173
@jrjacobs24 Aaaaah.Got it working thanks !!!!! I doubled-checked my webpack config and thought it was already coming with the `plugins` part... except it wasn't. Adding the `plugins:[...]` bit lead me to success !! Thanks again :)

[2018-03-03 12:14] robcresswell commented on #701
@btakita Did you try `extract-text-webpack-plugin@next`?

[2018-03-03 16:41] woutervanvliet opened #739 "Fallback loader removed from/not included in bundle"
I have a setup where I have two types of css files (1) global styles not processed as css modules (2) module specific styles processed as css modules. CSS should be extracted to one css file, and this works. Then `style-loader` is used to load styles that come from dynamic imports. And here comes the problem;

When I set `style-loader` as fallback for both `ExtractTextPlugin.extract` calls, I get

[2018-03-03 21:56] woutervanvliet commented on #739
Just created a minimal example repository to narrow down on the issue:

https://github.com/woutervanvliet/etwp-issue-739

- The issue is active on the `master` branch.
- The branch `workaround` contains a working, though not ideal, workaround.
- The branch `webpack3` runs on, you guessed it, webpack3 - where the problem doesn't appear

[2018-03-04 12:29] garygreen commented on #737
Possibly related to #710 ?

[2018-03-04 12:49] AlexeyNovikov opened #740 "Uncaught ReferenceError: NODE_ENV is not defined when using ExtractTextPlugin"
The problem is that when I'm bundling project using ExtractTextPlugin I got an error in browser console saying "Uncaught ReferenceError: NODE_ENV is not defined". But when I'm bundling .css in one bundle with .js files, everything is going well.

Here is the part of my webpack config file whithout ExtractTextPlugin:
[code]

And here with ExtractTextPlugin:
[code]
You could check minimal project sh

[2018-03-04 16:14] gempir commented on #701
If you plan to run your code in production I wouldn't recommend webpack 4 at this time. A lot important plugins are still in testing/upgrading phase.

If you must use the Alpha like rob mentioned.

[2018-03-04 21:19] leereichardt commented on #731
Is Webpack 4 even ready for production use? I feel like they need to delay a few more weeks to allow some of the most important plugins to be updated?

[2018-03-04 23:06] AlexMardanov commented on #738
Getting same after enabling runtimeChunk. If the dynamic module (or even simple import to entry) has it's own styles - build creates:

`runtime~main.fe0bed.bundle.css 1.1 KB`
`main.eae8da.bundle.css 1.3 KB`

And if I move styles to entry js (not imported module):

`runtime~main.d41d8c.bundle.css 299 B` (empty)
`main.fb1102.bundle.css 1.3 KB`

Looks like runtime.css has only imported styles from mo

[2018-03-05 04:59] Edward-Lombe commented on #731
@leereichardt After using it for a couple of days, my survey would be no. It still works, but for a program as reliant on plugins as webpack is (especially those under the quasi-official webpack contrib), I would expect the release of v4 to correspond to all the important plugins being updated to v4.

[2018-03-05 06:27] ngohungphuc commented on #731
@leereichardt

[2018-03-05 06:28] ngohungphuc commented on #729
@weichenghsu just follow my config and you will be good
[code]

[2018-03-05 06:28] leereichardt commented on #731
So it has been said on various issues for the past 50 odd days. Yet this relatively simple fix hasn’t been fixed?

[2018-03-05 06:29] ngohungphuc commented on #731
not sure why is take so long

[2018-03-05 06:32] ngohungphuc commented on #701
Try with `extract-text-webpack-plugin@next` and the issue happend  [here](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/731)

[2018-03-05 06:36] oliverguenther commented on #731
Responding here because I'm being notified of your recent comment. How about instead of complaining here, you contribute by helping in fixing the broken tests [in the v4 compatibility PR](https://github.com/jaredpalmer/razzle/pull/525) ?

Thanks to the maintainers that have provided our project with smooth upgrade paths from the early days of webpack. We are experiencing the same issue and will ap

[2018-03-05 06:40] ngohungphuc commented on #731
We just raise the concern, not complain. Also If I knowledge I would make Pr and fix it for you guys

[2018-03-05 07:23] woutervanvliet commented on #738
The runtime css file surprised me as well, but an empty main.css is pretty much what I'd expect - if there were no styles emitted at that point.

After all, one would include a <link> in the HTML if you expect styles there. Not writing a main.css file would/could result in a 404.

I guess the same logic applies to runtime.css?

[2018-03-05 07:39] wKovacs64 commented on #738
I wouldn't expect a file to be emitted at all. And no link added to the HTML, either (so no 404). That's how the previous version behaved, anyway. Why generate additional requests for empty files?

[2018-03-05 08:32] woutervanvliet commented on #738
I see your point ;-).

Kinda appreciate the certainty still, that every entrypoint results in an output css file. If you don't want to use it, check if the file is empty and then don't put it in your html.

[2018-03-05 13:19] mojoaxel opened #741 "add support for webpack v4"
[Webpack v4 has been released](https://github.com/webpack/webpack/tags).
At the moment only webpack version 3.1.0 is supported:
* https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/package.json#L65

[2018-03-05 13:21] montogeek commented on #741
Duplicate of https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701

[2018-03-05 13:22] mojoaxel commented on #741
@montogeek Sorry and thanks!

[2018-03-05 13:22] #741 closed

[2018-03-05 14:09] AlexeyNovikov commented on #740
Sorry, this is my fault. I reassigned the `plugins` variable in the webpack config and this was causing the problem.

[2018-03-05 14:59] wKovacs64 commented on #738
I'm using `html-webpack-plugin` (like a lot of people, I assume), so it would need to provide an option for skipping empty files if ETWP emitting them is indeed intentional.

[2018-03-05 15:27] jrjacobs24 commented on #173
@Jonarod That's awesome, man! Almost didn't include that part, but I'm glad I did!

[2018-03-05 18:35] btakita commented on #701
I'm getting the following error with `extract-text-webpack-plugin@next` (`4.0.0-beta.0`).

I don't want to complain, but I'm really confused over this upgrade webpack to version 4. How do we know when it's going to be ok to upgrade? The last thing I want to see is some random issue happen in production that is not caught in our `staging` or `uat` environments. There's a bunch of plugins being used

[2018-03-05 18:41] btakita commented on #701
It seems like `@rails/webpacker` is locked on a certain version of `extract-text-webpack-plugin`. To fix, I added to 'package.json':

[code]

That being said, I'm going to take the advice from @gempir & downgrade to v3.

[2018-03-05 21:21] jmar777 commented on #724
@pshurygin I just started running into this today after adding dynamic imports, and then noticed that the new update, `4.0.0-beta.0`, includes specific fixes for dynamic imports.

So far it's been smooth sailing after updating to the new version.

[2018-03-05 23:22] Kuzirashi commented on #737
I get the same using:
[code]

The funny thing is when I edit CSS file or file when I import the styles everything is correct then (after reload). :)

[2018-03-06 02:56] edwardfhsiao opened #742 "[4.0.0-beta.0] Extracted text only output commons.css instead of separated css files when using optimization.splitChunks"
package.json
[code]
config.js
[code]

page1.js
[code]
page2.js
[code]
page3.js
[code]
When using webpack3, we use
[code]
 it outputs commons.css, page1.css, page2.css, page3.css.

However, in webpack4, it changes the CommonsChunkPlugin to the optimization.splitChunks, and it only outputs commons.css

[2018-03-06 05:06] s524797336 opened #743 "[4.0.0-beta.0] hangs when using webpack 4"
It hangs even without any css-loader, when i remove ExtractTextPlugin, every thing is ok, when i say hangs it means forever hangs cause i wait all day, and it leave a node process and use cpu 100% when i ctrl+c the process

I need help to how to debug this

[2018-03-06 07:12] pshurygin commented on #724
Yes i believe this one is fixed in beta0. Thanks!

[2018-03-06 07:12] #724 closed

[2018-03-06 09:17] ddtch commented on #723
@evilebottnawi not helped. I already updated to webpack 4, same problem

[2018-03-06 09:21] evilebottnawi commented on #723
@ddtch can you create minimum reproducible test repo?

[2018-03-06 09:41] yangmingshan commented on #738
Getting same problem, extract-text-webpack-plugin will extract empty runtime and vendor CSS.

[2018-03-06 14:54] AvraamMavridis commented on #731
Same issue here, with webpack 4

<img width="504" alt="screen shot 2018-03-06 at 15 54 17" src="https://user-images.githubusercontent.com/283690/37039007-aac88aaa-2156-11e8-8f43-21470040183b.png">

[2018-03-06 15:01] evilebottnawi commented on #731
We have a lot of issue when `webpack@4` was shipped. :disappointed:

Feel free to PR to fix this.

[2018-03-06 15:02] evilebottnawi commented on #731
I can look on `ETWP` only on next week, sorry

[2018-03-06 17:16] martinvd commented on #726
Having the same issue. Might have to do with webpack 4 not having a CSS module type yet.

[2018-03-07 05:40] strflw commented on #701
Maybe whent the version is not a "alpha" or "beta" anymore…but thats just an uneducated guess…

[2018-03-07 07:52] lili21 commented on #738
You can try [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin)

[2018-03-07 08:45] lpillonel commented on #743
I also experience a similar issue with this version and webpack@4.1.0 :
[code]
If I turn `optimization.concatenateModules` to `false` it is working fine. I don't know if the two issues are related.

[2018-03-07 11:52] amrshakya commented on #701
can anyone provide me the documentation of webpack 3? coz in webpack website i just found the documentation for webpack 4

[2018-03-07 11:56] amrshakya commented on #701
actually i wanted to use webpack 3 but couldn't find the doc for webpack 3

[2018-03-07 11:58] amrshakya commented on #701
extract-text-webpack-plugin is available for webpack 1 2 and 3 right?

[2018-03-07 12:00] kvasa commented on #701
You can try to use official plugin for webpack 4 directly from sokra -> https://github.com/webpack-contrib/mini-css-extract-plugin I guess it will replace this plugin in the future it's still alpha and there are some issues but it works.

[2018-03-07 12:05] amrshakya commented on #701
thank you kvasa

[2018-03-07 12:08] amrshakya commented on #701
but i wanted to use webpack 3 still it will be more stable since i need to use webpack in production but i didnt found the doc for webpack 3

[2018-03-07 12:18] montogeek commented on #701
This is the page for webpack 3 https://webpack.js.org/plugins/extract-text-webpack-plugin/

[2018-03-07 12:18] Vinnl commented on #701
@amrshakya Please ask questions on StackOverflow or the Webpack Gitter: https://gitter.im/webpack/webpack

There are quite a few people subscribed to this issue so they get notified when this plugin has a new Webpack 4-compatible release, and now they're being drowned in notification emails of your comments.

(And: if people on Gitter/StackOverflow tell you there is no way to access old Webpack do

[2018-03-07 16:08] ryios opened #744 "[4.0.0-beta.0] Incorrect output file name using [name] token and npm script entry points."
I've got a simple webpack.config setup (still working on it). Right now it's just sass, extract text, and babel setup.

I've got two NPM scripts as follows for zeroless configuration (so I don't need multiple webpack.config files (per webpack 4's changes).

The issue I'm having is the extract text webpack plugin outputs my file names as "main.css" on any of my npm scripts. So I guess webpack is te

[2018-03-07 18:55] brigand commented on #701
From what I can tell, I was getting some missing rules in the resulting CSS. Disabled extract text and it worked fine. Tried with the latest `@next` on webpack 4.0.0 and 4.1.0.

[2018-03-07 21:54] errorx666 commented on #701
I'm switching to [`mini-css-extract-plugin`](/webpack-contrib/mini-css-extract-plugin).
I'll no longer be monitoring this issue.  The package maintainer can close it when/if it's resolved.

[2018-03-08 05:07] s524797336 commented on #743
I have fixed the problem, in my router file, component is imported as webpack dynamic import like this
`router.js`
[code]
And some where in the component `xxx`, because i need get path '/' for link, so i include `router.js` to get it. so some how it's a loop in webpack 4 but webpack 3

[2018-03-08 07:05] lili21 commented on #738
and also doesn't support HMR.

[2018-03-08 08:52] yangmingshan commented on #738
There is a reproducible example: https://github.com/yangmingshan/react-demo/tree/next
run `npm run build` will generate three empty CSS

[2018-03-08 14:24] guoerwei commented on #742
+1

[2018-03-08 15:19] mbarakaja commented on #742
Hello @edwardfhsiao.

Just to point out, take a look at [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin). It is like `extract-text-webpack-plugin`, but specific for CSS and Webpack 4.

[2018-03-08 16:23] rightaway opened #745 "4.0.0-beta.0 adding a loader changes the order of generated CSS"
I'm using 4.0.0-beta.0. Without `postcss-loader` added below, I get the expected behavior, where the extracted css from `vue-loader` is appended to the **end** of the final css file. But adding 'postcss-loader' puts the extracted css to the **beginning** of the final css file which isn't correct.

[code]

[2018-03-09 09:28] sukonzer commented on #731
![sdd](https://user-images.githubusercontent.com/2359717/37200225-1e50c63a-23bf-11e8-8710-c2a31385b19e.png)

Same issue in Webpack 4. Regardless of mode

[2018-03-09 09:51] iMarv commented on #743
+1 having the same issue

[2018-03-09 10:09] iongion commented on #742
@mbarakaja be aware that currently, [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin) **does not support HMR(hot reloading)** if you want to move away from `extract-text-webpack-plugin` you will have to deal with this issue until the developer finds time to fix it.

I've lost a lot of time to find this out, but it was just there, in the project's [`README.md`](h

[2018-03-09 12:46] liamse commented on #119
Thanks @dvakatsiienko, I have the same problem and after omitting purifycss-webpack (move to  production), problem solved.

[2018-03-09 13:09] mbarakaja commented on #742
@iongion, that's true. Currently I'm using this plugin just to move third party CSS files that I import somewhere in my JS code. I can do it with `CopyWebpackPlugin`, but is breaks the webpack philosophy of importing anything you need.

Anyway, thanks for the advice.

[2018-03-11 17:42] bstaruk commented on #701
`4.0.0-beta.0` resolves this issue for me-- testable on [starbase](https://github.com/bstaruk/starbase) (dev branch for now).

[2018-03-12 12:08] garygreen commented on #745
Possibly related to: #737, #710

[2018-03-12 13:41] zD98 commented on #731
Maybe `entrypoint undefined = xxx` is a unfinished feature of webpack 4.  ? ? ?

And Javascript EntryPoint doesn't have any errors.

[2018-03-12 13:55] JohnGalt1717 commented on #701
doesn't resolve the issue for me. the resulting css files are 0 length.

[2018-03-12 17:27] AndyBarron commented on #726
I am also having this issue whenever my code contains dynamic imports. This is a pretty major issue.

[2018-03-12 17:53] fnlctrl commented on #726
Having this issue too... This is the only thing that's keeping me from
upgrading to webpack 4

On Tue, Mar 13, 2018, 01:27 Andy Barron <notifications@github.com> wrote:

[2018-03-12 18:07] AndyBarron commented on #726
Oh, and FWIW, I am using ES6-style dynamic imports (i.e. `await import()`).

[2018-03-12 21:25] jakenuts commented on #27
If you need to modify the url's without changing publicpath etc, you can use 'string-replace-loader' as shown below. (Took me weeks to work this out)

[code]

[2018-03-13 04:49] zD98 commented on #731
[code]

Setting the property `children` to false will show off the log info.
But I don't what happened.

[2018-03-13 07:08] ElvisWang27 commented on #742
+1 how to solve it?

[2018-03-13 09:34] yanghealsci commented on #726
Have the same issue

[2018-03-13 15:28] th3fallen commented on #200
im still getting this on 3.0.2 anyone know a fix for it, it is maddening

[2018-03-13 18:01] garygreen opened #747 "[Webpack 3] When would you generally need a fallback? / Why is style-loader still used when css is extracted?"
When using the extract text plugin, you can specify a `fallback` loader to use:

[code]

So in these environments:

### Development

The extract text plugin will still split the css files, so the fallback is not needed?

### Production

Same as above.

### Development - Hot Module Replacement

It's generally recommended you disable the extract text plugin in this environment, so is this where the

[2018-03-14 09:58] Krucial92 commented on #731
Is there any updated on this? Any solution to resolve the issue "entrypoint undefined"? Thanks.

[2018-03-14 10:35] snaerth commented on #701
What's the status on this bug?

[2018-03-14 10:41] evilebottnawi commented on #701
Just for information, in near future `webpack` implements buind-in support `css`, right now we have https://github.com/webpack-contrib/mini-css-extract-plugin POC. We will fix bugs here, but better to migrate on `mini-css-extract-plugin`, same logic was inside `webpack@4`. More users == more issue == more fixes == better support `css` in webpack :+1:

[2018-03-14 11:13] pcostarg commented on #701
@evilebottnawi how can we use mini-css-extract-plugin with SCSS? I was trying something like this:

`{
                // Rules for SCSS files. Loaders run in reverse order
                test: /\.(scss)$/,
                    use: [{
                        loader: 'MiniCssExtractPlugin.loader'
                    },
                        {
                        loader: "css-loader"

[2018-03-14 12:22] pcostarg commented on #701
Nevermind, found out what was wrong with it. It's as simple as it is below and seems to work fine, dumping extract-text-webpack-plugin for mini-css-extract-plugin

Remember to follow everything else from the readme on the project and setup the rules like this (you can ignore the sass-loader options if they are not needed for you):
[code]

[2018-03-14 18:19] benoitmaudet commented on #731
Same error with webpack 4 :    `Entrypoint undefined = extract-text-webpack-plugin-output-filename`.

[2018-03-15 13:30] KnisterPeter commented on #738
Using this as well may help with your problems:
https://github.com/KnisterPeter/html-webpack-exclude-empty-assets-plugin

Just add `new HtmlWebpackExcludeEmptyAssetsPlugin()` to you webpack plugins.
It will remove all empty assets (which includes empty css files).
Make sure the plugins is added after the HtmlWebpackPlugin.

[2018-03-15 15:55] OzzyCzech commented on #726
same here

[2018-03-15 15:56] montogeek commented on #726
Have you tried 4.1.1?

[2018-03-15 19:17] clubajax commented on #730
I have the same problem, and it's blocking me from upgrading to webpack 4.

[2018-03-16 01:32] waleedahmed3045 commented on #731
Alot of people are having this issue. Can this be resolved please?

[2018-03-16 04:05] StalkAlex commented on #731
I have experiencing those messages for all non-js entrypoints, like css or html(how I undestand this), but with js entypoint I specified manually it shows correct output `Entrypoint main [big] = js/main.3bf77c.js ./css/main.f871d2.css js/main.3bf77c.js.map` and it's not causing any real problems, just those messages. Application is working as it suppose to. So what's real problem with that?

[2018-03-16 05:16] polco commented on #731
If you're only using the extract-text plugin for CSS, you can use this plugin instead: https://github.com/webpack-contrib/mini-css-extract-plugin

It's compatible with webpack 4.

[2018-03-16 06:04] lili21 commented on #747
You can disable this plugin in development.

[2018-03-16 14:01] dtothefp commented on #745
I'm having a similar issue when upgrading to Webpack 4 and extract text beta-0. I'm using PostCSS Loader with CSS modules. In development without extract text everything works as expected, although in prod when using extract text I see a duplication of the same compiled CSS module classes in the bundle and a regression in order of some classes.

This seems to be happening in combination with using

[2018-03-16 14:33] garygreen commented on #745
@dtothefp have you tried the [Mini Css Extract Plugin](https://github.com/webpack-contrib/mini-css-extract-plugin) ?

[2018-03-16 14:42] garygreen opened #749 "The Future of this Plugin vs. Mini CSS Extract Plugin (=> Use Mini CSS Extract Plugin)"
The last release was nearly a month ago.

* Is this plugin actively developed anymore?
* Where are the maintainers?
* What's happening with Webpack 4 support? There are a number of major problems reported with this plugin: #745, #743, #742, #738, #735, #726
* Is the aim for this plugin to become redundant and instead use the [Mini Css Extract Plugin](https://github.com/webpack-contrib/mini-css-ext

[2018-03-16 14:47] evilebottnawi commented on #749
@garygreen here, some problems very difficult to fix and somebody of us don't have many time. `Mini Css Extract Plugin` is PoC future `webpack` build-in css support and yes for `webpack@4` it is the best choice than `ETWP`. `ETWP` have a lot of arch issues for historical reasons. PR welcome if you know how fix any issue from you issue.

[2018-03-16 15:00] garygreen commented on #749
It doesn't make sense to contribute to a plugin which, by the sounds of it, is becoming redundant?

If the official aim is to have css extraction built into Webpack thru the Mini Extract plugin, should support for Webpack 4 not be phased out of ETWP? If this was official, it would clear up all the Webpack 4 issues in this repository and also create a clear direction for where things should ideally

[2018-03-16 15:07] evilebottnawi commented on #749
@garygreen plugin just don't support `webpack@4` but for `webpack@3` it is good solution for extract. `Mini Css Extract Plugin` only works for `webpack@4`, we should still support this plugin, because many of people still use `webpack@3`. Official aim will be ship with `webpack@4` docs and roadmap.

[2018-03-16 15:09] evilebottnawi commented on #749
Anyway we are open for PR to support `webpack@4` before `css` will be support in `webpack`.

[2018-03-16 15:25] garygreen commented on #749
I wasn't suggesting dropping support for webpack@3, of course it's still will be supported.

This is giving mixed signals. You either should 1) move in a direction to support Mini Css Extract, or 2) work alongside it and dilute the community/development of both plugins. Option 2 is one you are suggesting, and it's not a good one, IMO.

These are steps I believe would help move things in the right

[2018-03-16 17:00] dtothefp commented on #745
@garygreen yes I tried it after reading your response in other issues. Couldn't get it to work with PostCSS loader 🤷‍♂️

[2018-03-16 18:49] dtothefp commented on #745
@garygreen I was wrong...I did get the mini-css / loader plugin to work and CSS classes are NOT duplicated and are in the correct order 😄. Unfortunately, this is in a large app that is using `require.ensure` syntax to chunk JS. With Webpack 2 and extract-text-plugin this was resulting in one large CSS bundle, whereas with mini-css this results in CSS chunks. This is great moving forward but unfort

[2018-03-16 19:07] garygreen commented on #745
@dtothefp sounds like you need to configure the `splitChunks` optimization. I've never used the `ensure` syntax, I believe that would count as an `async` chunk? I'd imagine you need to create some splitChunk groups and with the help of the `test` `chunks` and `enforce` options you should be able to get it to chunk as desired. Can be a bit fiddly though, good luck!

[2018-03-16 20:27] dtothefp commented on #745
@garygreen looks definitely interesting but hard to understand the config. I tried something like below but it had no effect. I feel like I'm not figuring out how to test for the CSS chunks

[code]

[2018-03-17 03:46] hally9k opened #750 "4.0.0-beta.0 outputs javascript in a css file when using the disable option."
When using `webpack@4.1.1` and `webpack-dev-server@3.1.1` the disable and fallback option generates a seemingly random `.css` file full of javascript. It looks like one of the js chunks at a glance but turning off splitChunks doesn't fix it. I have to entirely remove the plugin and the loader when in dev mode to avoid it.
Will try to mock up a quick repro when I have some time.

[2018-03-18 00:50] sathify commented on #701
@pcostarg what does this `data: "$ENV: " + "PRODUCTION" + ";"` mean?

[2018-03-18 01:16] brigand commented on #701
@sathify it's injecting a variable into the scss code, like DefinePlugin does for JS in webpack.

[2018-03-18 01:23] pcostarg commented on #701
@sathify with the data option you can inject data into your SASS files using the sass-loader. That was still static hard coded. Now I have `data: "$ENV: " + $env.name + ";"` so that I can use the webpack-cli to send the environment that I want to build.

This was necessary in my project because we have many different environments and they have some small differences in the CSS. By sending the envi

[2018-03-18 12:57] Lin-Kyle opened #751 "TypeError: Cannot read property 'call' of undefined"
"extract-text-webpack-plugin": "^4.0.0-beta.0",

const extractCss = new ExtractTextPlugin('style.css'),
  extractScss = new ExtractTextPlugin('scss.css');

{
        test: /\.css$/,
        use: ExtractTextPlugin.extract({fallback: "style-loader", use: ["css-loader"]})
      }, {
        test: /\.scss$/,
        use: ExtractTextPlugin.extract({
          fallback: 'style-loader',
          use: ['

[2018-03-18 15:30] wenjiamian commented on #742
+1 how to solve it?

[2018-03-19 08:52] vladshcherbin commented on #749
@garygreen proposed solution sounds very reasonable, switched to `mini-css-extract-plugin` and webpack 4 in a few minutes.

[2018-03-19 09:18] james-s-turner opened #752 "CSS file not emitted when loaders defined with query string syntax"
I am trying to use [multi-loader](https://github.com/webpack-contrib/multi-loader) so that I can emit multiple CSS bundle files (one per theme). The multi loader only accepts query string style loader parameters. So I used the [combine-loaders](https://www.npmjs.com/package/webpack-combine-loaders) to stringify the output from ETWP. However when I do this the CSS bundle file is not emitted.
I have

[2018-03-19 10:01] nlt-dev-acc commented on #723
Try this version: "extract-text-webpack-plugin": "^2.0.0-beta.4"

[2018-03-19 10:03] andrey-o-sim commented on #723
Try this version: "extract-text-webpack-plugin": "^2.0.0-beta.4"
The version "^3.0.2" didn't work for me

[2018-03-19 17:24] Shenmin-Z commented on #503
For people using Vue, `vue-style-loader` would need to be removed (which was my problem).

[2018-03-19 22:06] benoitmaudet commented on #731
Works perfectly with https://github.com/webpack-contrib/mini-css-extract-plugin. Thanks !

[2018-03-20 06:44] kuipumu opened #753 "TypeError: Cannot read property 'thisCompilation' of undefined at ExtractTextPlugin.apply"
Im getting this error at running webpack

TypeError: Cannot read property 'thisCompilation' of undefined
    at ExtractTextPlugin.apply (C:\Paginas Web\Oricao\node_modules\extract-text-webpack-plugin\dist\index.js:183:20)
    at Compiler.apply (C:\Paginas Web\Oricao\node_modules\tapable\lib\Tapable.js:375:16)
    at webpack (C:\Paginas Web\Oricao\node_modules\webpack\lib\webpack.js:33:19)
    at p

[2018-03-20 07:15] lili21 commented on #751
Pls format your code.

[2018-03-20 08:17] 961771834 opened #754 "Can't resolve 'module' ‘fs’"
I updated my webpack version to v4.1.1 node v9.5.0 ,but I encounter a problem that current extract-text-webpack-plugin does not resolve 'module'  'fs'.

[2018-03-20 09:55] lili21 opened #755 "[4.0.0-beta.0] TypeError: Cannot read property 'replace' of undefined"
Using dynamic import will occur the error.

![image](https://user-images.githubusercontent.com/4456380/37647327-efea072e-2c66-11e8-8256-fce154f29614.png)

[reproduce repo](https://github.com/lili21/webpack4-demo/tree/issue/dynamic-import)

Reproduct Steps
----------------

- checkout to `issue/dynamic-import` branch
- `yarn`
- `yarn start`

[2018-03-20 09:59] #686 closed

[2018-03-20 10:03] #642 closed

[2018-03-20 10:30] michael-ciniawsky commented on #755
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:30] #755 closed

[2018-03-20 10:31] michael-ciniawsky commented on #745
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:31] #745 closed

[2018-03-20 10:31] michael-ciniawsky commented on #750
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:31] #750 closed

[2018-03-20 10:31] michael-ciniawsky commented on #744
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:31] #744 closed

[2018-03-20 10:31] michael-ciniawsky commented on #743
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:31] #743 closed

[2018-03-20 10:32] michael-ciniawsky commented on #726
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:32] #726 closed

[2018-03-20 10:32] michael-ciniawsky commented on #742
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:32] #742 closed

[2018-03-20 10:32] michael-ciniawsky commented on #737
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:32] #737 closed

[2018-03-20 10:32] michael-ciniawsky commented on #731
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:32] #731 closed

[2018-03-20 10:32] michael-ciniawsky commented on #735
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:32] #735 closed

[2018-03-20 10:33] michael-ciniawsky commented on #738
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:33] #738 closed

[2018-03-20 10:33] michael-ciniawsky commented on #754
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:33] #754 closed

[2018-03-20 10:34] michael-ciniawsky commented on #751
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:34] #751 closed

[2018-03-20 10:34] michael-ciniawsky commented on #749
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:36] michael-ciniawsky commented on #749
I leave this issue open for visibility until I have the chance to `npm deprecate` and reflect this in the `README` properly. So please don't close yet :)

[2018-03-20 10:41] michael-ciniawsky commented on #736
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:41] #736 closed

[2018-03-20 10:41] michael-ciniawsky commented on #701
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 10:41] #701 closed

[2018-03-20 11:05] michael-ciniawsky commented on #729
Try without `include`

[2018-03-20 11:05] #729 closed

[2018-03-20 11:06] #58 closed

[2018-03-20 11:07] michael-ciniawsky commented on #730
TL;DR Use [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead :)

The `webpack >= v4.0.0` 'support' for `extract-text-webpack-plugin` was moved to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) as more lightweight approach for `webpack >= v4.0.0` and ETWP entered maintenance mode. We are sorry for the inconvenienc

[2018-03-20 11:07] #730 closed

[2018-03-20 11:07] #740 closed

[2018-03-20 11:09] #118 closed

[2018-03-20 11:10] michael-ciniawsky commented on #572
[code]

[2018-03-20 11:10] #572 closed

[2018-03-20 11:11] #515 closed

[2018-03-20 11:11] #513 closed

[2018-03-20 11:13] michael-ciniawsky commented on #577
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

[2018-03-20 11:13] #577 closed

[2018-03-20 11:14] michael-ciniawsky commented on #470
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

[2018-03-20 11:14] #470 closed

[2018-03-20 11:19] michael-ciniawsky commented on #703
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

`webpack` will likely move to `contenthash` as the default in the future due to issues with `chunkhash` being unreliable ('side-effects' e.g when sorting modules in the graph can incorrectly change the hash eve

[2018-03-20 11:19] #703 closed

[2018-03-20 11:22] michael-ciniawsky commented on #672
This is a `css-loader` issue as mentioned in https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/672#issuecomment-347662011

[2018-03-20 11:22] #672 closed

[2018-03-20 11:23] #694 closed

[2018-03-20 11:25] michael-ciniawsky commented on #640
A combination of multiple  ETWP instances combined with `include/exclude` may more or less 'work', but as already mentioned in https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/640#issuecomment-334975017 theming is error prone and difficult with webpack and ETWP so YMMV

[2018-03-20 11:25] #640 closed

[2018-03-20 11:35] michael-ciniawsky commented on #717
`chunkhash` isn't available within ETWP and `contenthash` is the better solution anyways since `chunkhash` is unreliable (can change even without any actually changes to the code, e.g when the graph changes elsewhere). It's confusing atm absolutely agreeing upon that, `webpack` will likely switch to use `contenthash` instead of `chunkhash` in the future and hopefully remove options to set differen

[2018-03-20 11:35] #717 closed

[2018-03-20 11:59] michael-ciniawsky commented on #691
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

[2018-03-20 11:59] #691 closed

[2018-03-20 11:59] michael-ciniawsky commented on #268
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

[2018-03-20 11:59] #268 closed

[2018-03-20 12:00] #436 closed

[2018-03-20 12:00] michael-ciniawsky commented on #213
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

[2018-03-20 12:00] #213 closed

[2018-03-20 12:01] michael-ciniawsky commented on #455
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

The `mini-css-extract-plugin` emits a chunk per split point 🎉

[2018-03-20 12:01] #455 closed

[2018-03-20 12:02] #193 closed

[2018-03-20 12:03] michael-ciniawsky commented on #159
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

[2018-03-20 12:03] michael-ciniawsky commented on #152
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

[2018-03-20 12:03] #152 closed

[2018-03-20 12:04] michael-ciniawsky commented on #178
ETWP entered maintenance mode and won't receive any feature updates, please open an issue in [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) instead

It's not possible to support anyways :)

[2018-03-20 12:04] #178 closed

[2018-03-20 12:04] #144 closed

[2018-03-20 14:29] giotramu commented on #573
Any update about this Issue?

[2018-03-20 15:07] JX-Zhuang opened #756 "invalid set options.filename"
why style'name is "index"
![7da2b6f0-b493-49a8-b86b-a7dc7bbd46d5](https://user-images.githubusercontent.com/8744030/37662224-90355c68-2c91-11e8-8f97-1d5aacfbf47d.png)

[2018-03-20 15:15] JX-Zhuang commented on #756
why name is index

[2018-03-20 15:42] michael-ciniawsky commented on #756
Because your `entry` is named `index.js` and that's what `[name]` placeholder will resolve to (per chunk) :). The CSS filenames are 'ignored'.

[2018-03-20 15:42] #756 closed

[2018-03-21 00:58] pboos commented on #200
Just upgraded to Webpack 4.1.1 and this is happening to me it seems.

Strange thing: It changes the order depending on the build. Sometimes it is ok. Sometimes it is wrong. So ordering seems random?

[2018-03-21 02:31] JX-Zhuang commented on #756
Thx,I want  [name] is the CSS filenames,how can i do.

[2018-03-21 02:46] michael-ciniawsky commented on #756
Explicitly choose a file name for each CSS bundle

[code]

The `[module]` placeholder **isn't** available for ETWP to my knowledge, but you can try :)

[code]

[2018-03-21 02:49] JX-Zhuang commented on #756
Thx  :)

[2018-03-21 05:10] sherlock1982 commented on #200
I swtiched to mini-css-extract-plugin and the order is ok now. Looks like extract-text-webpack-plugin will be left for Webpack3

[2018-03-21 08:11] pboos commented on #200
As @sherlock1982 said, extract-text-webpack-plugin is for webpack3 and older (will not support webpack 4 it seems). They say to move to mini-css-extract-plugin.

For more information see here: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701#issuecomment-374551300

[2018-03-21 13:15] eakarpov commented on #753
I ran into the same problem.
What is your version of the plugin? The fourth major version branch is compatible only with webpack 4. It is a breaking change.
So if you have 4.0.0-beta version of the plugin, just regrade to the 3.0.2 version.

[2018-03-21 21:58] dfleury commented on #749
For the most of cases use `mini css extract plugin` maybe a choice but, I've a heavy use case of webpack and I've been using ETWP to extract not just css but tiny js files too.

Well, I pretty disappointed. Can't you just put ETWP to work with `webpack 4` and break compatibility `webpack 3`? This way you can put `ETWP 3.x` to match with `webpack 3` only and set it to maintenance mode.

How about i

[2018-03-21 22:51] eliduke commented on #701
I'm not totally sure how to "use" `mini-css-extract-plugin`. Pretty new to webpack, so let me break it down here.

This is my `package.json` file:
[code]
And I'm using  `yarn install`.

I'm running a rails app in docker using `supervisord` to spin up the rails server and the webpack-dev-server. When I fire everything up, I'm getting the classic error from up above:
[code]
But, now I don't know wha

[2018-03-21 22:59] leebenson commented on #701
@eliduke - you need to put it in your webpack config -> https://github.com/webpack-contrib/mini-css-extract-plugin#configuration

If you don't know what that is: https://webpack.js.org/concepts/configuration/

[2018-03-22 00:11] eliduke commented on #701
@leebenson Thanks for the quick response, but I'm still a little lost. This is an existing code-base with a new webpack implementation for getting some Vue components up and running. I'm trying to dig in and figure stuff out, but I actually don't have a `webpack.config.js` as far as I can tell. This is a rails app and I'm using the `webpacker` gem. During the install rake task it creates the follo

[2018-03-22 00:19] edmorley commented on #701
@eliduke it sounds like you are using webpacker, so you'll need to follow up with that project for webpack 4 compatibility. See: rails/webpacker/issues/1224

[2018-03-22 03:40] alltechneeds-com opened #757 "CSS Formating"
Is there an option on how to format the bundles css file, the bundled css adds empty lines for every css element.

[2018-03-22 09:11] andriijas commented on #749
@dfleury just stick with webpack 3 until you feel comfortable of letting go of ETWP.

Basically ETWP has always managed to get around by using hacks, upgrading it properly to work with the new APIs in webpack 4 basically means rewriting it as MiniCSSExtractPlugin.

Everyone have limited time and effort, its better to redirect the energy  on building stable future proof solutions rather than puttin

[2018-03-22 09:46] evilebottnawi commented on #749
@dfleury main problem in extract - difference type of assets (`html`, `css`, `txt`, `markdown` and many etc) have difference logic on loading page, example for css is very important save order loading, for html is very important inject in right place, for some case also importing order loading, also each extraction require some additional options for control this. And it is all do `ETWP` is very b

[2018-03-22 09:55] xgqfrms-gildata commented on #694
@evilebottnawi I have been updated it for the demo!

https://github.com/gildata/webpack3-best-practical/tree/master

[2018-03-22 10:27] ooflorent commented on #753
v4 of this plugin is not compatible with webpack v3.

- If you are using `webpack@3`, use `extract-text-webpack-plugin@^3.0.2`
- If you are using `webpack@4`, use `mini-css-extract-plugin` if applicable

[2018-03-22 10:27] #753 closed

[2018-03-22 10:55] maphi88 commented on #731
@mauriciofergo Did you find the solution I have the same entry point in my application.

[2018-03-22 10:58] mauriciofergo commented on #731
Sorry @maphi88 but I'm not continuing with the migration, good luck!

[2018-03-22 11:04] dhruvdutt commented on #755
@michael-ciniawsky Can we add a note to the readme of this repo for webpack 4?
LMK if I can help with it.

[2018-03-22 11:28] fixterer opened #758 "The use of webpack's splitChunks feature causes ExtractTextPlugin to not output css properly"
webpack: `^4.1.1`
extract-text-webpack-plugin: `^4.0.0-beta.0`

My webpack config
[code]
If I do not use splitChunks independent react then outpu
[code]
Output after use
[code]
I want to know why this is so, I can't find explanation about this on the internet.

[2018-03-22 11:39] GabrielDelepine commented on #731
@mauriciofergo #759 about compatibility section in the README file

[2018-03-23 04:40] romariolopezc opened #760 "Webpack 4"
[code]

[code]

[code]

[2018-03-23 04:44] romariolopezc commented on #760
There's already an issue: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701

[2018-03-23 04:44] #760 closed

[2018-03-23 06:25] monochrome-yeh commented on #455
Hello guys, I have the same requirement
and there's the best solution I found,
https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/120#issuecomment-264712564

We just need to set file-loader for it

[2018-03-23 15:40] hufei1993 opened #761 "can not used in webpack4"

[2018-03-23 15:56] evilebottnawi commented on #761
Close in favor https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/749

[2018-03-23 15:56] #761 closed

[2018-03-24 04:00] pietrofxq commented on #97
You can also call `webpack` with the `--hide-modules` flag.

[2018-03-24 11:31] 7iomka commented on #731
@michael-ciniawsky
mini-css-extract-plugin not working for me, because I needed to set publicPath in config.
ETP prodive this posibility
[code]

But mini-css-extract-plugin has no options(
Any ideas how to fix **"Entrypoint undefined = extract-text-webpack-plugin-output-filename" ?**

[2018-03-24 13:29] ngohungphuc commented on #731
@7iomka check my pr to help you config webpack 4
https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/pull/71/files

[2018-03-26 00:44] zooboole commented on #700
Try adding this in the plugins prop.

[code]

You can change the name. That worked for me.

[2018-03-26 02:47] taikongfeizhu opened #762 "build "module.exports = (__webpack_require__(73))(48)" code into css fle"
when use extract-text-webpack-plugin@4.0.0-beta.0 with  webpackv4.1.1, the options set
[code]
willl build "module.exports = (__webpack_require__(73))(48)" code into the css file.

[2018-03-27 06:54] monochrome-yeh commented on #737
@michael-ciniawsky , however, How to use min-css-extract-plugin to group splited css?
there's no option for spliting chunks.

[2018-03-27 07:20] jtomaszewski commented on #745
Why has this issue been closed? This is still not resolved.

If we plan not to support webpack 4 at all, why don't we add a NOTE to README, that indicates that people should use `mini-css-extract-plugin` instead ? Like in https://github.com/webpack-contrib/extract-text-webpack-plugin/pull/759 .

[2018-03-27 10:37] moorthy-g opened #763 "Error: Path variable [contenthash] not implemented in this context: style/[name].[contenthash].css"
I get the following error after webpack upgrade (4.3.0)
`Error: Path variable [contenthash] not implemented in this context: style/[name].[contenthash].css`

My plugin config is
[code]
extract-text-webpack-plugin's version is 4.0.0-beta.0.

Its working good with webpack 4.1.0 though.

[2018-03-27 11:39] Alorel commented on #763
This appears to be a conflict with webpack 4.3 which introduced a `[contenthash]` variable of its own: https://github.com/webpack/webpack/releases/tag/v4.3.0

[2018-03-27 11:50] kumaresan-subramani commented on #701
Error: Chunk.entrypoints: Use Chunks.groupsIterable and filter by instanceof Entrypoint instead

this is my error and i'm little new to web-pack ,i need suggestions to rectify it

[2018-03-27 11:59] esausilva commented on #763
I just upgraded to Webpack 4.3 and got the same error. I hope this gets fixed, but for the moment I changed `[contenthash]` to `[hash]` to get it working again.

[2018-03-27 12:23] evgencode opened #764 "Skips styles"
extract-text-webpack-plugin version: 4.0.0-beta.0
webpack version: 4.3.0

I'm using in webpack.config.js:

[code]

in app entry point (index.js):

[code]

config for extract css:

[code]

bundle.css contains only bootstrap.min.css styles.
The output bundle.css file does not contain ./styles/app.css styles

[2018-03-27 12:25] evilebottnawi commented on #764
@evgencode please for exctract css use https://github.com/webpack-contrib/mini-css-extract-plugin (for `webpack@4` only)

[2018-03-27 12:25] #764 closed

[2018-03-27 12:25] evilebottnawi commented on #763
Please use https://github.com/webpack-contrib/mini-css-extract-plugin for extract css for `webpack@4`

[2018-03-27 12:25] #763 closed

[2018-03-27 13:13] esausilva commented on #763
@evilebottnawi Thanks. I will give it a try once it supports HMR

[2018-03-27 20:25] andrewtanner1987 commented on #701
@kumaresan-subramani See here https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/760

I used `npm i -D extract-text-webpack-plugin@next` and it works fine for me. Note that this is the beta release though.

[2018-03-28 07:38] Shafley commented on #758
I have the same problem with set options `allChunk: true`

[2018-03-28 08:29] fixterer commented on #758
[code]
@Shafley
Thanks, but this property has no effect

[2018-03-28 08:40] Shafley commented on #758
@fixterer  I mean if I set `allChunks: true`, `ExtractTextPlugin ` just split  css from my `.less` files,  and lost `css` from `antd-design`, if I set `allChunks: false`, the `css` from `antd-design` are injected into html with style tag

[2018-03-28 09:12] evilebottnawi commented on #758
Please don't use `extract-text-webpack-plugin` for extract `css` for `webpack@4`, use https://github.com/webpack-contrib/mini-css-extract-plugin, in near future we will update README. Thanks!

[2018-03-28 09:12] #758 closed

[2018-03-28 12:49] Bessonov commented on #763
@evilebottnawi does it mean that extract-text-webpack-plugin is deprecated at least for css?

[2018-03-28 13:07] evilebottnawi commented on #763
@Bessonov yes, future `ETWP` is only extracted content without features like `ordering`, `code splitting`, `tree shaking`, `purifying` or other specific action for each type of assets (i.e. `css`/`html`/etc). Just extract. Thanks!

[2018-03-29 15:41] ShinyChang opened #765 "Error contenthash not implemented with webpack > 4.3.0"
**Env:**
Node: 8.9.4
Yarn: 1.5.1
webpack: 4.3.0 & 4.4.0 (NB: 4.1.1 works fine)
extract-text-webpack-plugin: 4.0.0-beta.0
webpack mode: production (NB: dev works fine)
webpack target: web

**Error message**
[code]

Not sure this issue should be report here or webpack.

[2018-03-29 15:43] evilebottnawi commented on #765
@ShinyChang don't use `ETWP` plugin for extract CSS for `webpack@4`. Use https://github.com/webpack-contrib/mini-css-extract-plugin for extract css.

[2018-03-29 15:43] #765 closed

[2018-03-30 04:53] lowesusannah commented on #239
@MichalZalecki Your fix is still working in 2018 -- thank you so much!

[2018-03-31 03:40] xueyou2000 commented on #762
me too,
我也是

[2018-03-31 04:37] rahulscp opened #766 "Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin"
this is webpack.prod.js

[code]

package versions.

[code]

i am getting below exception while building for production AOT

Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin

[2018-04-01 19:47] Diokuz opened #767 "No output file when maxChunks: 1"
I tried to migrate to `webpack@4`, so I had to upgrade `extract-text-webpack-plugin` to `^4.0.0-beta.0`. Now it fails to create any css files when I use

[code]

I need that to create one single server side js bundle (+ one single css file).

[2018-04-02 03:14] Tiendq commented on #731
`mini-css-extract-plugin` currently doesn't work with this error:

`Module build failed: TypeError: this[NS] is not a function`

I'd stay with `extract-text-webpack-plugin`, it's better to just see a warning :)

[2018-04-02 14:30] bspatil0001 commented on #731
Is this issue closed, Is there a solution for this issue? Moving to other plugin is the only solution.

[2018-04-02 16:18] SrShark commented on #701
execute `npm install -D extract-text-webpack-plugin@next` that solve the problema. I'm using `"extract-text-webpack-plugin": "^4.0.0-beta.0"`

[2018-04-02 17:44] gmincof commented on #763
A temporary solution that you can use until it's fixed, is to replace `[contenthash]` with something like `[md5:contenthash:hex:20]`.

[2018-04-03 03:53] kumaresan-subramani commented on #701
@andrewtanner1987  thanks, it works.....
 i need one more help, can you please give step by step procedure for to update web-pack version 3.6.0 to 4.0.0 and hoe to clear errors which are occurring during updation

[2018-04-03 09:19] kumaresan-subramani commented on #344
**hi,
i also have same  error,**

TypeError: Cannot read property 'replace' of undefined
    at Object.<anonymous> (D:\hence\angular2-webpack-seed\node_modules\@syncfusion\ej2-build\src\utils\common.js:19:42)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)
    at Function

[2018-04-03 10:53] bspatil0001 opened #770 "Entrypoint undefined = extract-text-webpack-plugin-output-filename"
Here is the test repo https://github.com/bspatil0001/extract-text-webpack-plugin-test.git

I am trying to generate .css from .scss but it is giving undefined Entrypoint.

Can anyone help me on this?

Thank you

[2018-04-03 18:03] andre-bahia commented on #701
if none of these solutions work, you can try the commnads below:

Before executing the commands, be sure to have installed webpack 4 into `devDependencies` of your `package.json`
[code]

[code]

[2018-04-04 21:41] payne8 commented on #456
This bug bit me on upgrading to Webpack 4 with the new splitChunks stuff. This thread lead me in the right direction, but the suggestions didn't make a difference. But they did get me on the right track.

I ended up requiring those two files within my app.

[code]

They were then correctly added to a bundle and were available for webpack to load on entry.

[2018-04-05 08:07] alexratiu commented on #701
Ty @jackwilsdon that's work for me `npm i -D extract-text-webpack-plugin@next`

[2018-04-05 09:46] marmikdesai commented on #766
I am getting same error.
ERROR in ./src/style.css
Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-webpack-plugin for the usage example
    at Object.pitch (/Users/DESIGNER/Desktop/react-webpack/webpack-react-sample/node_modules/extract-text-webpack-plugin/dist/loader.js:57:11)
 @ ./src/index

[2018-04-05 09:47] montogeek commented on #766
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-04-05 09:58] evilebottnawi commented on #767
@Diokuz Don't use `ETWP` for extract `css`. For `css` just use https://github.com/webpack-contrib/mini-css-extract-plugin. Thanks!

[2018-04-05 09:58] #767 closed

[2018-04-05 09:58] marmikdesai commented on #766
@montogeek I think this issue related with webpack4.
https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701

[2018-04-05 09:58] evilebottnawi commented on #757
@alltechneeds-com Can you provide exapmple?

[2018-04-05 09:59] evilebottnawi commented on #770
@bspatil0001 Don't use `ETWP` for extract css. Please use for this purpose https://github.com/webpack-contrib/mini-css-extract-plugin. Thanks!

[2018-04-05 09:59] #770 closed

[2018-04-05 10:00] montogeek commented on #766
@marmikdesai Have you tried those solutions? You didn't post your `plugins` configuration

[2018-04-05 10:01] evilebottnawi commented on #766
@marmikdesai don't use `ETWP` for extract `css`. For this purpose use https://github.com/webpack-contrib/mini-css-extract-plugin. Thanks!

[2018-04-05 10:01] #766 closed

[2018-04-05 10:03] montogeek commented on #766
@evilebottnawi He didn't say if he was using webpack 4

[2018-04-05 10:25] evilebottnawi commented on #766
@montogeek

[2018-04-05 13:50] pleerock commented on #701
with `@next` it does not work for me in lazily loaded chunks

[2018-04-05 14:34] pleerock commented on #456
@payne8 same issue here - adding those lines fixes issue with chunks for me, but solution looks so unreliable

[2018-04-05 16:03] rahulscp commented on #766
using webpack 2 its working fine when I run without @ngtools/webpack. only happens with aot compilation

[2018-04-06 02:08] harp29 commented on #524
Getting same error:

node_modules/extract-text-webpack-plugin/node_modules/schema-utils/dist/validateOptions.js:40
    throw new _ValidationError2.default(ajv.errors, name);

webpack.config.js file:

const path = require('path');
var webpack = require('webpack');
var htmlWebpackPlugin = require('html-webpack-plugin');
var ExtractTextPlugin = require('extract-text-webpack-plugin');

module.exports

[2018-04-06 02:09] harp29 commented on #569
Getting same error:

node_modules/extract-text-webpack-plugin/node_modules/schema-utils/dist/validateOptions.js:40
throw new _ValidationError2.default(ajv.errors, name);

webpack.config.js file:

const path = require('path');
var webpack = require('webpack');
var htmlWebpackPlugin = require('html-webpack-plugin');
var ExtractTextPlugin = require('extract-text-webpack-plugin');

module.exports = {

[2018-04-06 03:09] micchyboy commented on #441
Love you @Orgil and @hectorsabina , really saved a lot of time. I was using react-static and it already has default loaders for css. So I just had to remove them before placing mine. Thanks

[2018-04-06 10:15] rehat101 commented on #27
@jakenuts your solution works. thank you!

[2018-04-06 17:05] Sebazzz commented on #762
Same issue here.

[2018-04-07 10:32] titiyoyo opened #773 "CSS not extracted from generated LESS file"
I'm trying to generate a CSS file from less-loader using the following config.
I get a js file for the generated  but the CSS file is not generated by ExtractTextPlugin.

ExtractTextPlugin v4.0.0-beta.0
Webpack v4.5.0

Here's my webpack config

[code]

[2018-04-07 22:41] payne8 commented on #456
@pleerock Looks like my fix only temporarily fixed the problem. It is super odd because if you modify and save a file and let webpack do an incremental build the issue goes away. But I can't do that for a production build. I edited my comment to reflect my experience.

[2018-04-08 13:02] #773 closed

[2018-04-08 13:03] titiyoyo commented on #773
I was missing a line in the `plugins` section

[code]

[2018-04-08 13:11] luojianet commented on #200
use `extract-text-webpack-plugin` webpack plugin.

write like this, can not keep css order.
[code]
----------------------splite line----------------------
* you can write like this.
[code]
[code]

[2018-04-09 09:51] taikongfeizhu commented on #762
I write the demo with wepback4.5 + mini-css-extract-plugin，look this repos：[webpack4 demo](https://github.com/taikongfeizhu/react-mobx-react-router4-boilerplate/blob/master/webpack.config.production.js)

[2018-04-11 10:09] marmelin commented on #705
Hi,
See my repo [here:marmelin/ngtools-webpack-error-message-undefined](https://github.com/marmelin/ngtools-webpack-error-message-undefined), where I solved the error and explain it.

It boils down to this:

  // COMPONENT CSS LOADER
      , { test: /\.css$/
        , use: ['css-to-string-loader'].concat(['css-loader'])
        }
      // GLOBAL CSS LOADER
      , { test: /\.css$/
         , inclu

[2018-04-11 10:14] marmelin commented on #705
@kimown Hi, see [here](https://github.com/webpack-contrib/extract-text-webpack-plugin) for my solution to this.

Hope it helps.

[2018-04-12 05:07] ohhoney1 commented on #173
have this problem too.  I solve it by add option `exclude: /node_modules/`. cause load .css from `node_modules` when there is a conflict

`import Vue from 'vue'

import 'normalize/normalize.css' // causes this error

import ElementUI from 'element-ui'
import '@/styles/theme/index.css' // this way works

import '@/styles/index.scss' // this way works`

[2018-04-12 18:41] ajoslin103 commented on #763
@gmincof where would I do this in my webpack.config.js ?

[2018-04-12 20:07] Diokuz commented on #664
https://www.npmjs.com/package/postcss-global-import also works for me

[2018-04-13 07:57] pod4g commented on #701
mark

[2018-04-13 07:59] pod4g commented on #701
run `npm i -D extract-text-webpack-plugin@next` worked, thanks

[2018-04-13 17:12] martynchamberlin commented on #762
Same issue here. What a Wild West Webpack 4.x is...

[2018-04-13 17:33] jamesopti commented on #54
@sokra I'm having the same need as this when using mini-css-extract-plugin with Webpack 4.

For various reasons, I need to compile and upload a separate `app.css` file.

Everything is working fine, but I'd love an option for mini-css-extract-plugin to delete the "empty" JS file it extracts the css from.

Ideas?

[2018-04-16 06:50] hopefuture opened #776 "[4.0.0-beta.0] There is no parsing for the correct style for css modules."
When I use 4.0.0-beta.0 and webpack 4.5.0, The generated css is js format.
The following is the code snippet.

module.exports = exports['default'];:root{--font-size-base:.875rem;--theme-primary:#2196f3;--theme-secondary:#e040fb;--theme-background:#fff;--theme-primary-light:#64b5f6;--theme-secondary-light:#ea80fc;--theme-primary-lighter:#bbdefb;--theme-secondary-lighter:#e1bee7;--theme-primary-ligh

[2018-04-16 13:48] kellyrmilligan commented on #701
that got rid of my error, but the build just stalls.   is there any change to how it is configured for the `@next` branch?

[2018-04-16 14:04] jonny64bit commented on #701
I fixed my issues with this by moving over to the [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin)

[2018-04-16 14:16] leebenson commented on #701
In case it's helpful to anyone, I've just finished creating a [CSS preset for Launch.js](https://github.com/launchjs/styles) that uses mini-css-extract-plugin.

While it's specific to the Launch.js framework, here's the [pertinent config](https://github.com/launchjs/styles/blob/master/src/styles.ts) that should hopefully help some devs navigate using the new plugin in development (with hot reloadi

[2018-04-16 19:28] ismailbayram commented on #550
[code]
webpack: 4.5.0
webpack-dev-server: 3.1.3

[2018-04-17 23:35] jharris4 commented on #762
I just hit this issue as well. In the output CSS I'm seeing the following:

[code]

[2018-04-19 01:25] martynchamberlin commented on #762
For what it’s worth I ended up going with `MiniCssExtractPlugin` instead. Works great in Webpack 4 and gets the job done until this is supported in-house with Webpack 5.

[2018-04-19 19:06] buddyackerman opened #778 "SASS loader with extract text Plugin not processing the SCSS file to CSS"
I'm using webpack version 1.13.2 and sass-loader 4.1.1 and Extract Text Plugin 1.01.  When I use the following syntax the webpack build completes and outputs a .css file but it's nothing more than the original file still in SCSS format, not CSS

    module: {
        loaders: [
            { test: /\.scss$/, loader: ExtractTextPlugin.extract('style-loader', 'css-loader', 'sass-loader') },

[2018-04-20 07:31] wxl035446 opened #779 "Module build failed: Error: write EOFat exports._errnoException at WriteWrap.afterWrite"
"webpack": "^4.4.1",   "extract-text-webpack-plugin": "2.1.0",
// index.js
import './index.less';

.app-wrapper{
   position: absolute;
   top:0px;
   left: 0px;
   width:100% ;
   height:100%;
   z-index:10;
   background-image: url(./assets/images/bg.jpg);
   background-size: cover;
}

webpack.config.js  less config
 {test: /\.less/,
              exclude:  /^node_modules$/,
              use: e

[2018-04-20 08:39] blemaire commented on #779
I believe you need to use extract-text-webpack-plugin v4.0.0-beta.0 if you want to use Webpack 4

[2018-04-20 08:43] wxl035446 commented on #779
I use is extract-text-webpack-plugin v4.0.0-beta.0， That's the mistake.

------------------ 原始邮件 ------------------
发件人: "Bastien Lemaire"<notifications@github.com>;
发送时间: 2018年4月20日(星期五) 下午4:39
收件人: "webpack-contrib/extract-text-webpack-plugin"<extract-text-webpack-plugin@noreply.github.com>;
抄送: "Traveling Light"<1129565996@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [webpack-contrib/e

[2018-04-23 16:06] Hallya opened #780 "DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead"
Hi,
It seems the package isn't up to date, here's the webpack deprecation trace:
[code]
And here's my webpack config file:
[code]
Am I doing something wrong ?

[2018-04-23 16:08] evilebottnawi commented on #780
@Hallya don't use this plugin for extract css, use https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-04-23 16:08] #780 closed

[2018-04-23 16:16] Hallya commented on #780
Does it work with [style-ext-html-webpack-plugin](https://www.npmjs.com/package/style-ext-html-webpack-plugin) ?

[2018-04-23 16:18] evilebottnawi commented on #780
@Hallya should works

[2018-04-23 16:19] evilebottnawi commented on #780
@Hallya Feel free to ping me here if you have problem. Thanks!

[2018-04-24 13:13] AaronLayton commented on #456
I am getting this issue as well - is there any sign of a fix?

[2018-04-24 13:48] buddyackerman commented on #778
It gets even weirder.  I changed the loader to this:

    { test: /\.scss$/, loaders: ['style-loader', 'css-loader', 'sass-loader'] },

Now it generates the CSS properly and, of course, it's in the main js bundle.  Here's the weird thing, the bundle now ONLY has the css in it.  All of the script from my actual application is no longer in the bundle.  Here's the entry section of the config

    ent

[2018-04-24 13:50] evilebottnawi commented on #778
@buddyackerman don't use `extract-text-webpack-plugin` for `webpack@4` for extract css, use https://github.com/webpack-contrib/mini-css-extract-plugin. Thanks!

[2018-04-24 13:50] #778 closed

[2018-04-24 13:51] buddyackerman commented on #778
@evilebottnawi I'm not using webpack 4.  I'm using webpack 1.13.2

[2018-04-24 13:53] evilebottnawi commented on #778
@buddyackerman `webpack@1` and `webpack@2` are deprecated and no maintenance, please upgrade to `webpack@3`/`webpack@4` (latest is better)

[2018-04-24 13:56] buddyackerman commented on #778
@evilebottnawi I can't because we still have to support IE8.

[2018-04-24 14:01] evilebottnawi commented on #778
@buddyackerman I really would be happy to help, but it took a very long time and we have a lot of issues, i can't spent time on deprecation and unmaintenance versions, sorry. Try to debug and fix self, you have stack trace, just looks what is wrong and why

[2018-04-24 14:15] buddyackerman commented on #778
@evilebottnawi If I knew anything about how webpack actually works or how loaders work then I might be able to make heads or tails of the stack trace but I don't so the stack track makes no sense. There is no such thing as `self` in a scss file and the line numbers given in the stac trace don't point to any line in the sass-loader that has anything to do with 'self'.  Even if they did it would sti

[2018-04-24 14:17] evilebottnawi commented on #778
@buddyackerman prove your `style-loader` version?

[2018-04-24 14:18] buddyackerman commented on #778
@evilebottnawi

  "name": "style-loader",
  "version": "0.13.2",

  "name": "css-loader",
  "version": "0.25.0",

[2018-04-24 14:20] evilebottnawi commented on #778
@buddyackerman can you update `style-loader` to latest (he should have compatibility with any `webpack` versions)

[2018-04-24 14:49] buddyackerman commented on #778
@evilebottnawi After updating the style loader I got the following results:

Using  `{ test: /\.scss$/, loaders: ['style-loader', 'css-loader', 'sass-loader'] },`  I got the same css only output in the bundle, no other js script was processed

Using  `{ test: /\.scss$/, loader: ExtractTextPlugin.extract('style-loader', 'css-loader', 'sass-loader') },`  (no brackets for the loader array) I got an e

[2018-04-24 14:50] evilebottnawi commented on #778
@buddyackerman you run code in browser env?

[2018-04-24 14:54] buddyackerman commented on #778
@evilebottnawi  The resulting build is run in a browser, yes.  I'm actually building an AngularJS module for using in our Angular apps.

BTW, I had been using a very similar webpack config for another Angular app successfully although not using sass/scss.  It's only using the sass loader that is causing the problems.

[2018-04-24 14:56] evilebottnawi commented on #778
@buddyackerman maybe you have very buggy and old `sass-loader` :disappointed:

[2018-04-24 14:57] buddyackerman commented on #778
@evilebottnawi If you were asking if I ran the above in a browser, then no.  This was the output of just running webpack build.

[2018-04-24 14:58] buddyackerman commented on #778
@evilebottnawi I installed the latest version of the sass-loader

[2018-04-24 14:59] buddyackerman commented on #778
@evilebottnawi Actually the sass-loader is v4.1.1 (I was thinking of the style loader that I just updated)

[2018-04-24 15:05] buddyackerman commented on #778
@evilebottnawi I'd prefer that the build produces two files the main JS file and a CSS file but I'd be satisfied with a single JS bundle that included the css module.  However, even not using the extract text plugin only builds the CSS.  Why would it not bundle all the JS from my app also?  I would expect that at least that would work.

[2018-04-26 22:44] mnquintana opened #782 "Add some kind of deprecation notice for webpack >= 4"
I had to do some ~Googling~ digging to find: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701#issuecomment-374551300

Since extract-text-webpack-plugin's been superseded by https://github.com/webpack-contrib/mini-css-extract-plugin, would you mind updating the readme with a deprecation notice pointing at the new plugin? I'd love to save future users the pain of finding out

[2018-05-02 09:16] huzedong2015 opened #783 "The extracted CSS file has the JS code"
**The extracted CSS file has the JS code**

webpack 4.6.0
extract-text-webpack-plugin: 4.0.0-beta.0

**Config**
[code]

**Code：**
[code]

**Result**
*css file*
[code]

[2018-05-02 11:17] evilebottnawi commented on #783
@huzedong2015 don't use `ETWP` for extract css, use instead https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-05-02 11:17] #783 closed

[2018-05-03 17:46] messutied commented on #456
Getting this issue too, no fix on the sight?

[2018-05-03 17:56] messutied commented on #456
Looking at one [PR](https://github.com/sveltejs/sapper/pull/72) referenced above seems like they have a working fix (works for me too), also similar to the solutions proposed in this page, but placing the `'style-loader/addStyles', 'css-loader/lib/css-base',` under the entry point that gives the error instead of placing it in the vendor entry point.

[code]

[2018-05-04 12:41] Almo7aya commented on #782
Thanks, you saved me 😆

[2018-05-05 09:11] PJCHENder commented on #782
Thanks, you saved me too 😆

[2018-05-05 12:39] alexdevero commented on #782
There should be some info about depreciation in the readme. It's been a while since release of Webpack 4 and still nothing. There is even a PR for that.

[2018-05-06 15:11] nabilnaffar opened #784 "CSS Files aren't generated when using typescript compilerOptions `moduleResolution: "node"` and `module: "ESNext"`"
We have a React/typescript project which uses Webpack (v3) for bundling and extract-text-webpack-plugin for main.css file creation.
Our previous tsconfig file looks as following:
[code]
and we used extract-text-webpack-plugin as following (using the default eject of create-react-app):

[code]
Recently we moved to dynamic modules imports -
for example, the following code:
[code]
will result in a ne

[2018-05-07 08:07] CooLNuanfeng opened #785 "ExtractTextPlugin 4.0@beta import()"
[code]
i use webpack4.0 import(),  ExtractTextPlugin parses load.js as css ，The final generated style has the content of load.js

[2018-05-07 09:47] vasivas opened #786 "[4.0.0-beta.0] Module build failed: Error: Didn't get a result from child compile"
https://github.com/vasivas/extract-text-webpack-plugin-bug-demo

[2018-05-07 09:55] evilebottnawi commented on #786
@vasivas don't use `extract-text-webpack-plugin` for extract css, please use https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-05-07 09:55] #786 closed

[2018-05-07 10:11] vasivas commented on #786
@evilebottnawi there identical error https://github.com/webpack-contrib/mini-css-extract-plugin/issues/126

[2018-05-07 10:11] evilebottnawi commented on #786
@vasivas will be solved in near future

[2018-05-07 14:37] nabilnaffar commented on #784
Not extract-text-webpack-plugin issue.

[2018-05-07 14:37] #784 closed

[2018-05-11 05:49] dvfgit opened #787 "Invalid CSS after "...load the styles": expected 1 selector or at-rule, was "var content = requi""
Hi guys I' ve been trying to workout this issue for several times... each person has a different thing to say about it... but for some reason haven't found a simple understanding on what is the issue

[code]

My config is such as in the readme sass section in extractText pluggin
INFO:
"webpack": "^2.2.1",
"extract-text-webpack-plugin": "^2.0.0-rc.3",
I used the yeoman Foutain webapp to scaffold th

[2018-05-11 09:10] ManuPadmanabhan opened #788 "CSS Bundling using webpack js ERROR: You may need an appropriate loader to handle this file type."
hi , i am using web pack js for  bundling my js and css files.  for java script bundling  it is fine. but now i start bundling of css files . but i can't complete that task because of these error "You may need an appropriate loader to handle this file type.".This is the webpack js file code.
[code]

[2018-05-12 13:03] CooLNuanfeng commented on #785
i use mini-css-extract-plugin relpace extract-text-plugin

[2018-05-12 13:03] #785 closed

[2018-05-15 19:19] colintsteele commented on #118
Why was this removed?  It still appears to be an issue for me.  Using webpacker as @halo mentioned, I cannot get this to go away.  Is there a way to disable the plugin somehow?  These workarounds are not very descriptive.

[2018-05-16 04:03] und3fined commented on #97
Please set `stats` to `devServer`.
Not set to `webpack.config.js`

Example:

[code]

[2018-05-19 17:08] samboustani commented on #731
Switching to mini-css-extract-plugin brings a whole new set of problems and doesn't solve the build issues.

[2018-05-21 06:06] Tiendq commented on #731
I just tried `mini-css-extract-plugin` again, version `0.4.0` and it works well with `SCSS` extraction. As authors of `extract-text-webpack-plugin` has suggested, you'd better to use  `mini-css-extract-plugin` for CSS now :)

[2018-05-21 06:07] Tiendq commented on #731
@samboustani what are your problems? did you raise issues?

[2018-05-22 11:49] nabilnaffar commented on #784
@Zzzen , We were using dynamic import for the whole application inside index.ts:
[code]
instead of regular import
[code]
in order to split the bundle into chunks.
When creating a chunk that way it seems like it doesn't go through the css loaders in webpack 3.x and Extract-text-webpack-plugin isn't triggered.
Currently i'm looking into webpack 4.x with [mini-css-extract-plugin](https://github.com/w

[2018-05-22 20:52] Legends commented on #518
Are there plans to support this in the future/milestone?

[2018-05-23 01:40] Dwood15 commented on #518
I would like to see this as well.

[2018-05-23 12:36] Legends commented on #518
Aaaa I see I am in the `extract-text-webpack-plugin` repo.
Btw. will there be any further support for `extract-text-webpack-plugin` in wp4/5/... ?

[2018-05-24 22:39] zdrummond opened #789 "loader is used without the corresponding plugin"
This is an issue between a project issue and support issue, so not sure if you want it here or StackOverflow.

We are using;
`node 6.14`
`npm 3.9.3`
`extract-text-webpack-plugin 3.0.2`
`hard-source-webpack-plugin: 0.5.18`
`rails 4.2.2 with webpacker 3.0.2`
`storybook 3.3.15`

---
Ok, so as you can kind of see from above, we are using Rails with Webpacker and storybook. Webpacker uses extract-text-

[2018-05-25 11:00] ParadeTo commented on #106
+1

[2018-05-25 11:00] evilebottnawi commented on #789
@zdrummond what version of webpack you use?

[2018-05-25 16:17] zdrummond commented on #789
I guess that was the one version I didn’t list :)

3.6.0

On May 25, 2018, 4:00 AM -0700, Evilebot Tnawi <notifications@github.com>, wrote:

@zdrummond<https://github.com/zdrummond> what version of webpack you use?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/789#issuecomm

[2018-05-25 16:19] evilebottnawi commented on #789
@zdrummond to be honestly, `extract-text-webpack-plugin` is bad for extract `css` and have a lot of problems :disappointed: Better upgrade you `webpack` to `4` version and use https://github.com/webpack-contrib/mini-css-extract-plugin.

[2018-05-27 10:58] aravindballa commented on #788
Did you install `css-loader`, `style-loader` and `file-loader`?
Can you paste a screenshot of the error?

[2018-05-28 10:56] evilebottnawi commented on #788
@ManuPadmanabhan also please provide your `webpack` version

[2018-05-29 08:16] flo-pereira commented on #701
`yarn add --dev extract-text-webpack-plugin@next`

[2018-05-29 09:13] MartinX3 commented on #701
@flo-pereira
That was already mentioned several times.

[2018-06-04 15:14] rodgerer commented on #782
It turns out so.

[2018-06-06 07:25] gun321654 opened #791 "in extract add url loader invaild"
I cant add relative path in  production environment ,  I need

**
background:url(/images/xxx.jpg)
to
background:url:(../../static/images/xxx.jpg)
**
I tred many time  ,  change webpack setting  :css-loader ,  file-loader  ,url-loader ,but invaild  .

previous version  is  true  ，I don't understand what the new version brings

[2018-06-06 13:17] evanjmg commented on #397
Any update on this?

[2018-06-06 23:32] josephecombs commented on #701
Those of you using the latest of Rails' webpacker, make sure your package.lock has the following line (or equivalent):

`"@rails/webpacker": "^4.0.0.pre.pre.2",`

I tried the solutions in this issue, but it turned out the old version of webpacker depended on the messed up version of extract-text-webpack-plugin

[2018-06-07 03:08] bradleyayers commented on #701
@josephecombs do you mean `^4.0.0-pre.2`?

[2018-06-07 03:20] josephecombs commented on #701
I do not - that is is the exact name of the rails gem, and corresponds to how package.json looks after you run `rails webpacker:install`. It also will ultimately resolve to `^4.0.0-pre.2` in yarn.lock so this is a moot point.

[2018-06-07 03:42] bradleyayers commented on #701
Gotcha! Interestingly when I ran `yarn add @rails/webpacker@^4.0.0.pre.pre.2` it prompted me to select a version that exists (apparently `4.0.0.pre.pre.2`) did not exist, and the first option was `4.0.0-pre.2`.

[2018-06-07 17:32] josephecombs commented on #701
yes ^^ I went through this again and received the same prompt.

[2018-06-12 19:17] sumanla13a opened #792 "Unable to generate css bundle with LimitChunkCountPlugin maxLimit=1"
`Node: 8.9.1`
`OS: Ubuntu`

I was using dynamic import in order to create multiple chunks for my javascripts but now I have to disable chunks for some time.
So I added `maxChunks` option to 1 for LimitChunkCountPlugin.

Now everytime I build, the app doesn't create the css bundle, created by extract-text-webpack-plugin.

With `maxChunks=2`, it creates the css bundle.
Am I doing something wrong?

M

[2018-06-13 15:56] trollepierre commented on #760
https://github.com/webpack-contrib/extract-text-webpack-plugin#usage

[2018-06-15 21:32] mnpenner commented on #235
@evilebottnawi But I *want* them off because the [sourcemaps don't work anyways](https://stackoverflow.com/q/49330996/65387).

[2018-06-18 05:20] Eddybag commented on #701
`"extract-text-webpack-plugin":` "next",` did work for me :D

[2018-06-18 15:54] jfsiii commented on #701
@Eddybag That's not a valid `package.json` entry.

If you use `yarn`, type/paste this on the command line:

`yarn add --dev extract-text-webpack-plugin@next` (see https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/701#issuecomment-392691723)

Otherwise use this for `npm`:

`npm i -D extract-text-webpack-plugin@next` (see https://github.com/webpack-contrib/extract-text-webpack-pl

[2018-06-19 12:29] JeroenReumkens commented on #456
I came across this bug as well and haven't been able to fix this. Adding the loaders like mentioned in the comment above does work, but I don't want to have this in production.

The `allChunks: true` option really is the only option which solved the issue for me. Only downside is that you have all the CSS in 1 bundle and you don't lazy load that.

[2018-06-20 06:35] satyaprakash-k commented on #701
npm i -D extract-text-webpack-plugin@next worked. Able to bundle now without any errors. Thanks @jfsiii

[2018-06-20 22:49] #487 closed

[2018-06-21 05:50] allan2coder commented on #580
hi, gays~ have you solve this problem?

[2018-06-21 06:05] edwinharly commented on #701
I've done this `npm i -D extract-text-webpack-plugin@next` still didn't work out for me.
Here's the log
[code]

[2018-06-21 06:10] prusswan commented on #118
As of Rails 5.2 (webpacker 3.5), if the JS pack contains CSS, the CSS will be extracted into a CSS pack with the same name. So both packs need to be referenced in Rails even if only the JS pack is defined.

Just posting this as I thought I ran into the reported issue, but perhaps it is only a gotcha with similar symptoms.

[2018-06-21 13:07] colintsteele commented on #118
@prusswan what exactly do you mean 'referenced in Rails'?  Would you mind pasting a small code snippet to elaborate?  I'm having a lot of trouble including CSS from `node_modules` for one of my components and have yet to find a solution better than including it at the `application.js` level.

[2018-06-21 15:44] iamzee commented on #701
extract-text-webpack-plugin
version 4.0.0-beta.0 worked for me...

[2018-06-22 01:51] prusswan commented on #118
@colintsteele Just `javascript_pack_tag` and `stylesheet_pack_tag` etc. See https://github.com/prusswan/d3ia-2e/commit/fd3534aca1fcb051d700b6e966664eeecfeba7bc

I noticed this behavior after seeing that all the CSS stuff is "removed" in the JS pack, and checking the the output files in `public/packs`. It makes sense but probably better documentation would help for Rails users who are new to webpac

[2018-06-22 17:52] jasonbiondo commented on #456
@JeroenReumkens Unfortunately, your solution was the only one that worked for me as well!  Thanks for the short term fix.

[2018-06-26 18:23] mnpenner commented on #701
Still getting infinite compilation with beta.0.

[2018-06-28 08:19] hanyulo commented on #778
@buddyackerman I bump in to the same problem as you. Any suggestion for me to solve the issue?
Here is my syntax:
[code]
* version of packages
  * "extract-text-webpack-plugin": "^1.0.1",
  * "webpack": "^1.13.3",
  * "sass-loader": "^4.1.1",
  * "node-sass": "^4.9.0",
  * "css-loader": "^0.26.1",

I would really appreciate that you can give me any related advice.

[2018-06-29 11:49] benlind commented on #747
I have the same question. I don't expect `style-loader` to ever be used in production, so why is it provided as a fallback?

[2018-06-29 12:00] garygreen commented on #747
Yeah I think this is a bug. When all css is extracted and style-loader is used, it shouldn't be included in the bundle at all. The only time it should be included is:

* CSS was not extracted
* HMR
* Async chunks/bundles.

All other cases the style-loader should not be included in the bundle at all, but it seems it is no matter what.

[2018-06-29 12:01] evilebottnawi commented on #747
Please don't use `extract-text-webpack-plugin` to extract css for `webpack@4` use https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-06-29 12:04] garygreen commented on #747
Should of mentioned, this is for Webpack 3.

[2018-06-29 13:11] buddyackerman commented on #778
@hanyulo Unfortunately I didn't get it fixed with webpack version 1.13, I wound up just upgrading to 3.10.  Fortunately the IE8 requirement finally went away so that I could use a newer version of webpack.

[2018-07-06 00:45] mesmerize86 commented on #731
Hi @tiendq

Entrypoint mini-css-extract-plugin = *

When i use mini-css-extract-plugin I got above entry point. And it still stop bundling.

  {
        test: /\.(sa|sc|c)ss$/,
        use: [
          MiniCssExtractPlugin.loader,
          'css-loader',
          'sass-loader',
        ],
      }

    new MiniCssExtractPlugin({
      filename: '[name].min.css'
    }),

[2018-07-06 10:56] PocketNinjaDesign commented on #701
It seems it may be time to move away from extract-text-webpack-plugin

https://github.com/webpack-contrib/mini-css-extract-plugin

haven't used it yet but I'm going to change my project with it!!!

[2018-07-08 19:41] AGunnels opened #793 "Module parse failed:"
I am working on merging an old, but working react-redux project into a new project. The goal was to use what was already completed and build off of it in a group of 4 developers. I, for the life of me, cannot figure out the latest error message and how to fix it. The others are also stumped. Any help would be greatly, greatly appreciated 👍 Here is the error:
./node_modules/react-redux/src/componen

[2018-07-09 08:08] shangcloud opened #794 "support dynamic chunk"
can you support dynamic import chunks extract text splitting? so I can separate one page to several file

[2018-07-09 11:07] dgroh commented on #518
For those who work with mono repo this is an issue, because we don't want to important the styles in every application because it duplicates the css reference, that is why importing the common styles in the entry point is important and relevant IMO...

For example:

[code]

`assets-app` and `pages-app` share the same styles...

[2018-07-10 09:55] noudadrichem commented on #115
@Peeneye Your snippet did not fix this but it did gave me a new error.
[code]

[2018-07-10 14:14] merolhack opened #795 "Write the CSS file but do not inject into the HTML"
Versions:
- html-webpack-plugin: 2.28.0
- webpack: 2.6.1

I need to write the CSS file to the dist directory, but i do not want include them into the HTML file? How can i do that?

My application is growing up and i need to load the CSS files dynamically with Javascript.

[2018-07-12 05:42] antiai1 opened #796 "ERROR in ./src/css/index.css (./node_modules/css-loader!./node_modules/extract-text-webpack-plugin/dist/loader.js??ref--6-0!./node_modules/style-loader!./node_modules/css-loader!./src/css/index.css) Module build failed (from ./node_modules/css-loader/index.js):"
ERROR in ./src/css/index.css (./node_modules/css-loader!./node_modules/extract-text-webpack-plugin/dist/loader.js??ref--6-0!./node_modules/style-loader!./node_modules/css-loader!./src/css/index.css)
Module build failed (from ./node_modules/css-loader/index.js):
Unknown word (1:1)

    | ^

 @ ./src/css/index.css (./node_modules/css-loader!./node_modules/extract-text-webpack-plugin/dist/loader.js??

[2018-07-12 05:45] antiai1 commented on #796
what should i do？

[2018-07-12 19:34] thomashibbard commented on #548
`3.0.0-rc.1` works for me, however `3.0.2` does not. I think I have followed everything in this thread but perhaps I've missed something?

[2018-07-13 08:47] kud commented on #548
And fun fact : mini-css-extract-plugin doesn't help at all : https://github.com/webpack-contrib/mini-css-extract-plugin/issues/184

[2018-07-13 13:02] thomashibbard commented on #548
@kud Do you only have this issue when importing s/css as scss `@import`s and _not_ when you do as JavaScript `import`s?

[2018-07-13 13:29] kud commented on #548
I don't know for extract text because people told me to switch to mini css extract since webpack4 but yes, indeed. Importing from JS is better than importing in CSS if you want to keep the order.

[2018-07-13 16:11] thomashibbard commented on #548
Interesting. I was having the same problem using JS imports..

[2018-07-13 19:54] kud commented on #548
But do you use mini css extract?

[2018-07-13 21:06] thomashibbard commented on #548
No, in this project I'm using webpack 3.x

[2018-07-18 19:13] terencemutizwa commented on #701
extract-text-webpack-plugin@next worked for me but it now only bundles the last entry point styles if i specify the name _filename:style.bundle.css_ else it gives multiple bundle files if i use _filename:[name].css_

[2018-07-20 04:20] sanriqing opened #797 "can you leave some hook for others extend?"
We often come across requirements to change the resulting CSS。

[2018-07-27 12:37] Harismp opened #798 "options['extractCSS'] is an invalid"
ValidationError: Dll Reference Plugin Invalid Options  options['extractCSS'] is an invalid additional property `const path = require('path');
const webpack = require('webpack');
const ExtractTextPlugin = require('extract-text-webpack-plugin');
var OptimizeCSSPlugin = require('optimize-css-assets-webpack-plugin');
const bundleOutputDir = './wwwroot/dist';

module.exports = (env) => {
    const extr

[2018-07-30 15:09] jkachhia commented on #119
The same behavior with empty css source map:

{"version":3,"sources":[],"names":[],"mappings":"","file":"styles-less.css","sourceRoot":"webpack:///"}

/*# sourceMappingURL=styles-less.css.map*/

Happens because of `angular-router-loader`  plugin.

[2018-08-02 08:38] julmot commented on #586
Also having this issue.

[2018-08-02 09:01] julmot commented on #586
Could fix it finally by switching to https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-08-02 09:01] julmot commented on #626
Could fix it finally by switching to https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-08-02 09:01] julmot commented on #200
Could fix it finally by switching to https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-08-02 09:03] evilebottnawi commented on #200
@julmot PR welcome

[2018-08-02 09:03] evilebottnawi commented on #586
@julmot PR welcome

[2018-08-02 09:30] jalmansa88 commented on #763
I still have this error. I ran `npm install mini-css-extract-plugin@latest --save` and still hapenning when au build --env prod`. Only doing the change `[md5:contenthash:hex:20]` fixed the error.

[2018-08-04 04:36] manojcena opened #799 "ERROR in Module build failed: TypeError: Cannot read property 'replace' of undefined"
Hi ,

I am building a application using angular 6. Every things works fine and when i regenerate build using ng build every thing is fine But when i generate ng-build --prod --aot i am getting error. please look at attachemnet.

![capture](https://user-images.githubusercontent.com/15008735/43672554-04a849dc-97ce-11e8-9f08-c1a070bdf673.PNG)

[2018-08-09 12:13] xporium opened #800 "Add custom css for "react dropdown tree select" all other css mashup"
in my project i has install dropdown tree select and use custom css for this. but if i add new rule in my webpack than this plugin working fine but other css mashup.

And if i remove rule than other css working fine but this dropdown tree select not working proper.

working like same

react dropdown tree select with country flag so in that case i have to add some custom css.

below is my webpack.

[2018-08-10 04:56] webfelipemaia commented on #581
Thanks to @michael-harvey.
My problem is solved, but in my case I had to install _bootstrap-sass_. Before reaching the solution I completely deleted the node_modules folder and installed it again. Then replaced _package.josn_ with [this content](https://github.com/laravel/laravel/blob/master/package.json) and I got here grateful.

[2018-08-16 11:36] gucomecan commented on #548
I fix the problem but it was a mistake by myself which may some of you are doing. (I am using React so my starting file is index.js and there I load my first component - App.js). I was including the styles after including the App component. I just should load the styles first.

[wrong importing]
import App from './components/App';
import './style.scss';

[right importing]
import './style.scss';
im

[2018-08-16 19:40] jjinux commented on #548
@gucomecan, why doesn't components/App import its own styles?

[2018-08-17 08:11] gucomecan commented on #548
@jjinux Every component import its own styles, in my opinion that is the right way(reusability).

PS: What I mean at first was - in index.js I import my global styles before importing my first component(App.js), otherwise my first components's (and every child of him) styles will be loaded before global styles.

[2018-08-17 14:07] rvarbanov opened #801 "Not working with webpack 4"
I updated my webpack to version 4 and extract-text-webpack-plugin no longer works.

[2018-08-17 14:11] montogeek commented on #801
Use https://github.com/webpack-contrib/mini-css-extract-plugin if you are using it for CSS, otherwise this is impossible to resolve since you don't say anything about why it doesn't works.

[2018-08-17 14:11] montogeek commented on #801
Thanks for your report. It would be great if you reduce your issue to a small reproducible example. Best put this example into a github repository together with instructions how to get to the problem.

[2018-08-17 22:17] mzohaibqc opened #802 "How to get that generated css in webpack plugin even in dev mode where style-loader is being used?"
I've a written a webpack plugin which reads less source files and then after processing genrates a short css which allows to override the color specific styles in browser using less.modifyVars(). Here is a demo https://antd-live-theme.firebaseapp.com/

But problem is that it does not work with css-modules since class names generated after comilation will be different that what are in those files.

[2018-08-18 11:33] jimmywarting opened #803 "remove neo-async"
You only use one function from neo-async (async.forEach) at two places

https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/e1e65405c8c1dc2b4efb94f087d69f894afcfd35/src/index.js#L144-L148

It adds 37.7 kB to the bundled size
https://bundlephobia.com/result?p=neo-async@2.5.2

I'm sure you can think of any other way to solve it, maybe with Promise + Promise.all...

[2018-08-20 10:50] chosenvictim commented on #778
I am getting exact same issue with webpack@1.13.2
Is there any solution ?

[2018-08-20 14:28] amerllica commented on #801
The `extract-text-webpack-plugin` toward `Webpack 4` doesn't work. it means when Webpack is run for building or developing, it falls in error. I saw that a few months ago and switch to Webpack 3.11.0.

I will make a reproduction of this issue and aware you. thanks @montogeek

[2018-08-21 16:37] fqborges commented on #518
I faced the same issue of having a style only entry (css/sass/less) generating an extra .js file, and ended up creating a webpack plugin to remove the js file from the compilation.

I published it on npm as webpack-fix-style-only-entries. You can find the source code on https://github.com/fqborges/webpack-fix-style-only-entries.

:-) shamelessly promoting my package :-)

[2018-08-21 16:39] fqborges commented on #552
I faced the same issue of having a style only entry (css/sass/less) generating an extra .js file, and ended up creating a webpack plugin to remove the js file from the compilation.

I published it on npm as webpack-fix-style-only-entries. You can find the source code on https://github.com/fqborges/webpack-fix-style-only-entries.

:-) shamelessly promoting my package :-)

[2018-08-22 13:44] kristofsw commented on #518
@fqborges Your package seems to do the trick!

[2018-08-24 09:41] amerllica commented on #801
The `extract-text-webpack-plugin` toward `Webpack 4` doesn't work. it means when Webpack is run for building or developing, it falls in error. I saw that a few months ago and switch to Webpack 3.11.0.

I build a repository for this issue, my codes are so minimal and you can reach to error just with below codes:

     yarn install && yarn dev

Or:

     yarn install && yarn build

Please see this r

[2018-08-24 09:42] amerllica commented on #801
The `extract-text-webpack-plugin` toward `Webpack 4` doesn't work. it means when Webpack is run for building or developing, it falls in error. I saw that a few months ago and switch to Webpack 3.11.0.

I build a [repository](https://gitlab.com/amerllica/extract-text-plugin-issue) for this issue, my codes are so minimal and you can reach to error just with below codes:

     yarn install && yarn de

[2018-08-24 09:43] amerllica commented on #801
The `extract-text-webpack-plugin` toward `Webpack 4` doesn't work. it means when Webpack is run for building or developing, it falls in error. I saw that a few months ago and switch to Webpack 3.11.0.

I build a [repository](https://gitlab.com/amerllica/extract-text-plugin-issue) for this issue, my codes are so minimal and you can reach to error just with below codes:

     yarn install && yarn de

[2018-08-26 08:58] Jeevan-Kishore commented on #705
I wanted to import global css to my app, to do so.. (trying things out for a couple of hours, this worked for me.)

[code]

[2018-08-29 08:11] jackwilsdon commented on #701
@seniorYsir [This plugin is deprecated since Webpack 4](https://github.com/webpack-contrib/extract-text-webpack-plugin#usage) (and it looks like it's not going to be updated for Webpack 4), you should switch to `mini-css-extract-plugin` instead.

[2018-09-02 09:31] DavOnGit commented on #763
@esausilva  You can check ```extract-css-chunks-webpack-plugin``` it supports HMR!

[2018-09-03 02:11] liuyingbin19222 commented on #580
i met these problems again!

[2018-09-03 03:06] drdanmorris commented on #701
If it helps anyone the jump from **extract-text-webpack-plugin** to **mini-css-extract-plugin** was fairly painless.

`{
				test: /\.css$/,
				use: [
						{
							loader: MiniCssExtractPlugin.loader
						},

						{
							loader: "css-loader",
							options: {
								sourceMap: true,
								modules: true,
								localIdentName: "[local]___[hash:base64:5]"
							}
						},

						{

[2018-09-03 08:35] jackwilsdon commented on #801
This seems to be a duplicate of #701, take a look there for a bigger discussion on this.

[2018-09-04 05:43] senseijames commented on #580
This issue can occur due to invisible characters in your SCSS file.  Oddly enough, most IDEs (WebStorm included) will not detect these erring characters!  You'd need to paste your code into an SCSS linter to see them:
https://www.sassmeister.com/

[2018-09-07 10:27] ravi-yadav-oyo commented on #185
@evilebottnawi  encountering this issue in webpack `3.2` moving to `3.10` solves it but also introduces another issue.

Basically i have a  dynamic entry chunk in react-router file.
but in webpack `3` am unable to extract the css into seperate chunks from these entry files.
so included the same chunknames in webpack entry.

Now the chunks are created and css without duplicates are extracted and co

[2018-09-15 08:33] sushantlp opened #805 "webpack 3.8.1 css loader not working"
hi,everyone

**i m using facebook react with webpack and i import node module css in my component and its not working.**

**webpack.config.js**
[code]

**React component file**

[code]

[2018-09-17 09:06] x-yuri commented on #632
@evilebottnawi Can you elaborate please? Pitch loaders don't add dependencies themselves, but if they don't return anything, the dependency is added by [`loader-runner`][1]. So the only case where this might be useful is [`this[NS] === false`][2]. (By the way, the debugger doesn't stop there for my testing app.) But then the line should be moved into this branch. Am I missing something?

[1]: http

[2018-09-17 14:55] sonnguy commented on #580
Excluding node_modules was the solution for me.
{
  test: /\.scss$/i,
  exclude: /node_modules/,
  use: isDevBuild ? ['style-loader', 'css-loader', 'sass-loader'] :
  ExtractTextPlugin.extract({ use: ['css-loader', 'sass-loader'] })
}

[2018-09-17 17:05] x-yuri commented on #200
I can't reproduce it. See [this post][1].

[1]: https://github.com/webpack/webpack/issues/215#issuecomment-422092704

[2018-09-17 21:53] jcklpe opened #806 "Newbie question. Sorry for my ignorance. How do I uninstall?"
I know this is a really basic question, I am new to webpack and I've tried searching this but I can't seem to find a straight forward answer to this problem.

I try running `npm uninstall --save-dev extract-text-webpack-plugin` and I get this error:
[code]

I installed the @next version after reading that it was necessary to run in Webpack 4. But after installing I encountered some errors and sinc

[2018-09-18 02:29] guilhermeutzig opened #807 "Remove "/" from href="" on generated HTML"
Hello, I am trying to create the link to `styles.css` with the URL: `../styles.css`, being like:

```<link rel="stylesheet" href="../styles.css" />```

The problem is, even with me specificating the path, it generates with

```<link rel="stylesheet" href="/../styles.css" />```

I want to remove that first "/" on href, how can I do it? Here is my code:

[code]

Sorry for the noob question, but I'm

[2018-09-18 12:46] guilhermeutzig commented on #807
I've actually figured out another way with NodeJS.

[code]

Just used this script after the build and voilá!

[2018-09-18 12:46] #807 closed

[2018-09-18 13:07] antpaw opened #808 "Sourcemaps are not linked"
version:  "4.0.0-beta.0"

This setup will not append the `sourceMappingURL`

    devtool: 'source-map',
    module: {
      rules: [
        {test: /\.(sass|scss)$/, loader: cssExtractTextPlugin.extract({
          fallback: 'style-loader',
          use: [
            {
              loader: 'css-loader',
              options: {
                sourceMap: true,
              },
            },

[2018-09-20 22:18] chuckbergeron commented on #701
If you're following the great advice of @drdanmorris don't forget to require the MiniCssExtractPlugin at the top of your config file:

[2018-09-24 16:45] hrahimi270 opened #809 "How to use this plugin and minify SCSS to CSS?"
I'll be glad to help using this plugin and make my SCSS files to one minified CSS file. Thanks.

[2018-09-24 16:57] evilebottnawi commented on #809
Please use https://github.com/intervolga/optimize-cssnano-plugin plugin, need documentation

[2018-09-26 11:14] swatigoel1991 commented on #787
I am facing the same issue

[2018-09-26 18:10] charltoons commented on #485
For the people still Googling this issue. If you need to have a globally installed webpack, you can pass in a `NODE_PATH` environment variable to your global `node_modules` like so:

[code]

[2018-09-28 11:33] amit-kumar27 opened #810 "CSS file not generated"
With extract-text-webpack-plugin@3.0.2 and webpack@3.11.0, I have created an angular-5 and angular-cli based project, I am not able generate the required css. Also it's not showing any error and not able to understand what configuration I missed.
Already referred the previous similar issues, but couldn't resolve it.

Please refer the sample app I have created, which can reproduce the issue:-
[samp

[2018-09-30 06:53] azz1123 commented on #762
用了你的配置  这里报错是为什么ERROR in ./src/routes/Home/App.less
Module build failed (from ./node_modules/_mini-css-extract-plugin@0.4.3@mini-css-extract-plugin/dist/loader.js):
ReferenceError: window is not defined

[2018-10-04 10:03] parkroolucas commented on #456
Not sure if this'll help anyone, but I had the same problem, which went away when I switched from `extract-text-webpack-plugin` to [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin).

Took me quite a while to realize that you're not meant to use `extract-text-webpack-plugin` with Webpack v4 anymore.

[2018-10-06 05:52] AlvMF1 commented on #809
With https://github.com/webpack-contrib/sass-loader and...
[code]
...works pretty well for me.

[2018-10-10 10:49] nemanjacosovic commented on #731
+1

[2018-10-11 13:05] #723 closed

[2018-10-11 19:20] zacherkkila commented on #200
I am able to get this problem anytime I have a "." in the file name. This seems to push it to the bottom of the import list

For example

    @import "./bootstrap.min.css";
    @import "./common.css"

Results in `common.css` above `bootstrap.css` on import.

However,

    @import "./bootstrap.css";
    @import "./common.css"

Results in the correct order.

I can consistenly make this happen just b

[2018-10-11 23:42] x-yuri commented on #200
@zacherkkila I tried to reproduce it but [failed](https://github.com/x-yuri/example-webpack-css-order/tree/double-extension) (branch `double-extension`). Can you help us figure out how to reproduce it? Like, an archive or repository with an example (preferably simple) that reproduces the issue?

[2018-10-12 13:13] jchapple commented on #456
I've tried all the workarounds above, and none have worked for me.

In my case a dependency in node_modules loads its own sass, and when running the app (next.js) in development mode, when navigating between pages, webpack dynamically builds the resources, but then throws the error mentioned in this issue ('TypeError: Cannot read property 'call' of undefined'), which relates directly to the sass `

[2018-10-12 20:53] coderars commented on #153
It's old, but If anyone came here and still confused, see my answer on Stackoverflow with examples:
https://stackoverflow.com/a/52786672/5263363

[2018-10-17 08:48] vZanchiV commented on #485
worked for me

[2018-10-18 11:55] jiadabaihua commented on #810
I have the same question ~

[2018-10-23 12:36] X-Y commented on #434
For anybody using css-loader 1.0.0, the minimize options is removed and you have to use postcss + cssnano instead.
https://github.com/webpack-contrib/css-loader/blob/43179a82c88532bf93ccfafb4f78c10cdb80cbf7/CHANGELOG.md

[2018-10-24 18:49] ripvannwinkler commented on #456
So, I just ran into this bug today while using create-react-app. Short of ejecting and trying some of the web pack config changes above, the only solution that worked reliably for me was to move the css imports to the root of the app to avoid any async css imports.

[2018-10-28 14:37] alexkyse1 commented on #701
I've migrated webpack 2 to 4, I needed to migrate from **ExtractTextPlugin** to **MiniCssExtractPlugin** I'm struggling to implement multiple css files, I've reached a point where the console doesn't throw errors but my **ReactJS** webpage does not load at all, blank.

Does **extract-css-chunks-webpack-plugin** have a differnet approach for this concrete case, if so could someone bear a hand to me

[2018-11-01 06:53] xyxuyao commented on #810
I have the same question ~

[2018-11-05 13:07] hdrabs commented on #670
Hello, I am having the same issue. I am not using PurifyCSS but I am getting the same error.

**Environment**
------------

Item | Version
---- | -------
OS|10.14 (18A391)
Node|8.9.4
NPM|5.6.0
Webpack|3.12.0
extract-text-webpack-plugin|3.0.2

**How I am adding the styles**
--------

[code]

[code]

[code]

And I am getting the ```// removed by extract-text-webpack-plugin``` line written instead of

[2018-11-05 13:46] hdrabs commented on #670
@michael-ciniawsky @mihailo-misic can you guys help me out in this?

[2018-11-12 19:10] gabosvk opened #812 ""extract-text-webpack-plugin" loader is used without the corresponding plugin"
Hi,
my production builds suddenly stopped to work. I haven done any updates or something and ended up with below error. I'm using Angular 5 having webpack 3.6.0, production build with AOT.

`ERROR in Module build failed: Error: "extract-text-webpack-plugin" loader is used without the corresponding plugin, refer to https://github.com/webpack/extract-text-webpack-plugin for the usage example at Obje

[2018-11-15 14:36] djuretic commented on #586
Seems related to https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/573

[2018-11-16 04:18] lushijie commented on #738
It has the same question when use dynamic import. I can't put all the dynamic css in the chunk to one file.

[2018-11-16 09:16] rouberg commented on #206
it's not the problem of `extract-text-webpack-plugin`. when build we use `optimize-css-assets-webpack-plugin` normally, `optimize-css-assets-webpack-plugin` use `cssnano` as default processor, and `cssnano` removed all prefix.
we can config like this:
[code]
the option of `autoprefixer: { disable: true } `will disable cssnano's autoprefixer and saved prefixer that already exist by ourselves.

also

[2018-11-30 22:31] STRsplit commented on #812
It looks like there are some others with this problem in the closed issues:
[Closed issues: 'loader is used without the corresponding plugin'](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues?q=is%3Aissue+loader+is+used+without+the+corresponding+plugin+is%3Aclosed)

This issue in the angular-cli repo also looked very similar:
https://github.com/angular/angular-cli/issues/5628